[2021-08-29 11:59] h4gen opened #749 "lithops[aws] package not existent"
When I want to prepare Lithops by installing lithops[aws] as described [here](https://github.com/lithops-cloud/lithops/blob/master/config/compute/aws_lambda.md) with
`$ python3 -m pip install lithops[aws]`

I get the following error:
`no matches found: lithops[aws]`

Also pypi knows no such package :(

[2021-08-29 12:10] JosepSampe commented on #749
@h4gen just ran the command and it seems to work ok. I'm not sure what might be the cause that makes it fail in your case. In any case, lithops in AWS only needs the boto3 lib, so you can run the next command with the same effect:  `$ python3 -m pip install lithops boto3`

[2021-08-30 07:46] h4gen commented on #749
Hi @JosepSampe thanks for getting back. I also ran the command on another PC and it did not work either. In both cases both are conda base environments with python3 (Standard conda installation). Will try your workaround.

[2021-08-30 07:55] gilv commented on #739
@JosepSampe someone suggested me to use docker sdk. may be it can obtain docker user name from the environment and will work for all OS. But i guess adding docker sdk to Lithops is not something we want... i don't know

[2021-08-30 10:41] JosepSampe commented on #739
@gilv I think that with docker sdk there is no way to detect the logged-in username. Moreover, I remember that docker sdk has problems with Windows hosts.

Could  you check it? Create a new python script with this code and run it on eclipse:

[code]

If your username is present in the output, then it works. In my case the username is not present in the output.

[2021-08-30 11:57] gilv commented on #739
@JosepSampe hm...username is not there

[2021-08-30 12:01] JosepSampe commented on #739
@gilv In this case I think there is no way to get docker logged-in username using docker sdk. So the only way is the one that we have now.

[2021-08-30 12:02] #739 closed

[2021-08-30 15:33] JosepSampe commented on #749
@h4gen Thanks for the context information. Its weird because the lib is in the pypi repo https://pypi.org/project/lithops and this command always worked ok in standard python installations. Could it be that this conda env is using some cache where Lithops is not present?

[2021-08-31 06:42] h4gen commented on #749
So just to clarify this. The installation of lithops itself via `pip install lithops` works flawlessly, only `python3 -m pip install lithops[aws]` makes problems.

[2021-08-31 06:55] gilv opened #751 "missing token on refresh"
The following error reported
[code]

Lithops version 2.4.1. Occurs from time to time, probably every 5-10 launches.
@JosepSampe any ideas?

[2021-08-31 10:35] JosepSampe commented on #751
@gilv How CE is configured? using kubecfg file? or using naespace_id? Can you provide lithops debig logs to see when it fails?

[2021-09-01 07:02] sergii-mamedov commented on #751
@JosepSampe Now I have for any execution this error:

[code]

I am using `kubecfg file`. I tried to re-generate it - the same situation.

[2021-09-01 08:26] JosepSampe commented on #751
@gilv Apart of this error, kubecfg file in CE produce some other errors, and this is something we cannot control in Lithops since the file is generated by IBM. So, as you already have the IBM IAM API KEY configured, I suggest to [configure CE using the namespace ID](https://github.com/lithops-cloud/lithops/blob/master/config/compute/code_engine.md#option-1-ibm-iam) to avoid all these issues.

[2021-09-01 11:50] gilv commented on #751
@JosepSampe right! ...i now realize that @sergii-mamedov doesn't use it.
@sergii-mamedov you need your config to be of the form
[code]
Please follow the link @JosepSampe posted above.

[2021-09-02 04:09] DhavalRepo18 opened #752 "pickle future objects"
Is there any way we can pickle future object?

import dill
submited = lithops.FunctionExecutor(...)
dill.dump(submited, open('test_w.pkl','w'))

?? Any suggestion... submission via one node, result tracking via another node?
Spceially code engine which can run a longer job we shd be able to do
- load()
- dump() on future object.

[2021-09-02 04:18] gilv commented on #752
@JosepSampe any thoughts?

[2021-09-02 05:09] gilv opened #753 "lithops verify errors with CE backend"
Using CE backend with runtime
Running `lithops verify` reported

[code]

This working fine with CF backend

[2021-09-02 10:37] JosepSampe commented on #753
@gilv All tests run ok for me. What are he exceptions shown in the tests? Do they fail from time to time? or do they fail always?

[2021-09-02 10:40] JosepSampe commented on #752
@DhavalRepo18 In the example above you are trying to pickle the whole function executor (not the futures), and it is not possible to pickle the function executor.

Futures are generated when you call a map(), so in this case you can pickle futures doing something like:

[code]

[2021-09-05 08:30] gilv commented on #753
@JosepSampe they actually fail from time to time..see words "ERROR"

[2021-09-05 21:26] sergii-mamedov commented on #751
@gilv @JosepSampe I have the same error ((

[2021-09-05 22:26] sergii-mamedov commented on #751
I tried the simplest example to rule out the problem from the METASPACE side:
[code]
Exeption:
[code]

[2021-09-06 10:11] JosepSampe commented on #751
@sergii-mamedov Seems now the config is ok, but you exceeded your ConfigMap quota, which is limited to 25.
You must delete all unnecessary configmaps in your account using `kubectl` command.
First set your kubecfg file. Then use `kubectl get configmap` to see all your deployed configmaps. Then use `kubectl delete configmap xxxxx` to delete all unnecessary configmaps one by one.

[2021-09-06 11:08] sergii-mamedov commented on #751
@JosepSampe Yes, I have already figured out that the problem is the ConfigMap overflow. I removed unneeded entries manually via the UI. But it seems that lithops, when the task fails, does not delete the ConfigMap after itself. Can you confirm or disprove my hypothesis?

[2021-09-06 11:11] sergii-mamedov commented on #743
@JosepSampe This was my request. Can you create a new lithops release?

[2021-09-06 11:12] #738 closed

[2021-09-06 16:39] JosepSampe commented on #751
@sergii-mamedov In the current lithops version configmaps are deleted even when an error is produced. However, it is possible that older lithops version had this issue.

[2021-09-07 09:18] sergii-mamedov commented on #751
@JosepSampe I tested yesterday. One of the launches got a MemoryError:
[code]
However, ConfigMap `lithops-72f2b4-6-m008-configmap` was not deleted:
[code]

[2021-09-09 10:09] gilv commented on #751
@JosepSampe how is that config maps doesn't deleted for them? it's deleted automatically...

[2021-09-09 10:11] gilv commented on #751
@JosepSampe may be phases that includes cloudobject are not clean them?

[2021-09-09 10:30] JosepSampe commented on #751
In my case the configmap is deleted:
[code]

@sergii-mamedov can you post client logs?

[2021-09-09 10:48] #752 closed

[2021-09-09 10:48] JosepSampe commented on #748
@kpavel is this still present? or solved?

[2021-09-09 10:50] JosepSampe commented on #566
The problem is that requirements file must be in the same folder where you run the `lithops runitme build` command, so the build will fail if you have another requirements file in a top-level folder

[2021-09-09 10:50] #566 closed

[2021-09-09 10:56] JosepSampe commented on #90
Closing this for now as it never became relevant, since it is always better to move the data to a personal bucket.

[2021-09-09 10:56] #90 closed

[2021-09-09 11:05] gilv commented on #751
@JosepSampe when we use cloudobject to pass between stages of executions, can data_cleaner be disabled?

[2021-09-09 11:16] sergii-mamedov commented on #751
@JosepSampe In our lithops config `data_cleaner` is True. After last test, number of config maps has increased:

[code]

[2021-09-09 11:34] gilv commented on #751
@JosepSampe any ideas? It also deleted for me...

[2021-09-09 12:03] gilv commented on #751
@sergii-mamedov so you run a "job" that has multiple Lithops invocations...between invocations you use CloudObjects. When the "job" finished, you see more ConfigMaps than you had before the job. Is this correct? How more, like 1 or plenty of ConfigMaps that didn't deleted?

[2021-09-09 12:44] sergii-mamedov commented on #751
@gilv correct

[2021-09-09 12:57] JosepSampe commented on #751
@sergii-mamedov Could you post execution logs?

[2021-09-09 13:41] kpavel commented on #748
Probably the issue was in outdated lithops on master or some outdated cached data.

Resolved by manual delete of master vm and:
[code]

[2021-09-09 13:41] #748 closed

[2021-09-09 14:59] JosepSampe commented on #751
Is it possible that this issue is related to the other issue you have about tokens that expire when you run large workflows? because if the token expired, then Lithops is unable to delete configmaps.

[2021-09-09 16:25] gilv commented on #751
@sergii-mamedov ^^ see Josep's question please

[2021-09-09 18:00] JosepSampe commented on #751
@sergii-mamedov I fixed the issues related to "token expired" in #758 . Might it fix this issue too. Try with master branch.

[2021-09-10 09:12] sergii-mamedov commented on #751
@JosepSampe I ran a dozen datasets with the current version of lithops. I will report the results.

[2021-09-10 12:15] JosepSampe commented on #749
I tried to run it in a conda environemnt using a conda docker image, and it worked ok:
[code]
I also installed conda on my machine and ran the command successfully:
[code]

So i wonder if it is something wrong in your local installation. It is weird because we never had problems with this.

[2021-09-11 06:57] FTWH opened #762 "No lambda concurrency with map()"
I use lithops with lambda backend to test a map() computation stage. All the jobs are handled by the same lambda function in multi-process. How to configure it to enable actual concurrency in lambda workers?

[2021-09-11 08:06] JosepSampe commented on #762
Function concurrency is enabled by default in all backends  (up to 1000 functions)

For example:
![test_us_east_histogram](https://user-images.githubusercontent.com/10448186/132941037-7d4f30a6-b1b0-42bc-a8c4-e07721133884.png)

In principle, the only way to limit concurrency is by manually setting ithops workers to a lower value.

Can you provide more information about your experiment? Which lithop

[2021-09-13 11:23] sergii-mamedov commented on #751
@JosepSampe , @gilv I ran ten datasets - so far so good. Could you make a new release, as I cannot use the master branch to release METASPACE.

[2021-09-13 18:46] gilv commented on #751
@sergii-mamedov will create new release later today

[2021-09-14 12:48] sergii-mamedov commented on #751
@gilv perfect

[2021-09-15 18:27] #743 closed

[2021-09-16 08:17] #702 closed

[2021-09-16 08:21] JosepSampe commented on #753
@gilv Do you still see errors with current code?

[2021-09-17 13:13] rmey opened #774 "podman support?"
Would it be possible to add podman support for lithops instead of docker only?
Some Mac OSX users switching to podman.

[2021-09-17 14:46] JosepSampe commented on #774
@rmey As far as I know, `podaman` and `docker` has similar (or the same) set of parameters. Is that right? If you set `alias docker=podman` then all the commands in lithops would be executed in podman, right?

Is it is the case we can create a new lithops config key for defining which container tool to use, for example:

[code]

[2021-09-20 07:12] rmey commented on #774
Thank you will try this on my mac with brew based install of podman.

[2021-09-20 12:19] rmey commented on #774
It works with brew based podman install. I was also able to build a custom runtime matching my local python versions in a pyenv.
I created a logic link /usr/local/bin/podman pointing to /usr/local/bin/docker

[2021-09-20 17:38] JosepSampe commented on #436
@sergii-mamedov FYI. Currently (2.5.0), Lithops already implements a job queue in the master/proxy VM, so if multiple Lithops instances submits jobs to the same VM, now they won't run at the same time, but one after another.

[2021-09-22 09:07] #762 closed

[2021-09-22 09:11] FTWH commented on #762
Thanks a lot for your help. There is no problem at all.

[2021-09-22 13:35] sergii-mamedov commented on #751
@JosepSampe I think it might be closed.

[2021-09-22 13:36] #751 closed

[2021-09-24 07:09] ZIYAO-MOU opened #781 "aliyun support?"
I found it didn't work well on aliyun fc and oss.
`The Python version is: Python3.6 from "/usr/local/bin/python"', '* The NumPy version is: "1.19.5"', 'and make sure that they are the versions you expect.', 'Please carefully study the documentation linked above for further help.', "Original error was: No module named 'numpy.core._multiarray_umath'"`

[2021-09-24 11:20] #774 closed

[2021-09-24 15:24] JosepSampe commented on #781
@ZIYAO-MOU Thanks for reporting. For now I've been able to reproduce the exception. I'm investigating the causes

[2021-09-24 22:10] JosepSampe commented on #781
@ZIYAO-MOU In principle it should be fixed on master branch. Configuration instructions changed a bit, so follow new instructions: https://github.com/lithops-cloud/lithops/blob/master/config/compute/aliyun_functions.md

[2021-09-26 09:15] ZIYAO-MOU commented on #781
but i still met this problem when i had given the oss full access to my role
`AccessDenied fc2.fc_exceptions.FcError: ('{"ErrorCode": "AccessDenied", "ErrorMessage": "Assume`
and this one  `RROR:root:Client error: 409. Message: {'ErrorCode': 'FunctionAlreadyExists', 'ErrorMessage': "function 'python3_256MB' already exists in service 'lithops'"}.`

[2021-09-26 09:36] FTWH commented on #781
ERROR:root:Client error: 403. Message: {'ErrorCode': 'AccessDenied', 'ErrorMessage': "the caller is not authorized to perform 'fc:ListServices' on resource 'acs:fc:cn-hangzhou:1708882019092430:services/*'"}. Method: GET. URL: https://1708882019092430.cn-hangzhou.fc.aliyuncs.com/2016-08-15/services. Request headers: {'host': '1708882019092430.cn-hangzhou.fc.aliyuncs.com', 'date': 'Sun, 26 Sep 2021

[2021-09-26 09:36] FTWH commented on #781
It seems get wrong too.

[2021-09-26 10:22] Cohen-J-Omer opened #784 "Push new CE runtime alongside each release"
Hello @JosepSampe and @gilv,
I believe that with each new release, we need to push the CE runtime of said release (lithops) to the official docker repository.
I assume the following is lithops' docker repository: https://hub.docker.com/r/ibmfunctions/lithops-ce-v385/tags.

What do you guys think?

[2021-09-27 09:26] JosepSampe commented on #781
@ZIYAO-MOU I added new fixes. Try with master branch.

@FTWH Seems you don't have read/write permissions to Function Compute. By default Lithops automatically creates a new service in your Function Compute account. For this purpose your user must have List and Create permissions to Function Compute. Alternatively, you can create a new service through the dashboard (or use one already created), ass

[2021-09-27 19:09] JosepSampe commented on #784
In my case I don't have write access to this repo. @gilv ^^

[2021-09-30 12:42] sergii-mamedov opened #789 "Questions about VPC"
Sometimes we have hundreds of tasks that do not satisfy CF from memory. They are currently running on a large VPC instance. Tell me what is the algorithm for distributing these tasks on the VPC:
1. Do they start one at a time?
2. Do they start all at once?
3. There is a queue and the number of simultaneously running tasks depends on the number of processors or RAM.

@JosepSampe

[2021-09-30 18:30] gilv commented on #789
@sergii-mamedov you better move to CE for large tasks...

[2021-10-04 14:38] JosepSampe commented on #789
In VPC (create mode), all VMs start at once from the client, based on the length of `iterdata` (like in IBM CF or CE).

In any case, you can configure the `worker_processes` parameter to indicate the number of CPUs of the VM, this way each VM will process as many tasks in parallel as CPUs. In this case, the number of started VMs will be `iteradata/woreker_processes`. For example, if `len(iterdata)

[2021-10-04 14:42] #749 closed

[2021-10-05 16:27] JosepSampe commented on #373
This can be done by serializing the futures in one machine and send the file to another machine to get the results:
[code]

[code]

[2021-10-05 16:27] #373 closed

[2021-10-12 08:08] sergii-mamedov opened #801 "Removing VM in the absence of a response from the lithops task"
We saw a bug with the VM, it seems to us. We are using VM in `consume mode`. Once, the process used more RAM than the VM could offer and we got an `out of memory exception`. Because of this, the VM was not able to correctly complete the work and after 2 hours the VM was deleted and not stopped, as we expected. There seems to be a bug [in this code](https://github.com/lithops-cloud/lithops/blob/mas

[2021-10-14 15:22] ShuxinLin opened #807 "add more options to lithops runtime build"
Is it possible to support options of `docker build` in `lithops runtime build`? For example, I'd like to build the lithops docker image with `--no-cache`

Thanks!

[2021-10-16 11:56] JosepSampe commented on #807
It is ready to test on master branch

[2021-10-19 11:06] Cohen-J-Omer opened #816 "Lithops config documentations"
Hey @JosepSampe,
I believe we should reprioritize the config options that appear on the lithops config documentations, so that the config option that is based on iam api key would be placed first, while a message or a title would precede the other options, stating that they mainly for backwards computability.
For example the HMAC option in cos is discouraged. Same goes for creating a cloud foundry

[2021-10-19 11:29] JosepSampe commented on #816
@Cohen-J-Omer Are you talking about IBM backends?

IMO, HMAC credentials and cloudfoundry apikeys are pretty useful;

IBM IAM generates a token that lasts for 30 minutes. In Lithop it is a problem if a token expires during the execution of a function, since then everything will fail. IMO, IAM is ok for little applications that lasts for only few minutes.

HMAC credentials and cloud foundry api key

[2021-10-27 08:29] sergii-mamedov opened #822 "Removing temporary files"
When upgrading from version 2.5.0, some of our tests was failed. The reason for this was the handling of [this error](https://github.com/lithops-cloud/lithops/commit/bd59d261204fcb0e58ad0376bb3dcd6a72f223bf#diff-7caf33b04d29735b179f5cde1a693da8523d62b84cb8bbaa43e2f6cb25477a73R165)(?). However, at the moment I am somewhat confused by the logic of the ёdelete_objectsё function. The function descript

[2021-11-01 17:12] Cohen-J-Omer commented on #816
@erezh16 , @kpavel We need to close this issue.
Do you think it be more conducive for most of lithops' users, or at the very least newcomers, to be introduced to IamApiKey based configurations, before the other configuration options? Meaning, should we shift the position of IamApiKey based configurations to the top of the documentations?

[2021-11-03 10:21] #807 closed

[2021-11-03 10:21] #781 closed

[2021-11-05 14:53] sergii-mamedov commented on #822
@giarve could you create a new release?

[2021-11-05 15:06] JosepSampe commented on #822
@gilv ^^

[2021-11-08 22:50] #822 closed

[2021-11-11 15:03] sergii-mamedov opened #849 "Problem with ip_address and private_ip keys for IBM VPC"
When trying to upgrade to 2.5.6, I found this stack trace:
[code]
when trying to replace the `ip_address` key in the config file with `private_ip` - I see the following exeption:
[code]

As far as I can see, `private_ip` was added to [this PR](https://github.com/lithops-cloud/lithops/commit/87e9265e7b781c0b25a7431ee1b27cc2b20d0692). @JosepSampe  Could you please clarify the situation?

I also have

[2021-11-11 15:29] JosepSampe commented on #849
Fixed in #850

[2021-11-11 15:31] JosepSampe commented on #849
Can you provide an example?

[2021-11-12 13:30] sergii-mamedov commented on #849
I double-checked. On our side, the CF and VPC are initialized at the same time.

[2021-11-12 13:32] sergii-mamedov commented on #849
@giarve  could you create a new release?

[2021-11-17 17:00] JosepSampe commented on #753
All tests passing with current version

[2021-11-17 17:00] #753 closed

[2021-11-18 10:20] sergii-mamedov commented on #436
I think you can close this issue "as fixed"

[2021-11-18 11:09] #436 closed

[2021-11-23 12:33] JosepSampe commented on #849
@sergii-mamedov There is already a new release

[2021-11-24 09:42] #849 closed

[2021-11-24 09:58] sergii-mamedov opened #859 "Runtime upload to VPC does not occur"
After upgrading to version 2.5.7, I found that the latest version of lithops is not uploaded to the VPC (the old version remains). I tried deleting the VPC to create a new one. In this case, the lithops process does not start on the VPC at all. I tried the previous version (2.5.6) - same result. The last version we used that didn't have this problem was 2.5.0. It seems that the reason is the recen

[2021-11-24 20:05] JosepSampe commented on #859
I ran some tests with Lithops from scratch and for now I'm unable to replicate the issue.

Initially, lithops tries to create an ssh connection to the VM and then it proceeds to install all the necessary to it. This message means lithops is unable to ssh to the VM, I think the code raises the exception [on this line](https://github.com/lithops-cloud/lithops/blob/master/lithops/standalone/standalon

[2021-11-25 10:24] sergii-mamedov commented on #859
We did not change the ssh key and I tested the ability to manually connect via ssh. I enable `verbose=True` and DEBUG level for logging. How else can I figure out what the problem is?
[code]

[2021-11-25 10:27] JosepSampe commented on #859
Do not appear any other line after the last line?

Try removing all this block: https://github.com/lithops-cloud/lithops/blob/master/lithops/standalone/backends/ibm_vpc/ibm_vpc.py#L559-L577

[2021-11-25 10:29] sergii-mamedov commented on #859
Yes, this is the last line from the lithops. Next comes an exception from our code, as in the example above.

[2021-11-25 10:36] sergii-mamedov commented on #859
In this case everything is fine:
[code]

[2021-11-25 12:37] gilv opened #861 "From 2.5.7 to 2.5.0 due to bugs"

[2021-11-25 12:37] #861 closed

[2021-11-25 12:38] gilv commented on #859
@kpavel @JosepSampe do you know what happens?

[2021-11-25 12:48] JosepSampe commented on #859
@gilv [This logic](https://github.com/lithops-cloud/lithops/blob/master/lithops/standalone/backends/ibm_vpc/ibm_vpc.py#L559-L577) is wrong and raises an exception even if the ssh keys are correct. [This was not added by me](https://github.com/lithops-cloud/lithops/pull/836), so now I'm not sure why it fails. For now I disabled it in #860 until we found an alternative.

[2021-11-25 14:16] kpavel commented on #859
@sergii-mamedov What operating system do you have? Can you please check if you have `ssh-keygen` available there?

[2021-11-25 15:47] sergii-mamedov commented on #859
@kpavel
[code]

[2021-11-25 17:03] kpavel commented on #859
@sergii-mamedov The code @JosepSampe removed is very important. It actually came to solve the issue when user has wrong ssh keypair configuration, validating that private/public keys are real pair and if not -> raise error for user with self explaining error message. In case it been failing in that section i would really prefer to solve it, but i may need your help as i can't reproduce it in my en

[2021-11-25 17:30] sergii-mamedov commented on #859
Yep, except comment after `==` on the end of the line (in you case)

[2021-11-25 17:33] kpavel commented on #859
@sergii-mamedov Ok... I think i may found why the original error wasn't raised. Can I ask you to modify original release code, that has the failing validation section removed by Josep? Just add those 2 lines to let original exception raise with original error message:

https://github.com/lithops-cloud/lithops/pull/862/files

[2021-11-25 23:40] JosepSampe commented on #859
Just as a suggestion: Lithops already shows this message when the private key is not valid:

`2021-11-25 23:59:35,670 [DEBUG] lithops.standalone.backends.aws_ec2.aws_ec2 -- SSH to 172.31.25.190 failed (publickey): Authentication failed.`

I wonder:  If instead of relying on platform specific logic to verify the ssh key, which has much more overhead, [wouldn't doing this be enough and compatible fo

[2021-11-26 15:05] sergii-mamedov commented on #859
@kpavel
[code]
We have a few public keys on VPC.

[2021-11-26 15:29] JosepSampe commented on #859
@sergii-mamedov Is it possible you have multiple private ssh keys in the `/home/ubuntu/.ssh` dir? If so, maybe this one (/home/ubuntu/.ssh/ibm_cloud_vpc) is not valid, and another one in the `/home/ubuntu/.ssh` dir is the valid.

[2021-11-29 13:01] sergii-mamedov commented on #859
[code]
yes, it is works

On VPC we have 3 public key. On our machine, where lithpos starts, we have two privat keys: `ibm_cloud_vpc` and another one.

[2021-11-29 13:46] kpavel commented on #859
@sergii-mamedov
If you run: `ssh-keygen -y -f /home/ubuntu/.ssh/ibm_cloud_vpc | cut -d' ' -f 2` do you have as output your ssh public key?

[2021-11-29 13:49] sergii-mamedov commented on #859
@kpavel yep

[2021-11-29 14:01] kpavel commented on #859
@sergii-mamedov
Can i ask you modify one line of code to have thrown exception contain also contents of the compared public keys?

[code]
https://github.com/lithops-cloud/lithops/blob/master/lithops/standalone/backends/ibm_vpc/ibm_vpc.py#L572

[2021-11-29 14:42] sergii-mamedov commented on #859
I cut ssh key
[code]
it looks like lithops tries the private key with the first public key on the master VM and immediately gets an exception

[2021-11-29 15:03] kpavel commented on #859
@sergii-mamedov
I don't think that VPC allows you to have more than a single public key per VM instance.
But the issue i see is that both ssh-keygen and cut are missing from /bin/sh shell
Can if you run to get to sh shell:
`sh`

And then try to run from that shell `cut` or `ssh-keygen`?

[2021-11-29 15:19] sergii-mamedov commented on #859
[code]

[2021-11-29 15:23] sergii-mamedov commented on #859
I tried on machine, where we launch lihtops:
[code]

[2021-11-29 16:22] kpavel commented on #859
@sergii-mamedov Have another idea. I would like to try to specify full paths to the binaries.

Can you please replace the line with `private_res = subprocess.getoutput([f"/usr/bin/ssh-keygen -y -f {key_filename} | /usr/bin/cut -d' ' -f 2"])`

https://github.com/lithops-cloud/lithops/blob/master/lithops/standalone/backends/ibm_vpc/ibm_vpc.py#L569

[2021-11-29 20:35] kpavel commented on #859
@sergii-mamedov
The issue should be resolved by PR #865

[2021-11-30 09:43] sergii-mamedov commented on #859
@kpavel
I tried the master branch. I see the same problem. I tried deleting all public keys (~/.ssh/authorized_keys) except the one using lithops - same error. Apparently, lithops takes information and public keys not from this file, but directly from the VM metadata.

[2021-11-30 09:46] sergii-mamedov commented on #859
I will try to recreate the VM with one key, then add the other two to the `~/.ssh/authorized_key` file and test this hypothesis. Will it help you?

[2021-11-30 10:04] sergii-mamedov commented on #859
In this case, everything works without problems. Apparently the problem is still on the side of IBM.
@kpavel

[2021-11-30 10:09] kpavel commented on #859
@sergii-mamedov
Thanks for the update. Working on a fix.

[2021-11-30 10:29] kpavel commented on #859
@sergii-mamedov
Added support for multiple public keys validation in #867

[2021-11-30 11:08] kpavel commented on #859
@sergii-mamedov
Should be fixed in master now

[2021-11-30 12:19] sergii-mamedov commented on #859
@kpavel
It is sucked here:
[code]

[2021-11-30 12:50] sergii-mamedov commented on #859
I think that I will recreate the VM with one key, since we already lost a lot of time for debugging.

[2021-11-30 12:54] JosepSampe commented on #859
@kpavel Consume mode does not have `key_id` in config since the VM is manually created trough the dashboard

[2021-11-30 13:28] kpavel commented on #859
@JosepSampe According to lithops documentation it is mandatory:
![image](https://user-images.githubusercontent.com/1818183/144055948-534000fb-8e82-4665-93d9-4b8c2650ce25.png)

[2021-11-30 13:31] kpavel commented on #859
@sergii-mamedov Getting that message means it passed the ssk keypair validation
@JosepSampe Will fix it asap

[2021-11-30 13:44] sergii-mamedov commented on #859
@kpavel We are using `consume mode`. In this case, we specify the file name.

[2021-11-30 13:54] kpavel commented on #859
@sergii-mamedov Revalidated with my instance running in consume mode with multiple ssk keys. It works.
@JosepSampe Fixed the non mandatory ssh key id during validation. validation actually doesn't need to know key id.

[2021-12-01 10:21] sergii-mamedov commented on #859
@kpavel This time everything works without problems. Thanks.

[2021-12-01 10:34] kpavel commented on #859
Excellent. Sorry it took that long.

[2021-12-02 11:31] #859 closed

[2021-12-26 22:00] GuyPago opened #877 "AWS lambda - ResourceConflictException"
Hey,
I've been following the instructions for AWS lambda+s3 setup on the documentation.
I'm encountering the following problem with no luck solving it:
It seems like Lithops is creating the function on lambda but tries to execute it right after when it's on "pending" stage, so I get an error. What am I doing wrong here?
Thank you.

input:
[code]
Log:
`2021-12-26 22:40:31,605 [INFO] lithops.config

[2021-12-26 22:03] JosepSampe commented on #877
@GuyPago In principle the issue is already fixed on master branch. It will be present in a future release.

[2021-12-26 22:24] GuyPago commented on #877
Awesome, thank you!

[2021-12-26 22:24] #877 closed

[2022-01-24 07:02] vysecurity opened #879 "ARM64 / AMD64"
1) Appears to be no way to force AMD64 in the Dockerfile for the `lithops runtime build` command. The image pulled doesn't appear to support x86-64 architecture?

2) Is there any way to specify the use of ARM64 Lambda instances?

Tried:

`FROM --platform=linux/amd64 python:buster as build-image`

[2022-01-24 07:06] vysecurity commented on #879
Fixed, I missed a reference in my DockerFile.

[2022-01-24 07:07] vysecurity commented on #879
Actually, question 2 still stands. Any way to specify ARM64 lambda instances?

[2022-01-24 11:16] JosepSampe commented on #879
@vysecurity With #880  You can now set the architecture type in your config file, for example:
[code]

You might consider using an AMR64 python base image for your dockerfile from: https://gallery.ecr.aws/lambda/python, _IMAGE TAGS_ tab

[2022-01-24 16:09] vysecurity commented on #879
Thanks! Let me give that a shot and feedback here.

[2022-01-24 16:26] vysecurity commented on #879
I built a Docker based on ARM64, then tried to add that flag into config file and it ended up getting Python exec error on runtime which indicates an architecture issue.

[2022-01-24 23:01] JosepSampe commented on #879
@vysecurity Both the client and the runtime must run the same python version due a [cloupickle ](https://github.com/cloudpipe/cloudpickle) restriction.

According to the error message, your docker runtime has python3.8 and not python3.9. Try using python3.8 in your local machine, or review your dockerfile and ensure that python3.9 is included there.

[2022-01-25 05:07] vysecurity commented on #879
Got it in the end thanks

[2022-01-27 10:44] JosepSampe commented on #879
@vysecurity So, is this solved? Have you been able to run lithops functions with an arm runtime at the end?

[2022-01-27 11:07] vysecurity commented on #879
Solved! Sorry for late response :-)

[2022-01-27 11:08] JosepSampe commented on #879
Cool! thank you

[2022-01-27 11:08] #879 closed

[2022-03-11 16:51] #816 closed

[2022-03-21 13:44] aitorarjona opened #903 "Request to deprecate Layer-based runtimes for AWS Lambda"
I believe that deprecating layer-based AWS Lambda runtimes and supporting only Docker image-based runtimes could be beneficial for code maintainability and to avoid code bugs.

Right now it is complicated to maintain this backend, that is actually a 2-in-1 since the method to deploy runtimes from layers or docker images is completely different. The difference for the user is that it will be a requ

[2022-03-26 13:17] rabernat opened #907 "Limiting concurrency / max_workers for a single stage of a function chain"
I recently discovered this project (former pywren user) and first want to say thank you for developing and maintaining this amazing tool! 🙏

I am investigating whether we can use lithops in our [Pangeo Forge](https://pangeo-forge.readthedocs.io/) project. One feature that is important to us is the ability to limit the concurrency of certain `map` operations which perform i/o against third-party se

[2022-03-27 04:33] gilv commented on #907
@JosepSampe what do you think?

[2022-03-27 05:05] gilv commented on #907
@rabernat we will implement this. I think the best way to see if there is option to avoid throttling without limiting parallelism. For example, when Lithops access IBM Cloud Object Storage, Lithops will generate a single access token and share it across all invocations. This way, Lithops will be not be throttled by authentication service, as there is only one token generation request and then same

[2022-03-27 15:21] JosepSampe commented on #907
It is feasible to implement it but it requires a substantial change of the monitoring system.

@rabernat You can achieve the exact same behaviour you want by creating multiple Function Executors:

[code]

[2022-03-28 17:57] rabernat commented on #907
Thanks for the quick replies!

I can see how that would be a useful feature in some cases. But there are some downsides to that approach. For example It would not be cost effective to have 1000s of active worker processes all blocking around a much smaller set of locks. The CPUs would just be idle while the workers wait their turn, burning money.

Regardless, distributed locks / semaphores would b

[2022-03-28 18:44] gilv commented on #907
@rabernat
```But there are some downsides to that approach. For example It would not be cost effective to have 1000s of active worker processes all blocking around a much smaller set of locks. The CPUs would just be idle while the workers wait their turn, burning money.```

 the idea is to limit parallelism dynamically  in runtime based on the limitation of 3rd party service, and not having 1000 w

[2022-03-28 19:03] rabernat commented on #907
Thanks for the clarification Gil! I totally misunderstood your suggestion. Yes that sounds like an amazing feature.

For reference, the scenario I described is exactly what Dask does with distributed locks, so that's where I was coming from with my assumptions.

[2022-04-05 20:48] theathibm opened #910 "Lithops FunctionExecutor call_async with cythonzed functions vs inline functions"
Is it possible to use cythonized python functions as well as the inline def functions?   We have a requirement to cythonize our code

[2022-05-17 12:39] FTWH opened #914 "AttributeError: 'KnativeServingBackend' object has no attribute 'coreV1Api'"
2022-05-17 20:36:50,287 [INFO] lithops.config -- Lithops v2.6.0
2022-05-17 20:36:50,463 [INFO] lithops.storage.backends.redis.redis -- Redis client created - Host: 192.168.122.1
2022-05-17 20:36:50,503 [INFO] lithops.serverless.backends.knative.knative -- Knative client created - Istio Endpoint: http://192.168.122.11:31380
2022-05-17 20:36:50,503 [INFO] lithops.invokers -- ExecutorID 3f162b-0 | Jo

[2022-05-17 12:53] JosepSampe commented on #914
@FTWH PR #915  should fix the issue

[2022-05-18 00:58] FTWH commented on #914
`2022-05-18 08:53:47,958 [INFO] lithops.serverless.backends.knative.knative -- Building default runtime
Traceback (most recent call last):
  File "sample.py", line 21, in <module>
    fexec.map(is_inside, part_count)
  File "/home/xxx/anaconda3/envs/faas-scaler/lib/python3.8/site-packages/lithops-2.6.1.dev0-py3.8.egg/lithops/executors.py", line 258, in map
    runtime_meta = self.invoker.select_ru

[2022-05-18 18:53] JosepSampe commented on #914
@FTWH Can you set the Log level to `debug` and post here the logs?

[code]

[2022-05-20 02:50] FTWH opened #917 "What if the concurrency processes for a AWS Lambda function exceed its memory?"
<img width="1029" alt="image" src="https://user-images.githubusercontent.com/71968506/169438902-3a64d37b-0329-4b31-8d1a-5eeb0c4b1936.png">
As above, we can configure the worker_process in each lambda instance. But what if the resource consumption exceeds the limitation of function instances? Will lithops handle this situation? Thanks a lot!

[2022-05-20 11:41] JosepSampe commented on #917
@FTWH At this moment Lithops is not habdling this situation and you will receive a `MemoryError` Exception

[2022-05-20 11:43] #914 closed

[2022-05-20 11:48] JosepSampe commented on #914
@FTWH Regarding the last error, it is caused by a wrong service name that is not allowed by k8s. With DEBUG logs you will see the name of the runtime service that Lithops is trying to deploy to k8s. If you still see this error, please open a different issue since it is different from the original one

[2022-05-20 12:27] FTWH commented on #914
@JosepSampe Thanks a lot for your help! But I have found some new problems.
1. As shown in the tutorial, the script installs knative @ v0.15 (not the latest version v1.14) as default. Is this version out of the date? What is the version of knative in the recommendation?
2. In the config file, I tried to use the local docker private registry, (docker_server: 192.168.122.11:5000/v2/ ). But it failed

[2022-05-20 13:10] JosepSampe commented on #914
1. Yes, version 0.15 is outdated. I updated the docs. Now it is much easier to install knative than 1 year ago, so you can simply follow the instructions in the knative website https://knative.dev/docs/install/yaml-install/serving/install-serving-with-yaml instead of using our script
2. Need to check

[2022-05-24 16:21] #903 closed

[2022-05-26 09:06] locotron opened #930 "Inconsistent chunk size for map and obj_chunk_size"
I'm trying to read a file in parallel using multiple workers, with a lithops map. I have encountered a strange issue that i cannot explain.

What im trying is to generate metadata chunks from a bigger file.
The code for the worker function is as follows:
[code]

The main:

[code]

The issue is that the three variables have different sizes, and the size of the data variable keeps changing deppendin

[2022-05-26 19:33] JosepSampe commented on #930
@locotron do you refer to the `len_data` value in the logs?

[2022-05-26 19:41] locotron commented on #930
Yes, but also bj.data_byte_range[1]-obj.data_byte_range[0] shouldn't be the same as obj.chunk_size?

[2022-05-26 19:58] JosepSampe commented on #930
I don't see the data, but I think this is not an issue.

When Lithops splits a file in multiple parts for processing, it makes sure that no worker receives a partial line due a fixed chunk_size. In this sense, the internal Lithops mechanism always sends some extra data to each worker to ensure that all the workers will receive entire lines. This is why you see obj.data_byte_range[1]-obj.data_byte_

[2022-05-27 11:01] locotron commented on #930
Okay, i see. That was what @giarve explained to me, also credits for helping me find a solution.

Since i need consistent chunks between workers, so that i know what the previous worker has read i ended up using the WrappedStreamingBody read method, that doesn't care about consistency and always reads the same number of bytes.

Thank you very much @JosepSampe.

[2022-05-27 11:52] #930 closed

[2022-05-27 11:53] #784 closed

[2022-05-28 19:48] locotron opened #933 "cloudpickle 2.1.0 atribute error"
Hello,

I'm running a lithops map_reduce using the last version of cloudpickle, which was installed by lithops. This doesn't happen when using cloudpickle 2.0.0
I got the following error:

`AttributeError: Can't get attribute '_make_function' on <module 'cloudpickle.cloudpickle' from '/function/cloudpickle/cloudpickle.py'>
`

Code to reproduce the error:

[code]
If it's useful, i'm using backend a

[2022-05-29 09:27] JosepSampe commented on #933
Please provide more details: Lithops version, python version, full debug logs. are you using layers or a container? Do you have the same issue [with this call_async function](https://github.com/lithops-cloud/lithops/blob/master/examples/call_async.py)?

[2022-05-29 10:27] locotron commented on #933
Lithops version 2.6
Python version 3.8.10
I'm using a container. A custom runtime image uploaded to aws as a lambda container image.
Doesn't get to the reduce stage, it's within the map, so i will only append the log for the map.
[728009-0-M000.log](https://github.com/lithops-cloud/lithops/files/8793106/728009-0-M000.log)

Yes, it happens with the call_async function example, same error.

[2022-05-30 09:32] aitorarjona commented on #930
@JosepSampe Just to clarify, this procedure is executed always when `obj_chunk_size` or `obj_chunk_number` is specified right? Then, for text based files like CSV is ok, but muy concern is if this is used in other arbitrary binary formats where `\n` is not present. Would this be then an overhead, or produce unaccurate chunks? Maybe this feature can be executed for `text/*` MIME type objects, but i

[2022-05-30 11:12] JosepSampe commented on #933
For me all tests I ran in IBM (not in AWS backends) work ok.

Probably this is an issue of cloudpickle, the only thing we can do in Lithops is to pin the cloudpickle version in the dockerfile template (for aws lambda).

What I experienced some time ago is that newer versions of cloudpickle use to work better with newer versions of python, so probably if you use python3.9 or python 3.10 it will wor

[2022-05-30 16:06] JosepSampe commented on #930
The main problem I see using `obj.data_stream.read()` is that each worker will receive the extra data anyway, so at the end there will be duplicate data. So I think the best option, if we want to handle this , is to create an additional parameter in the map/map_reduce functions to activate or bypass the partitioner

[2022-06-07 22:00] fplk opened #939 "Cannot run Hello World against Azure"
I have been trying to run a simple Hello World Lithops program against Azure:

[code]

When I run it, I hit the following error(s) both on Lithops 2.5.9 and 2.6.0:
[code]

On the Azure side I see quite a few resources being created:
- regoptsvc Application Insights and Function App
- EastUSLinuxDynamicPlan App Service plan
- aptregstorageacc Storage account
- aptregopt-lithops-runtime-v37-259-http

[2022-06-08 00:47] fplk opened #940 "Cannot run Hello World against KNative"
Since Azure didn't work, I now tried KNative. I setup a MinIO instance (and validated it works with Python code I wrote against it), then wrote the following configuration:

[code]

And then I deployed KNative with Istio against Minikube to try it:
[code]

[code]

Istio
[code]

[code]

The error I hit is:
[code]

Could you give me any pointers?

KNative seems fine:
[code]

The only thing remotely

[2022-06-08 07:23] JosepSampe commented on #939
Hi @fplk, 2 weeks ago I found that they changed something in the Azure side that prevents to use Lithops on there with the latest releases. I already added the fixes the past week, so it should work with the master branch.

Note that currently Azure Functions Lithops backend does not support Docker runtimes. In Azure backend, runtimes are built from a requirements.txt file. Will add the instructio

[2022-06-08 08:14] JosepSampe commented on #940
@fplk As you found master branch contains fixes necessary for this. Note that this is not valid: `lithops runtime deploy default2 -b knative -c lithops_knative.config` you must use the word `default` and not `default2` for deploying the default runtime

[2022-06-08 09:53] JosepSampe commented on #930
I've been thinking on this, and found that the built-in python [`open()`](https://docs.python.org/3/library/functions.html#open) method use he parameter `newline` to specify the character that split lines. Currently Lithops has `obj_chunk_size` and `obj_chunk_number`, so we could add `obj_newline`, this way a user could set it to `None` to disable all the internal "line-integrity" logic and get ch

[2022-06-08 16:59] fplk commented on #939
Well, I ultimately went against master as mentioned in the other issue, but am facing the same or a very similar issue:
[code]
Please also note that this seems at odds with your clarification that Azure does not support Docker - why did it reach azure_functions.py, line 318 then? It seems it should have never gotten there.
[code]

Please also note that I changed the runtime name multiple times dur

[2022-06-08 17:25] JosepSampe commented on #939
can you run `lithops clean -c falk_lithops_azure.config` and then try again with DEBUG logs?

[2022-06-08 17:29] fplk commented on #939
Sure:
[code]

Side question: Should I care about this?
[code]

[2022-06-08 18:28] JosepSampe commented on #939
I've been trying to replicate the issue but for me it always works ok. [I just added a change](https://github.com/lithops-cloud/lithops/pull/941) that will show the actual error that is produced when it tries to extract the metadata from the runtime. Can you update your installation from the master branch and try again?

[2022-06-09 15:04] theathibm commented on #910
Thanks for the response, I basically ended up doing the wrapper technique.

[2022-06-09 15:07] theathibm commented on #939
@JosepSampe, Do you have a working example of a hello world type of application using lithops and azure?

Do you use lithops runtime build and lithops runtime deploy to do it?  If so can you send the dockerfile you use.

Do you just use a lithops config only and bypass the lithops runtime build and lithops runtime deploy?

We really need to see how to run on Azure, otherwise we might have to punt

[2022-06-09 15:12] theathibm commented on #940
@JosepSampe, We will also need working examples of knative. Please send anything you can in regards to working examples for knative and azure.    You can remove all your credential information from the examples and use our credentials instead.  Thanks.

[2022-06-09 16:08] JosepSampe commented on #939
Hi @theathibm, I'm using the basic "hello world" function we have, with the default runtime that is automatically built. You can submit it with `lithops test -b azure_functions -s azure_storage -d`

You don't need to run "create" and "deploy", everything is automatically done by lithops.

Note that currently Azure backend for Lithops does not support Docker containers. This morning I added the ins

[2022-06-09 16:16] theathibm commented on #939
@JosepSampe , thanks.    We will need to build customized runtimes for our various custom python modules which all need to be cythonized.

Can you send lithops configuration file that has everything needed for a successful azure deployment?

[2022-06-09 16:25] JosepSampe commented on #939
There is no special configuration. The configuration that @fplk provided on the top of this thread is good. In fact the runtime is correctly built and deployed. You should check the azure portal and see in the function logs why it is failing.

[2022-06-09 16:44] theathibm commented on #939
Also, would like more clarity on this error snippet from the above:

Please note and check the following:

  * The Python version is: Python3.7 from "/usr/local/bin/python"
  * The NumPy version is: "1.21.6"

and make sure that they are the versions you expect.
Please carefully study the documentation linked above for further help.

Original error was: No module named 'numpy.core._multiarray_umath

[2022-06-09 17:41] JosepSampe commented on #939
This could happen if you have diferent versions of numpy in the client and in the runtime

[2022-06-11 13:48] JosepSampe commented on #940
@theathibm Any example in this repo should work in knative, since at application level everything is generic. Probably the error we are facing here is about Istio configuration. Need to check what configuration is missing for Istio.

In any case, I recently added support for `Kourier` networking layer, which does not need any extra configuration. Just run the steps [from here](https://knative.dev/

[2022-06-13 05:11] fplk commented on #939
Launching from Linux (or rather a Linux container from macOS) resolved the issue. Thank you.

[2022-06-13 05:11] #939 closed

[2022-06-13 06:24] fplk commented on #940
Still doesn't seem to work. I deployed Kourier and tried MinIO, IBM COS and Azure storage backends without success. The code still times out with the same error reported above:
[code]

The ingress_endpoint is indeed wrong, but setting it as you described didn't help. If I manually run my own code against the storage backends, I have no problem to access them. Additional instructions would be appre

[2022-06-17 17:45] #910 closed

[2022-06-23 17:06] #940 closed

[2022-07-01 11:41] #917 closed

[2022-07-04 04:06] gilv commented on #933
closing for now

[2022-07-04 04:06] #933 closed

[2022-07-04 04:07] #354 closed

[2022-07-11 06:37] yuvipanda opened #963 "Allow authenticating to GCP via service account provided by compute engine"
Very cool project! Am excited to play with it :)

I'm trying to set this up with GCP, on a kubernetes cluster with [workload identity](https://cloud.google.com/kubernetes-engine/docs/how-to/workload-identity) setup to provide GCP IAM permissions to workloads. All the google cloud sdk clients (including the python one used by this project) know how to use this to 'automatically' find credentials an

[2022-07-11 18:00] JosepSampe commented on #963
@yuvipanda Good finding! I think PR #964 should be enough. You can test it using master branch

[2022-07-11 18:43] yuvipanda commented on #963
@JosepSampe thank you for the quick response! Unfortunately the error still persists, and is a little different:

[code]

If I add project_name, I get:

[code]

It doesn't need credentials_path, but still needs 'region'. I think at least project name and serviceaccount should be automatically picked too

[2022-07-11 18:46] JosepSampe commented on #963
For now, in this initial step, `project_name`, `service_account `and `region` are still mandatory.

[2022-07-12 08:14] JosepSampe commented on #963
@yuvipanda With #965 `project_name` and `service_account` are no longer required. `region` is still mandatory and I'm not sure if we can remove it: for now I don't see away to get it from the environment

[2022-07-20 15:44] tomwhite opened #970 "Memory stats"
It would be useful to include memory usage stats in the `ResponseFuture` `stats` dictionary.

I've found it useful to record the peak memory usage before and after the function invocation in my application:

https://github.com/tomwhite/cubed/blob/50ac4c874ca8f1b1f2a525988252989d8fb2b682/cubed/runtime/executors/lithops.py#L185-L187

where peak memory is measured as follows:

https://github.com/tomw

[2022-07-20 15:49] tomwhite opened #971 "Allow progress bar to be turned off"
The only way I have found to disable the progress bar is by changing the log level:

[code]

It would be nice to be able to do this via a parameter in [wait](https://lithops-cloud.github.io/docs/source/api_futures.html#lithops.executors.FunctionExecutor.wait).

I want to do this so I can manage my own progress bars that aggregate a number of lithops operations in one.

[2022-07-20 15:56] tomwhite opened #972 "Wish: build images in the cloud"
This would help reduce friction when getting started since there would be no need to install docker, and it would avoid a large upload (multi-GB potentially).

Is this something that has been considered before?

[2022-07-20 16:01] JosepSampe commented on #970
Currently in Lithops we have this utility function https://github.com/lithops-cloud/lithops/blob/master/lithops/worker/utils.py#L113-L134 that measures the memory usage (using psmem module) of the lithops process a the time it is called.

We can include something similar to what you have in stats, yes.

Just one question about your code: when a runtime receives multiple invocations, one after anot

[2022-07-20 16:16] tomwhite commented on #970
Thanks @JosepSampe!

Yes that's what will happen. This is still useful though, since what I want to know is what the peak memory usage is in practice, so I can see how close it is to the serverless container limit.

Perhaps the best thing to do is provide both peak memory and current memory usage (before and after invocation of the function) - that is, return four stats?

[2022-07-24 16:04] JosepSampe commented on #970
@tomwhite Added on master branch

[2022-07-24 16:05] JosepSampe commented on #971
@tomwhite Added in master branch. It can now be disabled by setting `fexec.wait(show_progressbar=False)`

[2022-07-25 16:08] tomwhite commented on #970
Great, thanks @JosepSampe! I'm on vacation this week but will try it out when I get back.

[2022-07-26 07:18] webclinic017 opened #975 "FastApi use - Lithops"
Hi

Is there a implementation of Lithops with FastApi ?

[2022-07-27 06:42] aitorarjona commented on #975
Hello, I'm not sure what do you mean, could you elaborate more? You can use lithops from a FastAPI backend, but lithops does not expose any rest API at the moment.

[2022-07-27 12:25] gilv commented on #972
@tomwhite can you be more specific on the way you thought this will work? otherwise there might be various ways to make this

[2022-07-27 12:25] gilv commented on #971
@tomwhite can we close this issue? I will draft new release of Lithops today

[2022-07-27 19:03] ShuxinLin opened #976 "Runtime_timeout is not set correctly"
Hi I am running lithops with code engine. I set `runtime_timeout` and `execution_timeout` in the cofig to be both 21600 seconds (6 hours). But the `execution_timeout` will be always set to 1195 because of this line https://github.com/lithops-cloud/lithops/blob/09d3181043cc782916675e59cda463b3895ab38c/lithops/job/job.py#L208

So I decide to print the `runtime_meta`, and here is the content
[code]

[2022-07-27 19:16] JosepSampe commented on #976
In principle we are not forcing 1200 seconds anywhere. May you have it in your config file? I just run a test and the timeout is set correctly using master branch

[2022-07-27 19:16] JosepSampe commented on #976
In principle we are not forcing 1200 seconds anywhere. May you have it in your config file? I just run a test and the timeout is set correctly using master branch

![image](https://user-images.githubusercontent.com/10448186/181354032-bef625e6-6172-4e55-bcf5-c44104f5a6cc.png)

[2022-07-28 20:13] ShuxinLin commented on #976
@JosepSampe I found this weird bug. Here is my script
[code]

In the lithops source code here, https://github.com/lithops-cloud/lithops/blob/09d3181043cc782916675e59cda463b3895ab38c/lithops/job/job.py#L199
I print some variables like this
[code]
I installed lithops latest master

This is the output
[code]

Also, I checked code engine dashboard, I can see job timeout is 21600. This seems very stran

[2022-07-30 00:04] JosepSampe commented on #976
@ShuxinLin Unfortunately I'm not able to replicate your issue:

[code]

Could it be that you have deployed the runtime with 1200 before changing it to 21600? Note that once the runtime is deployed the runtime_timeout cannot change, this means that lithops will get the `runtime_timeout` you set the first time from the metadata, independently of what you have at that moment in your config. If you wa

[2022-08-02 10:17] tomwhite commented on #971
I just tested this (back from vacation today) and it worked fine. Thanks @JosepSampe and @gilv!

[2022-08-02 10:17] #971 closed

[2022-08-02 11:17] tomwhite commented on #970
I just tried this out but it's not giving the right memory usage numbers. After a bit of digging, it looks like the memory usage is measured in the process that launches the `JobRunner` process, and not the `JobRunner` process itself:

https://github.com/lithops-cloud/lithops/blob/5bd9bc5614625aa27bdfebb10ddfbff5bbb264d6/lithops/worker/handler.py#L176-L186

I also found that I needed to add `'end'

[2022-08-02 11:23] tomwhite commented on #972
I thought that for AWS Lambda it might be possible to use [AWS CodeBuild](https://docs.aws.amazon.com/codebuild/latest/userguide/sample-docker.html) to produce a docker image and publish it to a repository. I haven't tried this though.

[2022-08-02 12:11] JosepSampe commented on #970
@tomwhite I moved it to jobrunner

[2022-08-02 13:47] tomwhite commented on #970
@JosepSampe Great! That works for me now. Thanks again.

[2022-08-02 15:27] gilv commented on #972
@tomwhite I wonder what would be more complicated for a novice user ;) : install Docker client locally and wait a bit for uploading images or learn how to use AWS CodeBuild, read documentation there, experiment with it, debug it when something not working, etc... :)

[2022-08-02 15:44] tomwhite commented on #972
I was imagining that Lithops would hide the CodeBuild part, in the same way that it hides the runtime build and deploy steps already. In other words, `lithops runtime build --remote` (or similar) would just do the build in the cloud instead of locally.

[2022-08-02 18:03] gilv commented on #972
@JosepSampe what do you think?

[2022-08-02 18:24] JosepSampe commented on #972
In the past we have been using Tekton for the Knative backend.
We can explore AWS CodeBuild for AWS backends.

[2022-08-03 08:50] #970 closed

[2022-08-15 10:15] #963 closed

[2022-08-24 20:03] ShuxinLin commented on #976
problem solved. Thanks!

[2022-08-24 20:03] #976 closed

[2022-08-25 14:09] tomwhite opened #985 "Enable Fil for memory profiling"
I have found it very useful to use [Fil](https://pythonspeed.com/fil/docs/index.html) for finding the peak memory use of functions running on Lithops.

The way I got it to work was to change the local version of Lithops to add the `fil-profile` script:

[code]

Then in my function I call [Fil's profile API](https://pythonspeed.com/fil/docs/api.html). Each function invocation writes the Fil profile

[2022-08-31 12:02] tomwhite opened #986 "Can't set ModuleDependencyAnalyzer log level"
When trying to debug which modules are being transmitted, setting

[code]

doesn't show any messages from `ModuleDependencyAnalyzer`.

This doesn't seem to work either (in an example script):

[code]

Should the logger in `ModuleDependencyAnalyzer` be changed to be like the other ones in Lithops?

[2022-09-07 11:40] sergii-mamedov opened #987 "Catch HTTP 409 error for Code Engine"
Recently, I have been seeing frequent HTTP 409 errors when processing data in bulk. I spoke with the IBM customer support to clarify where the source of the problem is and how it can be fixed. So far, all I've gotten from them is this response:
[code]

The original stacktrace I get:
[code]
Is it possible to add handling of such exceptions to lithops? I use lithops 2.7.0.

[2022-09-12 13:20] gfinol opened #989 "Multiprocessing cpu_count is broken"
The function `cpu_count` of the multiprocessing API is broken due to a change in the configuration YAML file.

It looks for `max_workers` configuration key under the `lithops` configuration (see [this](https://github.com/lithops-cloud/lithops/blob/ad261b28e1b4cfea6c0a48ebe5a666338faf208c/lithops/multiprocessing/context.py#L141)), but it has been moved under the compute backend configuration.

[2022-09-12 13:21] gfinol commented on #989
I'll open a PR asap with the fix.

[2022-09-12 14:14] #989 closed, assigned to nobody

[2022-09-24 10:54] dunty opened #991 "service name is too long when using backend knative"
The code below will cause metadata.name exceed the limit 63 bytes of DNS label, in `lithops/serverless/backends/knative/knative.py`, line 442 and in other functions:
[code]
if docker_server name is long enough.

[2022-09-27 15:59] ShuxinLin opened #993 "Kubernetes support"
Hi, I am checking how lithops can do with k8s. I read through the docs https://github.com/lithops-cloud/lithops/tree/master/runtime/kubernetes. I found no words on setting the k8s context etc. I am wondering if lithops supports it? Say I have a cloud k8s cluster. Does lithops help deploying pods on the cluster?

[2022-09-27 17:45] JosepSampe commented on #993
Yes, you can run Lithops in any k8s cluster. You only need the kube config file in the correct place. If you have the kube config file, and you can use the `kubectl` command to operate your cluster, then Lithops will be able to automatically deploy all the necessary stuff needed to run the functions.

[2022-09-27 17:51] ShuxinLin commented on #993
@JosepSampe thank you. What if I want to deploy dockers from private registry. If it is code engine, I follow this config https://github.com/lithops-cloud/lithops/blob/c6a028f540ca6101382bd38403dfd6036c256394/config/config_template.yaml#L44. I found no k8s section in config template, is that similar to code engine?

[2022-09-27 17:54] JosepSampe commented on #993
Yes, it's the same. Check this https://github.com/lithops-cloud/lithops/blob/master/docs/source/compute_config/k8s_job.md#configure-a-private-container-registry-for-your-runtime

[2022-09-27 17:58] ShuxinLin commented on #993
Thank you. I will take a look at this page.

[2022-09-27 17:58] #993 closed

[2022-09-27 19:31] gilv commented on #987
@kpavel can you handle it? :)

[2022-09-27 19:32] gilv commented on #986
@JosepSampe any thoughts?

[2022-09-27 20:50] JosepSampe commented on #986
Checking it

[2022-09-27 21:48] sergii-mamedov commented on #987
As far as I understand, the code responsible for the retry goes [here](https://github.com/lithops-cloud/lithops/blob/09d3181043cc782916675e59cda463b3895ab38c/lithops/serverless/backends/code_engine/code_engine.py#L46-L54) and I need to explicitly insert the `connection_retries` value into the code engine config.

[2022-09-28 12:55] kpavel commented on #987
Hello @sergii-mamedov, is it a full stacktrace? No other traces from code_engine level?

regarding [connection_retries ](https://github.com/lithops-cloud/lithops/blob/master/docs/source/compute_config/code_engine.md#summary-of-configuration-keys-for-job-api) - yes, you need to specify in the config file retries number, e.g. 10.

the issue here is that we are currently handling connection retries w

[2022-09-28 15:43] JosepSampe commented on #986
#994 Should be enough to show the logs from the module_dependency.py at the same level set in Lithops

[2022-09-28 21:08] sergii-mamedov commented on #987
@kpavel
[code]

[2022-09-29 15:09] #991 closed

[2022-10-02 11:03] #975 closed

[2022-10-02 12:39] #986 closed

[2022-10-03 12:03] JosepSampe commented on #987
@sergii-mamedov Does #995 solve your issue?

[2022-10-10 08:16] sergii-mamedov commented on #987
@JosepSampe
Sorry for a long answer. I deployed this changes on production. I will get back to you in a couple of days with an answer.

[2022-10-14 08:27] sergii-mamedov commented on #987
@kpavel @JosepSampe
Unfortunately, the patch didn't change the situation (which is a bit strange for me). I added some logging, stacktrace below:
[code]

[2022-10-17 08:40] sergii-mamedov commented on #987
@kpavel
Did it, I will let you know when this problem occurs again.

[2022-10-18 08:33] sergii-mamedov commented on #987
@kpavel
I understood what the problem was. There is no condition in the code to handle the block for HTTP 409. You should either add `continue' to this block
[code]
or perhaps it is better to make a solid `if - elif - else` block:
[code]
I tested first option - works well.

[2022-10-19 10:47] sergii-mamedov commented on #987
@JosepSampe
Thanks, I will be grateful for the release of a new version when possible.

[2022-10-19 10:47] #987 closed

[2022-10-19 22:05] gilv commented on #987
@sergii-mamedov @JosepSampe I will draft new relase

[2022-11-03 10:11] gfinol opened #1001 "Google cloud documentation is outdated"
I tried to use Google cloud with lithops following the current available documentation, but I found the following error:

[code]
But according to [Lithops documentation](https://github.com/lithops-cloud/lithops/blob/master/docs/source/storage_config/gcp_storage.md#google-cloud-platform) only 'credentials_path', 'region' are the only mandatory keys.

[2022-11-03 10:35] JosepSampe commented on #1001
Which version are you using?

Currently reuired params are only `Region`
https://github.com/lithops-cloud/lithops/blob/73480bdb985690f4fc97eaebf9baa82bb5925fc3/lithops/storage/backends/gcp_storage/config.py#L20

[2022-11-03 11:38] gfinol commented on #1001
I was using 2.6.

Updating to 2.7 solved the issue. I close it.

[2022-11-03 11:38] #1001 closed

[2022-11-03 12:27] gfinol opened #1002 "[GCP] Error while deploying Cloud Function"
Once I have everything set up following the instructions (lithops version 2.7.0 and python 3.9.13).

I run a `lithops test` and I get an error saying "`Error while deploying Cloud Function`".
<details>
  <summary>Click to see error trace</summary>

[code]
</details>

This is a screenshot of the error in the Google cloud console:

![image](https://user-images.githubusercontent.com/11145254/19971932

[2022-11-03 13:21] JosepSampe commented on #1002
I can't reproduce the first error. I delted everything from my account and ran lithops test and it works.

The second erros should be fixed with #1003

[code]

[2022-11-05 11:08] AaronSoria opened #1004 "Error Building your own Lithops runtime for Google Cloud Functions"
lithops version 2.7.0
python version 3.9.2
debian 11

I'm trying to run the following command:

lithops runtime build -f requirements.txt -b gcp_functions my_Image_runtime -s gcp_storage

and I'm getting the following error
[code]

[2022-11-05 11:36] JosepSampe commented on #1004
@AaronSoria The issue is already fixed on master branch https://github.com/lithops-cloud/lithops/pull/1003

[2022-11-05 11:54] JosepSampe commented on #1002
It also works for me using a new project

[2022-11-06 13:10] #1004 closed

[2022-11-07 09:13] JosepSampe commented on #1002
I created a new project and it works ok for me. Could you check in the GCP console logs if you can see why the function is not deployed correctly?

[2022-11-07 09:42] gfinol commented on #1002
@JosepSampe I get the following error message:
[code]

[2022-11-07 09:46] JosepSampe commented on #1002
Seems the "match case" feature set in the infinispan backend is only available for python > = 3.10. I'm using python3.10, thats why it doesn't fail for me. Will change it

[2022-11-07 09:52] JosepSampe commented on #1002
@gfinol  I added a fix. Can you try with master branch?

[2022-11-07 10:09] gfinol commented on #1002
Yes, it worked after installing from master branch. 🎉

[2022-11-07 10:14] #1002 closed

[2022-11-24 14:57] JosepSampe commented on #987
@sergii-mamedov We released 2.7.1

[2022-11-24 21:27] sergii-mamedov commented on #987
thanks

[2022-11-25 12:40] JosepSampe commented on #487
Closing it for now since it is an issue inherited from python and not from Lithops. If a user wants to use the `multiprocessing` library inside a lithops function, **the function must be defined in a separate file**.

[2022-11-25 12:40] #487 closed