[2018-10-29 06:19] gilv opened #10 "Need functional tests"
We need to add ability to execute full functional tests and add various test cases. The good start would be to run whatever is located in the example of the project. This should be optional of course. To run functional tests there will be need to configure COS and CF account.

[2018-10-31 04:50] gilv opened #12 "Use separate interface for storing internal data used by PyWren"
We need to separate internal storage interface:
1. accesses that will be used to read / write COS data objects
2. accesses that will be used internally to read / write temporary data into COS ( for example serialized function )

[2018-11-05 06:01] gilv opened #14 "to pickle or not to pickle"
current implementation will pickle all dependencies that are not listed in default_preinstals module.
We need to extend this by avoid pickle libraries that are part of the Docker runtime.

[2018-11-07 11:27] gilv opened #15 "Avoid using CLI tool for installation scripts"
Installation scripts, like `pywren/deploy_pywren.sh` and `runtime/build_runtime.sh` both use `bx wsk` CLI tool to create an action. We would like to explore how this can be avoided and use direct Python code to create actions. Such code already exists in ` https://github.com/pywren/pywren-ibm-cloud/blob/master/pywren/pywren_ibm_cloud/cf_connector.py`. We should see how to use this code instead of

[2018-11-08 07:48] gilv opened #16 "Partioner to support more data types"
Partitioner currently supports CSV. We need to extend the mechanism to make it more generic and support other implementations, like Apache Parquet

[2018-11-09 19:10] gilv commented on #15
@JosepSampe thanks ;)

[2018-11-10 19:04] JosepSampe commented on #15
@gilv Done in #18

[2018-11-11 08:18] idoyehe opened #19 "map reduce using url"
When I trying to run the example of map_reduce_url I get an error about chunk_size that is not pass to the function "split_object_from_url" and I look the code and it seems that the call to that function from partitioner (executer.py line 524) mismatch the arguments

[2018-11-11 12:22] #15 closed, assigned to nobody

[2018-11-11 19:08] JosepSampe commented on #19
Fixed in #20

[2018-11-12 06:58] #19 closed

[2018-11-12 09:02] #14 closed

[2018-11-12 20:54] gilv opened #22 "Add user agent for all COS operations"
We need to add custom user-agent  = PyWren for all operations to COS.

[2018-11-12 20:57] mbehrendt commented on #22
out of curiosity -- what is this needed for? E.g. what does not work without this?

[2018-11-13 06:18] gilv commented on #22
this is common approach, to track clients that initiate requests. it's not mandatory, just nice to have

[2018-11-13 06:58] mbehrendt commented on #22
ok, thank you -- that's what i thought

[2018-11-13 07:40] gilv commented on #22
resolved https://github.com/pywren/pywren-ibm-cloud/commit/39af0d218a64261c2a5fa15f440a990efd3a2108

[2018-11-13 07:40] #22 closed

[2018-11-15 08:19] idoyehe opened #23 "Pywren doesn't get result when there are many"
Recently I notice that when Im trying to get a dozens of results (for example just using map without reduce) the pywren getting stuck and never return with the result.

Notice: my plan in IBM-Cloud is lite and it may be related

[2018-11-15 18:47] JosepSampe commented on #23
Now PyWren makes 5 retries in a row if the invocation fails. I was aware that if some activation fails after 5 retries due limits overcome, then it is not possible to get the result: [see here](https://github.com/pywren/pywren-ibm-cloud/blob/master/pywren/pywren_ibm_cloud/executor.py#L120).

I already discussed a bit with @gilv how to handle this.

[2018-11-15 18:54] idoyehe commented on #23
I think you miss undestand me, I mean when I want to execute a fucntion over a list of dozens or hundreds of elements and to get them back (without a reducer just using map) the getting results function getting stucks in the middle of the operartion.. it is working only for few elements

[2018-11-15 19:18] JosepSampe commented on #23
hmmm... can you provide the code you use?

[2018-11-15 19:54] idoyehe commented on #23
I attached my code and a screenshot of what I mean…
I have to notice that this problem is not happens all the time and only in some of the executions.

Please don’t distribute that code we are about to publish some insights related to pywren about it…

Thank You,
Ido

[2018-11-15 21:01] JosepSampe commented on #23
I found the issue, it is solved in Pull #24

[2018-11-15 21:03] idoyehe commented on #23
Thank you for fast response

[2018-11-16 13:48] idoyehe commented on #23
I just test it and it seems you fixed it

Thnak you

[2018-11-18 09:41] gilv commented on #10
Assigned to @omerb01

[2018-11-18 11:51] gilv commented on #12
WIP in https://github.com/pywren/pywren-ibm-cloud/pull/25

[2018-11-18 11:51] gilv commented on #16
WIP

[2018-11-19 11:06] gilv opened #26 "map() and map_reduce() are not consistent"
Seems we need refactor both methods. So far map_reduce() contains many COS logic, while map doesn't. Since we not always need reduce but need COS related logic,  we may call map_reduce(.. reduce = None ). This is wrong.
We need map() to support COS as well, similar to map_reduce method..

Perhaps the best would be to call map() from map_reduce() and move COS related logic to map(). This will cover

[2018-11-20 11:28] gilv opened #27 "issues with gevent version and inconsistency with openwhisk - to monitor"
Our Docker image is based on https://github.com/apache/incubator-openwhisk-runtime-docker/releases.  The following pull request https://github.com/apache/incubator-openwhisk-runtime-docker/pull/62 upgraded gevent and flask versions, however there is no release that contains this pull request.

For now we can't upgrade requirement.txt with recent gevent versions as it will hit version incompatibili

[2018-11-21 10:51] idoyehe opened #28 "Trying to create 1500 action and get this error"
{'code': '9511365e7ea98da657cca71c82673422', 'error': 'Too many concurrent requests in flight (count: 600, allowed: 600).'}

[2018-11-21 10:52] gilv commented on #28
@JosepSampe is the retry suppose to handle this situation?

[2018-11-21 11:32] JosepSampe commented on #28
@gilv Nop. We discussed last week this situation, in order to implement delayed retry, like 5secs frst retry, 10secs 2nd, 30secs 3rd .... But it is not solved. I added some commented code [here](https://github.com/pywren/pywren-ibm-cloud/blob/master/pywren/pywren_ibm_cloud/invokers.py) (lines 45 and 48). But we should discuss if it is enough or not.

[2018-11-21 13:54] JosepSampe commented on #28
Added retry logic in pull request #29

[2018-11-21 18:17] idoyehe commented on #28
It is possible to increase the allowed concurrent requests?

[2018-11-22 07:17] gilv commented on #28
@idoyehe can you please checkout the code, rebuild and retest? Josep has implemented the retry logic, it's configurable, make sure you update your configuration file with
    #data_cleaner: <True/False>
    #invocation_retry: <True/False>
    #retry_sleeps: [1, 5, 10, 20, 30]
    #retries: 5

Default is True. You can experiment with retry_sleeps and use different seconds.
thanks

[2018-11-22 15:54] gilv commented on #26
@JosepSampe any input? ;)

[2018-11-23 10:41] JosepSampe commented on #26
@gilv I'm doing some tests to see which is the best approach ;)

[2018-11-23 11:46] idoyehe commented on #28
I dont get this error anymore but the all process of creating the actions and execute them becomes much slower

[2018-11-23 12:12] gilv commented on #28
@idoyehe errors or warning prints? It is slower if we run more actions then concurrency allows.

[2018-11-23 12:17] gilv opened #31 "pickle may have issues with nested classes"
PyWren uses pickle to serialize and deserialize the code. If the code contains nested classes, then pickle may fail to properly deserialize the nested class and will lookup in the package level. This might produce an error  [ERROR] jobrunner: There was an exception: module '__main__' has no attribute 'XYZ'

Not sure what can be done. This issue is to document the current behavior.

[2018-11-23 13:22] JosepSampe commented on #31
In concrete, PyWren uses [Cloudpickle ](https://github.com/cloudpipe/cloudpickle) to serialize. I saw a (more than likely) related issue: https://github.com/cloudpipe/cloudpickle/issues/53 Maybe we should open an issue directly in the Cloudpickle github.

[2018-11-23 14:20] idoyehe commented on #28
I tried to do what @JosepSampe butit seems the process that generate each action gets stuck

[2018-11-23 17:45] gilv commented on #28
@idoyehe if the flag set to False, then it fails because you reach maximal concurrency..

[2018-11-23 17:47] idoyehe commented on #28
it fails from the first one....

[2018-11-24 10:32] idoyehe opened #33 "When some activation fails get_results fails too"
Even when one of the activations fails the getting result function fails and throw this error:

    wait(fut_list, executor_id, internal_storage, throw_except)
  File "/action/pywren_ibm_cloud/wait.py", line 69, in wait
  File "/action/pywren_ibm_cloud/wait.py", line 121, in _wait
  File "/action/pywren_ibm_cloud/wait.py", line 121, in <listcomp>
AttributeError: 'NoneType' object has no attribute

[2018-11-24 13:08] gilv commented on #28
@JosepSampe @idoyehe i think the issue resolved as we have retry mechanism now

[2018-11-24 13:08] #28 closed

[2018-11-25 06:21] gilv opened #34 "conflicts with urrlib3 versions"
PyWren installs by default the most recent urllib3. current version is 1.24.1
This conflicts with ibm-cos-sdk-core (https://github.com/IBM/ibm-cos-sdk-python-core/issues/5)

error: urllib3 1.24.1 is installed but urllib3<1.24,>=1.20 is required by {'ibm-cos-sdk-core'}

[2018-11-25 19:01] gilv opened #37 "Delete for temp data fails when number of objects exceeds 1000"
Traceback (most recent call last):
  File "<string>", line 1, in <module>
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pywren_ibm_cloud-1.0.1-py3.6.egg/pywren_ibm_cloud/storage/cleaner.py", line 33, in clean_bucket
    clean_os_bucket(bucket, prefix, internal_storage)
  File "/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pywr

[2018-11-28 06:56] #37 closed

[2018-11-28 06:57] #10 closed

[2018-11-28 06:57] #12 closed

[2018-11-28 08:02] gilv commented on #33
This seems to happen when futures is None.
For example one way to reproduce it is to have reducer with signature
def my_reduce_function(results) ( proper way is def my_reduce_function(results, futures) ).
In this case wait.py will fail at 'not_done_futures = [f for f in fs if not f.done]'.

[2018-11-28 11:34] JosepSampe commented on #33
Yep, this happens when a future is None. It will also happen when an invocation fails after X retries. @gilv Which should be the correct behaviour? Ignore the failed activations?

[2018-11-28 11:47] gilv commented on #33
@JosepSampe perfect point...you are 100% right, this also happens when retry fails.
need to think what is correct behavior in this case.

[2018-11-29 10:44] gilv commented on #33
@JosepSampe giving it another thought - let's start that we want to run 100% of actions and we will make longer retries. If some action failed for some reason - we will fail the entire results. I just wonder, can we throw more friendly message that explains "action XYX failed therefore  job is failed" instead of "AttributeError: 'NoneType' object has no attribute 'done'" ;)

[2018-11-29 17:13] JosepSampe commented on #33
@gilv Done in Pull #40

[2018-11-29 17:18] JosepSampe commented on #31
I finally been able to reproduce the error after moving the code of your notebook to a python file. I think it is not a pickle issue, but how a library is imported, concretely **numpy** module.

So to avoid the issue, change:
`from numpy import exp, random`
to
`import numpy as np`

And then in the code use `np.exp` and `np.random`

[2018-12-01 09:59] idoyehe opened #41 "NumPy import error"
My concurrent limit is 1000 when im trying to execute 1001 actions i get this error:

[code]
and it seems because the pywren is trying to import NumPy from wrong folder... in my macbook NumPy installation folder is:
`/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/`

![image](https://user-images.githubusercontent.com/26602913/49326819-8ad9df80-f560-11e8-924b-c888a0360

[2018-12-01 10:05] JosepSampe commented on #41
@idoyehe Ensure you imported numpy like: `import numpy as np` and not `from numpy import dtype`. Then use `np.dtype` in the code

[2018-12-01 10:13] idoyehe commented on #41
I just tried what you are suggested and fro 1001 it is working but for 2000 I get the same error... and what odd is that this error never happens when I execute actions no more than my limit... and i was NumPy in my code but not dtype explicitly...

[2018-12-01 10:36] JosepSampe commented on #41
@idoyehe you got same error with dtype? Exception is produced in your local machine or within reduce function?

[2018-12-01 10:42] idoyehe commented on #41
Yes again with dtype... and if I get you right it is happen in my local machine, see the picrute above I debuged it and watch the sys.path veriable..

[2018-12-01 10:49] JosepSampe commented on #41
@idoyehe The exception is propagated from function to local machine, so I suspect that it is produced within the function. Can you verify the log of the reduce-method by `bx wsk activation logs <activation_id>`

[2018-12-01 11:03] idoyehe commented on #41
[code]
@JosepSampe

As well I tried to execute my code in watson stdio and I get the same error... and again I want to be clear this error happens ONLY when I try to execute more than my concurrent limit...

[2018-12-01 15:03] idoyehe commented on #41
I think I solve it with reinstall the envirment...

[2018-12-01 16:37] JosepSampe commented on #41
Not sure what is happening, you should get same behaviour for all activations. Are you using native runtime or custom? In my case I solved the issue by changing the import as I explained before. It may be related to this other issue also with numpy: #31

[2018-12-03 10:17] idoyehe commented on #41
update: in my friend account it doesn't happen... we are executring the same code from the same computer

so what could cause that problem?

@JosepSampe @gilv

[2018-12-03 14:49] JosepSampe commented on #41
@idoyehe Are you using same region, same runtime?

[2018-12-03 19:00] idoyehe commented on #41
yes same runtime and region...
@JosepSampe

[2018-12-05 18:00] idoyehe commented on #41
@JosepSampe Thank you, I think it solves the problem

[2018-12-08 08:10] #41 closed

[2018-12-08 11:52] gilv opened #48 "issues with map() method on COS bucket"
I have a function

def my_map(bucket, key, data_stream, ibm_cos).

I need to run this function on every object in the bucket ( with prefix )
Tried

input_data = 'mybucket/a/b/c'
pw = pywren.ibm_cf_executor(config=config, runtime='my run time')
pw.map(my_map, input_data)
results = pw.get_result()

DEBUG:pywren_ibm_cloud.cf_connector:Executor ID b00873ee-d75a Function 00000 - Activation ID: 6a47f9a7

[2018-12-08 11:53] gilv commented on #48
@JosepSampe can you help with this one please?
This worked before when i did
pw.map_reduce(my_map,my_input, None, None ) ( one None for reduce, second None for chunk size ). But this also doesn't work anymore

[2018-12-08 12:16] JosepSampe commented on #48
I think you need to merge Pull #45

[2018-12-08 13:06] JosepSampe commented on #26
@gilv Task done in #49

[2018-12-08 13:08] JosepSampe commented on #48
@gilv I commit final changes to add full consistency between map() and map_reduce(). May you need to merge Pull #49 to fix this issue.

[2018-12-08 19:48] #48 closed

[2018-12-18 17:22] #33 closed

[2018-12-18 17:56] idoyehe opened #51 "Time of getting result increase significantly when result few MB"
While executing my code using IBM - PyWren and reviewed the innovations graph I notice that I got the result after 145 sec but in the graph all job results fetched after ~12 sec.
Therefore I thought my reducer function is the bottleneck, so I decide to make a "dummy reducer function" that do nothing and return an empty dictionary...Indeed this reduce the execution time to
 ~ 23 sec. the next thing

[2018-12-18 18:23] JosepSampe commented on #51
@idoyehe looking at the plot, did you create it with the python notebook?

[2018-12-18 18:32] JosepSampe commented on #51
Are you running your app code from a python notebook or from a .py file?

I say this because if you use a .py file, I integrated into PyWren a method that generates the plots. So you can avoid some code and simply use this method. Read this: https://github.com/pywren/pywren-ibm-cloud/pull/50

Also, it is preferable to upgrade PyWren to last commit, as I slightly changed the way to retrieve results

[2018-12-18 18:40] JosepSampe commented on #51
@idoyehe so, when you have everything updated, can you paste here the log of the reduce function when result is 5 MB?

[2018-12-18 18:43] idoyehe commented on #51
amazing just tried it it works great!

[2018-12-18 19:13] idoyehe commented on #51
@JosepSampe
`2018-12-18T19:04:30.862037967Z stdout: [INFO] __main__: Starting IBM Cloud Function execution
2018-12-18T19:04:30.862146212Z stdout: [INFO] wrenhandler: Starting handler
2018-12-18T19:04:30.862675176Z stdout: [INFO] wrenhandler: About to execute 'python pywren_ibm_cloud/action/jobrunner.py /tmp/jobrunner.config.json'
2018-12-18T19:04:30.867279067Z stdout: [INFO] wrenhandler: launched

[2018-12-18 19:14] idoyehe commented on #51
@JosepSampe

2018-12-18T19:04:30.862146212Z stdout: [INFO] wrenhandler: Starting handler
2018-12-18T19:04:30.862675176Z stdout: [INFO] wrenhandler: About to execute 'python pywren_ibm_cloud/action/jobrunner.py /tmp/jobrunner.config.json'
2018-12-18T19:04:30.867279067Z stdout: [INFO] wrenhandler: launched process
2018-12-18T19:04:31.474301928Z stdout: [INFO] jobrunner: Jobrunner started
2018-12-18T

[2018-12-18 19:20] idoyehe commented on #51
@JosepSampe
When returning an empty dictionary:
[returned empty dict.txt](https://github.com/pywren/pywren-ibm-cloud/files/2691934/returned.empty.dict.txt)

When returning the 5MB list (inside dictionary):
[returned list indside dict.txt](https://github.com/pywren/pywren-ibm-cloud/files/2691938/returned.list.indside.dict.txt)

just want to explain that this job use partioner on a file in COS so th

[2018-12-18 19:34] JosepSampe commented on #51
@idoyehe These logs are from partitioner. I need logs from reducer ;)

[2018-12-18 19:39] idoyehe commented on #51
[returned empty dict.txt](https://github.com/pywren/pywren-ibm-cloud/files/2691996/returned.empty.dict.txt)

[returned list indside dict.txt](https://github.com/pywren/pywren-ibm-cloud/files/2691998/returned.list.indside.dict.txt)

[2018-12-18 19:48] JosepSampe commented on #51
Ok... as I thought, this issue is related to cloudpickle. It takes 1 minute to pickle 5MB of data... that it is converted to 36MB of pickled information.

I already was aware that cloudpickle takes long to pickle MB information. I think @gilv already did tests on this.

As I don't have the code of your app and the related data in COS, you can try to modify (locally in your laptop) the code of PyWr

[2018-12-19 06:34] gilv commented on #51
@idoyehe thanks for reporting this. @JosepSampe may be we move to pickle instead of cloudpickle?

[2018-12-19 07:14] idoyehe commented on #51
@JosepSampe I did what you suggested change the line, reinstall PyWren, and redeploy again...
but I could see improvement: the runtime is ~47 sec when return the list and ~16 sec when returning an empty dict....

here the log file of the reducer:
[returned_list_inside_dict.txt](https://github.com/pywren/pywren-ibm-cloud/files/2693643/returned_list_inside_dict.txt)

by the way there is no other pac

[2018-12-19 09:33] idoyehe commented on #51
Tooks me arround 44 sec without returning run_statuses and invoke_statuses and arround 50 sec with retruning them

[2018-12-19 09:40] JosepSampe commented on #51
@idoyehe ok
Just wanted to understand why if you return 5MB of data, output.pickle file takes 56.9MB... You can see this at the end of the log.

[2018-12-19 09:56] idoyehe commented on #51
@JosepSampe
if I execute this process locally on my computer and export the retuned list to a text file the text file size is arround 24 MB and the size of the python object is 4.8 MB (calculating it using sys.getsizeof(result_list))

Can we say the pickle overheads is 33 MB ? sounds like too much?

[2018-12-19 09:59] idoyehe commented on #51
@JosepSampe
if I execute this process locally on my computer and export the retuned list to a text file the text file size is arround 24 MB and the size of the python object is 4.8 MB (calculating it using sys.getsizeof(result_list))
Then I executed the code using pywren just returning my list (without run_statuses and invoke_statuses) and after reviewing the log of the reducer the output.pickle s

[2018-12-19 10:05] JosepSampe commented on #51
In my experience, don't take `sys.getsizeof` into account as it does not return correct size number when using over dicts or lists, or complex objects.

Yep, seems the overhead of pickle is 28MB

[2018-12-19 10:11] idoyehe commented on #51
@JosepSampe So it is more than 100% overhead is sounds way too much...

There is no other methods to preform that job?

[2018-12-19 10:18] JosepSampe commented on #51
@idoyehe What are you pickling? becasue as stated here: https://stackoverflow.com/questions/31304006/why-is-there-a-large-overhead-in-pickling-numpy-arrays , pickling is just a binary copying. So if you store the list in a text file, it only stores the numbers, howver, when pickling, it stores the complet object.

[2018-12-19 10:50] #26 closed

[2018-12-19 10:50] #31 closed

[2018-12-19 15:40] idoyehe commented on #51
@JosepSampe
You right i found a way to make my object much more simple without array and the overhead reduced significantly

[2018-12-20 06:40] gilv opened #54 "deploy_runtime doesn't take correct versions from requirements.txt"
Current requirements.txt has ibm-cos-sdk == 2.3.3
I modified it to ibm-cos-sdk == 2.4.0 .
Executed ./deploy_runtime, however ibm-cos-sdk was not updated to 2.4.0

[2018-12-20 07:18] gilv opened #55 "enable configurable logging level via configuration"
Current code contains statements like
wrenlogging.ow_config(logging.DEBUG)
level = logging.DEBUG ( jobrunner )

We need to extend configuration and control in runtime the logging level we want to have. This configuration will be used as a logging level for all PyWren components

[2018-12-20 09:41] JosepSampe commented on #55
Instead of configuration, wich is fixed for all pywren executions, IBM-PyWren already contains a parameter to set internal log level:

`pw = pywren.ibm_cf_executor(log_level='DEBUG')`

However, code executed in CF does not get this configuration. It should be propagated.

[2018-12-20 09:43] JosepSampe commented on #54
`./deploy_runtime` uses an already build docker image: `ibmfunctions/action-python-v3.6`, so it doesn't take into account modifications in requirements.txt

[2018-12-20 09:46] gilv commented on #54
@JosepSampe so how can we control cos-sdk there...or we can't for default one as it uses whatever is installed in cloud functions?

[2018-12-20 10:06] JosepSampe commented on #54
We can't. However, it is usually updated with latest packages. In my case this image contains ibm-cos-sdk == 2.4.0

[2018-12-20 10:19] JosepSampe commented on #27
I think that in fact this is not an issue. Our code uses last Dockerfile and requirements from https://github.com/ibm-functions/runtime-python/tree/master/python3.6 , so they are consistent.

[2018-12-20 16:48] #54 closed

[2018-12-20 16:51] gilv commented on #55
The default if log_level is not provided should be INFO (to reduce number of log prints )

[2018-12-20 17:56] idoyehe commented on #34
I got this error today when i reinstall all the environment from scratch...
I solve it by installing urllib3 1.23 manually

[2018-12-20 18:07] gilv commented on #34
@idoyehe thanks

[2018-12-20 18:09] idoyehe opened #58 "pandas, seaborn and matplotlib required for plots and not in Pywren requirements"
I just install my project environment from scratch as well last version of IBM - PyWren and when trying to call the new function of creating invocation graphs I got that "pandas", "seaborn" and "matplotlib" packages are required for it but not install... (import of then exist in plots.py file)

Can you please add those packages to IBM - PyWren requirements that will be great, that way the user sho

[2018-12-20 18:35] gilv opened #59 "issues with ./deploy_runtime clone running within Watson Studio"
I used Watson Studio notebook and executed
`!cd pywren-ibm-cloud-master/runtime && ./deploy_runtime clone cactusone/pywren:3.5`

This failed running the script, as there is no pywren.config file in local environment.

`create_blackbox_runtime(image_name)
  File "./deploy_runtime", line 70, in create_blackbox_runtime
    config = wrenconfig.default()
  File "/opt/conda/envs/DSX-Python35/lib/python3

[2018-12-20 19:09] JosepSampe commented on #59
If you want to send a dictionary as an input of a command, it should be serialized and transformed... It requires more lines of code.

If `pyyaml` package is integrated in Watson Studio, maybe better way to do this right now is to store the config dict into a file with:
[code]

[2018-12-20 19:21] JosepSampe commented on #34
Seems that in pip repository there is still ibm-cos-sdk = 2.4.0 , wich produces the issue, and not 2.4.1, wich solves the issue.

[2018-12-20 19:30] idoyehe commented on #34
You right pywren installed in my local computer automataclly  ibm-cos-sdk = 2.4.0 when building the environment

[2018-12-21 06:17] gilv commented on #59
@JosepSampe thanks.  i will handle this one, i think there is alternative easy way for notebooks to close runtime, without storing config file

[2018-12-23 19:12] idoyehe commented on #58
Thanks @JosepSampe

[2018-12-23 19:47] idoyehe commented on #34
I installed the my project  environment from scratch again and pip instal from me ibm-cos-sdk = 2.4.2 which seems to solve this issue....

[2018-12-23 19:49] #58 closed

[2018-12-28 12:35] chen116 opened #62 "Running on Private OpenWhisk Cluster"
Hi,

Just came across with this project, nice work!
Is it possible to use pywren-ibm-cloud with my own OpenWhisk cluster? I imagine it would require some modification, but just want to make sure it is possible before I dive deep into the repo.

Thanks!

[2018-12-28 18:15] chen116 opened #63 "IBM COS SSL validation fail"
Hi,

I am trying to use pywren-ibm with IBM cloud function and ibm cos,
after setting up an ibm cloud account  and editing the `~/.pywren_config` file, I am able to do `./deploy_runtime`
but when I try to execute `python3 test/testpywren.py init` , I got the following error:

I also tried with this end point `https://s3.us.cloud-object-storage.appdomain.cloud` but still got the same error. How sho

[2018-12-29 04:44] chen116 commented on #62
Hi,

I was able to run `./deploy_runtime` in `/pywren-ibm-cloud/runtime` with a few tweaks:
1. disable ssl verification in https://github.com/pywren/pywren-ibm-cloud/blob/915ef8bd70492eea4ddc818e258682140baf4071/pywren/pywren_ibm_cloud/cf_connector.py#L88
2. change the timeout and memory limit for the runtime.

But I am getting error from SSL validation failure for ibm cos, when I try to run test,

[2018-12-29 08:07] gilv commented on #63
@chen116 this seems to be configuration issue related. What is COS bucket you configured  in PyWren runtime? Can please you copy-paste your config file ( without credentials of course ) ?

[2018-12-29 13:36] chen116 commented on #63
Hi,

Thanks for the reply, my conig file like a bit like this:

[code]
Also I am not able to create my own runtime, for example, when I run `./deploy_runtime clone python/3.5-stretch` the error I got is also related to ssl validation:

Thanks,

[2018-12-29 17:11] gilv commented on #63
@chen116 do you have an existing bucket that has a name "pywrenbuck" ? This bucket need to be existed in advance prior you use it with PyWren. (Also make sure that bucket exists in the same region as you provided "s3-api.us-geo")

[2018-12-29 17:16] gilv commented on #63
@chen116 few other issues i just notice:
What is python/3.5-stretch ? Is this image you created somehow?

what is your Python version you are using, is it 3.5 or 3.6?
If you use 3.5, then you can try to experiment with this command:
./deploy_runtime clone cactusone/pywren:3.5
this will clone 3.5 from my docker hub.. alternative you can edit Docker file, modify 3.6 to 3.5 and deploy it with your do

[2018-12-29 21:33] chen116 commented on #63
Hi, thanks again for ur patience,

yes, I created the bucket "pywrenbuck" and obtained apikey thru the newly created Service credentials.      I also changed the correct endpoint where my bucket is located at "https://s3.us-east.cloud-object-storage.appdomain.cloud"   Still doesn't work.    I also tried the ACCESS_KEY and the SECRET_KEY for ibm cos, but still having the same error about SSL valida

[2018-12-30 00:58] chen116 commented on #63
Hi,
So I solved the issue, well, more like get around with it. So I was running pywren inside a vm in an openstack cluster, it must have been sth in the networking that caused the issue. Still, thanks for your replies along the way!

[2018-12-30 06:49] gilv commented on #63
@chen116 glad it worked

[2018-12-30 06:49] #63 closed

[2018-12-31 10:51] #62 closed

[2018-12-31 11:26] omerb01 opened #66 "functions' args pattern"
We should consider to define a strict pattern for each external function in pywren so code like below can be understood properly:

[code]

[2018-12-31 23:07] idoyehe commented on #66
@gilv I agree with @omerb01 I tried to to it with dict and it forced me to write each key of the dict as function argument

[2019-01-01 07:42] gilv opened #67 "deploy_runtime may choose wrong PyWren version"
local Python may contain previous PyWren releases. For example

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pywren_ibm_cloud-1.0.1-py3.6.egg:
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/pywren_ibm_cloud-1.0.2-py3.6.egg:

Running ./deploy_runtime will choose the most updated version from the version.py

However running code that im

[2019-01-02 12:25] chen116 opened #68 "concurrency/massive function spawning"
Hi,

I have two 2 questions about concurrency

1.

In the paper(https://dl.acm.org/citation.cfm?id=3284029), _massive function spawning_ is mentioned and  I am wondering how to enable/configure it as a user. I looked into the source code. and I assume the parameter` invoke_pool_threads` corresponds to the _massive function spawning_  mechanism? For example, quoting from the paper :

so in that exa

[2019-01-02 13:13] gilv commented on #68
@chen116 This is how you can provide those parameters

    pw.map_reduce(my_map_function, iterdata, my_reduce_function,
    reducer_wait_local=False, remote_invocation=True, invoke_pool_threads=10)

[2019-01-02 14:00] chen116 commented on #68
Thanks for the reply, so am I right about the statement below?

**so in that example, say the original script need to run 1000 functions, then to achieve this "10 groups of 100 invocations", user specify `invoke_pool_threads=100` and `remote_invocation=True` ?**

Thank you very much

[2019-01-02 16:07] gilv commented on #68
@chen116 I think so, but to be on the safe side - @JosepSampe can you confirm this? Thanks

[2019-01-03 12:22] gilv commented on #66
@omerb01 @idoyehe
I just tried

     iterdata = [{1,2}, {3,4}]
     def my_map_function(x, ibm_cos):
       res = {0}
       for i in x:
        res.add(i+7)
      return res

Works perfect. There were 2 invocations, each got a single entry which is {1,2} and {3,4}

What exactly doesn't work?

[2019-01-03 12:49] gilv commented on #66
@idoyehe it works also with function like this

     def my_map_function(x):
     res = {0}
     for i in x:
         res.add(i+7)
     return res

This one iterdata = [{"first": 1}, {"second": 2}]  doesn't work. Is this what you need?

[2019-01-03 12:57] idoyehe commented on #66
no exactly,
[code]
this generic code let me to change the "my_dict_parser" for PyWren different executors and the map function does not dependents on dict content, the keys.

Motivation: Think that the inner function is pickled so I can change it before execution but I don't need to change my PyWren execution logic for every other inner function...

[2019-01-03 13:00] gilv commented on #66
@idoyehe sorry, what you need? in this case iterdata = [{"first": 1 "second": 2}, {"first": 3 "second": 4}] what you expect each action to get as parameter? and how many invocatio it suppose to have based on this example?

[2019-01-03 13:02] idoyehe commented on #66
@gilv
 in this case iterdata = [{"first": 1 "second": 2}, {"first": 3 "second": 4}] I expect to be 2 invocations that:
in the first one my_dict = {"first": 1 "second": 2}
in the second one my_dict =  {"first": 3 "second": 4}

[2019-01-07 13:15] gilv opened #69 "Support cos:// for execution timeline plots"
Current code supports local directory to generate timeline plots

    pw = pywren.ibm_cf_executor()
    futures = pw.map(my_map_function, range(200))
    result pw.get_result()
    pw.create_timeline_plots(dst='/home/jsampe/desktop', name='testmap')

Map-Reduce: (need to return statuses from reduce, for now)

    pw = pywren.ibm_cf_executor()
    futures = pw.map(my_map_function, range(200), my_re

[2019-01-07 13:27] omerb01 opened #70 "Support multiple PyWren executions on the same executor"
we need to improve executor class for executing multiple map functions on the same executor.

for now, we have to init an executer before each function run:
[code]

we need to be able to run PyWren like below:
[code]

[2019-01-07 13:59] idoyehe commented on #69
Nice feature, maybe you should consider add a bucket name for invocation graphs in PyWren configuration file

[2019-01-07 14:03] gilv commented on #69
@idoyehe I guess it is enough to have `cos://<mybucket>/<path to new object>`.
The bucker already in configuration file, no need additional special bucket for this

[2019-01-07 16:40] gilv opened #72 "https://git.io/fhe9X should use latest release and not master branch"
We need to make sure that this script

    try:
        import pywren_ibm_cloud as pywren
    except:
        !curl -fsSL "https://git.io/fhe9X" | sh
        import pywren_ibm_cloud as pywren

will pull the latest stable release and not master branch

[2019-01-08 06:53] gilv opened #73 "enable configuration to control create actions"
deployutil.py uses hard coded values for timeout and memory.

    cf_client.create_action(runtime_name, memory=512, timeout=600000,
                                 code=action_bin, kind='blackbox', image=image_name)

We need to provide a way to configure those values by using configuration parameters

[2019-01-08 08:05] gilv opened #74 "PyWren actions ( default, user based ) shoud have dynamic suffix name"
There might be issues when multiple users using the same CF account. In this case users who deploy actions with the same name, may overwrite each others actions without notificaiton.

We should create actions with suffix having user identification, this way action names will be unique

[2019-01-09 06:37] JosepSampe commented on #68
@chen116 Not exactly. Massive function spawning is designed to speed-up invocation phase when client is located in a high-latency (remote) network, and it is only activated with `remote invocation=True`. It uses a fixed group size of 100 invocations, not configurable for now. This fixed number comes from multiple tests with IBM Cloud functions, where 100 was the best number to do this task.

Alter

[2019-01-09 06:42] JosepSampe commented on #66
There are multiple formats to send args to the functions, all are explained [here](https://github.com/pywren/pywren-ibm-cloud/blob/master/examples/multiple_parameters_map.py). Maybe it should be moved to a README ;)

@idoyehe I think that what you need is to enclose your dict into a list:
 `[
  [{"first": 1 "second": 2}],
  [{"first": 3 "second": 4}]
 ]`

[2019-01-09 07:04] JosepSampe commented on #70
Right now there is a couple of ways to execute what you want:
[code]

or something like this:

[code]

[2019-01-09 07:39] gilv commented on #70
@JosepSampe thanks for making this clear

[2019-01-09 07:39] #70 closed

[2019-01-09 07:41] gilv commented on #66
@idoyehe @omerb01 so based on the response from @JosepSampe it seems we simply failed to read our own example where all is perfectly explained ;) Can we close this or somethign else you need to support?

[2019-01-09 07:57] JosepSampe commented on #67
hmm... Which command did you use to install PyWren? I did some tests and in my case with PIP, it always overwrites previous PyWren version.

[2019-01-09 08:03] idoyehe commented on #66
@JosepSampe @gilv Ok thanks...

[2019-01-09 08:22] gilv commented on #66
@idoyehe so based on the input from our mighty @JosepSampe I am closing this one

[2019-01-09 08:22] #66 closed

[2019-01-09 08:38] JosepSampe commented on #68
@chen116 Yes, it is all correct.

[2019-01-09 12:12] #72 closed

[2019-01-09 12:45] gilv commented on #67
navigate to pywren folder and run 'python setup.py install --force'
Hpw pip works for you? pip uses repository, no?

[2019-01-09 20:58] JosepSampe commented on #67
I think that it is not a Pywren releated bug, resd [this](https://stackoverflow.com/questions/19133831/python-how-to-force-overwriting-of-files-when-using-setup-py-install-distutil).

pip uses repository or local directory where setup.py is located. In my case I always navigate to pywren-ibm-cloud and then I use `pip install -U .` which prevents this issue.

[2019-01-12 12:11] idoyehe commented on #73
@gilv solve in pull request #78

[2019-01-13 06:28] gilv opened #79 "tests doesn't work"
Getting "can't open data file" when try to run tests. Seems doesn't work.

    python3 test/testpywren.py init
    can't open data file
    pywren-ibm-cloud me$ ls test/
             data		testpywren.py
    pywren-ibm-cloud me$ cd test/
    test me$ python3 testpywren.py init
        can't open config file

@omerb01 Can you check this please?

[2019-01-13 06:34] gilv commented on #67
@JosepSampe it is a  general Python related question, which i would like to document to prevent similar issues.  You suggest:

    cd pywren-ibm-cloud/pywren
    pip install -U .

Instead of

    cd pywren-ibm-cloud/pywren
    python3 setup.py install --force

Is this correct?

[2019-01-13 07:53] JosepSampe commented on #67
@gilv yes, that's right

[2019-01-13 08:15] #73 closed

[2019-01-13 08:58] omerb01 commented on #79
thanks,
fixed it on https://github.com/pywren/pywren-ibm-cloud/pull/80

[2019-01-13 10:03] #79 closed

[2019-01-13 10:04] gilv commented on #68
@chen116 @JosepSampe thanks. closing this one

[2019-01-13 10:04] #68 closed

[2019-01-15 09:00] #74 closed

[2019-01-19 13:21] #67 closed

[2019-01-28 14:03] gilv opened #81 "clean data from failed job"
I created a bugy code to run over 1000 objects from object storage.
PyWren generates 1000 tasks and each task will fail. In this case, each task generates status.json and output.pickle , resulting in 2000 objects.
As Job failed so data was not deleted from the object storage

We need to fix this so PyWren will cleanup data from all tasks when job is failed.

[2019-02-04 09:21] gilv opened #83 "Install script to get (optional ) version number as an input"
Users who uses

      curl -fsSL "https://git.io/fhe9X" | sh

have no control over which version is installed as this scipt pull latest release. This is good for many cases, however we need to have an option to provide version number of specific release as an input to this script. If no version is provided, then latest will be used, as is today

[2019-02-14 06:20] #27 closed

[2019-02-17 08:15] omerb01 opened #85 "storage_handler usage"
we need support for using a storage handler that you can get externally from PyWren.

for example:
[code]
this will throw an error instead of export a storage handler:
[code]

[2019-02-17 08:27] gilv commented on #85
@omerb01 we call it ibm_cos and storage_handler...
we can add others in the future, like "ibm_db" or something...

[2019-02-17 11:00] gilv opened #86 "Cancel invocations"
Need to understand, enable if needed, and document - how to cancel job.
I assume for remote invocation we can simply kill the action, for client side based invocations we can simple do CTRL-C...

@JosepSampe any inputs from your side  how to make it right?

[2019-02-18 09:44] omerb01 commented on #85
@gilv thanks,
there is something wrong with `ibm_cos.get_object()` method,

when you use it like this:
[code]
you have to use `file['Body'].read().decode()` to access file's content
I think it would be better if it will just `file`

is there any alternative?

[2019-02-18 10:09] gilv commented on #85
@omerb01 i don't know about decode()...but this is standard boto3 library, widely used.
ibm_cos is just an instance of boto3, so we didn't invented anythign new here

[2019-02-18 10:12] omerb01 commented on #85
@gilv ok thanks

[2019-02-18 10:12] #85 closed

[2019-02-18 16:39] JosepSampe commented on #86
@gilv [here](https://github.com/pywren/pywren/blob/master/pywren/future.py#L76) they have implemented a way to cancel jobs by putting an object in S3. Then, `wrenhandler.py` is asking for this object each 5 seconds while the actual function code is running. Thus, when the object is there, the job is cancelled. This have the main trade-off that you may have thousands of functions asking for an obje

[2019-02-18 16:54] gilv commented on #86
@JosepSampe thanks for explanations...yeap, we definitely doesn't want X invocations bombing object storage every 5 seconds. The queue ideas seems does the trick

[2019-02-21 11:20] JosepSampe commented on #70
Fixed in https://github.com/pywren/pywren-ibm-cloud/pull/88
Thanks to check it @omerb01

[2019-02-24 18:15] omerb01 opened #89 "partitioner operation"
when I try to split a text file from COS into partitions, I think PyWren divides the bytes ranges wrongly. I figured out on file `partitioner.py` the following code in `line 103`:
[code]
so I understand that in addition to the `chunk_size`, another variable is added to the range: `CHUNK_THRESHOLD`. is it necessary? or maybe the `CHUNK_THRESHOLD` should be added to `size` variable?
because of this

[2019-02-24 20:30] gilv commented on #89
@JosepSampe CHUNK_THRESHOLD suppose to be less then row length , right?

[2019-02-25 08:26] gilv opened #90 "bucket used by PyWren and bucket used as input data"
Currently we extract bucket_name from provided path.
For example

     pw.map(my_func, 'data/input/d.txt')

PyWren will use 'data' as a bucket name and 'input/d.txt' as a key.
However the endpoint and credentials are used defined in the config, cos section. This section defines credentials for the bucket used by PyWren, defined in 'storage_bucket'

Thus if "data" bucket doesn't exists in the same

[2019-02-25 13:04] JosepSampe commented on #89
At this moment, `partitioner` module only makes partitions based on `chunk_size + CHUNK_THRESHOLD`. `CHUNK_THRESHOLD` is used to ensure that there is no split row at the end of each part. `Partitioner` doesn't know the content of the data, so it cannot make partitions based on the content. At the same time, `partitioner` doesn't know the length of the row (different rows may have different sizes),

[2019-02-25 13:23] gilv commented on #89
@JosepSampe may be we need partioner to work like this:
 read chunk + threashold long enough. Partioner internally search for the first "new line" in the chunk. When it found one, the rest is ignored.

Any invocation start reading in the middle of the line, ignore partial line.

This way it's alligned with both scenarios

How is this sounds?

[2019-02-25 13:33] JosepSampe commented on #89
@gilv This means that partitioner have to request data to COS, right? Then, partitoner internally search for the first "new line" in the added threshold (to ignore the rest of the threshold) not in the whole chunk, right?

[2019-02-25 13:41] gilv commented on #89
@JosepSampe yes...partioner will need to read some small range from COS, to know where line starts and ends..right, but partioner doesn't need to read entire chunk.
I don't sure actually...doing this way we add more requests, but it's more clean. Doing separation logic inside user's code, less requests, but very messy

[2019-02-25 15:24] JosepSampe commented on #89
@gilv Just one thing.. Some datasets contains fields with "new lines" inside. For example, the Airbnb dataset contains a filed called "Comment" where the users may write comments of 1000 characters with "new lines" inside them. Then, how to ensure that the found "new line" is the end of the row, and not a "new line" added as part of the content of a field?

[2019-02-25 18:10] gilv commented on #89
@JosepSampe just interesting thing ;) hmm..... I guess if  "new line separator" inside some brackets, then it's not really a new line.. what do you think?

[2019-02-25 20:54] JosepSampe commented on #89
@gilv I reviewed the airbnb dataset and comments are enclosed between double quotes: `"comments..."`. So yes, we can follow this approach.

[2019-02-25 21:22] gilv commented on #89
@JosepSampe so to summarize, the downside of this approach is that partitioner will likely to make 2 additional requests to the object storage, althoigh it will read very small sizes only to identify data 'borders', but if only counting REST calls - it will be about 2 more REST calls per chunck... correct?

[2019-02-27 10:08] omerb01 opened #92 "chuck size map operation on several keys"
when I use `map_reduce()` method with `chunk_size` on several keys, I get a list of results that I can't know easily which of them are splited chunks and which are the whole data from a key (different keys can lead to different files in various sizes).

I think it would be better if the chunks' results of each key would return in a list, so we will get a list that includes lists which each of them

[2019-02-27 11:36] JosepSampe commented on #92
@omerb01 Do you refer to map()? I don't know your code, but `map_reduce()` will return just one result, right?

[2019-02-27 12:12] omerb01 commented on #92
@JosepSampe yes, I refer the output from map function after using `map_reduce()` method (actually `results` variable in reduce function is what I referred to)

[2019-02-27 12:54] JosepSampe commented on #89
For the moment, in #91 I avoid this approach to query 2 times-per-partition to COS.
Now it can discard cut lines and unnecessary CHUNK_THRESHOLD on-the-fly.

[2019-03-03 08:35] omerb01 opened #93 "partitioner's logic throws exception with 1 chunk operation"
when I try to run `map_reduce()` operation with `chunk_size` bigger than the size of the file which I'm working on, an exception throws:
(for example - run `map_reduce()` with `chunk_size=4MB` on a file that its size is 2MB)
[code]

[2019-03-03 17:03] gilv commented on #93
@JosepSampe this happens with latest commit. Can you please check this?

[2019-03-04 09:47] JosepSampe commented on #93
@gilv Fixed in #94

[2019-03-04 10:36] JosepSampe commented on #92
@omerb01 so, do you need to differentiate between object keys in the same reducer? because alternatively you can use `reducer_one_per_object` parameter.

[2019-03-04 22:18] omerb01 commented on #92
@JosepSampe I think there should be difference in both cases.
if I use `reducer_one_per_object` feature instead of using the same reducer, I will need to execute another reducer to treat all results together so its quite messy

[2019-03-05 06:00] gilv commented on #93
@JosepSampe thanks

[2019-03-05 06:00] #93 closed

[2019-03-05 06:29] gilv commented on #92
@omerb01 why is this important to know which are splited chunks and which are the whole data from a key?

[2019-03-05 08:34] omerb01 commented on #92
@gilv it is necessary when you want to operate executions on several files, and in the end you need to process them into 1 result. In general, you have to know which element is a chunk of which file and who are the others for dedicated treats. so it would be better if you could treat each file with chunked sizes and reduce them easily into 1 result instead of getting several results of each elemen

[2019-03-06 01:45] gilv commented on #92
@omerb01 for example, word count or AirBnb example, this is not relevant, right? We just process chunk or file the same way

[2019-03-07 09:06] omerb01 commented on #92
@gilv I don't familiar with AirBnb example but in word count examples, if you process several files from cos in chunks, you won't know which file is a chunk and what file its belong to in the reducer - so you may split the file wrongly in a middle of a word and count 2 subwords instead of 1.

[2019-03-07 12:16] JosepSampe commented on #92
@omerb01  In the word count case, If the dataset is row-based, i.e., the dataset contains lines ended with "\n" (for example a common book), this case you mentioned will never happen with the new partitioner. If the dataset is a "bag of words", i.e., one after another without new lines ("\n"), it can happen. However we can adapt partitioner to avoid this issue.

[2019-03-07 12:37] omerb01 commented on #92
@JosepSampe
thanks for making it clear for the example.
maybe it will be better to set this by generic configurations so partitioner could split files by `chunk_size` and also will avoid cutting lines before special characters which the user provided them.
avoiding partitioner for cutting words before ' ' char (in case of "bag of words" example) will solve this case but probably don't all cases, s

[2019-03-07 15:47] JosepSampe commented on #83
@gilv Done in #96

[2019-03-10 19:10] idoyehe opened #97 "Deploy Python 3.7 action"
it seems that IBM cloud function already support python 3.7. you can review the it here:  [IBM Cloud Blog](https://www.ibm.com/blogs/bluemix/2019/02/ibm-cloud-functions-improves-performance-for-python-3-7-actions/)

The blog claim it is faster than python 3.6, it will be grate if the default runtime will be python 3.7

[2019-03-11 07:19] gilv commented on #97
@idoyehe thanks for reporting this...let me explore in more details and we decide on the next step. I put this on hold for now, as more need to be investigated

[2019-03-13 19:38] #83 closed

[2019-03-20 04:59] gilv commented on #55
Adding more to this thread, logging level should get to cos.py, that currently contains

    logging.getLogger('ibm_boto3').setLevel(logging.CRITICAL)
    logging.getLogger('ibm_botocore').setLevel(logging.CRITICAL)
    logging.getLogger('urllib3').setLevel(logging.CRITICAL)
    logger = logging.getLogger(__name__)

[2019-03-20 05:00] gilv commented on #55
@omerb01 can you please handle this?

[2019-03-20 06:19] gilv commented on #55
@JosepSampe we can provide log level as you suggested

     pw = pywren.ibm_cf_executor(log_level='DEBUG')

but this one also works, what is the difference, if any?

     import logging
     logging.basicConfig(level=logging.DEBUG)
     pw = pywren.ibm_cf_executor()

[2019-03-20 08:14] JosepSampe commented on #55
@gilv They are two different ways to set logging level.
The one integrated in PyWren (`pw = pywren.ibm_cf_executor(log_level='DEBUG')`) uses the wrenlogging.py module, that uses a personalized log format:
[code]

In contrast, the other case you need to import the logging  module and manually set the logging.basicConfig, which has another log format:
[code]
Maybe from a user perspective it is easie

[2019-03-20 09:46] omerb01 commented on #55
@gilv logging level gets already to cos.py
do you want to get information from packages `ibm_boto3`, `ibm_botocore` and `urllib3` also? cause currently for these packages, logging level is set to CRITICAL only.

[2019-03-20 09:47] gilv commented on #55
@omerb01 this is cos.py looks like

logging.getLogger('ibm_boto3').setLevel(logging.DEBUG)
logging.getLogger('ibm_botocore').setLevel(logging.CRITICAL)
logging.getLogger('urllib3').setLevel(logging.CRITICAL)
logger = logging.getLogger(__name__)

logging doesn't get there.

@omerb01 let's folllow suggestion from @JosepSampe above.

[2019-03-20 11:09] omerb01 commented on #55
@gilv as we discussed, added an option to get `boto3` logs on pull request #100

usage:
[code]

[2019-03-21 21:11] JosepSampe commented on #55
This issue is finally fixed in pull #102
Now functions have same log_level as the local PyWren

[2019-03-22 17:04] JosepSampe commented on #90
@gilv I was thinking how to face this, and I saw that IBM COS buckets and objects already contain an "SQL URL" in the COS dashboard. To get this url, you have to go to the last "tree points"(Bucket Actions) of the bucket row (as shown in the image):
![ibm_cos](https://user-images.githubusercontent.com/10448186/54839792-ea085f00-4ccb-11e9-9d32-b5e94567c0bd.png)

And the select and select "**SQL URL

[2019-03-24 09:09] omerb01 opened #105 "gather futures from multiple executions"
an issue that I noticed from the last commits,
PyWren can't run anymore multiple executions like in this example:
[code]
cause the result is the result of the last execution instead of all of the above.

[2019-03-24 09:19] gilv commented on #105
@JosepSampe any input? thanks

[2019-03-24 09:24] gilv commented on #105
@omerb01 is this issue somehow related this fix? https://github.com/pywren/pywren-ibm-cloud/pull/104

[2019-03-24 09:26] omerb01 commented on #105
@gilv no, this is only a simple fix for `map()` call inside `map_reduce()` method

[2019-03-26 10:12] JosepSampe commented on #105
@omerb01 I was doing some tests with this because the approach you suggested may produce inconsistent results when PyWren is used in notebooks. So finally I thought that the best approach is to keep internally only the futures of the last invocation.

For example, in the metabolomics notebook, you create the PyWren executor in one block:
`pw = pywren.ibm_cf_executor()`
and then use the same execut

[2019-03-27 09:07] omerb01 commented on #105
@JosepSampe thanks for the explanation.
In my opinion, this feature is useful cause it makes the code more clean and intuitive as well.
I suggest that `self.futures` of `ibm_cf_executor` struct would be appended by every PyWren execution and when you will operate `get_result()` method, `self.futures` will be cleared.
what do you think?

[2019-03-27 09:14] JosepSampe commented on #105
@omerb01 sounds good

[2019-03-28 15:02] JosepSampe commented on #105
Already fixed in #106

[2019-03-29 16:13] #55 closed

[2019-04-04 12:30] JosepSampe commented on #97
@gilv @idoyehe With pull #112 , Python3.7 becomes default runtime in PyWren (With this pull request, Python 3.5, 3.6 and 3.7 have default runtime). Now PyWren internally checks the Python version and deploys the appropriate runtime, totally transparent to the users.

I did some tests, and seems that the Python 3.7 runtime is better in the invocation phase than the Python 3.6 one:
Python 3.6 runtim

[2019-04-04 19:52] idoyehe opened #113 "create time plots after map does not working"
Hi @JosepSampe
I remember that I used the method "create_timeline_plots" right after getting result with path and job name and it used to create plots about the invocations in my local filesystem but it seems that something goes wrong with that because it doesn't work anymore...
That plot are not created and I debug the method and it seems self.future is an empty list...

Can you please check that

[2019-04-04 20:21] JosepSampe commented on #113
@idoyehe Yep, I already realized that. It is fixed with #112

[2019-04-04 20:31] idoyehe commented on #113
Thnaks, I found the problem in wren.py line 314 set self.future to an empty list...

[2019-04-04 20:31] #113 closed

[2019-04-05 02:47] gilv opened #114 "Monte Carlo example notebooks need to be adapted for new runtime management"
We need to make sure https://github.com/pywren/pywren-ibm-cloud/tree/master/examples/monte_carlo are synced with recent code changes due to #112

[2019-04-05 02:53] gilv opened #115 "Which runtime is being used"
Not sure there is an issue here, perhaps more usage related question.
I created runtime with ./deploy_runtime create cactusone/pywren-dev:3.6 then run our tests with python test/testpywren.py .
So far tests were using default runtime from the "action_name : pywren-dev_3.6 ".

But when i run tests it printed IBM Cloud Functions init for Runtime: ibmfunctions/action-python-v3.6 - 256MB (Installing..

[2019-04-05 04:10] JosepSampe commented on #115
@gilv Previous action_names were a bit confusing since they didn't include the origin of the runtime (`ibmfunctions/` , `cactusone/` , `jsampe/`), so once deployed, it was impossible to know it. Also, it was not possible to have, for example, these 3 runtimes deployed in the same namespace:
[code]
since they share same `pywren-dev:3.6`

Now, action_name = full_runtime_name.
Default runtime for pyt

[2019-04-05 04:26] JosepSampe commented on #114
@gilv Fixed in pull #116

[2019-04-05 05:48] gilv commented on #115
@JosepSampe thanks. great addition.

[2019-04-05 05:48] #115 closed

[2019-04-07 12:34] gilv commented on #114
@JosepSampe thanks

[2019-04-07 12:34] #114 closed

[2019-04-07 12:43] gilv commented on #97
Looks like we can close it..

[2019-04-07 12:43] #97 closed

[2019-04-10 21:25] spitfiredd opened #118 "Errors running testpywren.py"
I am getting errors when run `python testpywren.py`.

I am able run `python testpywren.py init` and i get the following outout

[code]

I can verify that these files have been created from the dashboard.

However, when I run `python testpywren.py`. I get the following,

[code]

Pretty much copied an pasted the config variables from, https://cloud.ibm.com/openwhisk/learn/api-key

![image](https://u

[2019-04-10 21:38] JosepSampe commented on #118
Hi @spitfiredd, config file seems to be ok.  Which operating system are you using?

[2019-04-10 21:53] spitfiredd commented on #118
Windows 10

[2019-04-10 22:14] JosepSampe commented on #118
I think the problem is how you set the config file location into path:
https://stackoverflow.com/questions/24782826/the-filename-directory-name-or-volume-label-syntax-is-incorrect-inside-batch

[2019-04-10 22:19] spitfiredd commented on #118
I have it stored in a `.env` file,

`PYWREN_CONFIG_FILE="D:\python\pywren-ibm\.pywren_config"`

[code]

[2019-04-10 22:34] JosepSampe commented on #118
Which PyWren version do you have installed?

[2019-04-10 23:00] spitfiredd commented on #118
I have both pywren and pywren-ibm-cloud installed in separate isolated virtual envs.

[2019-04-10 23:03] JosepSampe commented on #118
I mean, pywren-ibm-cloud version.
Because I think  `pywren-ibm-cloud==1.0.8` may solve the issue

[2019-04-10 23:04] spitfiredd commented on #118
[code]

[2019-04-10 23:07] JosepSampe commented on #118
thanks, will check what may happen

[2019-04-10 23:16] spitfiredd commented on #118
Oh! When I run this in a regular python terminal I get a traceback (an ipython shell wasn't printing the whole traceback)

I also copied all my info into a dict in a `config.py`.

[code]

[2019-04-10 23:29] JosepSampe commented on #118
Thanks, I think I already know how to fix it.
Just for replicating, how did you install your virtenv on Windows?

[2019-04-10 23:34] spitfiredd commented on #118
pipenv

[2019-04-11 11:44] #105 closed

[2019-04-11 14:23] omerb01 opened #119 "Process CSV files in chunks suggestion"
something I suggest to improve pywren's adaptability for any large data handling projects:

CSV files are usually processed by packages like pandas which use `read_csv()` method and create an instance of an efficient data handler called "DataFrame".
source: https://pandas.pydata.org/pandas-docs/stable/reference/frame.html

highlight supported features with this handler:
- iterating over data lines

[2019-04-11 17:32] JosepSampe commented on #119
@omerb01 I think that are well know the benefits of using pandas dataframes. I always use it when I need to efficiently read for example a CSV file, even with pywren. In the IBM-PyWren paper we write, I used pandas to work with AirBnB datasets. I mean, now, if someone wants to use a pd.dataframe, he only have to write:
[code]
And if someone don't want to use dataframe because he doesn't have (semi

[2019-04-11 18:32] JosepSampe commented on #118
@spitfiredd Already fixed in #120, Wait till @gilv merge it.

[2019-04-11 19:53] gilv commented on #118
@spitfiredd @JosepSampe merged

[2019-04-11 21:31] omerb01 commented on #119
@JosepSampe The main idea that made me open this issue is that currently PyWren's chunks logic is limited (only chunked size devision without breaking lines).

PyWren works usually with big data inputs so usually we need to implement parallel logic on the data which answers our purposes. In general, implement this desired parallel logic isn't always possible directly or isn't enough efficient and

[2019-04-11 21:39] JosepSampe commented on #119
Thanks @omerb01, I now fully understood what you suggest.

[2019-04-11 22:54] spitfiredd opened #121 "Windows: signal.SIGALRM is not compatible on windows."
It looks like the signal module has limited compatibility with windows, and `signal.SIGALRM` and `signal.alarm` are both only available on *nix based systems.

I am on windows 10, python 3.7.2

I came across,

- https://code.activestate.com/lists/python-list/693666/
- https://stackoverflow.com/questions/8420422/python-windows-equivalent-of-sigalrm

[code]

[2019-04-11 22:55] spitfiredd commented on #118
This fixes the issue.

[2019-04-12 03:15] #118 closed

[2019-04-12 12:33] JosepSampe commented on #121
@spitfiredd @gilv Fixed in #122

[2019-04-12 22:03] JosepSampe opened #123 "Low bandwidth accessing to COS from some activations"
I'm running an experiment that consists of 400 actions (in parallel) accessing to COS to read 250MB each one.

The problem is that, each time I run the experiment, there are always between 1 and 4 actions that, for some reason, get very low bandwidth. For example:
![bad_cos_bw](https://user-images.githubusercontent.com/10448186/56064813-66dea400-5d73-11e9-8ca2-ee4455c3c1ae.png)
As shown in the plo

[2019-04-13 17:28] gilv commented on #123
@JosepSampe thanks...trying also to figure out what might be wrong

[2019-04-13 17:28] gilv commented on #121
@JosepSampe thanks. @spitfiredd merged

[2019-04-13 17:52] JosepSampe commented on #123
@gilv My suspicious is that it is something related to CF cluster and not to PyWren itself. For the moment what I did is to log all the IPs where the functions are executed. And then log the IPs where those functions that slow-read from COS are executed .

This is an example of the distribution:
`{'192.168.0.10': 5, '192.168.0.11': 44, '192.168.0.12': 43, '192.168.0.13': 55, '192.168.0.14': 53, '1

[2019-04-13 17:59] JosepSampe commented on #81
@gilv This is fixed in #122, as long as you have `data_cleaner = True` in config.
https://github.com/pywren/pywren-ibm-cloud/blob/master/pywren_ibm_cloud/wren.py#L318

[2019-04-14 04:02] gilv opened #124 ""Verify" section in readme is not clear enough"
It seems that running python3 test/testpywren.py init requires to clone the project. However all previous steps explains how to use "pip install".

We need to adapt readme with explanation how to run tests if PyWren-IBM was installed with pip and also installed with clone?

[2019-04-14 04:08] gilv commented on #81
@JosepSampe data_cleaner = True will delete all data from successfull and failed jobs.. I wonder if cleaning partial results of failed jobs is the same as cleaning data from successfull jobs. Is there somethign different we can do with data from failed and successfull jobs?
I think to generate graphs requires data cleaner to be false, right? this is why we have default data_cleaner = false. Am i c

[2019-04-14 08:56] omerb01 commented on #124
@gilv Currently the test file is an external script which stored in this repository,
maybe it will be better to make a dedicated PyWren's code for tests.

for example:
[code]
How it sounds?

[2019-04-14 09:00] gilv commented on #124
@omerb01 can we make both?

[2019-04-14 16:13] omerb01 commented on #124
@gilv #125

[2019-04-15 09:20] JosepSampe commented on #123
@gilv Seems that for some reason, those nodes (ips from 192.168.0.20 to 27) sometimes have problems accessing COS though the public endpoint. By using private endpoint the issue is completely solved 100% of times.

Fixed in #126

[2019-04-15 17:57] #123 closed

[2019-04-17 05:12] #124 closed

[2019-04-17 05:13] #121 closed

[2019-04-17 05:53] JosepSampe commented on #81
@gilv I don't know why default `data_cleaner = false`... In fact it can be `true` since plots can be created anyway. Only in that case you use rabbitmq you need `data_cleaner = False`, becasue then you need to keep statuses in order to print plots, since the statuses are not downloaded trough rabbitmq. But rabbitmq is not the default usage of PyWren, so I think we can move default  `data_cleaner =

[2019-04-17 06:11] gilv opened #127 "Verify Docker images in runtime folder"
There were many recent improvements in runtime deployments.
Would be good to verify Docker images in the runtime folder are up to date.
For example is this remains correct

        FROM python:3.6-slim-jessie,
etc.

[2019-04-17 06:12] gilv commented on #127
@JosepSampe can you please see it? thanks

[2019-04-17 06:32] JosepSampe commented on #127
@gilv Yep, images are correct and aligned with the official one, which was not modified since 8 Oct 2018. Also requirements.txt is updated.

[2019-04-17 06:37] #127 closed

[2019-04-18 15:53] omerb01 opened #129 "create bucket when doesn't exist"
To enhance user experience, I suggest a simple change on pywren's init:
if the bucket name (which provided by config) doesn't exist - pywren will create it automatically. Also it will be convenient if pywren will create a default bucket name if wasn't provided at all.

what do you think?

[2019-04-18 16:05] omerb01 opened #130 "add more options for IBM Cloud Functions connection"
IBM Cloud provides lots of services which can work together in various ways.
currently, to connect to IBM Cloud Functions you have to provide the basic API key which is a specific api key for this service.
IBM Cloud allows to use IAM keys which directed to multiple services so you don't need a dedicated api key for each service.
When using multiple services of IBM Cloud it will be more convenient

[2019-04-19 12:17] gilv commented on #130
@omerb01 this is good...but this should be opened against IBM Cloud, not against PyWren ;)

[2019-04-19 12:18] gilv commented on #129
@omerb01 it's ok to have it...but this should be configurable option, like "storage.bucket.auto.create = true / false". The default is better to be "false"

[2019-04-19 12:26] gilv commented on #81
@JosepSampe so should we make the default data_cleaner=True ?

[2019-04-21 11:21] gilv commented on #69
@omerb01 would you like to handle it? thanks

[2019-04-21 11:28] omerb01 commented on #130
@gilv IBM Cloud does already has this option - you can also connect to Cloud Functions with an aim key, but PyWren doesn't support it currently.

[2019-04-21 15:42] omerb01 commented on #69
#131

[2019-04-22 06:06] gilv commented on #90
@JosepSampe this is not only about endpoint URL. Bucket used to read and bucket used by PyWren internaly may have different access credentials.

[2019-04-22 08:39] #69 closed

[2019-04-22 08:52] omerb01 commented on #90
@gilv why is that a problem? does work with different regions really matters? I think the correct thing is to assume that every pywren's execution happens in a specific region provided in config file.

[2019-04-22 09:01] gilv commented on #90
@omerb01 we want option to read from one bucket where the data is and PyWren will use another bucket for it's pickle, etc.

[2019-04-22 09:02] omerb01 commented on #90
@gilv also issue #81 can be solved by this way - a dedicated bucket for pywren's inner data that created automatically in init, and then we can make sure that this bucket is entirely empty by delete everything inside.

[2019-04-22 09:03] gilv commented on #90
@omerb01 we can auto-create as an option, but default should be provided by the user

[2019-04-22 09:26] omerb01 commented on #90
@gilv I will explain what I mean in details:
we want to separate inner data storage and user data input - so I think that should be a different bucket for pywren's inner data which created automatically by pywren and the user won't even know that it exists - only pywren will work with this bucket for its needs cause the user shouldn't expose to this data and shouldn't use it.
If the user will use

[2019-04-22 10:30] omerb01 opened #132 "Simplify readme and create a Wiki page for PyWren"
we need to create full explained docs on a wiki page here to enhance user experience.
also readme file should be simple as possible instead of full of information.

[2019-04-22 12:39] omerb01 opened #133 "Deploying updated docker file bug"
Found a bug with the new action cloning logic:
I had actions installed with my docker env on Cloud Functions and tried to deploy a new env with a new docker file by `./deploy_runtime create omerb01/pywren-omer-runtime:3.6`
after that, the current actions that installed in my space on Cloud Functions didn't update and I had to delete them manually from Cloud Functions and COS to reinstall them with

[2019-04-23 06:30] JosepSampe commented on #90
@omerb01 @gilv Correct me if I'm wrong, but as far as I know, with "COS Service credentials" you can access to any bucket located in any region. I mean, you don't need different credentials to access each region, so by using that URL, a user can use any bucket located anywhere with same credentials.

[2019-04-23 06:31] JosepSampe commented on #130
@omerb01 Just out of curios... Does IAM key work with COS account?

[2019-04-23 06:31] JosepSampe commented on #133
@omerb01 Currently `./deploy_runtime` script updates runtimes one by one. I guess you have same docker image with different memory sizes in your CF, right? The `create` command will only update the action with 256Mb of memory, which is the default in the config file. To update the others runtimes you don't need to delete them from CF, you can run:

The `clone` command if your docker image has diff

[2019-04-23 09:31] JosepSampe commented on #81
@gilv I think so

[2019-04-23 10:58] gilv commented on #90
@JosepSampe nope...it API key per bucket. For example i can create one API key with read only access and provide it to you...you will use PyWren to read data and process it, while you will use your own bucket for PyWren internal stuff

[2019-04-24 17:20] omerb01 commented on #130
@JosepSampe I tried to figure out some info about all that credentials logic in IBM Cloud... actually I'm quite confused: I do know that people use IBM Cloud services by IAM keys and direct them to access multiple services at once. For some reason I didn't find any info about IAM Key usage with Cloud Object Storage - maybe it is an elementary service so you don't need a dedicated key - currently w

[2019-04-24 17:29] omerb01 commented on #133
@JosepSampe yes, I do have same docker images with different memory sizes but I think all this memory treat logic should be encapsulated from the user. the user / the developer shouldn't be aware of which actions were deployed and which wren't

[2019-04-25 13:55] gilv commented on #90
@JosepSampe does ^^^  makes more clear now the need for this change?

[2019-04-25 14:43] torsstei commented on #90
In really like the suggestion of @JosepSampe to leverage the "SQL URL" in COS UI also as input format for pywren data stream. We can easily generalize the name in COS UI to be something like "Query URL" or so.

@gilv I think it is OK to assume by default the same IAM API key  to use for pywren internal status bucket as well as for the data stream bucket. You may consider an optional config propert

[2019-04-28 12:24] omerb01 opened #134 "debug logs for map_reduce()"
When we use `map_reduce()` method in debug mode, we have no idea if each invocation of the map function is done. we need to add debug msgs to indicate that they are done.

for example:
[code]
output:
[code]

[2019-04-29 06:30] omerb01 commented on #129
due to the fact that bucket name is unique over IBM Cloud, this suggestion isn't relevant.

[2019-04-29 06:30] #129 closed

[2019-05-02 04:54] gilv opened #136 "Issues with updating runtimes"
I did very simple test:
1. Modified jobrunner.py, by adding new print statement
2. pip install -U .
3. cd /runtime/; ./deploy_runtime create cactusone/pywren-dev:3.6
4. my CONFIG file has “action_name : pywren-dev_3.6” in “ibm_cf” section
5. run iunitest python pywren_ibm_cloud/testpywren.py test_map_reduce_cos_key_one_reducer_per_object

When i observed logs i didn't saw my new print statement in

[2019-05-02 04:58] gilv commented on #136
@JosepSampe i assume my mistake is that i need to use  ‘runtime’ : ‘cactus/pywren-dev:3.6’ and not "action_name" ? But even i didn't why the runtime which is used by PyWren is not updated automatically with the changes? I thought it deploy runtime on the fly, no?

[2019-05-02 12:35] JosepSampe commented on #136
@gilv Yep, you need to specify in config (or config file): ` ‘runtime’ : ‘cactus/pywren-dev:3.6’`.
After you run `3. cd /runtime/; ./deploy_runtime create cactusone/pywren-dev:3.6`, The runtime action is updated, so it should use the new docker image. Maybe you have to wait till CF cluster detects that you modified the image...

[2019-05-05 17:46] omerb01 opened #137 "use pywren executor multiple time issue"
it seems that on Jupiter notebook environment, we have to init pywren before every map execution, otherwise we will get multiple times the same result while coding like this:
[code]
and then run couple of times:
[code]
I know that we can use `futures` parameter in `get_result()` method, but it isn't intuitive and took me too much time to figure out what is the problem. we should consider don't use

[2019-05-06 12:15] omerb01 commented on #137
Fixed in pull request #138

[2019-05-06 12:15] omerb01 commented on #134
Fixed in pull request #138

[2019-05-07 10:17] JosepSampe commented on #133
Fixed in #139
@omerb01 With this, if you modify Dockerfile, you can simply run to update all actions in your namespcea based on this docker image:
`./deploy_runtime build omerb01/pywren-omer-runtime:3.6`

If you only modified the source code, you can run to update all the actions based on this image:
`./deploy_runtime update omerb01/pywren-omer-runtime:3.6`

[2019-05-07 10:19] JosepSampe commented on #136
@gilv With #139 the issue should be fixed.
Note that I changed the **create** command to **build**, so if you want to build your Dockerfile, you have to run: `./deploy_runtime build cactusone/pywren-dev:3.6`

[2019-05-08 05:45] gilv opened #141 "do we need tornado?"
https://github.com/pywren/pywren-ibm-cloud/blob/master/pywren_ibm_cloud/libs/ibm_iam/iam_connector.py

@JosepSampe can you please tell me if we need tornado? if yes, should we add it to dependencies? if not, do you have suggestions for alternatives? thanks

[2019-05-08 07:17] JosepSampe commented on #141
@gilv We have 2 options: Use tornado and add it to dependencies, or move to another library like **requests** or **httl.client** as in cf_connector.py.

The question is: Did you use tornado for some reason?

[2019-05-08 07:24] gilv commented on #141
@JosepSampe actually there is no reason for tornado... seems  landed in the code without me noticing it. So i guess you suggest then to remove this package...right?

[2019-05-08 07:25] JosepSampe commented on #141
@gilv Yep, I will change it to **requests** or **http.client**

[2019-05-08 08:25] JosepSampe commented on #141
@gilv Fixed in #140

[2019-05-12 11:52] #133 closed

[2019-05-15 18:07] spitfiredd opened #143 "Splitting application across several files?"
How do I break up a single file application into several modules?

For example, say I have an application with the following structure

[code]

In `file1.py` i have,

[code]

In `file2.py` i have,

[code]

If I run `python -m app.file1` I get the following error:

[code]

How do I run an app that isn't just a single file?  Note that if this was all in the same file that the program runs.

[2019-05-16 00:17] spitfiredd commented on #143
I seem to have gotten it to run, for this example, I will add additional module `file3.py`.

[code]

**file1.py**
[code]

**file2.py**
[code]

**file3.py**
[code]

This will work, however in `file2` if I change `file2` to just functions and not a class, e.g.
[code]
and import those functions into `file1` it will not work.

I am not sure why though? Are functions pickled differently that classes?

[2019-05-16 10:17] JosepSampe commented on #143
Hi @spitfiredd, and thanks for your comments.

Is there any reason in your code to do function imports with absolute paths? In the first case (file1.py + file2.py), can you try to import the methods with the relative path instead of the absolute one? That is, from: `from app.file2 import Test` to: `from file2 import Test`.

[2019-05-16 11:18] spitfiredd commented on #143
I need to be able to run this from the root directory. So I apologize my project would look like

[code]

I need to be able to run everything from `C:\myproj`

[2019-05-16 16:09] spitfiredd commented on #143
If I am understanding this correctly, I will also need a copy of my `app` in the runtime as well?

[2019-05-16 17:32] JosepSampe commented on #143
@spitfiredd I replicated your example with the intention of finding out what is happening, and in my case it works fine.

Structure of the project:
[code]

**run.py**
[code]

**app/file1.py**
[code]

**app/file2.py**
[code]

Just out of curious, are you getting the same error as in the first post with this structure?
PyWren pickles all the imported packages that are not contained in the runtime, s

[2019-05-16 18:58] spitfiredd commented on #143
Yes, I am getting the same error,

Here is the version info to make sure we're both using the same version, this was installed through pip so I am not on the latest development version.  Also, I am running this on Windows 10 Pro, Version 1803, OS Build 17134.765.

[code]
Here is my most recent traceback with the same file struct as your above post.

[code]

[2019-05-17 10:33] JosepSampe commented on #143
At the moment, last dev commit is version 1.0.12, so we are both using the same version. However, in my case I'm using Ubuntu 18.04.  I will try to run it in Windows, although it's very weird that it has a different behavior depending of the OS.

[2019-05-18 12:05] JosepSampe commented on #143
@spitfiredd I'm preparing a Windows environment to test the app. Just to verify, can you also try to test it in an Ubuntu (linux) Environment? For example in a Virtual machine or in a WSL Ubuntu?

[2019-05-19 09:36] omerb01 opened #144 "PyWren doesn't throw exception when out of memory"
Something I noticed recently is that PyWren doesn't throw an exception when out of memory anymore - instead of that, it gets stuck of "Getting results..." state.
I can know that the execution reached max memory only when I debug it through Cloud Functions by the Activation key and see that the job runner was killed.

[2019-05-19 16:02] spitfiredd commented on #143
@JosepSampe  I tested this on a docker image and I can confirm that it runs successfully.

Here is the build of my `Dockerfile`

[code]

Output of `docker run pywren:test`:

[code]

Let me know if you need any additional testing assistance.

[2019-05-23 19:23] spitfiredd commented on #143
@JosepSampe

I edited **`pywren_ibm_cloud/serialize/utils.py`**

[code]

This works now. Do you want me to do a pull request?

[2019-05-23 19:41] JosepSampe commented on #143
@spitfiredd cool!
@gilv fyi

[2019-05-24 19:17] spitfiredd commented on #143
I somewhat cleaner solution is you use `pathlib.Path`, e.g.

[code]

[2019-05-25 09:45] JosepSampe commented on #144
Seems that something has changed in the IBM CF Service. Few weeks ago, when our function run out of memory, only the `jobrunner.py` process was killed, so from the `handler.py` we were able to detect it and return the appropriate error. Now seems that all the python processes are killed, so we cannot catch the error, as it also kills the `handler.py`.

Example log:
[code]

So now, from our part, w

[2019-05-27 09:05] JosepSampe commented on #143
@spitfiredd I included the fix in this pull request (#145), as finally it was only required to change one line of code. In any case, many thanks to find it :)

[2019-05-27 19:35] spitfiredd opened #146 "Add entry_points for `runtime/deploy_runtime` into `setup.py` installation."
I would like to have access to the deploy_runtime cli when I install pywren from pip.  Is it possible to make `runtime/deploy_runtime` an `entry_point` in the `setup.py` as described [here](https://click.palletsprojects.com/en/7.x/setuptools/#setuptools-integration)?

Rationale:

Suppose I have an application with the following structure,

[code]

It would be convenient to build a custom runtime p

[2019-05-29 08:44] #137 closed

[2019-05-29 08:45] #134 closed

[2019-05-29 08:58] omerb01 commented on #144
@JosepSampe I was thinking about it a bit. if Cloud Functions kills PyWren only when out of memory, maybe we can monitor each action by its activation key and see if PyWren still waiting for its result and also if its activation key has been already produced - I think, at this state, we can be sure that the action has been killed by memory error.

[2019-05-29 09:13] #136 closed

[2019-05-29 09:14] #141 closed

[2019-05-29 09:14] #143 closed

[2019-05-29 10:27] mbehrendt commented on #144
based on the activation record, you should be able find out whether the action ended with an OOM or not. Would that help?

[2019-05-29 12:15] omerb01 opened #147 "can't upgrade runtime's modules"
I think there is something wrong with the runtime installation system. When I try to deploy the Dockerfile:
[code]
by this command:
[code]
and then run:
[code]
I get different pandas versions for different memories.

[2019-05-29 12:28] JosepSampe commented on #144
@omerb01 "maybe we can monitor each action by its activation key and see if PyWren still waiting for its result and also if its activation key has been already produced" can you elaborate it a bit please? Are you referring to monitor each invocation individually? or all at once?

@mbehrendt This is an example of activation record when it fails:
[code]
My main concern here is, as usual, about perfo

[2019-05-29 12:29] JosepSampe commented on #130
@gilv This issue is already done with the `iam_connector`, right?

[2019-05-29 12:31] JosepSampe commented on #147
@omerb01 Can you post logs of the `build` process and the function execution?

[2019-05-29 12:43] omerb01 commented on #147
@JosepSampe
[code]
[code]

[2019-05-29 13:09] JosepSampe commented on #147
@omerb01 Based on the logs and the tests I ran, I think pywren updates all the runtimes correctly after the build process. Because I created all the runtimes based on your docker image  from scratch and I got the same issue.

In my case:
[code]
Really really weird ;)
Maybe there are multiple versions installed in the docker image and, depending of something, it gets one or another?

[2019-05-29 13:33] omerb01 commented on #147
@JosepSampe I tried to uninstall pandas by `pip` command with no success and also tried to delete the entire Docker repository and then recreate it and it still outputs the same. I can guess that maybe the way that the build process mounts packages from `ibmfunctions/action-python-v3.6` may produces this issue.

[2019-05-29 13:53] JosepSampe commented on #147
@omerb01 I built my docker image based on your Dockerfile, and it seems to works ok.
Can you try it? `jsampe/pywren-josep-runtime:3.6`

[2019-05-29 14:12] omerb01 commented on #144
@JosepSampe Cloud Function service kills the entire action when got out of memory, but other actions of single map execution can be still alive during its process - so my suggestion relates to how we capture the moment when we got out of memory for each action. I suggest to monitor each action while waiting in "getting result" state to check (by another thread in the local machine) if an activatio

[2019-05-29 14:23] omerb01 commented on #147
@JosepSampe I run the script with your runtime and got:
[code]
every memory runtime should be with the same version - 0.24.1 and it is still not the case.
However, how did you manage to control it and install 0.24.* version?

[2019-05-29 14:41] JosepSampe commented on #147
I think this is an internal CF service issue. Seems that now it doesn't delete old images from cache and go to Docker hub to check if there are a new version.

You got that log because first I created the image with version 0.24.1. ten I rebuilt the image with 0.24.2.
For example, steps in my case:
1. Built docker image from Dockerfile to `jsampe/pywren-josep-runtime:3.6`:
[code]
2. Run your exper

[2019-05-30 09:18] omerb01 commented on #147
@JosepSampe thanks it works when I created 3.6.1 , I would prefer to work with 3.6 (we also need this for metabolomics project). you said that you succeeded to build `jsampe/pywren-josep-runtime:3.6` initially with the current version, so how can I force it to be built like it have never been existed before?

[2019-05-30 09:55] JosepSampe commented on #147
@omerb01  hmmm... I think it is not possible. Docker images are internally managed by CF service, so as you already verified (and me too), although we delete de docker image from the docker hub and then recreate it again, the first (old) image is kept cached within CF service. So at this moment I think we have to wait CF service to solve this issue. The only "trick" I know right now is to create d

[2019-05-30 10:54] JosepSampe commented on #146
Done in #148.

The script is called `pywren-runtime`

[2019-06-12 09:54] omerb01 opened #150 "Exception when try to deploy runtime"
When I try to deploy new runtime by:
[code]
I get:
[code]

[2019-06-12 11:31] JosepSampe commented on #150
@omerb01 How do you have installed the PW package? pip install..? python setup.py develop?

[2019-06-12 11:51] omerb01 commented on #150
@JosepSampe python setup.py develop

[2019-06-12 13:12] JosepSampe commented on #150
@omerb01 I just installed PW in a clean VM with `python3 setup.py develop` and it works fine.
Ensure you have installed latest commit... try re-running `python3 setup.py develop` command again.

[2019-06-12 14:43] omerb01 commented on #150
@JosepSampe I removed the entire python installation and reinstall it (and pywren) as a fresh clean installation but it still prints the same exception, im not sure why

[2019-06-12 15:03] gilv commented on #150
@JosepSampe I have to say that

Traceback (most recent call last):
  File "./pywren_runtime", line 5, in <module>
    from pywren_ibm_cloud.runtime.pywren_runtime_cli import cli
ModuleNotFoundError: No module named 'pywren_ibm_cloud.runtime.pywren_runtime_cli'

is not informative enough ;) may be we revert to full trace? :)

[2019-06-12 15:35] omerb01 commented on #150
@JosepSampe I managed to solve this problem of mine by `pip uninstall pywren_ibm_cloud` and use pywren from `python3 setup.py develop`. when I use both, it gets conflicts - FYI if it's ok.

btw, now I get another exception while I try to use the script (for example "clean"):
[code]
do you know what does it mean?
thanks.

[2019-06-12 16:00] JosepSampe commented on #150
@gilv this is not related with what we discussed. Full tracebacks are always showed ;)

[2019-06-12 16:08] JosepSampe commented on #150
@omerb01 Seems to be normal that it gets conflicts if you have PyWren (or any other package) installed both by pip and by `setup.py develop`, since each one will get the source code from different locations, and local modifications might not be reflected (as it happened now).

About the error you mentioned, seems that it fails with COS credentials. you are using AccessKey and SecretKey, right? I'm

[2019-06-12 16:28] omerb01 commented on #150
@JosepSampe Thanks a lot for the help.
the problem was that my old config file contained:
[code]

[2019-06-12 16:28] #150 closed

[2019-06-13 11:46] omerb01 opened #151 "PyWren installation inside docker"
I think there is something wrong with our PyWren installation runtime "for developers".
usually, when an executor is created, its runtime is installed with the current PyWren's code. the only reason that it won't install runtime is if the same PyWren version has been already installed but in development we don't change pywren's version so the situation here is that PyWren's code in local machine i

[2019-06-13 13:09] JosepSampe commented on #151
@omerb01 The idea behind automatic runtime deployment was to ease common users to deploy the runtime without using the script.

I think that we cannot identify if someone that uses PyWren is a developer or not, so if we want to make it automatic, it will add an overhead to identify if the code was changed or not. As a developer, in my case I always use the deployment script (from the beginning of

[2019-06-13 16:33] omerb01 commented on #151
@JosepSampe couple of questions :)
1. on which script are you talking about? can you refer a link for it?
2. is there a way to update the default runtime also?
thanks

[2019-06-13 18:43] JosepSampe commented on #151
@omerb01
1. I'm referring to the same script you use to `clean` ;) https://github.com/pywren/pywren-ibm-cloud/blob/master/runtime/pywren_runtime

2. To update the default runtime: `./pywren_runtime update default`. However, if you want to update multiple runtimes at a time, it is not yet implemented.  Maybe we can allow something like: `./pywren_runtime update default jsampe/pywren:3.6 omerb01/pyw

[2019-06-16 13:56] omerb01 opened #152 "how to share data between actions with files in the runtime"
I have a question about something I haven't fully understood yet ;)
I want to implement something with the logic below:
[code]
is this a reliable approach? when `omer.txt` will be removed?
are there specific directories in the runtime which reset their content?
I tested some different code scripts and found that sometimes it works and sometime it don't.

[2019-06-17 14:28] JosepSampe commented on #152
@omerb01 It is all based of warm containers. While the container is warm, it keeps all the files you wrote within it. You can write files wherever you want, although it is common to write them into `/tmp`

For example, if you run `main_func()` 1000 times with map(), it will start 1000 containers, and then the function will write `omer.txt` within them. These containers are kept warm during aprox 1

[2019-06-18 06:28] gilv opened #154 "readme is not updated"
https://github.com/pywren/pywren-ibm-cloud/blob/master/docs/dev-installation.md

Stil contains "deploy_runtime", while it should be "PyWren_runtime", etc.

[2019-06-19 05:31] gilv commented on #154
@JosepSampe merging your recent code, getting

DEBUG:pywren_ibm_cloud.storage.backends.cos:PUT Object runtimes/1.0.13/us-east/pywren_dev_us_east/cactusone_pywren-dev_3.6.1_256MB.meta.json - Size: 7.0KiB - OK
Traceback (most recent call last):
  File "./pywren_runtime", line 9, in <module>
    sys.exit(cli())
  File "/Users/gilv/.pyenv/versions/3.6.7/lib/python3.6/site-packages/click/core.py", line

[2019-06-19 07:12] omerb01 commented on #152
@JosepSampe Thanks! so for now, we can't relay on this approach.
@gilv FYI about the CF internal issue

[2019-06-19 07:35] omerb01 commented on #151
Thanks! :)

[2019-06-19 07:35] #151 closed

[2019-06-19 09:56] JosepSampe commented on #154
@gilv Which command did you run?

[2019-06-19 10:13] gilv commented on #154
@JosepSampe ./pywren_runtime build cactusone/pywren-dev:3.6.1

[2019-06-19 10:20] JosepSampe commented on #154
@gilv hmmm.. It ran ok for me.
I think I already know what is the problem... I had to change the naming of the functions in the CF namespace in order to add support to run `pywren_runtime update all`. So I guess now you have functions with old naming in your CF namespace..

Run `./pywren_runtime clean` ;)

[2019-06-19 12:21] gilv commented on #154
@JosepSampe what this ./pywren_runtime clean does? Clean all PyWren runtimes from my account? if so, does everybody require to run it also? like metabolomics?

[2019-06-19 12:47] JosepSampe commented on #154
@gilv It deletes all the actions in the account. Yep, metabolomics also has to run it. Note that it happens because this change is in the same revision (1.0.13), if you create a new revision, it won't happen.

[2019-06-19 12:51] gilv commented on #154
@JosepSampe if I will release now 1.0.14, then no need to run clean?

[2019-06-19 13:01] JosepSampe commented on #154
@gilv Exact

[2019-06-19 13:17] #154 closed

[2019-06-19 13:56] omerb01 opened #157 "Minor issue with get_result() method"
when I run:
[code]
the output is:
[code]
and it should be only the output from the reducer.

[2019-06-26 09:22] omerb01 opened #160 "Restrict the number of live actions on a single PyWren execution"
something I noticed that should be done inside PyWren and also according to Lachlan's suggestion: https://github.com/metaspace2020/pywren-annotation-pipeline/pull/29

correct me if I'm wrong but currently seems that CF can't deal with more than 1200 actions in parallel so if we do that, some invocations fail. To prevent this behaviour, we can maintain a container that holds invocations and we can

[2019-06-26 09:35] omerb01 commented on #157
@JosepSampe I noticed that if I run the code above on Python 3.6.7, it still returns:
[code]
but on Python 3.6.0 it's fine.

[2019-06-26 09:55] gilv commented on #157
@JosepSampe year...I reconfirm. We have issues in 3.6.7 and not 3.6.0... can you spot what is wrong? perhaps some syntax we use in the code?

[2019-06-26 10:01] gilv commented on #157
@JosepSampe in 3.6.7 we are getting

--> 149     inner_func_name, inner_futures = pw.get_result(futures)
    150     append_pywren_stats(segment_spectra_chunk.__name__, 1024, futures[:-1])
    151     append_pywren_stats(inner_func_name, 512, inner_futures)

ValueError: too many values to unpack (expected 2)

[2019-06-26 10:35] JosepSampe commented on #157
@gilv @omerb01 I have python 3.6.7 in my machine and it works as expected... also works fine with 3.7 .. very weird, it should work in the same way with any of these python versions. Do you have the package updated in any of them? maybe in one python version you are using an old PW version

[2019-06-26 10:37] gilv commented on #157
@JosepSampe I will re-test with new runtime

[2019-06-26 10:37] omerb01 opened #161 "memory management issue in "reduce" executions"
I try to optimise some code in terms of memory usage and I think I've discovered an issue with deleting "results" list in reduce funcs. If I try to delete it, I think it still stays on the runtime.

For example:
[code]
I get here memory error in the reduce function and it doesn't make sense (256mb runtime memory)

[2019-06-26 10:45] JosepSampe commented on #161
@omerb01 you can use this to see an estimated memory usage:
[code]
And yep, it seems that reduce func keeps results variable in memory

[2019-06-26 11:04] gilv commented on #157
@JosepSampe hmmm.... no more issues ;)

[2019-06-26 11:04] #157 closed

[2019-06-26 11:07] omerb01 commented on #161
@JosepSampe great feature ;)

[2019-06-26 11:11] JosepSampe commented on #161
It should be investigated. `results` variable are sent to the function by using **kwargs, and seems that when you delete `results`, it only deletes a reference to the memory position, no the actual data.

Some links:
https://stackoverflow.com/a/41461511
https://stackoverflow.com/questions/6146963/when-is-del-useful-in-python/6146992#6146992

[2019-06-26 11:26] omerb01 commented on #161
@JosepSampe I think it's ok, the issue here is that there are some references to `results` list somewhere so when we delete it, the actual data isn't deleted. is there a possible way that only results list will point to that data?

[2019-06-26 12:15] JosepSampe commented on #161
I added a fix here: https://github.com/pywren/pywren-ibm-cloud/pull/159/commits/3e77746b877acbc2cf3f52a5e1a16e16554e3496

When merged, use `results.clear()` instead of `del results` to free the memory

[2019-07-03 09:41] #152 closed

[2019-07-03 10:25] #147 closed

[2019-07-03 10:26] #146 closed

[2019-07-03 13:06] JosepSampe commented on #161
@omerb01 Can you test if it works for you?

[2019-07-03 19:52] omerb01 commented on #161
@JosepSampe works, thanks

[2019-07-03 19:52] #161 closed

[2019-07-07 19:31] JosepSampe commented on #160
@omerb01 Do you refer to a hard-limit? I mean, if I put in the configuration something like: `invocation_limit=1000`, then if I want to spawn 1001 functions, PyWren would raise an error and no one invocation would be spawned?

[2019-07-07 21:05] omerb01 commented on #160
@JosepSampe no, I don't think its a good approach because as a PyWren user I can make sure that no more than X invocations will be spawned regardless of any limit. I think that we need some sort of logic similar to a thread pool that holds invocations before they are sent to CF if a maximum number of live actions has been reached, and when single action finish its job, we will spawn a new one by t

[2019-07-08 03:57] gilv commented on #160
@omerb01 I actually not sure what is this about? As a user - he can submit any number of invocations. In PyWren we have retry mechanism for invocation that failed to run..in some near future we will implement a queue to hold invocation details

[2019-07-08 07:50] omerb01 commented on #160
@gilv you can submit any number of invocation, but as you know, CF can handle only ~1200 actions in parallel. the queue you are talking about is exactly what I suggested :)

[2019-07-11 09:27] gilv commented on #160
@omerb01 thanks..I close this one as we handle it part of CloudButton

[2019-07-11 09:27] #160 closed

[2019-07-11 09:28] #132 closed

[2019-07-17 20:25] davetropeano opened #165 "README link is wrong"
The `README.md` file shows the `config/default_config.yaml.template` file and in the `ibm_cf` section it has:

[code]

the link https://cloud.ibm.com/openwhisk/learn/api-key returns a 404.

Perhaps this is a better URL to reference?

https://cloud.ibm.com/docs/openwhisk?topic=cloud-functions-namespaces

[2019-07-18 08:14] JosepSampe commented on #165
Fixed in #166
The correct link is: https://cloud.ibm.com/openwhisk/namespace-settings
It was correct in https://github.com/pywren/pywren-ibm-cloud/blob/master/docs/configuration.md
Thanks for reporting @davetropeano

[2019-07-18 08:49] #165 closed

[2019-07-18 11:30] #130 closed

[2019-07-30 09:03] omerb01 opened #171 "minor issues with cloud objects mechanism"
when I try to execute map or call_async functions with "bucket", "key" and "data_steam" params (or other possible combination) using also "internal_storage" parameter - I get an error about missing params.

example:
[code]

[2019-07-30 09:30] JosepSampe commented on #171
@omerb01 Checking it

[2019-07-30 09:35] JosepSampe commented on #171
@omerb01 Fixed in #170

[2019-07-30 11:20] omerb01 commented on #171
@JosepSampe I get a different error message now:
[code]

[2019-07-30 11:31] JosepSampe commented on #171
@omerb01 Yep, my mistake. Fixed in #172

[2019-07-30 11:57] omerb01 commented on #171
thanks, everything works :)

[2019-07-30 11:58] #171 closed

[2019-07-30 13:49] omerb01 opened #174 "pywren_runtime script rases error"
when I try to deploy a new environment by:
[code]
I get:
[code]

[2019-07-30 14:06] JosepSampe commented on #174
Fixed in #175

[2019-07-31 07:26] omerb01 commented on #174
@JosepSampe another minor thing. the docker file location should be configured to be inside `ibm_cf` folder. when I try to build a docker image, I get:
[code]

[2019-07-31 07:42] omerb01 commented on #147
@gilv Im not sure why this issue was closed, I have just tested it - the problem haven't been solved yet.

[2019-07-31 08:18] JosepSampe commented on #174
@omerb01 If you have pywren installed, can you try this: https://github.com/pywren/pywren-ibm-cloud/issues/146?

[2019-07-31 08:35] omerb01 commented on #174
@JosepSampe what do you mean? I use `pywren_runtime` script to build or update Docker images

[2019-07-31 08:47] JosepSampe commented on #174
@omerb01 If you have pywren installed, you should have the script installed as a unix script, so you can run it from any folder you want, for example, from within `ibm_cf` folder.

[2019-07-31 09:10] omerb01 commented on #174
@JosepSampe oh, I have just tried to following command:
[code]
and it failed by this exception:
[code]
actually, I don't think its a good approach rather than operate this script from inside `pywren_ibm_cloud` module, its quite confusing.
Also, it isn't convenient to navigate into `ibm_cf` folder everytime when I want to seek the Dockerfile (save it in the root directory will be messy). I suggest

[2019-07-31 14:41] JosepSampe commented on #174
@omerb01 Regarding exception, I think you have some package conflict in your .pyenv, so check it.

I added a flag into the deployment script to specify the location of the Dockerfile, I will submit a pull request earlier. However, based on the comments of this #146, I think it is also a good approach to navigate into the folder where you have your Dockerfile to build it. So now we support both app

[2019-08-01 10:23] gilv opened #177 "tests doesn't work anymore in master branch"
I updated to most recent master branch

python pywren_ibm_cloud/tests.py
Uploading test files...
EEEEEEEEEEEEE
======================================================================
ERROR: test_call_async (__main__.TestPywren)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "pywren_ibm_cloud/tests.py", line 182, in test_call_async

[2019-08-01 10:26] gilv commented on #177
@JosepSampe was something changed with respect to config files?

[2019-08-01 10:55] omerb01 commented on #177
@gilv I ran all tests successfully with @JosepSampe 's recent update, maybe is there a change in your local machine?

[2019-08-01 11:07] gilv commented on #177
I did git

     pull origin master
     pip install -U .
     python/pywren-ibm/cloud tests.py

@omerb01

[2019-08-01 11:11] JosepSampe commented on #177
@gilv Theoretically it should work all as usual. Let me check it

[2019-08-01 11:25] gilv commented on #177
@JosepSampe PyWren looks for CB_CONFIG system variable while in the past it looked for PYWREN_CONFIG_FILE variable

[2019-08-01 11:27] gilv commented on #177
@JosepSampe I actually confused...some looks for CB_CONFIG, some for PYWREN_CONFIG...

def get_default_config_filename():
    """
    First checks .pywren_config
    then checks PYWREN_CONFIG_FILE environment variable
    then ~/.pywren_config
    """
    if 'PYWREN_CONFIG_FILE' in os.environ:
        config_filename = os.environ['PYWREN_CONFIG_FILE']
        # FIXME log this

    elif os.path.exi

[2019-08-01 11:36] JosepSampe commented on #177
@gilv One is `PYWREN_CONFIG_FILE` which is configurable by the user and indicates the location of the config file. The other is `CB_CONFIG` which is internally managed by pywren.

But the error is not here, I think you may have an error in your` .pywren_config` file structure. Can you send me it?

[2019-08-01 11:51] JosepSampe commented on #174
@omerb01 Did you try ` ./pywren_runtime -f` parameter added here #176?

[2019-08-01 11:56] gilv commented on #177
The error is because I  has "action_memory" and "action_name" in "ibm_cf" section.

[2019-08-01 11:56] #177 closed

[2019-08-03 17:18] omerb01 commented on #174
@JosepSampe yes, everything works for me (also fixed my exception)
thanks!

[2019-08-03 17:18] #174 closed

[2019-08-04 09:07] omerb01 opened #178 "bugs related to runtimes deployment"
I found 2 issues related to runtimes deployments, I am not sure if these issues come from CF or from PyWren.
1. when I try to build a new docker env on an **already existed** env - PyWren serialise every additional module that was added to the new runtime and not in the previous runtime. notice that even though the new modules were installed, PyWren serialise them.
2. when I remove lines like `RUN

[2019-08-04 09:39] omerb01 opened #179 "prevent Jupyter from being serialised"
I have noticed that when I use PyWren over Jupyter notebooks, PyWren detects that it needs to serialise Jupyter module - 14MB in estimate.
is it possible to prevent this part? or maybe we should add Jupyter module to the default runtime.

[2019-08-04 09:39] gilv commented on #178
@JosepSampe can you please let us know what you think about it? thanks

[2019-08-04 16:04] JosepSampe commented on #178
@gilv @omerb01 Checking it

[2019-08-04 18:15] JosepSampe commented on #179
@omerb01 Can you share DEBUG logs of 1 execution?

[2019-08-04 18:18] JosepSampe commented on #178
@gilv @omerb01 After some tests, it seems to be due to this: https://github.com/pywren/pywren-ibm-cloud/issues/147

In any case, I'm trying to find a way to solve the issue from PyWren side

[2019-08-04 19:10] gilv commented on #179
@JosepSampe I observed the same...I think if you have couple of Jupiter cells and run PyWren from another cell - you will notice in DEBUG logs that also Jupyter model is serialised..

[2019-08-04 20:15] omerb01 commented on #178
@JosepSampe I am not sure that the first issue I mentioned is related to CF, actually its quite confusing. I want to emphasise that the modules are installed successfully the issue is that PyWren decides to serialise them.
some thoughts that come to my mind are about this part:
https://github.com/pywren/pywren-ibm-cloud/blob/2b542c2ef705d04148ad9653e4536bee83ea4f50/pywren_ibm_cloud/runtime/deploy_

[2019-08-04 20:22] JosepSampe commented on #178
@omerb01 The problem is that we use a function to extract `runtime_meta`, and due #147, it always return the same `runtime_meta`. Is for this that if you build the runtime with different packages, `generate_runtime_meta()` always returns the modules that were installed the first time you built the runtime

[2019-08-05 07:50] omerb01 commented on #178
@JosepSampe can you explain in details all buggy requests for CF we use in PyWren?
including #147 . thanks

[2019-08-05 08:11] omerb01 commented on #179
@JosepSampe I haven't managed to produce DEBUG logs due to #178 , will do that after we will solve these issues with CF team

[2019-08-05 10:23] JosepSampe commented on #178
@omerb01 Each time you update the docker-image in the docker hub, a different hashtag is created (sha256). With this, if you know the hashtags, you can use a specific docker image version even if you updated it. For example, refer to this: https://stackoverflow.com/questions/32046334/where-can-i-find-the-sha256-code-of-a-docker-image)

So my feeling is that when you create an action in the CF serv

[2019-08-05 10:47] JosepSampe commented on #178
I think that my previous feelings were correct, and writing the previous post I realized that I could write the desired sha256 digest when I update the action in the CF service. I did a test and I if i write the latest sha256 digest It seems to work, and this issue and #147 disappears. I need to verify this and run more tests, but I think I can solve this from PyWren side.

[2019-08-06 12:46] omerb01 opened #181 "wrong output when use PyWren inside PyWren"
I get an unexpected output when I run this code for example:
[code]
sometimes I get lists inside `results` and sometimes everything is fine.
for example:
![Screen Shot 2019-08-06 at 15 45 29](https://user-images.githubusercontent.com/13593227/62540908-5346d400-b861-11e9-8e03-d481bb172734.png)

[2019-08-06 12:50] gilv commented on #181
@JosepSampe can you see it please?

[2019-08-06 13:01] gilv commented on #181
@JosepSampe I assume this code suppose to generate final result which is 10 elements, where each element is a list of 10 elements, right?

[2019-08-06 14:14] JosepSampe commented on #181
@gilv Yep, It should return 10 lists of 10 elements. I already found the source of the problem, I'm solving it ;)

[2019-08-06 14:20] JosepSampe commented on #181
@omerb01 @gilv Fixed here #180

[2019-08-06 14:21] JosepSampe commented on #181
Fixed here #180

@omerb01 It will be nice if you add this example into tests ;)

[2019-08-06 17:25] JosepSampe commented on #179
@omerb01 map(), map_reduce() methods have a special parameter called `exclude_modules`, used to prevent serializing the desired modules.

Just as an experiment, can you try adding this in the notebook to see what happens?:
`pw.map(..., ..., ..., exclude_modules=['jupyter'] )`

[2019-08-07 06:39] gilv commented on #179
@JosepSampe was this always present? I didn't knew those parameters..they not documented anywhere

[2019-08-07 08:07] omerb01 opened #184 "feature suggestion regarding the partitioner"
I would like to have a feature to split a dataset into N chunks equally sized.
currently we have `chunk-size` parameter for map executions - I suggest to add another parameter, something like `chunk-n` to do that logic.

edit:
it would be nice also if I will can to extract chunk id inside every action which represents one of N chunks.

[2019-08-07 10:51] #181 closed

[2019-08-07 11:20] JosepSampe commented on #179
@gilv Yep, this was present from the beginning

[2019-08-08 11:47] gilv commented on #184
@omerb01 what is the difference between chunk-size we already have and chunk-n?

[2019-08-08 11:49] omerb01 commented on #184
@gilv chunk-size divide a COS object into chunks of fixed size, chunk-n is intended to divide a COS object into fixed N chunks equally sized

[2019-08-08 12:02] gilv commented on #184
@JosepSampe how complicated to support this?

[2019-08-08 13:58] omerb01 opened #186 "some ignored errors regrading urllib3 module"
noticed that sometimes, when I wait for invocations to be done by `get_result()`, I get traceback messages regarding ignored exceptions.
for example:
[code]
my local urllib3 version is 1.24.3.
I found that if I update it to the latest one (1.25.x) I get no ignored errors, but then I get context conflict exceptions.
I think that we need to update PyWren's urllib3 to prevent these ignored exceptions

[2019-08-10 20:34] omerb01 commented on #179
@JosepSampe `exclude_modules` parameter doesn't help in that case because `Jupyter` comes with a bunch of modules that all sums up in 14MB.
if I use this feature, PyWren doesn't serialise `Jupyter` but does serialise everything else - 13MB in estimate.
tested it a bit and I think that these are the modules I'm talking about:
[code]

[2019-08-12 08:05] gilv opened #187 "exception when creating new runtime"
./pywren_runtime create aaa/pywren-metabolomics:3.6.11

DEBUG:pywren_ibm_cloud.storage.backends.ibm_cos.ibm_cos:Set IBM COS Endpoint to https://s3-api.us-geo.objectstorage.softlayer.net
DEBUG:pywren_ibm_cloud.storage.backends.ibm_cos.ibm_cos:IBM COS: Using COS api_key - Requesting new token
DEBUG:pywren_ibm_cloud.libs.ibm_cloudfunctions.client:IBM CF init for namespace: pywren_dev_us_east
DEBUG:py

[2019-08-12 08:10] gilv opened #188 "exception when building new runtime"
./pywren_runtime build aaa/pywren-metabolomics:3.6.11
DEBUG:pywren_ibm_cloud.libs.ibm_cloudfunctions.client:IBM CF init for namespace: pywren_dev_us_east
DEBUG:pywren_ibm_cloud.libs.ibm_cloudfunctions.client:IBM CF init for host: https://us-east.functions.cloud.ibm.com
DEBUG:pywren_ibm_cloud.libs.ibm_cloudfunctions.client:IBM CF user agent set to: python-requests/2.22.0 pywren-ibm-cloud/1.0.18-sna

[2019-08-14 06:30] gilv commented on #188
@JosepSampe need your magic touch here...

[2019-08-14 06:31] gilv commented on #187
@JosepSampe need your magic touch here...
by the way, what is the difference between create and build runtime?

[2019-08-21 09:01] omerb01 commented on #179
@JosepSampe just a minor suggestion regarding `exclude_modules` parameter:
in DEBUG mode, PyWren prints all modules that it detects for serialising, but when we use this parameter, obviously there are modules that PyWren won't serialise, so I suggest to print all modules that are serialised instead of both.

for example, I get:
[code]
but the only module that PyWren serialise is actually: `'/Users

[2019-08-21 09:22] omerb01 commented on #188
@gilv see #174

[2019-08-21 11:02] omerb01 commented on #179
@JosepSampe another related suggestion according to: https://github.com/metaspace2020/pywren-annotation-pipeline/issues/39
in addition to `exclude_modules` parameter, we need also `include_modules` parameter which defines modules for serialising. all other modules that aren't in the list, won't be serialised.

another thing I want to bring for the discussion is a feature to use `exclude_modules` o

[2019-08-22 05:08] gilv commented on #188
@omerb01 then I guess documentation is not updated...can you please update it? this -f is not documented, unless I missed it somewhere

[2019-08-22 08:04] omerb01 opened #189 "Pickle exception bug when using pandas"
I think I have discovered a bug while using pandas in PyWren.
made an example to represent it easily:
[code]
when CF operates `pd.merge`, an exception is raised:
[code]
and if I check activation logs, I don't find anything else except this pickle exception.
its important to note that if I download `centr_df` and `first_peak_df` to my local machine and operate the same logic, everything is fine wit

[2019-08-24 16:34] JosepSampe commented on #187
@gilv `./pywren_runtime create` **only creates the action** in your CF namespace. The docker image name you provide must already exist in the docker hub, so I guess in this issue the image  'aaa/pywren-metabolomics:3.6.11' doesn't exist in docker hub, is for this the exception you got.

In contrast,  `./pywren_runtime build` builds a new docker image based on the Dockerfile, then it pushes it into

[2019-08-24 16:38] JosepSampe commented on #188
@gilv As @omerb01 said, you can write "docker build **-f**" parameter to specify the location of your Dockerfile. This parameter was recently added since now we support multiple compute backends, and consequently we can have multiple folders within "runtime" folder.

[2019-08-24 16:47] JosepSampe commented on #189
@omerb01 For some reason regarding pickle package, it is not possible to pickle some exceptions from **pandas** and **numpy** (and maybe other) libraries, if for this the exception: `--> Exception: PyWren was unable to pickle the exception, check function logs`.

But if it works in your local machine, I need to know what produces the exception and why it is not printed in activation logs. Can you

[2019-08-25 04:01] gilv commented on #189
@JosepSampe @omerb01 right..exception happens in the merge method of Pandas and then it's not thrown. So there is nothing wrong in PyWren. The strange behaviour we observe is that merge fails when we run segment_centr_df  from PyWren and same method works locally without issues...

[2019-08-25 08:28] omerb01 commented on #189
@JosepSampe I edited the code above and changed the bucket to `omerpublic` which is a public one. you can run this code and see what happens.

[2019-08-25 10:13] gilv commented on #189
@JosepSampe FYI I also updated versions in the Docker image and it still fails in merge method.
This is Docker image I am using
``
FROM ibmfunctions/action-python-v3.6:master

RUN pip install cpyImagingMSpec==0.2.4
RUN pip install pandas==0.25.1
RUN pip install pyImagingMSpec==0.1.4
RUN pip install pyMSpec==0.1.2
RUN pip install cpyMSpec==0.3.5
RUN pip install pyimzML==1.2.5
RUN pip install msgpac

[2019-08-25 17:04] gilv opened #190 "TypeError: 'int' object is not iterable"
I followed example from the documentation

[code]

Got

[code]

[2019-08-25 17:18] gilv commented on #190
it is working with
pw.map_reduce(my_map_function, iterdata, my_reduce_function, chunk_size = chunk_size)

so I guess all documentation need to be updated?

[2019-08-25 17:31] gilv opened #191 "chunks on CSV file doesn't work"
I have one large CSV file..

[code]

Got

[code]

[2019-08-25 17:48] gilv opened #192 "chunking large files should also provide part number as an input to the map"
Assuming we chunk large file and there are 10 chunks. Each
map has signature with the pattern of

[code]

However while key is the same object name, data_stream is the relevant chunk

We need to extend map so that it will also receive chunk id number, something like

[code]

[2019-08-25 17:51] gilv commented on #192
This actually not only related chunks...
also input as array, should provide each Map not only the value but also index number from the array

[2019-08-25 17:59] JosepSampe commented on #191
@gilv In fact we never supported all kind of csv files. Currently, pywren partitioner only supports files ended by "\n", they might be csv or simple text files. Other csv files may have multiple "\n" within same line, which would provoke partitioner failure. Is this your case? Could you share one line of your csv file?

[2019-08-25 18:43] JosepSampe commented on #192
@gilv Maybe instead of this: `map(key, data_stream, chunk_id, ibm_cos)`, and this: `map(key, data_stream, index, ibm_cos)`, we can set a more generic parameter to cover both cases, something like: `map(key, data_stream, id, ibm_cos)`. What do you think? any suggestion?

[2019-08-26 03:52] gilv commented on #191
@JosepSampe I think I have a "normal" csv file

[code]

[2019-08-26 03:55] gilv commented on #192
@JosepSampe yeap...."id" is what I had in mind actually. Whenever PyWren partition some data, an optional parameter to map, should be the id of the part..index in array, chunk number if it's COS, etc.

[2019-08-26 07:13] omerb01 commented on #192
@JosepSampe @gilv I think it will be cleaner if we will define a new object.
I suggest something like: `map_function(input_data, PyWren_data)`.
`input_data` will be input keys from the user, `PyWren_data` will be a class which maintained by PyWren that provides useful features like ibm_cos, chunk_id, internal_storage, key, bucket, etc

[2019-08-26 07:17] gilv commented on #192
@omerb01 we already have a new object...."cloud object"

[2019-08-26 07:24] omerb01 commented on #192
@gilv if I understood it right, cloud objects intended for something different, to prevent maintaining keys in cos while using pywren

[2019-08-26 08:10] JosepSampe commented on #191
@gilv Yep, it looks like normal csv. Can you send me a sample of, for example, 10MB or 20MB?

[2019-08-26 09:46] JosepSampe commented on #186
@omerb01 So finally, which version are you using? In my case I've never got this error, I'm using 1.24.1.

[2019-08-26 13:25] JosepSampe commented on #189
@omerb01 @gilv After some test, I realized that this is not a pickling exception. In fact there is no exception in the code. The error comes from that the jobrunner process (that runs the function) is suddenly killed for some reason, and the logs does not provide information on why the process is killed.

For example, in my case:
[code]

As you can see, the handler prints "Finished JobRunner proce

[2019-08-26 13:49] JosepSampe commented on #189
@omerb01 @gilv After some more tests, I think that it is an OOM issue. For some reason, CloudFunctions behaves in a different way regarding OOM error when you use >2048MB of memory. So if we use 3GB or 4GB of memory, CF behaves as it did 3 months ago where only the Jobrunner process was killed, and not the whole container as it happens now.

[2019-08-26 14:42] gilv commented on #189
@omerb01  @JosepSampe I also think it's out of memory issue

[2019-08-26 17:58] JosepSampe commented on #144
Seems that for memory sizes >3GB only the jobrunner process is killed (instead of the whole container), so we can handle it as usual..

[2019-08-27 09:16] JosepSampe commented on #184
@gilv @omerb01 just a question: when a user provide **chunk_n**, how we have to apply it? What do you expect here? Is **chunk_n** applied individually for each file in the bucket? I mean, if I have 5 files and **chunk_n=3**, each of these 5 files will be split in 3 chunks, right? or should **chunk_n**  be the total number of chunks? In this case, **chunk_n** should always be multiple of N files, s

[2019-08-27 09:47] JosepSampe commented on #192
@gilv Do you need **chunk_id** for some reason? or only for logging? becasue in logs you already have the id, for example:
[code]

you can see: `Execution ID: 50f2-4d3e/M000/00003`, where the first part (50f2-4d3e) is the **Executor ID**, the second part (M000) is the **Job ID**, and the third part (00003) is the **id** we are talking about in this discussion.

[2019-08-27 18:24] JosepSampe commented on #191
@gilv After reviewing it, this case is something weird. The error message says that what fails is line 5506, this means that all previous lines worked ok, so our partitioner worked ok at the beginning of the file. We need to see what line 5506 contains. Is line 5506 the last line of the chunk?

Can you try using python engine?:
`centr_df = pd.read_csv(data_stream, header=None, engine="python")`

[2019-08-28 09:04] JosepSampe commented on #179
@omerb01 I my case I'm not able to reproduce the issue, jupyter is never serialized in my notebooks. In your case, is jupyter serialized in https://github.com/pywren/pywren-ibm-cloud/blob/master/examples/hello_world.ipynb ? or can you provide a concrete example?

[2019-08-28 15:58] omerb01 commented on #186
@JosepSampe I use 1.24.3
I'll try to use 1.24.1 also and see if there are any exceptions like this.

according to: https://stackoverflow.com/questions/37419362/python-requests-ignore-exceptions-and-errors-while-connecting-to-proxy-server
sometimes, there might be too many requests on a timestamp which causes these exceptions.
its important to say that it doesn't damage the execution at all, only s

[2019-08-28 16:21] omerb01 commented on #189
@gilv @JosepSampe thanks, regarding #144 , we can close this issue.

[2019-08-28 16:21] #189 closed

[2019-08-28 16:31] omerb01 commented on #184
@JosepSampe as much like `chunk-size`, I meant for chunking **each** file into n chunks.
but actually it will be useful if we can support both options, I can think about an implementation that gets metadata of all input files in COS and splits them by ranges according to the total sum of bytes. what do you think?

[2019-08-28 16:37] omerb01 commented on #192
@JosepSampe I also think that we need to extract an execution id from inside pywren for a generic map function. currently I use a lot unique strings that I extract from `key` parameter by split manipulations and it is quite messy.

[2019-08-28 16:49] omerb01 commented on #179
@JosepSampe Jupiter isn't serialised in the example you gave me, my mistake when I said that it happens in all cases.
In my case, I use pywren inside a module that we work on (metabolomics annotation pipeline project). in that module we have a few Jupiter notebooks inside so when I run pywren, it detects that it has to serialise our module and I think that because of these notebooks inside, Jupite

[2019-08-28 17:14] JosepSampe commented on #184
@omerb01 I think for the moment I can implement "chunking each file into n chunks".

The other approach might be complicated to implement or not. Not sure right now. Imagine you have 11 files in COS and want only 2 partitions, this means that each function should receive 6 different streams. I don't know if I can concatenate streams in order to be totally transparent to the user that only reads on

[2019-08-28 18:00] JosepSampe commented on #179
@omerb01 Not sure if it can solve the issue, but in #193 I updated cloudpickle library (which is the reprensible to detect the modules) from version 0.6.1 to 1.2.1. Maybe with this new version pywren avoids to serialize jupyter modules... In any case it would be nice to test it.

[2019-08-30 13:47] JosepSampe commented on #192
@omerb01 @gilv I already have the `id` added as an optional parameter.

In addition, similar to what Omer suggested above, I also suggest to group `bucket`, `key`, `data_stream` and `url` in one unique parameter. Because now we have 3 possible function signatures for data processing, and maybe, as Lachlan also said, is a bit confusing:

-To process a bucket:
`my_map_function(bucket, key, data_stre

[2019-08-30 15:43] omerb01 commented on #192
@JosepSampe sounds great

[2019-08-31 15:37] gilv commented on #186
@omerb01 @JosepSampe I am using 1.25.3...may be we need to add this version to requirements?

[2019-08-31 16:01] JosepSampe commented on #186
@gilv 1.25.3 solved your issue?

[2019-08-31 17:24] JosepSampe commented on #89
@omerb01 I think this can be close since next step is #16

[2019-08-31 17:24] JosepSampe commented on #190
@gilv Docs already updated

[2019-09-03 08:03] JosepSampe commented on #192
@gilv @omerb01 I added the 'obj' optional arg for the functions in #194 as we discussed above. Consequently, I deleted `bucket`, `key `and `data_stream` args. So now, when you want to process objects from the object store you must specify 'obj' arg in the function. With the 'obj' arg you can access to all the information of the COS object, including the number of partition:

[code]

To process URL

[2019-09-04 14:53] #89 closed

[2019-09-04 15:15] omerb01 commented on #186
@JosepSampe I tried to use 1.24.1 (the same version as yours) and nothing has been changed.
Updated for 1.25.3 , will test it and update whether it helped or not.

[2019-09-04 18:49] JosepSampe commented on #192
@omerb01 Can you adapt tests to these changes?

[2019-09-05 05:01] gilv opened #195 "obj, url should be documented in documentation"
Per https://github.com/pywren/pywren-ibm-cloud/issues/192 we need to document all fields of obj and url, for example all those fields of obj should be documented, with description and examples

obj.bucket
obj.key
obj.data_stream.read()
obj.part
obj.data_byte_range
obj.chunk_size

the same for url

[2019-09-05 05:04] gilv opened #196 "add documentation how to generate execution graphs"
We need to add example and documentation how to generate execution graphs, when job is completed

[2019-09-05 05:20] gilv opened #197 "tests doesn't work after merging #194"
@JosepSampe i merged #194
Now tests doesn't work...is this expected, because #194 is not backward compatible?

Thanks

======================================================================
ERROR: test_chunks_bucket (__main__.TestPywren)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "pywren_ibm_cloud/tests.py", line 324, in test_ch

[2019-09-05 06:14] gilv commented on #197
@JosepSampe it's a salad of failures ;)

1. TypeError: missing a required argument: 'key'
2. AttributeError: 'StorageBackend' object has no attribute 'list_keys_with_prefix'
3. TypeError: missing a required argument: 'data_stream'

[2019-09-05 08:25] JosepSampe commented on #197
@gil yesterday I already asked @omer in #192 to adapt tests to the new changes since he knows better than me how tests flow works

[2019-09-05 08:36] gilv commented on #197
@JosepSampe my question is more general...the "obj" and "url" adittions, are not backward compatible, right? We need to change all the code that used, is this correct?

[2019-09-05 09:12] gilv commented on #197
@JosepSampe does "obj" and "cloudobject" can co-exists together?

[2019-09-05 09:21] JosepSampe commented on #197
No, it is not backward compatible. Internal logic is completely different with 'obj' and it can't coexists with older args.

In fact 'obj' is a CloudObject with extra parameters ;)

[2019-09-05 10:05] gilv commented on #197
@JosepSampe  so get_results also return lists of those new "obj"s right?

[2019-09-05 10:12] JosepSampe commented on #197
@gilv hmmm.. no, get_result() returns what you return in the return statement of the function. 'obj' is only an input arg.

[2019-09-05 10:21] gilv commented on #197
@JosepSampe but today ret_result can also returns cloudobjects...this is what we had already. Lachlan asked for it.. Then i am confused how it works now, if obj is extended cloudobject so what is returned in get_results?

def my_cloudobject_get(results, internal_storage):
    data = [internal_storage.get_object(cloudobject) for cloudobject in results]
    return my_reduce_function(data)

[2019-09-05 10:24] gilv commented on #197
@JosepSampe i actually even more confused now..
https://github.com/pywren/pywren-ibm-cloud/pull/169

How it all fits with "obj" ?

[2019-09-05 12:50] JosepSampe commented on #197
@gilv cloud object is simply a class that contains bucket and key:
[code]

So when a user writes a cos:// url, pywren maps each object in COS to one instance of this class.

internal_storage.put_object is another thing. It is a method to put temp objects in COS. To do so it internally uses instances of CloudObject.

From a function activation you can return whatever data type you want, cloudobject

[2019-09-05 12:53] gilv commented on #197
@JosepSampe in #169 you already added support to return cloudobjects...

[code]

will this continue to work?

[2019-09-05 13:09] JosepSampe commented on #197
@gilv Yeap, as I said in the previous post you can return whatever you want ;)

[2019-09-06 06:58] JosepSampe commented on #197
@gilv All tests fixed and running ok in #198

[2019-09-06 06:59] JosepSampe commented on #196
@gilv Done in #198

[2019-09-06 07:02] JosepSampe commented on #179
@omerb01 @gilv Done in #198

I added `include_modules` parameter where you can set those modules you want to serialize as @omerb01 suggested. If you explicitly set `include_modules=None`, no one module will be serialized.

Additionally, now you can set both  `include_modules` and `exclude_modules` in configuration, in 'pywren' section.

[2019-09-06 10:54] #197 closed

[2019-09-09 19:55] lchu-ibm opened #199 "Wrong if logic in Config"
https://github.com/pywren/pywren-ibm-cloud/blob/master/pywren_ibm_cloud/config.py#L102

The if logic of "A and B or C or D" here seems wrong, I assume you want to do "A and (B or C or D)"

[2019-09-09 22:28] JosepSampe commented on #199
@lchu-ibm Thanks. Fixed

[2019-09-12 05:48] gilv opened #201 "Docker based on conda is outdated"
https://github.com/pywren/pywren-ibm-cloud/blob/master/runtime/ibm_cf/Dockerfile.conda.example

Still contains

[code]

So i assume it's not updated. @JosepSampe you are an expert here...can you verify this Docket and update it if needed? thanks

[2019-09-22 07:26] omerb01 opened #203 "Runtime auto installation script does not work"
after using `pywren-runtime clean` and then run simple "Hello World" function:
[code]
I get exceptions:
[code]

[2019-09-22 15:29] JosepSampe commented on #203
@omerb01 Same from my side. fixing it

[2019-09-23 09:04] gilv commented on #203
@omerb01 is this only for default runtime? somehow i didn't saw this bug in my flows

[2019-09-23 10:13] omerb01 commented on #203
@gilv for me, this exception is raised with any runtime

[2019-09-23 11:26] JosepSampe commented on #203
@gilv This was added here: https://github.com/pywren/pywren-ibm-cloud/pull/202/files#diff-b5c9057884612c1b3376a9a5b76ce668R39

It is already fixed in #204

[2019-09-23 14:30] JosepSampe commented on #179
@omerb01 Did you tested it?

[2019-09-24 07:58] omerb01 commented on #179
@JosepSampe sorry for the late response.
I think something wrong with the current implementation.
before this update, there were many modules which detected as to be serialise, and now I think that it doesn't detect any module at all - for every example I get
`pywren_ibm_cloud.job.serialize: Modules to transmit: None`.

example:
[code]
[code]

[2019-09-24 08:18] omerb01 commented on #179
@JosepSampe My bad,
this works:
[code]
and this doesn't:
[code]
is it possible to solve?

[2019-09-24 09:13] JosepSampe commented on #179
@omerb01 Yeap, the correct way to do this is:
[code]

We found same behavior with @gilv few weeks ago, I think this is something related to cloudpickle lib and not to PyWren. Seems that cloudpickle only pickles those packages you include with `import` statement. if you import something with `from .... import ....`, you are importing things into global namespace, and then cloudpikcle assumes the me

[2019-09-24 10:27] omerb01 commented on #179
@JosepSampe in case of `colorama` module, it didn't work before.
I made some tests and found something interesting.

lets assume we have an internal file named `omer.py`:
[code]
and then we want to run this code:
[code]
With PyWren version 1.0.17 we could run this code successfully and with the current version it prints `pywren_ibm_cloud.job.serialize: Modules to transmit: None` and raises:
[code]

[2019-09-24 15:52] omerb01 commented on #179
@JosepSampe I am not sure if im right, but I made some another tests and I think that `cloudpickle` module is totally different between 0.6.1 and 1.2.1 since each `CloudPickle` object doesn't contain "modules" field anymore. I saw that `cloudpickle` module does detects objects in forms of `from ... import ...` but this kind of usage will be detected as a function instead of a module.

we have this

[2019-09-24 15:56] JosepSampe commented on #179
@omerb01 I already changed cloudpickle lib to make it working with 1.2.1 ;)
Pywren uses cloudpickle module located in libs and not the installed one(if you have it installed with pip)

[2019-09-24 15:59] omerb01 commented on #179
@JosepSampe do you think it is possible to extract these detected functions? so every variation will work: `import ...` and `from ... import ...`

[2019-09-24 16:13] JosepSampe commented on #179
@omerb01 Yeap, I already have it working, even the `from colorama import Fore` that never worked.

[2019-09-25 07:52] JosepSampe commented on #179
@omerb01 Fix included in #205

[2019-09-25 12:14] JosepSampe commented on #179
@omerb01 It would be possible to provide a simple example of what you are running? I mean, I already have `annotation_pileline` in my IDE, so some test.py that I can include in the project and that it calls some internal function of the `annotation_pileline` and that shows what you are seeing in the logs

[2019-09-25 13:52] JosepSampe commented on #179
@omerb01 I already have an example. I put this function into annotation_pipeline/fdr.py:
[code]
Then I created a test.py file in root of pywren-annotation-pipeline, and imported previous func:
[code]

Now in serialize i get:

`2019-09-25 15:48:07,607 [DEBUG] pywren_ibm_cloud.job.serialize: Modules to transmit: `{'/usr/local/lib/python3.6/dist-packages/nbconvert', '/usr/local/lib/python3.6/dist-pac

[2019-09-25 20:58] omerb01 commented on #179
@omerb01 yes, but in my case I get a bit more packages, I think it doesn't matter. While putting `include_modules=['annotation_pipeline']`, I would like to serialise only `annotation_pipeline` package.

[2019-09-25 21:34] JosepSampe commented on #179
@ Ok, just wanted to know if I'm going in the right direction to reproduce the issue. I think now I have it fixed, doing final tests.

[2019-09-26 08:21] JosepSampe commented on #179
@omerb01 I added the fix, you can try if it works for you

[2019-09-27 08:54] JosepSampe commented on #203
@gilv Is it already working for you with new changes?

[2019-09-27 08:54] JosepSampe commented on #203
@omerb01 Is it already working for you with new changes?

[2019-09-27 11:00] omerb01 commented on #179
@JosepSampe Thanks

[2019-09-27 11:00] #179 closed

[2019-09-27 11:01] omerb01 commented on #203
@JosepSampe Yep, thanks

[2019-09-27 11:01] #203 closed

[2019-09-28 11:50] #199 closed

[2019-09-28 11:51] #188 closed

[2019-09-28 11:52] #201 closed

[2019-10-06 14:31] omerb01 commented on #186
after some tests I think it isn't PyWren related

[2019-10-06 14:31] #186 closed

[2019-10-06 14:52] omerb01 opened #209 "Improve invocations retry"
While computing massive amount of actions, some actions retry to be invoked couple of times and then fail.
I think that this behaviour is problematic in general (particularly in our use case) because If I have massive amount of actions to invoke (~6K in my case) and each one of them takes long time (~100S in my case), all PyWren process will finally fail because some actions will try couple of tim

[2019-10-07 08:58] omerb01 commented on #209
@JosepSampe the idea of a thread pool which I brought in #160 will be better, but its a bit more complicated to deal with. with a thread pool queue we can prioritise invocations by their wait time.

in addition, @gilv suggested to do that dynamic - this means to firstly take a sample of how long each first action takes and then tune each retry by its sampled run time.

what do you think?

[2019-10-07 13:36] omerb01 opened #211 "Question about execution id"
what is the difference between map `id` here:
https://github.com/pywren/pywren-ibm-cloud/blob/master/examples/map.py
and `obj.part` here:
https://github.com/pywren/pywren-ibm-cloud/blob/master/examples/map_cos_bucket.py

I tried to execute the example with `obj` but got `Partition num: 0` for every action.
do I miss something?

[2019-10-07 15:47] JosepSampe commented on #209
@omerb01 I agree that the retry mechanism should be improved. In fact some weeks ago I tried to implement another approach similar to what you suggest, but i had some concerns:

Now, when you want to spawn less that 1200 functions, the **invoker** performs all the invocations in 2-3 seconds and unlocks the user code. If you want to spawn much more, the user-code is blocked until the **invoker** fi

[2019-10-07 15:54] JosepSampe commented on #211
@omerb01
-`id` is the `call_id`. I mean, if you spawn 10 functions, you will get numbers between [0...9].  `id` is generic and you can put it in any function, either processing objects from COS or not.

-In contrast, `obj.part` is the number of partition of the object that is processing that function. In the example, you always see `Partition num: 0` because the object is not split, i.e each funct

[2019-10-07 16:06] omerb01 commented on #211
@JosepSampe Thanks, got it.

[2019-10-07 16:06] #211 closed

[2019-10-07 17:49] omerb01 commented on #209
@JosepSampe I think its sounds good. the main thing we need to ensure is that `get_result()` method will continue to be a barrier between done and undone invocations. this means that by passing `get_results()` method, all invocations should be done.

[2019-10-07 21:01] omerb01 opened #212 "Error when try to build the "slim" runtime"
I get errors by using `pywren-runtime build omerb01/pywren-omer-runtime:3.6.7` with the "slim" Docker image
[code]

[2019-10-07 21:27] omerb01 commented on #92
since we got `obj.part` we can close this thread

[2019-10-07 21:27] #92 closed

[2019-10-07 22:13] JosepSampe commented on #212
@omerb01 Fixed in #213

[2019-10-07 22:14] JosepSampe commented on #195
@gilv Added in #213

[2019-10-08 08:07] omerb01 commented on #212
@JosepSampe Thanks, tested and it works.

[2019-10-08 08:07] #212 closed

[2019-10-08 14:56] JosepSampe commented on #178
@omerb01 I think we should assume that in IBM CF, now runtimes must be always tagged with new version number for every update, so this issue is no longer PyWren related.

[2019-10-12 17:15] JosepSampe commented on #184
@omerb01 Done in #214

[2019-10-15 08:13] ManuelEberhardinger opened #215 "Execution of single file or list of files not working"
When I try to run PyWren again on failed actions which exited unexpectedly, I get an error that the file is not found in the COS-Bucket even though it was executed before.

example:
[code]

I get this error:
[code]

I think the problem is the parsing of the filenames as the slash is still in the object key.

[2019-10-15 09:42] JosepSampe commented on #215
@ManuelEberhardinger This is an issue already fixed in master branch, but no revision still created.
@gilv may we need to create a new release?

[2019-10-23 09:44] omerb01 commented on #209
@JosepSampe I think that because of current "retry" mechanism, I experience "read time out" from COS in the first invocation while trying to invoke ~7k actions. I think that your suggestion to move out the invoker as sub-process will prevent thinks like that also.

[2019-10-23 10:14] gilv commented on #209
@JosepSampe how complicated to implement it? ;)

[2019-10-23 10:16] JosepSampe commented on #209
@gilv work already in progress ;)

[2019-10-25 18:48] JosepSampe commented on #215
@ManuelEberhardinger you can already use 1.1.1 release

[2019-10-27 12:00] omerb01 opened #217 "read timeout from COS"
I experience weird exceptions regarding COS client that im not sure if its PyWren related.
while launching 1000 actions that each one calls for 8 objects in COS, I get read time out exception from PyWren's jobrunner code:
[code]
and the activation c6d09489f6844645909489f684f64552 :
[code]

is there any way to avoid this behaviour  ?

[2019-10-27 19:48] ManuelEberhardinger commented on #215
@JosepSampe thanks, then I close this issue.

[2019-10-27 19:48] #215 closed

[2019-10-28 10:59] gilv commented on #217
@JosepSampe do you know how to prevent this timeout from COS? Are there open connections that we don't write / read them?

[2019-10-28 11:01] gilv commented on #217
@JosepSampe it happens when we create thosands of invocations and then on read status - getting timeout reading from COS

[2019-10-28 16:10] JosepSampe commented on #217
@gilv We have 1 connection open per function (in jobrunner.py) to read the function itself and the data. If you write **ibm_cos** parameter, then there are 2 open connections per function.

@omerb01 Did you create a function with the **ibm_cos** parameter? or are you manually setting connections to COS to read those 8 files?

[2019-10-29 08:03] omerb01 commented on #217
@JosepSampe with `ibm_cos`

[2019-10-29 15:52] JosepSampe commented on #217
@gilv Maybe some limitation in COS about parallel read? @omerb01 Are you using the free tier? Maybe something related to the cross-region us endpoin? can you try using a regional container in us-east?

[2019-10-31 17:18] omerb01 commented on #217
@JosepSampe Thanks a lot , joined into a "standard" account and it seems ok.

[2019-10-31 17:18] #217 closed

[2019-10-31 17:42] omerb01 opened #220 "Minor bug - getting Set as iterdata"
Experienced a minor bug when I ran this code for example:
[code]
PyWren interprets`set` iterables as one list value.

[2019-11-11 14:57] JosepSampe commented on #220
@omerb01 Fixed, will submit PR

[2019-11-13 05:10] lchu-ibm opened #221 "Update Knative-Pywren tutorial"
Hi, I have been working on putting one of our projects on CF+pywren for a while and we have recently decided to switch to Knative cluster as the current prod cluster is not suitable for our scenario (as discussed with Gil and Michael).

I have been following these two tutorials:
1. Knative CF without using pywren: https://github.ibm.com/functions/knative-multitenant/blob/master/docs/cloud-function

[2019-11-13 06:18] gilv commented on #221
@JosepSampe can you provide an input here? thanks

[2019-11-13 11:38] #221 closed

[2019-11-15 13:35] omerb01 commented on #144
I experience different behaviour when action run out of memory...
now it seems that actions keep running on CF till timeout

[2019-11-15 16:09] JosepSampe commented on #144
@omerb01 Interesting... which runtime are you using?

[2019-11-15 22:18] omerb01 commented on #144
@JosepSampe `pywren-omer-runtime:3.6.16`

[2019-11-18 17:16] JosepSampe commented on #144
Current approach in CF is to entirely kill the container when out of memory is produced. Some months ago I found a workaround to avoid this. Is for this reason that with the Dockerfile-slim we could continue catching out of memory errors. However this seems to be recently fixed and now any container is killed when OOM.

I'm testing a way to produce our own OOM errors (by software) within pywren ha

[2019-11-21 13:09] omerb01 commented on #144
@JosepSampe it would be great if we could finally produce our own OOM errors. it is quite frustrating and make the development with PyWren more complex.

[2019-11-24 16:58] omerb01 commented on #209
@JosepSampe do you have any estimate for this patch? we work on a workflow of thousands actions and its quite hard to follow unexpected exceptions that come from parallelism.

[2019-11-24 18:35] rmey opened #225 "ibm_cos field is missing in obj parameter in COS map function"
In previous versions of pywren-ibm-cloud it was possible to get a reference to ibm_cos variable in the map function, for example in that [notebook](https://github.com/IBM/data-pre-processing-with-pywren/blob/master/examples/facial-recognition.ipynb)  like `def preprocess_image(bucket, key, data_stream, ibm_cos):`
In the new map Function Signature for COS there is no such field in obj anymore.
[cod

[2019-11-24 21:58] rmey commented on #225
I found in the examples that this needs to be an extra parameter and not an attribute of the obj parameter.
https://github.com/pywren/pywren-ibm-cloud/blob/master/docs/multiple-parameters.md

[2019-11-25 07:07] gilv commented on #225
def preprocess_image(obj, ibm_cos):

[2019-11-25 07:13] #225 closed

[2019-11-26 14:13] JosepSampe commented on #209
@omerb01 Here it is ;) #226

Due to some performance degradation I found by using only a separate process to invoke all the actions, I finally implemented an hybrid approach that uses the traditional invocation mechanism for the first 1200 actions, and a separate process for the rest of activations and those that fail due to max concurrency.

I think it might be improved, but for now we can alread

[2019-11-27 14:47] JosepSampe commented on #209
Now with the new invoker we can invoke any number of functions, say 10000,  without using the retrying mechanism with fixed time sleeps. However, we must consider that the performance is different depending of whether we use RabbitMQ or not.

- New invoker based on COS (warm containers):
![invoker_cos](https://user-images.githubusercontent.com/10448186/69732443-eca93700-112b-11ea-978a-efd2d89bb8ad

[2019-11-28 13:29] omerb01 opened #228 "exception when operating PyWren"
all tests fail on current master branch, for example:
[code]
produces:
[code]

[2019-11-28 13:35] gilv commented on #228
@JosepSampe this is something in your latest pull request. I have the same issue

[2019-11-28 14:55] JosepSampe commented on #228
Yep, fixing it..

[2019-11-28 15:43] JosepSampe commented on #228
Fixed in #229
I temporally deactivated **test_internal_executions**

[2019-11-28 16:55] JosepSampe commented on #228
I already fixed **test_internal_executions** test, i.e. pywren inside pywren. Will include it in the next PR

[2019-11-30 22:18] omerb01 commented on #220
@JosepSampe thanks

[2019-11-30 22:18] #220 closed

[2019-12-01 10:00] omerb01 commented on #228
@JosepSampe I submited a PR with more tests that have not passed yet and I also reverted `test_internal_executions`, lets keep all tests active even if they currently aren't passing

[2019-12-01 10:01] omerb01 commented on #209
@JosepSampe Thanks, tested it a bit and it works fine

[2019-12-01 10:06] omerb01 commented on #184
@JosepSampe it seems that when I add `chunk_n` parameter, it doesn't divide each object into the desired chunks. see #230 for examples in `test_chunks_bucket()` and `test_chunks_bucket_one_reducer_per_object()`

[2019-12-01 10:19] omerb01 opened #231 ""runtime not deployed" when operating pywren"
Experienced 2 issues with `pywren-runtime` script:
1. sometimes I get "runtime not deployed" error when I operate PyWren on a runtime (default or customised) and even when I do `pywren-runtime clean`, I still get this error. my simple solution for this is to use another runtime, and then after some time (not immediately), I can return back to the previous runtime and it works as it should (with in

[2019-12-01 12:02] omerb01 commented on #209
@JosepSampe found unexpected behaviour - when `get_result()` fails duo to some error that sent from an action, the new invoker keep launching actions, I think that it should send a signal to the invoker to stop running.

[2019-12-01 18:04] JosepSampe commented on #184
@omerb01 What is the size of the files? In order to prevent possible unnecessary chunking, the partitioner is limited to create chunks of at least 1MB

[2019-12-01 18:07] JosepSampe commented on #231
1. Regarding the first issue, when you see "runtime not deployed"? when you run functions or when you execute pywren-runtime script?

2. Regarding the second issue, internally pywren executes the "docker" console command, so in this case it says that it is unable to find the command. Can you execute the **docker** command from the console?

[2019-12-02 07:06] omerb01 commented on #184
@JosepSampe I tested it with our traditional test files from the script on #230 , we have 5 files there, but only 2 of them are greater than 1MB. when I run the relevant test, I see that only 5 actions launch instead of 7.
b.t.w maybe it's better to let the user define whats the minimum size for chunking, what do you think?

[2019-12-02 07:09] omerb01 commented on #231
@JosepSampe

when I run functions

I cant, maybe we need to add docker to pywren's installation script?

[2019-12-02 13:39] JosepSampe commented on #209
Added stop() signal in #232

[2019-12-02 15:45] JosepSampe commented on #231
@omerb01 Re. docker command, it is a system service, not a python package, so I think it is not possible to put it in the setup.py. In the runtime instructions we already stated that it is needed to install Docker CE version if you want to create your own runtimes ;)

Re. first issue, 'runtime not deployed" exception is raised [here](https://github.com/pywren/pywren-ibm-cloud/blob/master/pywren_ib

[2019-12-03 09:35] omerb01 commented on #231
@JosepSampe do you mean inside CF interface?

[2019-12-03 09:50] JosepSampe commented on #231
@omerb01 yes

[2019-12-03 16:54] #187 closed

[2019-12-03 16:56] #192 closed

[2019-12-03 16:56] #196 closed

[2019-12-03 17:04] #195 closed

[2019-12-03 17:14] #190 closed

[2019-12-03 17:42] omerb01 commented on #228
@JosepSampe all tests work except `test_multiple_executions`

when I do:
[code]
I get:
[code]

[2019-12-03 17:44] omerb01 commented on #184
@JosepSampe Thanks!

[2019-12-03 17:44] #184 closed

[2019-12-03 18:31] JosepSampe commented on #228
@omerb01 Do you have `data_cleaner : True` in config file?

[2019-12-03 18:37] omerb01 commented on #228
@JosepSampe yep

[2019-12-03 19:03] JosepSampe commented on #228
@omerb01 Yep, I already found the issue, will submit in next PR ;)

[2019-12-04 19:38] JosepSampe commented on #228
@omerb01 Running some tests I can see that the results file from tests (`__pywren.test/result`) is always kept in storage. Is this the correct behavior? or it should be deleted at the end of the tests?

[2019-12-05 09:49] JosepSampe commented on #228
@omerb01 @gilv Submitted fix in #233

[2019-12-05 09:50] JosepSampe commented on #81
@gilv I think this one can be already close with #233 . Now the data_cleaner() is always executed from any failed job

[2019-12-05 11:19] omerb01 commented on #228
@JosepSampe changed behavior on #234

[2019-12-05 15:16] #81 closed

[2019-12-06 18:00] #228 closed

[2019-12-08 06:41] gilv opened #235 "Dockerfile.python37 image is broken"
./runtime/pywren_runtime build cactusone/pywren-3.7-dev:1.0.0 -f ./runtime/ibm_cf/Dockerfile.python37

DEBUG:pywren_ibm_cloud.config:Loading configuration
DEBUG:pywren_ibm_cloud.config:Loading Compute backend module: ibm_cf
DEBUG:pywren_ibm_cloud.config:Loading Storage backend module: ibm_cos
DEBUG:pywren_ibm_cloud.compute.backends.ibm_cf.ibm_cf:Creating IBM Cloud Functions client
....

DEBUG:pywr

[2019-12-08 23:27] omerb01 commented on #209
@JosepSampe it seems that `get_result()` raises "10min timeout" error with the new invoker when 10min are passed regardless of the actual state of the actions.
for example, if we have 500 actions that each one of them takes 8min and we use 250 workers. so in the first step we launch 250 actions in 8min and then launch again 250 actions. after another 2min we get "10min timeout" error.
can you chec

[2019-12-09 09:08] JosepSampe commented on #209
@omerb01 Yep, default waiting timeout is 10 minutes. I'm not sure if we can dynamically predict the timeout for each use cae. In any case, you can change this timeout in the get_result() method, for example get_result(timeout=800)

[2019-12-09 10:41] omerb01 commented on #209
@JosepSampe is it possible to implement a timer for each job?

[2019-12-09 12:27] JosepSampe commented on #209
@omerb01 What do you mean by "implement a timer for each job"?

[2019-12-09 12:49] gilv commented on #209
@omerb01 i also a bit confused...if you submit a job and it get to 10 min then you get "10 min timeout" error...what is the problem you observe?

[2019-12-09 15:01] omerb01 commented on #209
@gilv @JosepSampe example code:
[code]
this code raises "timeout" error but it should run succefully...
the problem is that the second action gets only 1min run time instead of 10min available from CF.

I think that it's not a good approach to set a global timeout for `get_result()` method. I suggest to set a 10min timer per each action (it should be the same timeout as defined in CF) and then eac

[2019-12-09 15:59] JosepSampe commented on #209
@omerb01 Each action already has a timeout of 10 minutes defined in config by default..Timeout stated in get_result is completely diferent, it is a timeout raised on the client side and used to unlock the get_result method for not being waiting forever for a function result

[2019-12-09 16:05] omerb01 commented on #209
@JosepSampe so why do we need this timeout? I think that while we have "live" actions, we should wait to its results by default

[2019-12-09 16:29] JosepSampe commented on #209
@omerb01 The problem is, for example, an OOM error. Sometimes functions are not executed properly, so there is no way to know if a function is still running or if a function failed its execution. With this timeout you can unlock the local execution and not being waiting forever for a function result that does not exist.

Maybe the normal usage of PyWren is to spawn <= 1000 functions, so this timeo

[2019-12-09 16:45] omerb01 commented on #209
@JosepSampe OOM is a problem that we haven't solved yet, PyWren should detect actions that got OOM errors. I found it extremely hard to debug and develop a workload contains thousands of actions that I can't estimate how long each one will take because it depends on many things and it is individual for each dataset. I expect that `get_result()` won't limit my workload and if a single action gets a

[2019-12-09 16:49] omerb01 commented on #209
@JosepSampe does `get_result()` detect actions that got "timeout" errors? (regardless the global timeout parameter)

[2019-12-09 16:55] JosepSampe commented on #209
@omerb01 Yep, it's true that sometimes we can't predict the global timeout. I only exposed the reasons of that timeout based on my experience ;)  I think we can change the behavior of this timeout and set it to None by default, and if someone wants to limit the local waiting time, he can set the desired global timeout.

Yep

[2019-12-09 17:04] omerb01 commented on #209
@JosepSampe in addition, regarding OOM - I think that we can set an assumption on actions that run more than 10min. `get_result()` shouldn't wait forever, it should detect that 10min have passed and raise "fatal error" or something similar (since it's not timeout)

[2019-12-09 17:23] JosepSampe commented on #235
@gilv Fixed, will submit in next PR

[2019-12-10 12:16] LachlanStuart opened #237 "`unexpected keyword argument 'region'` when using IAM"
On both 1.2.0 and the current git HEAD (dda7310fdee5a4c50a79133a57a67670cb15ef56) I get the following error:

[code]

I'm using IAM. This is my config file, with private info censored:
[code]

[2019-12-10 12:40] gilv commented on #237
@JosepSampe can you see it please? thanks

[2019-12-10 12:45] JosepSampe commented on #237
Checking it

[2019-12-10 16:15] JosepSampe commented on #237
Found and fixed, doing final tests, will include it in next PR

[2019-12-11 08:42] gilv commented on #237
@JosepSampe thanks...when we see the next PR? ;)

[2019-12-11 10:08] JosepSampe commented on #237
@gilv right now ;) I wanted to include all that I have in a single PR instead of submitting 10 PRs ;)

[2019-12-11 11:13] gilv commented on #209
@JosepSampe thanks a lot for the pull request.
i am a bit confused with this thread... @omerb01 claims if some invocation not killed, then get_result() will stuck for ever? is this what you also observe?
Also - each worker has timeout which is global per all invocation used inside? so it's not timeout per invocation, but per worker?

[2019-12-11 13:53] JosepSampe commented on #209
@gilv

get_result() method has an available parameter to set a global timeout for waiting for the results, for example `get_result(timeout=1000)`. This means that your local pywren code will be blocked during at most 1000 seconds. If during these 1000 seconds get_result() is unable to download all the results, it will raise a timeout and continue local execution.

No, each activation has its own 1

[2019-12-11 14:44] omerb01 commented on #209
@JosepSampe experienced a new unexpected behavior when I use PyWren with the new invoker.
when I use Jupyter with one single PyWren executor which initialized in a separated cell, and then I start invocations to the max workers and stopped the executor by force, the next time I'll run `map()` and `get_result()`, the new invoker won't launch any invocation cause it will wait for invocations to be d

[2019-12-11 16:36] gilv commented on #209
@JosepSampe if i don't set timeout and some invocation killed completely, then get_result() will stuck forever?

[2019-12-11 16:37] JosepSampe commented on #209
@gilv Yes, until you press ctrl+c

[2019-12-11 16:53] #235 closed

[2019-12-11 16:53] #237 closed

[2019-12-12 12:07] omerb01 commented on #231
@JosepSampe got `Exception: Runtime: omerb01_pywren-omer-runtime_3.6.16_2048MB not deployed` again.
I don't see any actions named like this in my namespace in CF dashboard

[2019-12-12 13:09] JosepSampe commented on #231
I've never experienced this... Which steps are you following that you finally observe this?

I think the only way to get this exception is if you manually delete the action/pywren package from your namespace without using pywren-runtime script

[2019-12-12 13:56] omerb01 commented on #231
@JosepSampe maybe when someone else uses `pywren-runtime clean` (I assume that @gilv used it) in my namespace, it deletes the action but doesn't delete stored data related inside COS (because it is stored in my bucket). what do you think?

[2019-12-12 14:31] JosepSampe commented on #231
@omerb01 Yep, it looks like what you describe if you use same CF namespace

[2019-12-12 14:54] omerb01 commented on #231
@JosepSampe I think that in practice, each namespace could be shared by multiple people, is it possible to fix?

[2019-12-12 15:07] JosepSampe commented on #231
@omerb01 Now we know the source of the issue yes

[2019-12-12 18:41] omerb01 commented on #209
@JosepSampe I'm sorry if this thread turns confusing. regarding my last comment, I found that with the current invoker, it's not possible to use one executor for multiple `map()` executions using Jupyter - I experience weird behavior when `get_result()` waits in vain. is it possible to fix?

[2019-12-13 12:33] JosepSampe commented on #209
@omerb01 New invoker is initiated in the executor, this fact allows call_async(), map() and map_reduce() to be async methods, i.e, they submit the job to the invoker and immediately return the control to the user code.

To solve the issue you found we can revert previous pywren approach where the invoker is started in each map() call_async(), map_reduce(). However, with this approach the map() cal

[2019-12-17 14:49] JosepSampe commented on #209
@omerb01 In your previous comment you say: "..., and then I start invocations to the max workers and stopped the executor by force..." What do you mean by "stopped by force"? Do you refer to press the "stop (interrupt kernel)" button of the jupyter interface?

[2019-12-17 19:01] shelbyt opened #239 "Openwhisk Pywren Credentials and Setup"
Hi,

I'm running vanilla openwhisk locally and want to run pywren. What steps did you all use to get this to work? I saw post #62 but it did not given any details about how to do this.

For one, when I'm setting up credentials I'm not sure what to put down for region/endpoint/etc.:
![image](https://user-images.githubusercontent.com/1332316/71025571-254d8800-20bc-11ea-9d65-75fbf6eca16c.png)

When r

[2019-12-17 20:16] JosepSampe commented on #239
Hi @shelbyt
In OpenWhisk , a fully qualified name has three parts: /namespaceName/packageName/entityName. So based on the image, the **endpoint** is `http://172.31.47.60:9090` and the **namespace** is `23bc46b1-71...`. If you can access OpenWhisk without credentials, there is no need to put anything in api_key.

In any case, could you deploy the hello_world action again and verify you can invoke i

[2019-12-17 22:32] shelbyt commented on #239
Thank you, that was helpful.

I can invoke by sending curl and I verify that I always get the same namespace when deploying.
See output below:

![image](https://user-images.githubusercontent.com/1332316/71039190-6e133a00-20d8-11ea-9187-0c696f25b1fb.png)

When running the testsuite `python -m pywren_ibm_cloud.tests` I seem to now be getting this error on all the tests:
![image](https://user-images.

[2019-12-18 07:34] gilv opened #240 "Getting bucket name from PyWren"
I need to get bucket name which is used by PyWren internally.

Configuration always contains

pywren:
    storage_bucket : mybucket

Consider example

def my_func(x, ibm_cos):
    print("aha")

pw = pywren.ibm_cf_executor()
pw.map(my_func, range(1))

Is there a way to get storage_bucket inside my_func? Is there a way to get storage_bucket from pw executor?

[2019-12-18 09:13] LachlanStuart opened #241 "CredentialRetrievalError in action"
I see an intermittent exception inside actions with PyWren 1.3.0:
[code]

This happened using pywren-ibm-cloud 1.3.0. I'm using IAM-based authentication, with the same config file as I had in https://github.com/pywren/pywren-ibm-cloud/issues/237 .

[2019-12-18 09:27] LachlanStuart opened #242 "Unexpected AccessDenied errors"
While running my application in a loop for benchmarking, I got an unexpected Access Denied error in `executor.get_result`:

https://gist.github.com/LachlanStuart/6c7826883f1212b9e09b976950d92794 (exception is at the end)

This happened with an `executor` instance that had already been used for 6 previous successful operations. The first activation with that executor started at `2019-12-17T17:25:49

[2019-12-18 09:35] gilv commented on #242
@JosepSampe this is exactly what i experienced with other flows... and it got resolved by itself after couple of run attempts. I use API key for CF.
I think something in the token manager is wrong to provide tokens to invocations.
This is something new, we didn't experienced it in the past.

[2019-12-18 10:25] LachlanStuart opened #243 "Avoid calling exit() on the host"
The current behavior when an action exits with an exception is to [exit the host process](https://github.com/pywren/pywren-ibm-cloud/blob/master/pywren_ibm_cloud/executor.py#L363)

This is undesirable because it doesn't give the calling code a chance to log, clean up, or attempt to recover (unless it specifically handles the `SystemExit` exception).

It would be better to re-`raise` the `FunctionE

[2019-12-18 11:05] JosepSampe commented on #242
@LachlanStuart @gilv This issue happens due tokens expiry time.
In order to alleviate the number of requested tokens to IBM Cloud, a new requested tokens is stored locally so that it can be reused during its lifetime, which is 1 hour. The problem comes when during an experiment the token expires, i.e, you start the experiment when the token is valid, but the experiment takes long and it expires wh

[2019-12-18 11:15] JosepSampe commented on #242
@LachlanStuart @gilv This issue happens due tokens expiry time.

In order to alleviate the number of requested tokens to IBM Cloud, a new requested tokens is stored locally so that it can be reused during its lifetime, which is 1 hour. The problem comes when during an experiment the token expires, i.e, you start the experiment when the token is valid, but the experiment takes long and it expires w

[2019-12-18 12:27] JosepSampe commented on #241
This seems to be related to #242

[2019-12-18 13:58] JosepSampe commented on #239
@shelbyt Thanks for the information. Seems the communication with the backend is slightly different between IBM CF and OpenWhisk.  Need to check other things to go ahead with this ;)

1. Can you try if you can invoke the action by using "guest" namespace?
for example: `curl http://172.31.47.60:9090/api/guest/hello`
2. Can you try if you can invoke the action by specifying api version?
for example:

[2019-12-18 14:05] robertgo-IBM opened #244 "Odd behaviour when setting globally scoped variables"
Following the instructions [here](https://github.com/pywren/pywren-ibm-cloud/blob/master/docs/multiple-parameters.md#common-parameters-across-functions-invocations), observed odd behaviour when setting globally scoped variables inside a class method.

[code]

*1. Expected behaviour:*

`same_module.py:`

[code]

[code]

`global_var` is set and is visible inside `my_function()`.

*2. Unexpected beha

[2019-12-18 14:50] JosepSampe commented on #242
@LachlanStuart just out of curios, not related to the issue, why do you have `annotation_pipeline ` repeated 10s of times here: https://gist.github.com/LachlanStuart/6c7826883f1212b9e09b976950d92794#file-gistfile1-txt-L799 ? Are you appending it to include_modules multiple times? or it might be internal PyWren issue?

[2019-12-18 16:34] shelbyt commented on #239
Sure, to give you a full picture this is how I'm creating the API:

![image](https://user-images.githubusercontent.com/1332316/71104546-d281d800-2170-11ea-9b78-f8713a2376b7.png)

Unfortunately, none of thsoe commands you mentioned works:

![image](https://user-images.githubusercontent.com/1332316/71104665-05c46700-2171-11ea-98ac-2e97cb7b8e95.png)

[2019-12-18 16:37] JosepSampe commented on #239
@shelbyt many thanks, In PyWren actions are not web, so can you try creating the action without `--web True`?

[2019-12-18 16:42] shelbyt commented on #239
There is an error when doing this, I can't create an API without it being web it seems:
![image](https://user-images.githubusercontent.com/1332316/71105316-3527a380-2172-11ea-92f6-e347368029ae.png)

[2019-12-18 17:01] JosepSampe commented on #239
I think there is no need to create the api, you can invoke the action directly

[2019-12-18 17:11] shelbyt commented on #239
I can invoke the action, but it doesn't seem like I can curl without setting up the API parameters, is there a way to do this?

![image](https://user-images.githubusercontent.com/1332316/71107627-4e325380-2176-11ea-9a0d-0660f654252f.png)

[2019-12-18 17:21] JosepSampe commented on #239
Can you share the output from `wsk list`?

[2019-12-18 17:26] shelbyt commented on #239
See following:

![image](https://user-images.githubusercontent.com/1332316/71108688-77ec7a00-2178-11ea-83f4-70c2eaac2fbf.png)

[2019-12-18 17:31] JosepSampe commented on #239
Interesting, can you try with:
[code]

[2019-12-18 17:34] shelbyt commented on #239
None of those seem to work:

![image](https://user-images.githubusercontent.com/1332316/71109163-871ff780-2179-11ea-9636-33caf6e6c56a.png)

[2019-12-18 17:41] JosepSampe commented on #239
Ok, no problem, can you share the output of: `wsk action invoke /guest/hello`?

[2019-12-18 17:42] JosepSampe commented on #239
Ok, no problem, can you share the output of: `wsk --debug action invoke /guest/hello`?

[2019-12-18 17:45] shelbyt commented on #239
![image](https://user-images.githubusercontent.com/1332316/71109943-2bef0480-217b-11ea-8522-b0b5917130db.png)

[2019-12-18 17:53] JosepSampe commented on #239
nice, so now you can see the full url at the beginning
[code]
So you should be able to `curl ` that url with -X POST and get the result

[2019-12-18 18:05] JosepSampe commented on #239
This was the URL I wanted to see :)
Now, in pywren config file you have to write:
[code]

In addition to the config, PyWren still requires a little change in the communication lib, I will submit a PR soon with the changes

[2019-12-18 18:13] shelbyt commented on #239
On curl this is what happen:

![image](https://user-images.githubusercontent.com/1332316/71111695-d1f03e00-217e-11ea-8620-abdddba66ac6.png)

When I'm running this using the testing infrastructure on pywren, these are the errors:

![image](https://user-images.githubusercontent.com/1332316/71111729-dcaad300-217e-11ea-9c25-328e7033790b.png)

I think  there is something else SSL related that is causin

[2019-12-18 18:31] JosepSampe commented on #239
Does curl work with http? Also, you have to delete the port 9090 from the endpoint

[2019-12-18 19:18] shelbyt commented on #239
It doesn't work with http:
![Uploading image.png…]()

[2019-12-18 19:20] JosepSampe commented on #239
Take a look to this: https://github.com/apache/openwhisk/blob/master/docs/rest_api.md
Seems basic auth is in `~/.wskprops` file. you can also get it by `wsk property get --auth`.
You need to write this auth in config file too. However, I have to see how this auth looks like to determine if it is the expected one by PyWren, so can you paste the output from  `wsk property get --auth`?

[2019-12-18 19:25] shelbyt commented on #239
![image](https://user-images.githubusercontent.com/1332316/71116496-1e407b80-2189-11ea-8d83-3af0681d2d19.png)

[2019-12-18 19:27] JosepSampe commented on #239
Yep, this one is the expected one, so copy all the key `23bc46.....wP` into api_key in config

[2019-12-18 19:33] shelbyt commented on #239
Same SSL Error as before, but I"m glad we did figure out what the API key should be:

![image](https://user-images.githubusercontent.com/1332316/71116940-fb629700-2189-11ea-9c09-5812fd429760.png)

Error: (Note it defaults to port 443 now)

![image](https://user-images.githubusercontent.com/1332316/71116976-0fa69400-218a-11ea-8cb3-8c0b6b4fafaf.png)

[2019-12-18 19:46] shelbyt commented on #239
See all properties below:
![image](https://user-images.githubusercontent.com/1332316/71117977-09b1b280-218c-11ea-867e-0359ecfacd83.png)

[2019-12-18 20:18] shelbyt commented on #239
By the way I was just able to get the `hello ` program working with CURL but only after I gave it both the username/password AND passed the -k option to curl i.e.
![image](https://user-images.githubusercontent.com/1332316/71119957-32d44200-2190-11ea-8808-39ba1047f554.png)

Result:
![image](https://user-images.githubusercontent.com/1332316/71120087-76c74700-2190-11ea-8c70-f825702f780f.png)

[2019-12-18 20:19] JosepSampe commented on #239
This is expected. I'm modifying pywren communication lib to allow insecure OW backends

[2019-12-18 23:12] JosepSampe commented on #240
You can get the storage bucket from env,
`sb = os.environ.get('PYWREN_STORAGE_BUCKET')`
In fact, you can get the whole config from environ:
`pywren_config = json.loads(os.environ.get('PYWREN_CONFIG'))`

[2019-12-18 23:12] JosepSampe commented on #243
Added fix in #245

[2019-12-18 23:13] JosepSampe commented on #209
@omerb01 Added fix in #245. Try if you get expected behavior when merged

[2019-12-18 23:17] JosepSampe commented on #239
Added fix in #245. When merged add 'insecure: True' in config file:
[code]

I couldn't test it since I couldn't access to an OpenWhisk deployment, but I think the changes are enough to make it working.

[2019-12-19 01:05] shelbyt commented on #239
Using the new commits it seems to fix the auth problem. However it was then giving me this problem:

![image](https://user-images.githubusercontent.com/1332316/71134730-3b3e7400-21b4-11ea-9a0c-22fce2ad7e30.png)

I was able to solve it by changing this in [config.py](https://github.com/pywren/pywren-ibm-cloud/blob/master/pywren_ibm_cloud/compute/backends/ibm_cf/config.py#L9)  :

![image](https://us

[2019-12-19 07:11] shelbyt commented on #239
Also for future reference, I was able to get 1024 mb RAM functions of openwhisk running with the openwhisk-devtools:

![image](https://user-images.githubusercontent.com/1332316/71152381-19141880-21eb-11ea-961d-ecca7783c934.png)

Just add this
`CONFIG_whisk_memory_max: 1073741824`

After these lines in the openwhisk invoker and controller:
https://github.com/apache/openwhisk-devtools/blob/master/do

[2019-12-19 11:04] LachlanStuart commented on #242
@JosepSampe I'm not sure why it's there 10 times. I use `%autoreload` in Jupyter Lab, so it's possible that many versions of the same module are still referenced in memory. I'll check whether the number of duplicates grows after code changes next time I'm at my work computer.

It's definitely only in my `include_modules` once:
[code]

[2019-12-19 14:35] JosepSampe commented on #239
@shelbyt Great to know all is working fine :) Thank you alot too for your feedback. The test that fails is not an important one, so you can run function without problems.

I added a new `openwhisk_executor()` in #245 , and also a new section in configuration to easily differentiate between vanilla openwhisk clusters and IBM Cloud Functions. So you can now move your config to:
[code]

Then, you can

[2019-12-19 15:28] shelbyt commented on #239
Got it, I'll check it out. Closing this issue!

[2019-12-19 15:28] #239 closed

[2019-12-19 18:48] JosepSampe commented on #244
After some test, I can conclude that this is not a possible approach in pywren due to **cloudpickle** library.

When you invoke `same_module.py`, **cloudpickle** detects that the function to serialize is in the same module, so it proceeds to serialize the function itself along with all the variables including the globals. See serialized data:
`b'\x80\x04\x95\xa5\x01\x00\x00\x00\x00\x00\x00\x8c\x17

[2019-12-19 21:17] LachlanStuart commented on #242
@JosepSampe It wasn't an `%autoreload` issue as I suspected. Every pywren job added one more `annotation_pipeline` to that same list. The first `executor.map` only logged one `annotation_pipeline`, the second logged two, etc. This happened even without `%autoreload` enabled.

[2019-12-20 10:20] robertgo-IBM commented on #244
Yes, perhaps it is a nuance of `cloudpickle`.

I also observed that if the `set_global_var()` is defined as a function, rather than as a class method, `global_var` is serialised and visible to `my_function()` from both  `same_module.py` and `different_module.py`. So it appears to relate specifically to the setting of global variables inside class methods.

[2019-12-20 15:41] JosepSampe commented on #242
@LachlanStuart Fixed in #245

[2019-12-25 14:29] omerb01 opened #246 "get_result() waits forever issue"
as discussed in #209 (just to document this issue) and regarding #144 .
we need to improve `get_result()` so it won't wait forever in any case.

I think that when a single action is killed and `get_result()` waits more than 10mins (max run time configured for actions inside CF), we can assume that it got OOM error and terminate PyWren accordingly.

Example code that should raise OOM error after 10

[2019-12-25 15:04] omerb01 commented on #246
in addition, I found that `get_result()` doesn't detect timeout errors when actions run more than 10min, this should be thrown regardless of OOM errors (if possible)
if it isn't possible to differ timeout errors and OOM errors, I suggest throwing timeout error in both cases.

Example code that should throw "timeout" error but actually waits forever:
[code]

[2019-12-26 09:00] omerb01 commented on #242
experienced another "access denied" error with the current master branch (after using a notebook that was run yesterday) :
[code]

[2019-12-26 12:42] JosepSampe commented on #242
@omerb01 Could you please paste full DEBUG logs (not only exception)

[2019-12-27 11:03] omerb01 commented on #242
@JosepSampe DEBUG logs are too long to put here, I'll send you by mail

[2019-12-27 16:33] JosepSampe commented on #242
@omerb01 As I stated above, the problem is that the map() takes more than 1 hour to finish, this causes the token to expire while the map() is running, and then the exception.

For this kind of long-term workflows, I would suggest to use HMAC credentials instead of COS API key

[2020-01-01 16:26] omerb01 opened #247 "unexpected OUTATIME exception"
I experience unexpected exception when I run lots of actions in a single map function.
the weird thing is that when I run this specific action only in another map, I get no errors.
I think that it happens randomly, I'm not sure why.

it's quite hard to get DEBUG logs cause jupyter crushes when it gets too much things to print, but I can produce it in another way if needed.

activation with excepti

[2020-01-02 07:03] gilv commented on #247
@omerb01 if it run smore then 10 minutes, you will get this error. not sure i follow the issue you observe.

[2020-01-02 08:20] omerb01 commented on #247
@gilv it shouldn't run 10mins, as I showed above, the successful action runs ~3min

[2020-01-02 12:45] omerb01 commented on #247
@gilv @JosepSampe some plots to understand what happens better
this is a successful execution:
![image](https://user-images.githubusercontent.com/13593227/71667557-4ece0b00-2d6e-11ea-9e05-7f9289c432b1.png)
this is a failed execution (OUTATIME exception):
![image](https://user-images.githubusercontent.com/13593227/71667584-6c9b7000-2d6e-11ea-8351-75e1167d3ee9.png)

[2020-01-03 16:00] JosepSampe commented on #247
I'm not sure if this is PyWren related, since the weird behavior is produced within user's code. PyWren raises OUTATIME because the function exceeded 10 minutes, which is the normal behavior.

You need to investigate the code you run between these 2 lines of code, which takes 10 minutes in one case:
[code]
and in contrast, in the other log it only takes 2 minutes:
[code]

[2020-01-03 18:19] omerb01 commented on #242
@JosepSampe do you know if an IAM key is good enough for not experiencing this exception?

[2020-01-03 23:45] JosepSampe commented on #242
@omerb01 IAM api key also generates a token, so you will experience same exception for this use case.

[2020-01-04 07:20] JosepSampe commented on #231
I was thinking about it, and the easiest way to proceed is to differentiate between packages in the CF namespace so that each user has its own pywren package.  To do so we can add a suffix that identifies the user who created that package.

He have multiple options, for example, use a subset of the api_key of each user, so that the pywren package in the CF namespace will looks like this (for 3 dif

[2020-01-05 10:35] omerb01 commented on #231
@JosepSampe I think it's a great solution, I support in the API key solution cause it simplifies the config file - but we do need an option for the `pywren-runtime` script to clean all packages available in the namespace as well.

[2020-01-07 07:07] JosepSampe commented on #246
1st post and 2nd pot are different issues. #248 fixes issue from 2nd post

[2020-01-08 15:33] omerb01 commented on #246
@JosepSampe thanks, tested it and 2nd post was solved.

[2020-01-13 15:01] kpavel opened #251 "Unable to use already built runtime"
Running `pywren-runtime create jsampe/pywren-conda:3.5` fails to create knative runtime.
Docker image tag "latest" concatenated to the end of image name when not needed.

https://github.com/pywren/pywren-ibm-cloud/blob/f42f9d4d1fe9d6b8ec1215371242192a54a2e95b/pywren_ibm_cloud/compute/backends/knative/knative.py#L239

[2020-01-13 19:16] gilv commented on #251
@JosepSampe can you check this please?

[2020-01-14 06:16] #240 closed

[2020-01-14 06:18] gilv commented on #231
@JosepSampe @omerb01 can we close this one?

[2020-01-14 06:18] #16 closed

[2020-01-14 06:19] #243 closed

[2020-01-14 06:20] #191 closed

[2020-01-14 06:21] #209 closed

[2020-01-14 06:31] gilv opened #252 "Extend PyWren to support pluggable storage for shuffle and temp data"
The goal is to extend PyWren with optional in-memory storage backends which are significant faster and perhaps “closer” to the compute engine. We will initially support two implementations for the in-memory storage solutions: Infinispan and Crail. We will support more solutions in the future. Using  “fast” storage for PyWren will benefit the following scenarios

## Internal data generated by PyWre

[2020-01-14 08:20] JosepSampe commented on #251
Added fix in #253.
However, note that the runtime `jsampe/pywren-conda:3.5` does not exist.

[2020-01-14 08:25] JosepSampe commented on #246
I added a fix in #253 in order to prevent get_result() wait forever for results (1st post).  Note that currently this patch/implementation only works for RabbitMQ. So we can start to test it when merged and suggest improvements (if any). Will summit a patch for object Storage in another PR.

[2020-01-15 08:22] omerb01 commented on #231
@JosepSampe Thanks, I saw that you added suffixes for PyWren's package in CF. do you plan to add an option for `pywren-runtime` script to delete all available packages in the namespace?

[2020-01-15 08:30] omerb01 commented on #144
@gilv I suggest reopening this issue since it hasn't been solved yet.

[2020-01-15 08:48] JosepSampe commented on #231
@omerb01 I can add something like `pywren-runtime clean all`
However, it won't clean runtimes metadata from the other users COS bucket. So if you delete all available packages in the namespace,  the other users will get "runtime not deployed" when operating pywren again.

[2020-01-15 09:04] omerb01 commented on #231
@JosepSampe I see, so maybe it's better to leave it as it is, thanks :)

[2020-01-15 09:55] #231 closed

[2020-01-15 13:29] gilv commented on #144
per @omerb01 request

[2020-01-19 09:34] #251 closed

[2020-01-21 08:47] gilv commented on #252
https://github.com/pywren/pywren-ibm-cloud/commit/b8a4634dcbdc2837d68a8b57bcbbbdc402d70c20
This is preliminary support. So far Infinispan doesn't support keys with "/". We need to figure out this with Infinispan community.

Also not sure if PyWren need to create Infinispan cache per PyWren job. Seems it is, still in discussions

[2020-01-21 10:40] gilv commented on #252
An update :
each PyWren job will create it's cache in Infinispan. All temp data will be written into this cache. When job is finished - PyWren will delete the cache

[2020-01-23 13:13] LachlanStuart opened #254 "No way to wait for all failed activations"
When debugging problems inside activations, it can be helpful to get a list of all failed activations so that you can see how common the problem is, and if they all hit the same problem or have different problems. However, at the moment PyWren raises an exception once it hits the first failure, and doesn't seem to provide any option to avoid this behavior.

Example:
[code]

The current behavior of

[2020-01-23 14:21] JosepSampe commented on #254
@LachlanStuart `throw_except` param behavior is already fixed in master branch. I think #255 is also required. So by setting `throw_except=False`, the invoker will never stop, and you can wait for all failed activations and mesure how common is the errror.

[2020-01-23 17:10] LachlanStuart commented on #254
@JosepSampe It's awesome that you're one step ahead of me! However, I get an exception using `throw_except=False` in 1.4.0 and also the #255 branch:

[code]

[2020-01-23 17:50] JosepSampe commented on #254
@LachlanStuart Are you sure you updated the code? `FunctionException` is no longer used an completely deleted from the code.

[2020-01-24 06:37] mbehrendt opened #256 "Error occurs when switching to `local_executor`"
The error message below occurs when trying to run pywren code with the `local_executor`:

[code]

[2020-01-24 08:09] JosepSampe commented on #256
@mbehrendt Which PyWren version are you using?

[2020-01-24 08:39] mbehrendt commented on #256
1.4.0 @JosepSampe

[2020-01-24 08:45] LachlanStuart commented on #254
@JosepSampe Ah, sorry, I forgot to change branch after checking out your fork. `throw_except` works as expected in #255. This issue can be resolved once that is merged.

[2020-01-24 09:47] mbehrendt commented on #256
i got it resolved with a fresh install

[2020-01-24 09:47] #256 closed

[2020-01-24 09:59] JosepSampe commented on #256
@mbehrendt In fact the issue exists when using a `local_executor()` with functions that contain `ibm_cos` parameter. I just added a fix in https://github.com/pywren/pywren-ibm-cloud/pull/255

[2020-01-27 09:21] LachlanStuart commented on #254
Resolved in 1.4.1

[2020-01-27 09:21] #254 closed

[2020-01-29 11:44] robertgo-IBM opened #258 "pywren_ibm_cloud 1.3.1 tests hang when running in Python 3.6.9 and 3.6.10"
`python3 -m pywren_ibm_cloud.tests`, using Python 3.6.8, runs successfully to completion:

`docker run --rm --name clean-python-environment -v $PWD:/root python:3.6.8  bash -c 'pip3 install pywren_ibm_cloud==1.3.1; python3 -m pywren_ibm_cloud.tests'`

However, using Python 3.6.9 or 3.6.10, the first test simply hangs indefinitely:

`docker run --rm --name clean-python-environment -v $PWD:/root pyt

[2020-01-29 13:34] JosepSampe commented on #258
Unfortunately 1.3.1 had a bug that prevented to run the tests successfully. Can you try with >1.4.0?

[2020-02-05 07:20] gilv opened #261 "test fails after #260 merge"
======================================================================
ERROR: test_chunks_bucket_one_reducer_per_object (__main__.TestPywren)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "pywren_ibm_cloud/tests.py", line 383, in test_chunks_bucket_one_reducer_per_object
    result = pw.get_result(futures)
  File "/Users/gilv/.pyen

[2020-02-05 09:16] JosepSampe commented on #261
@gilv all tests run ok for me.  Did you update runtimes?

[2020-02-05 16:25] JosepSampe commented on #247
@omerb01 Just out of curiosity, are you still getting timeout errors in this function? or might recent pywren fixes solve the issue?

[2020-02-05 17:11] omerb01 commented on #247
@JosepSampe need to test it deeply again ;)
I was a bit busy recently

[2020-02-05 19:58] gilv commented on #261
@JosepSampe nope...just used new code without update runtimes

[2020-02-06 05:49] gilv commented on #261
@omerb01 we need to update the runtime.

[2020-02-06 05:49] #261 closed

[2020-02-06 08:50] omerb01 commented on #261
@gilv @JosepSampe which Dockerfile should I need to use?

[2020-02-06 09:42] gilv commented on #261
@omerb01 create new image...Docker file the same

[2020-02-06 12:26] JosepSampe commented on #261
Seems that even having the runtime updated, from sometimes this issue appears in 1 of each 20 pywren executions. #262 Fixes it.

[2020-02-09 12:01] omerb01 commented on #247
@JosepSampe I made a benchmark contains 6.5k actions using COS and I didn't experience this exception at all :)

I want to add that I'm happy with the current PyWren performance using COS, as you can see here:
![image](https://user-images.githubusercontent.com/13593227/74101591-10cdbf00-4b44-11ea-89fb-061ab8b10be0.png)
some versions before the current one were much less stable because of I/O with

[2020-02-10 16:10] JosepSampe commented on #247
@omerb01 Great! :) I think the trick is to put a very low `read_timeout` value in the configuration of the IBM COS client: https://github.com/pywren/pywren-ibm-cloud/blob/master/pywren_ibm_cloud/storage/backends/ibm_cos/ibm_cos.py#L70, and then immediately retry the COS request, since 2nd request attempt always work as expected.

[2020-02-23 08:24] omerb01 commented on #247
Thanks

[2020-02-23 08:24] #247 closed

[2020-02-23 14:07] omerb01 opened #265 "ParamValidationError with current master branch"
I get `ParamValidationError` when operating PyWren map over objects in COS.
if I downgrade PyWren version to 1.4.2 it works.

example PyWren DEBUG logs:
https://gist.github.com/omerb01/7b264b8287ab42ceef2e471a23744881

code is a bit complicated, please let me know if you need anything else.

[2020-02-23 14:16] omerb01 commented on #246
@JosepSampe Thanks!

[2020-02-23 14:16] #246 closed

[2020-02-23 17:07] JosepSampe commented on #265
@omerb01 Based on this discussion: https://github.com/metaspace2020/pywren-annotation-pipeline/issues/55 , I decided to delete the `pickle.dumps()` located inside the `internal_storage.put_obj()` method that returns a CloudObject. Now, as with `ibm_cos.put.obj()`, the user is responsible to provide a bytes-like object when using `internal_storage.put_object()`, for eaxmple by using pickle (or any

[2020-02-23 19:01] omerb01 commented on #265
@JosepSampe thanks :)

[2020-02-23 19:01] #265 closed

[2020-02-25 18:03] omerb01 opened #266 "invoker raises "Unauthorized" error"
I'm not sure if it is PyWren related issue - I experience "Unauthorized - Invalid API Key" error when using Jupyter and leave the notebook for a couple of minutes. I haven't experienced this before.

Example:
[code]

[2020-02-26 14:17] omerb01 commented on #266
to document this out: when using an IAM API key, a 1-hour token is generated and can be expired after that. to resolve, we need to use Cloud Foundry API key

[2020-02-26 14:17] #266 closed

[2020-03-01 13:56] tokamo10 opened #267 "Get authentication invalid error"
I am just try to do the following tutorial: https://developer.ibm.com/tutorials/quickly-run-python-code-at-scale/
When I run the python file(word_counter.py), I get an error. Where should I check?
[code]
When I run the following code, same error was happened.
[code]

[2020-03-02 09:57] JosepSampe commented on #267
@tokamo10 Verify you got the correct IBM CF key here; https://cloud.ibm.com/functions/namespace-settings. Detailed Config instructions re here: https://github.com/pywren/pywren-ibm-cloud/tree/master/config

[2020-03-03 05:43] tokamo10 commented on #267
@JosepSampe I was using IAM-based namespace and set "IAM API key" in api_key of ibm_cf.
So I change CF-based namespace and set "CF-based API key", it works fine.
Thank you!

[2020-03-03 05:43] #267 closed

[2020-03-10 16:59] omerb01 opened #268 "Dynamic workers number for Kvative"
a feature suggestion for the new Knative backhand:
now, workers number is statically defined by default for 1200 workers, this definition is done for CF and Knative as well.

for a default CF account, only 1200 actions are permitted in parallel so defining 1200 workers while using CF is great but while using Knative we depend on the VM (or the local machine) specs.
for example, if we operate a map

[2020-03-11 12:32] kpavel commented on #268
Sounds good, but it can be slightly more flexible.
Calculating number of available resources before running the job is risky, as it can be changed by concurrently running job.
Maybe you should also consider to recognize failures, when invocation fails because of resource limits and retry, while dynamically managing the number of concurrent workers.

[2020-03-18 01:44] tokamo10 opened #269 "No such file or directory: '/home/dsxuser/.pywren_config' using Watson Studio notebook"
I used Watson Studio notebook and executed

[code]

I got the following error:
`FileNotFoundError: [Errno 2] No such file or directory: '/home/dsxuser/.pywren_config'`

How do I run pywren using Watson Studio notebook?

[2020-03-18 06:25] gilv commented on #269
@tokamo10 you need to define config explicitly. See this one https://github.com/pywren/pywren-ibm-cloud/blob/master/examples/hello_world.ipynb

[2020-03-18 10:38] gilv commented on #268
@JosepSampe can you check this please?

[2020-03-18 11:08] tokamo10 commented on #269
I defined config and executed successfully.
Thank you.

[2020-03-18 11:08] #269 closed

[2020-03-23 18:08] JosepSampe commented on #268
@omerb01 It sounds great. Although in knative the default number of workers is 100 (not 1200), it is much more flexible to calculate it in runtime. However, I have some questions:
- Should we assume that a given knative cluster/vm is used  only by 1 user?
- What happens if there are multiple users in the same cluster?

In this case calculating the number of workers will be much more complex, as @k

[2020-03-23 19:29] omerb01 commented on #268
@JosepSampe it's a good point. I'm not a Kubernetes expert, but it seems that a cluster over Knative can manage its available resources by external demands, its pods are created by demands and destroyed right after usage, maybe we can calculate available resources regarding current running containers.

[2020-03-24 04:55] gilv commented on #268
@omerb01 @JosepSampe adding my 2 cents. I guess it the cluster is dedicated, then this can work..but otherwise @JosepSampe is correct. Even if we see cluster is empty and we calculate X resources based on the current running containers, it still doesn't prevent other from use the same cluster. So we calculate X resources, submit PyWren job and then someone in the middle submitted massive workflow,

[2020-03-24 10:25] kpavel commented on #268
I think better solution would be to combine two approaches.
1. Have hard limit of maximum resources that can be allocated by the cluster.
2. Catch appropriate exceptions, e.g. "overloaded" (error code 503). Then decrease number of workers and consumed resources dynamically and retry failed invocations

[2020-03-24 14:00] LachlanStuart opened #271 "ConnectTimeoutError when retrieving results from ibm-cos"
When running our code from my home internet connection I get intermittent `ConnectTimeoutError`s when calling `pw.get_results()`. Usually this happens when there are large numbers of actions or the action results are large.

Here is a stack trace of the error: https://gist.github.com/LachlanStuart/86dcde8502f3fab713e1cddbb0b26a36
This job invoked 285 parallel activations, with a total of 1.2GB of

[2020-03-25 11:41] JosepSampe commented on #271
I increased the connection timeout to 3 in #270 . Let's see if this is enough

[2020-03-25 16:53] omerb01 opened #272 "Dockerfile runtime build issue"
I think that I observe issues with the base Dockerfile shared here in the repository.
it seems to be an old bug, I have discovered that after enforcing Docker for don't use cache in the process of creating the new runtime.

I get the following error in the process of creating a new runtime:
[code]
it seems that this error causes some damage for the runtime so when I use COS, I observe (for example

[2020-03-25 17:01] omerb01 commented on #272
also, I'm not sure what is `entry_point.py` and how it should be integrated with my custom runtime, do I have to hold this file in my project as a PyWren user?

[2020-03-25 18:04] JosepSampe commented on #272
Which dockerfile are you using?

[2020-03-26 06:48] gilv opened #273 "Pull request #270 - tests doesn't pass"
@JosepSampe @omerb01 can you check it please?
Happened when i merged #270

======================================================================
FAIL: test_call_async (__main__.TestPywren)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "pywren_ibm_cloud/tests.py", line 211, in test_call_async
    self.assertEqual(result, "Hello Wor

[2020-03-26 10:22] omerb01 commented on #272
@JosepSampe I use the slim Dockerfile for CF, I'm not sure that "requests" module is exactly the problem, I fixed it by enforcing docker to install requests version 2.22 .
more example errors:
[code]

[2020-03-26 11:27] JosepSampe commented on #272
Maybe this is related to #271

[2020-03-26 11:33] JosepSampe commented on #273
Fixing it...

[2020-03-26 12:50] omerb01 commented on #272
@JosepSampe I don't think so, it happens only when I use a new runtime with the same dependencies as before

[2020-03-26 13:40] JosepSampe commented on #272
I need some simple function to replicate the issue, if not it is almost impossible to know what is going wrong in this case ;)

[2020-03-26 14:52] omerb01 commented on #272
@JosepSampe my bad, it seems that you are right about #271 and I actually get a different error that is related to my additional dependencies. thanks.

[2020-03-26 14:52] #272 closed

[2020-03-26 15:35] JosepSampe commented on #272
These days working from home we are all experiencing same connection issues ;)

[2020-03-27 11:40] gilv commented on #273
@JosepSampe thanks

[2020-03-27 11:40] #273 closed

[2020-03-30 14:58] romeokienzler opened #275 "Unable to pass three np arrays"
Can't get the following code running

[code]

error is

[code]

[2020-03-30 14:59] gilv commented on #275
@JosepSampe do you see what might be wrong?

[2020-03-30 15:49] gilv commented on #275
@romeokienzler here we document parameters we pass to functions that we support for now..https://github.com/pywren/pywren-ibm-cloud/blob/master/docs/functions.md

but in your case, you need a single row from each of u, s, w to be passed to functions
and each row is about [0.08021613 0.00331199 0.10637344 ... 0.80978044 0.57661652 0.79281115]..

@JosepSampe any ideas?

[2020-03-30 15:50] JosepSampe commented on #275
@romeokienzler You need to enclose `x` within `[]`: `pw.call_async(my_function, [x])`

Complete details on how to send parameters to functions are here: https://github.com/pywren/pywren-ibm-cloud/blob/master/docs/functions.md

Take into account you can only send 4MB of data through parameters, so in this example you should consider another way to do what you pretend.

[2020-03-30 16:49] omerb01 opened #277 "issues regarding Knative backhand"
We found some bugs when using PyWren over Knative:
1. "private_endpoint" key error:
[code]
I assume the problem is inside:
https://github.com/pywren/pywren-ibm-cloud/blob/9576dc0722b8c87cda4acf096a9423a9169788e3/pywren_ibm_cloud/storage/backends/ibm_cos/config.py#L11-L12
2. default runtime has extra tag extension to its name:
[code]
in Kubernetes cluster I think there shouldn't be any extentions t

[2020-03-30 17:37] JosepSampe commented on #277
Re. first issue, I will add a fix.
Re. second issue, for now it is better to not to provide version numbers. In fact what fails are the points '.', so don't include points in the docker image, for example this will work: `omerb01/pywren-knative-v36:150`

[2020-03-31 07:14] romeokienzler commented on #275
Thanks a lot for your hints, this is the final working solution:

[code]

This is already 1.4 MB, original was > 4 MB, so next step is pulling data from COS

[2020-03-31 07:20] romeokienzler opened #279 "How to access COS from within a function?"
Having a look at [this](https://github.com/IBM/data-pre-processing-with-pywren/blob/master/notebooks/facial-recognition.ipynb) nb, but it is not clear to me why the signature of preprocess_image(bucket, key, data_stream, ibm_cos) differs from pw.map(preprocess_image, raw_images, remote_invocation=True) and how the reference ibm_cos is created/obtained

[2020-03-31 07:56] gilv commented on #275
@JosepSampe if we use COS to store those arrays, how it would work then? I am a bit unsure the right way of usage in this case and what data we want to store in COS: u, s, w as separate files?

[2020-03-31 07:59] gilv commented on #279
@romeokienzler PyWren invoke a function. Those are different signatures, how to invoke the function and what is the signature of the function that PyWren will automatically inject specific fields. pw.map(...) invoke.

The function has to be specific interface, for example ibm_cos is already inititated boto3 library that PyWren will inject. See this one https://github.com/pywren/pywren-ibm-cloud/bl