[2020-03-31 10:30] gilv opened #280 "how to get bucket used by pywren"
def my_func(x, ibm_cos):
  print("aha")

pw = pywren.ibm_cf_executor()
pw.map(my_func, range(1))

what is the most elegant way for my_func to get bucket name? is it passed as parameter, also when input is not from cos?
seems not documented anywhere

@JosepSampe your magic touch.

[2020-03-31 14:08] JosepSampe commented on #275
The correct way to do this is to generate all the 3 `matrices` within a function in the cloud, and then run the `np.sum()`. For example you can use `map_reduce()`:

[code]

[2020-03-31 15:45] gilv commented on #275
@romeokienzler ^^

[2020-03-31 17:48] JosepSampe commented on #280
From within a function you can access all the pywren config, and then get the bucket:
[code]

[2020-04-01 08:54] #241 closed

[2020-04-01 08:54] #242 closed

[2020-04-01 08:54] #271 closed

[2020-04-01 08:54] #277 closed

[2020-04-01 11:37] gilv opened #281 "not every Docker image uses requirement.txt in ibm_cf"
Some Docker images in ibm_cf doesn't use requirements.cf, for example Dockerfile.python36
Should all images we consistent?

[2020-04-01 11:38] gilv commented on #281
@JosepSampe what is your input on this?

[2020-04-01 12:42] JosepSampe commented on #281
Those I created yes (Dockerfile.python38 and Dockerfile.slim), the other ones, I don't know. I never used them.

This one you refer (Dockerfile.python36) can be deleted, it is the same as the Dockerfile. The only difference is the build time. With Dockerfile you have to install everything, and with Dockerfile.python36 everything is installed from `ibmfunctions/action-python-v3.6`, however it might

[2020-04-01 14:35] gilv commented on #281
@JosepSampe which one we need there? I actually using Dockerfile.python36 all the time :)

[2020-04-01 14:58] JosepSampe commented on #281
If you were using `Dockerfile.python36`, you can use: https://github.com/pywren/pywren-ibm-cloud/blob/master/runtime/ibm_cf/Dockerfile

[2020-04-01 17:58] omerb01 opened #282 "pywren-ibm-cloud script doesn't create pywren_knative.zip"
when trying to build knative Dockerfile by the following:
[code]
I get an error:
[code]
I assume the script doesn't create the zip file as it does for CF.

[2020-04-01 18:01] JosepSampe commented on #282
It should, will check it

[2020-04-01 18:06] JosepSampe commented on #282
@omerb01 can you share the full log?

[2020-04-01 18:06] omerb01 commented on #282
[code]

[2020-04-01 18:07] omerb01 commented on #282
I also suspect on:
[code]

[2020-04-01 18:09] JosepSampe commented on #282
ah wait, you need to set in your config file
[code]

[2020-04-01 18:15] omerb01 commented on #282
@JosepSampe thanks, that's was it ;)
is it possible to assume knative usage by the Dockerfile instead?

[2020-04-01 18:21] JosepSampe commented on #282
need to investigate, but I'm not sure

[2020-04-02 08:22] omerb01 opened #283 "default Knative runtime can't be installed"
when I try to run PyWren over Knative with the default runtime, I get:
[code]
I assume that there is no "omerb01/pywren-knative-v36" image , I think it should be under a preprocessed account as much like "ibmfunctions" account.
when I switch the runtime for a custom made runtime, everything works.

[2020-04-02 11:23] JosepSampe commented on #283
The first time you run a function, without a custom runtime, Pywren uses tekton to build the default runtime by using your k8s cluster and pushes it into your docker hub account.

Do you set docker usernane and token in your pywren config file?

[2020-04-02 11:39] omerb01 commented on #283
@JosepSampe yes, as I said above - with my custom made runtime, everything works

[2020-04-02 12:03] JosepSampe commented on #283
Which kind of kubernetes cluster do you have? do you have tekton installed?

[2020-04-02 12:25] omerb01 commented on #283
@JosepSampe I used the installation script that you mentioned in docs, so I assume that I have tekton installed

[2020-04-02 13:01] JosepSampe commented on #283
Ok, if you used that script it is supposed to be installed. You can check it by running: `kubectl get pods --namespace tekton-pipelines`. If it shows 2 pods in running state everything is ok.

To check what is happening, clean everything with `pywren-ibm-cloud clean`. Then run this command in another terminal: `watch kubectl get pod,revision,service,deployment -o wide` to monitor pod creation. An

[2020-04-02 14:37] JosepSampe commented on #283
I think I already found the source of the issue. Checking it...

[2020-04-02 15:28] JosepSampe commented on #282
I think the best place to put it is in config, as this parameter can support multiple compute backends.
This is documented here: https://github.com/pywren/pywren-ibm-cloud/blob/master/docs/knative.md#edit-your-pywren-config-file-and-add-the-next-section

[2020-04-02 16:54] omerb01 commented on #282
@JosepSampe Thanks

[2020-04-02 16:54] #282 closed

[2020-04-05 03:41] #281 closed

[2020-04-05 07:29] omerb01 commented on #283
@gilv can you reopen the issue?

@JosepSampe I still get an error, maybe I do something wrong:
[code]

@JosepSampe another thing I would like to discuss is the difference between CF and Knative backhand, I know that we use a default docker account called "ibmfunctions", but with Knative we build automatically a new runtime on the local account. is it possible to be aligned with CF approach so the

[2020-04-05 10:57] JosepSampe commented on #283
@omerb01 Can you provide logs from `pod/image-from-git` ?

[2020-04-05 19:57] omerb01 commented on #283
@JosepSampe
[code]
also, reproduced a docker token and it outputed the same error

[2020-04-05 20:03] JosepSampe commented on #283
What is the output if you write only  `kubectl logs image-from-git-xxx`?

[2020-04-05 20:07] omerb01 commented on #283
[code]

[2020-04-05 20:11] omerb01 commented on #283
[code]

[2020-04-06 03:33] #178 closed

[2020-04-06 03:35] #244 closed

[2020-04-06 03:36] #280 closed

[2020-04-06 03:36] #279 closed

[2020-04-06 10:59] JosepSampe commented on #283
Seems in your case your container can't access internet, or you have dns problems, but not related to pywren.
[code]
What kind of k8s installation do you have?

[2020-04-06 14:42] omerb01 commented on #283
@JosepSampe I am running it from within a VM of ubunto 18 with a minikube cluster

[2020-04-16 07:55] omerb01 opened #286 "cancel PyWren restriction to upload too much iterdata"
regarding https://github.com/metaspace2020/pywren-annotation-pipeline/pull/63
I think that we shouldn't restrict PyWren's operation by any kind of input, many python modules that detect inefficiency usage - just prompt warning messages.

I suggest reducing the exception to a warning message instead, i.e changing:
[code]
to some kind of:
[code]
and then continue PyWren's operation as usual.

[2020-04-16 08:10] gilv commented on #286
@omerb01 this is not Inefficienty, this is exception of maximal memory limitation :)

[2020-04-16 08:11] gilv commented on #283
@omerb01 what is the status of it?

[2020-04-16 08:11] #275 closed

[2020-04-16 08:14] omerb01 commented on #286
@gilv why do we need this limitation? I assume it's because of inefficient usage
in case of Lachlan's approach in: https://github.com/metaspace2020/pywren-annotation-pipeline/pull/63
this restriction actually made him implement less efficient code

[2020-04-16 08:39] omerb01 commented on #283
@gilv still observe the same error, I'm not sure why I succeed to build custom made runtimes, but don't able to build the default one.

[2020-04-16 08:52] gilv commented on #286
@omerb01 limitation of 4GB memory in Cloud Functions?

[2020-04-16 09:26] omerb01 opened #287 "Tests don't pass over Knative backend"
when running tests with current master branch over knative, I observe 11/14 failed tests.
I assume it's a minor bug related to the reducer
[code]

[2020-04-16 09:29] omerb01 commented on #286
@gilv I am talking about the limitation of **local** data that you provide to PyWren as an input - `iterdata` parameter for `map()` operation.

[2020-04-16 09:48] JosepSampe commented on #286
Yes, `iterdata` is limited to 4MB for efficiency. `iterdata` is the data send from the laptop to the cloud, for this reason it is limited to this low number.

`iterdata` should contain the minimum necessary information to spawn the functions. @omerb01 Can you explain your case and why it is better to send much more data from the client to the cloud?

[2020-04-16 09:55] JosepSampe commented on #287
map_reduce() logic changed a bit with las pull request. Did you rebuild your runtime?

[2020-04-16 10:01] omerb01 commented on #287
@JosepSampe do I need to build an updated Dockerfile or just rebuild it with my previous one?
I rebuilt with my previous one and observed the same

[2020-04-16 10:29] omerb01 commented on #286
@JosepSampe in our case in EMBL project, we are trying to parse the whole binary dataset (could be very large) within CF, this requires passing coordinations input for each action that all together can sum up for more 40mb. the alternative is to upload these coordinations first to COS and then perform map operation on the keys - this approach is a messy workaround to do so cause it is exactly what

[2020-04-16 10:30] JosepSampe commented on #287
No need to change anything, just rebuild the runtime with the same Dockerfile.

In knative, PyWren lib is included in the runtime, it is for this reason you need to rebuild the runtime each time you update the code, and it is also for this reason PyWren uses tekton to build the default runtime instead of keeping a predefined built image in dockerhub as happens with ibm_cf.

All tests except `test_

[2020-04-16 10:35] JosepSampe commented on #286
@omerb01 I see. Is there a chance to manage these 40MB of data directly in the cloud? I mean, are you downloading this information from a previous function execution and then upload it again to spawn the next phase? or is this information generated on the client side?

[2020-04-16 10:45] omerb01 commented on #286
@JosepSampe we do this locally, it requires a lot of changes in EMBL parser to be able to do it differently.

[2020-04-16 10:51] omerb01 commented on #287
@JosepSampe `omerb01/pywren-knative-embl-runtime`

[2020-04-16 11:01] JosepSampe commented on #286
I think we can put a new key in configuration to change this value, for example:
[code]

What do you think?

[2020-04-16 11:03] omerb01 commented on #287
@JosepSampe I did `pywren-ibm-cloud runtime build omerb01/pywren-knative-embl-runtime` for rebuilding

[2020-04-16 11:07] omerb01 commented on #286
@JosepSampe why do you think it's important to enforce it at all?

[2020-04-16 12:21] JosepSampe commented on #287
You also need to run, for example:`$ pywren-ibm-cloud clean`

[2020-04-16 12:53] omerb01 commented on #287
I did "clean" then deployed again, now I get:
[code]

[2020-04-16 13:06] JosepSampe commented on #287
This is because some internal timeout. Run it again

[2020-04-16 13:28] JosepSampe commented on #286
I think it is important to keep the exception because it is a clear symptom you might be doing something inefficient. Pass a huge amount of data from the client to the cloud implies 1) higher execution times (depending of the network), 2) More costs (public bandwidth is paid).

In your case, you are an expert and you know the consequences of passing large amounts of data through `iterdata`, but mo

[2020-04-16 13:30] omerb01 commented on #287
refreshed the cluster by deleting and reinstalling Knative and the other dependencies, still observed the same, this is the full debug logs:
[code]

[2020-04-16 13:54] omerb01 commented on #286
@JosepSampe thanks for the explanation :)
my concern about setting the config parameter is the "static approach", I can't estimate how much memory I need in this case, there could be any kind of dataset.
we know (in this case) that its size will be small enough for our purpose and also to be handled by EMBL team (for uploading).

what do you think about a parameter for `map()` that will disable th

[2020-04-16 14:17] JosepSampe commented on #286
A user who sets this value in configuration is supposed to know what is he doing, so maybe simply allowing this in configuration might be enough:

[code]

[2020-04-16 14:20] omerb01 commented on #286
@JosepSampe agreed, thanks

[2020-04-16 14:45] JosepSampe commented on #286
Current data limis is set in bytes, maybe we can put it in in MB, or is it good for you to use bytes?

[2020-04-16 14:49] omerb01 commented on #286
@JosepSampe just for representation, I think that it will be more clear as MB

[2020-04-17 06:00] JosepSampe commented on #283
In a previous PR I added more debug logs in the knative backend. Now errors from tekton should be printed in the pywren execution, so there is no need to run `kubectl logs image-from-git -c ...` to know what failed.

So, do you see these logs? and, are they showing the same _'Could not resolve host: github.com'_ issue?

[2020-04-22 08:41] omerb01 opened #289 "Separate cloudobjects and temporary objects cleanliness"
Today, PyWren sets in default: "data_cleaner=True"
so after each operation of `map()` all temporary files that were generated in the process are removed but also all the cloudobjects that were created manually by the user.

I suggest to separate this behavior: automatically remove all temporary files by default ("data_cleaner=True") and also let the user delete his cloudobjects manually, in a user

[2020-04-22 12:06] gilv commented on #289
It even worse... cloudobjects are mixed with PyWren temp objects, so if user need to preserve cloudobjects between invocation, he can't clean temp objects at all. In certain case it generated 1TB of data, where 99% is temp files and few are cloudobjects, and since they all in the same folder we can't clean it.

@JosepSampe can you handle it please? I? guess, we just need to write cloudobjects into

[2020-04-22 12:44] JosepSampe commented on #289
@gilv Yep,  but could we verify that all the changes introduced in #288 work properly before adding more changes?

[2020-04-22 19:53] omerb01 commented on #286
@JosepSampe Tested it a bit, everything seems fine, thanks.
I have a minor suggestion, when using too much memory in the input data (iterdata) we need to wait in vain during the process of "Serializing function and data" - I suggest to detect that the data is too big and raise the exception **before** this operation.
[code]

[2020-04-22 20:05] omerb01 commented on #287
@JosepSampe tested your fix - all tests success except `test_internal_executions` as you said before, why this test doesn't work?

[2020-04-22 20:10] omerb01 commented on #283
Thanks, works :)

[2020-04-22 20:10] #283 closed

[2020-04-22 20:41] JosepSampe commented on #287
@omerb01 hmm... it should work now. Did you rebuild the runtime? Can you post logs?

[2020-04-22 21:04] omerb01 commented on #287
this what I have already tried and it still doesn't work:
- reinstalling current master branch and clean all runtimes
- using default knative runtime - failed
- using custom knative runtime - failed
the problem is the "get_results()" waits for no response
[code]

[2020-04-23 06:04] gilv commented on #287
@omerb01 this happens with most recent pull request or it's not related?

[2020-04-23 06:42] omerb01 commented on #287
@gilv with most recent PR

[2020-04-23 08:27] JosepSampe commented on #287
All tests passing from my side, so let's see the logs of the function. Can you share the logs of one of the pods (`kubectl logs ...`)?

[2020-04-23 08:38] omerb01 commented on #287
@JosepSampe
[code]
- user-container:
[code]

[2020-04-23 08:59] JosepSampe commented on #287
I tested your runtime and all tests pass with it, so it is correctly build.
I think I already see in your logs where is the problem, checking it...

[2020-04-23 09:33] JosepSampe commented on #286
I ran some tests and It is simple with one line of code to get the size of an string, it is for this reason that pywren checks the size after serializing it. For complex objects it is needed more complex logic.

The easiest way is to use `sys.getsizeof()`, can you check with your iterdata if it returns the correct size?
Alternatively we can use [Pympler](https://pympler.readthedocs.io/en/latest/),

[2020-04-23 10:36] omerb01 commented on #286
from my experience, `sys.getsizeof()` isn't reliable cause it measures the size of the "first-level" memory layout - if you pass a list of pointers into it, it will measure only the memory needed for the pointers but not the memory that is stored inside.

I think that if we only pickle the Interdata and then doing `sys.getsizeof()`, it should be fast enough for our purpose. what do you think?

[2020-04-23 10:45] omerb01 commented on #286
Pympler claims that they measure the memory correctly:
"`pympler.asizeof` can be used to investigate how much memory certain Python objects consume. In contrast to `sys.getsizeof`, `asizeof` sizes objects recursively"

[2020-04-23 11:29] JosepSampe commented on #286
As you said sys.getsizeof() only measures first-level memory layout. Howver within iterdata you can pass complex objects with references to other objects, so I think it would be not suitable for pywren. It is for this reason I asked you to run a test and measure the iterdata of your example to see if it returns the correct value or not.

[2020-04-23 12:21] omerb01 commented on #286
@JosepSampe Yeph, this code:
[code]
outputs:
[code]

[2020-04-23 12:42] JosepSampe commented on #286
So, is 8388776 (~8MB) the actual size of `iterdata`? if you set `data_limit: False` in config, is the object uploaded to COS of this size?

[2020-04-23 12:51] omerb01 commented on #286
yes, I've just tested it:
![image](https://user-images.githubusercontent.com/13593227/80101595-49ddd300-857a-11ea-94c2-c1752e9c5038.png)

[2020-04-23 12:56] JosepSampe commented on #286
Cool! So I will put pympler

[2020-04-23 14:26] JosepSampe commented on #286
Hmm.. I tested it with another type of iteradata an it shows different size values:

[code]

So I guess in some cases pickle can reduce iterdata size

[2020-04-23 14:52] JosepSampe commented on #289
I changed the place to store cloudobjects in #290

Now there are 2 options to create cloudobjects:
1. Only passing the data to store:
  `internal_storage.put_object(pickled_data)`
  It will store the cloudobject in:
  `pywren.jobs/cloudobjects/<executor_id>/<job_id>/<call_id>/cloudobject_{x}`
 Now these objects are not deleted when `data_cleaner=True`
 These objects are only deleted when the user

[2020-04-23 14:53] JosepSampe commented on #287
@omerb01 I added a fix in #290. When merged try if it helps

[2020-04-23 15:05] omerb01 commented on #286
@JosepSampe I'm not familiar with the compression methods of `pickle` but I know that they use compression when possible, thus `pickled_size <= original_size`.
I think we should try to pickle the iterdata and measure the given size since the data that we stored is pickled.

[2020-04-23 15:38] JosepSampe commented on #286
"Pickle iterdata and measure the size" is what pywren is doing right now, so I think we should keep this as it is. We can't do anything else to know the actual size in advance and in an efficient way. So the user will have to wait pywren to pickle the data.

[2020-04-24 15:28] JosepSampe commented on #289
We can extend the `pw.clean()` method so that:
- If you call `pw.clean()` (without args) only the internally managed futures will be deleted.
- If you call `pw.clean(fs=futures_list)`, only the futures will be deleted.
- If you call `pw.clean(cs=cloudobjects_list)` only the Cloud Objects will be deleted.
- If you call `pw.clean(fs=futures_list, cs=cloudobjects_list)` both will be deleted.

[2020-04-25 13:52] gilv commented on #289
@JosepSampe yeap...this is very good suggesiton

[2020-04-26 04:12] gilv commented on #289
@LachlanStuart does the change implemented by Josep helps in your case?

I changed the place to store cloudobjects in #290

Now there are 2 options to create cloudobjects:

Only passing the data to store:
internal_storage.put_object(pickled_data)
It will store the cloudobject in:
pywren.jobs/cloudobjects/<executor_id>/<job_id>/<call_id>/cloudobject_{x}
Now these objects are not deleted when data_c

[2020-04-26 11:31] gilv opened #291 "cloudobject is not documented"
seems cloudobject is not documented. We need to make sure it's properly documented, including examples, etc.

[2020-04-28 13:13] LachlanStuart commented on #289
@gilv It does help, but as a user it's slightly different to the behavior I was expecting.

I believe we've discussed this previously - unnamed CloudObjects are for temporary data being passed between actions, so it would make sense to clean them up at the end of the `FunctionExecutor`'s lifespan*. I think `data_cleaner=True` should be the default, because most users should never need to access th

[2020-05-01 15:06] JosepSampe commented on #289
I created PR #292 following the comments in this thread.
@gilv @LachlanStuart @omerb01 It is ready to test

[2020-05-04 08:53] omerb01 commented on #287
@JosepSampe Thanks! all tests work now

[2020-05-04 08:53] #287 closed

[2020-05-04 08:54] #286 closed

[2020-05-04 09:27] omerb01 opened #293 "Knative feature suggestion"
I assume that we need to think again about Knative runtimes deployment.

currently, with Knative backend, we have to rebuild the custom runtime every time we update the PyWren version. I think it is a confusing approach that can cause mismatches that are hard to detect.

These are my alternative solutions:
1. we can totally disallow any usage of different PyWren version between the PyWren that was

[2020-05-04 11:15] omerb01 opened #294 "Knative cloudobject test doesn't pass"
it says "You must provide the private_endpoint to access to IBM COS", but I already have it in my config file. CF equivalent test works.

DEBUG logs:
[code]

[2020-05-04 13:30] omerb01 opened #295 "issues with launching invocations"
with the current master branch, I observing issues with launching invocations. all tests pass but my specific function doesn't.

the function that I'm talking about is:
https://github.com/metaspace2020/pywren-annotation-pipeline/blob/12a6943922e61de70d40e87212c91238722f8a24/annotation_pipeline/molecular_db.py#L36

I assume that I'm doing something wrong, this is what I observe:
[code]

[2020-05-04 14:03] JosepSampe commented on #295
Can you verify the runtime is installed in your CF account? if not run `$ pywren-ibm-cloud clean`

[2020-05-04 14:36] omerb01 commented on #295
@JosepSampe yes, the runtime is installed correctly,
I ran all tests with this runtime and all of them passed

[2020-05-04 14:43] JosepSampe commented on #295
The error is raised from the CF service in the HTTP call, not from PyWren. It seems that it tries to invoke a function that does not exists.

[2020-05-04 16:42] omerb01 commented on #295
what does it mean? in which scenarios it can raise this exception from your experience?

[2020-05-04 17:17] JosepSampe commented on #295
I think this happens when the action (pywren runtime) is not deployed in the CF service. Try by manually deleting the `pywren_v1.5.2-SNAPSHOT_xxx` package from your account, and then run `$ pywren-ibm-cloud clean`

[2020-05-04 18:22] omerb01 commented on #295
thanks, I did what you suggested and now it seems to work

[2020-05-04 18:22] #295 closed

[2020-05-06 11:17] rmey opened #297 "Notebook dependency Issues urlib"
With default Watson Studio 3.6 Python Environment I had to downgrade urlib in the example Notebooks
`from time import time
from random import random
import logging
import sys
try:
    **!python -m pip install "urllib3<1.25"**
    import pywren_ibm_cloud as pywren
except:
    !{sys.executable} -m pip install pywren-ibm-cloud
    import pywren_ibm_cloud as pywren`

[2020-05-06 11:21] JosepSampe commented on #297
What was the error/exception?

[2020-05-06 11:49] rmey commented on #297
Similar like this: https://github.com/urllib3/urllib3/issues/1571

[2020-05-06 12:15] #294 closed

[2020-05-07 14:30] omerb01 opened #299 "Invoker doesn't stop monitoring actions when it should"
I found that with current master branch, when I launch a bunch of invocations and then stop the main process, the other processes are still running

for example when using the following in a jupyter notebook:

first cell:
[code]
second cell:
[code]
when we stop the second cell, the invoker actually still run, it should be stopped by the main process.

[2020-05-07 14:48] JosepSampe commented on #299
When are you stopping the cell? during `pw.map()` or during `pw.get_result()`. If you stop the cell during `pw.get_result()` it should stop invoker, can you verify it?

[2020-05-07 18:07] omerb01 commented on #299
yes, it seems to work. I mean for the scenario in which we stop the cell during `map()`

[2020-05-07 18:20] omerb01 opened #300 "cloudobjects features suggestion"
in recent PR's I saw that we have now `ibm_cos.put_cobject()` and `ibm_cos.get_cobject()`. I have 2 regarding suggestions:

1. To add a delete method for cobjects with `ibm_cos`, it will come in handy when we can delete a bunch of cobjects that we dont need anymore during an already running process. it can be called for example: `ibm_cos.delete_cobject()` or the equivalent method for a bunch of co

[2020-05-07 18:59] JosepSampe commented on #299
Thanks @omerb01 I Will check it

[2020-05-07 19:23] omerb01 opened #301 "PyWren can't map a list of lists"
I found a bug that raises an unexpected exception when trying to put a list of lists as an input for pywren's `map()` method.

for example:
[code]
this code should print `[[1, 2], [3, 4]]` but the actual result is:
[code]

[2020-05-07 19:53] JosepSampe commented on #301
This is not valid input if you want to pass a list. Yo need to enclose it with another list. Check this: https://github.com/pywren/pywren-ibm-cloud/blob/master/docs/functions.md#multiple-function-invocation-using-the-map-and-map_reduce-methods

[2020-05-08 15:17] JosepSampe commented on #301
I made pyWren params more 'pythonic' with `args` and `kwargs` in #298. I think this way it is easy to understand how they work.

[2020-05-08 18:18] omerb01 commented on #301
@JosepSampe can you please elaborate what do you mean by more 'pythonic' ?

[2020-05-08 18:35] JosepSampe commented on #301
Any library in python, for example threading and multiprocessing, use `args` in a tuple, and `kwargs` in a dictionary. So i moved everything related to params in pywren to `args` and `kwargs`, which is more natural to understand for python users.

[2020-05-08 20:03] #301 closed

[2020-05-08 20:09] omerb01 opened #302 "Different cobjects are created with the same key when using threads"
I think that I found a bug while trying to put a bunch of cobjects into COS using threads (instead of a for loop). I understand that there is a situation here that we need to use some kind of "lock" when we generate the relevant key.

for example, the following code:
[code]
output:
[code]
all cobjects that were created in the process, mapped into the same key.

[2020-05-08 21:09] omerb01 commented on #300
another regarding suggestion that I have just thought about:
I would like to operate `map()` on a bunch of cobjects with the same way we use `obj` with a bunch of keys.

for example, I would like that the following code approach will run successfully:
[code]

[2020-05-09 17:13] JosepSampe commented on #302
I will change the cloudobject name suffix to a random id

[2020-05-09 17:25] JosepSampe commented on #300
Regarding the first post:
1. I already added these methods and I'm doing final tests. However, take into account that delete `cobjects` within a function is time consuming, and IMO it is preferable to delete the `cobjects` at the end of the script with `pw.clean()`
2. Based on my experience, we shouldn't create these methods. Using threads to get objects from COS might be faster when you invoke fe

[2020-05-09 20:22] omerb01 commented on #300
@JosepSampe Thanks!
Thought about another thing ;)
is it possible to add for `storage.get_object()` a param for getting a stream instead of the data? (the default value will be "false")

some kind of:
[code]
I have just noticed that I need it for advanced read methods.

[2020-05-09 20:44] JosepSampe commented on #300
Yes, I can add it, that's easy ;)

[2020-05-12 10:14] kpavel opened #303 "Invoker waiting for hardcoded 1 second"
Is this sleep(1) mandatory?
https://github.com/pywren/pywren-ibm-cloud/blob/master/pywren_ibm_cloud/invoker.py#L308

If the sleep mandatory, can it be not hardcoded, but based on parameters, same as in wait_storage:
https://github.com/pywren/pywren-ibm-cloud/blob/master/pywren_ibm_cloud/wait/wait_storage.py#L92

[2020-05-12 10:30] gilv commented on #303
@JosepSampe do you know why we have this sleep?

[2020-05-12 14:45] Albert65 opened #304 "PyWren 1.5.1 issue on OSX Catalina"
Dear All,
My script crushes on Mac OS, but works fine on Linux Ubuntu. On both systems I installed PyWren ver. 1.5.1.
OSX Catalina, PyWren 1.5.1, Python 3.7.7
Linux Ubuntu, PyWren 1.5.1, Python 3.6.8
1) On Linux Ubuntu I tested local_executor and ibm_cf_executor. Both succeded.
2) On Mac OS I tested local_executor (remote one does not work in any case because of Python versions mismatch). While ru

[2020-05-12 15:20] JosepSampe commented on #304
Instead of manually deleting the folder `~/.pywren`, pywren contains an script with a `clean` method that cleans up everything (except configuration). Can you try running the script  `$ pywren-ibm-cloud clean`?

[2020-05-12 15:33] JosepSampe commented on #304
@Albert65 I guess it will still fail after running the clean command,  so cloud you provide a simple example code to reproduce the issue?

[2020-05-13 09:12] JosepSampe commented on #303
Invoker is completely async, first it uses threads to spawn the firsts X function activations. The sleep gives some CPU time to the invoker to do the invocation instead of immediately annoying it with other tasks due the Python Global Interpreter Lock.

@kpavel It is not mandatory but I think recommended. Are you seeing any issue with it? Maybe I forgot to take into account some use case where thi

[2020-05-13 09:31] kpavel commented on #303
@JosepSampe For me, the only reasons to make it optional/configurable is to make pywren.map() faster. I been doing some benchmarking for our usecase where we need the pywren to execute as fast as possible and noticed this sleep. From my observations making it 0.1 has no impact on actions invocation and execution. It just improves overall map() time from ~1.15sec to ~0.15.

[2020-05-13 10:04] JosepSampe commented on #303
Thanks @kpavel. Previous to add this sleep (in previous Pywren versions), invocation phase using threads was sync, this means you had to wait the invoker to finish. Normally, invoke 1000 functions takes 3 seconds, so after changing the invoker to async and adding this sleep of 1 second, the map() became even to 2 seconds faster than before. It is true that if you invoke <333 functions the map() be

[2020-05-13 14:35] JosepSampe commented on #304
I finally could reproduce the exception. It is fixed in #298

[2020-05-13 14:36] JosepSampe commented on #303
I ran some tests and seems that there is no performance degradation of reducing the sleep from 1 to 0.1, so I reduced it into #298

[2020-05-13 16:16] #302 closed

[2020-05-13 16:53] Albert65 commented on #304
Thank you Josep. I do not see changes in my Homebrew distribution yet, hopefully soon. Just in case, here is the code that runs on Linux but not OSX (yet):
[code]

[2020-05-14 03:49] gilv commented on #304
@Albert65 @JosepSampe for me this code fails in local and works in Cloud Functions.
@Albert65 with most recent master branch, you need to change "extra_params" to "extra_args".

In my case, running it locally i am getting

objc[49803]: +[__NSCFConstantString initialize] may have been in progress in another thread when fork() was called.
objc[49803]: +[__NSCFConstantString initialize] may have been

[2020-05-14 09:31] omerb01 opened #305 "OS error when clean large list of cloud objects"
when using our new feature `pw.clean(cs=cobjs)` I observe a kernel error when `cobjs` contains too much cloud objects. I assume that we should preallocated the list of cloud objects by a numpy array and it will solve the problem.

Example error:
[code]

[2020-05-14 09:35] Albert65 commented on #304
I noticed the same behaviour after update from 1.5.1 to 1.5.2.
My python crushes.
Also, renaming "extra_params" to "extra_args" maybe not the best idea ...

[2020-05-14 09:53] JosepSampe commented on #304
@Albert65 Can you post all debug logs?

[2020-05-14 09:56] Albert65 commented on #304
I launched 8 jobs:

[code]

[2020-05-14 09:58] JosepSampe commented on #304
Interseting, will investigate it. In my case your script is working fine with Ubuntu

[2020-05-14 10:05] Albert65 commented on #304
I run mine on OSX Catalina. On Ubuntu Linux there was no problem.

[2020-05-14 10:30] JosepSampe commented on #304
@gilv Do you get same debug log? can you poste it here?

[2020-05-14 10:37] Albert65 commented on #304
The above log is what I got after running the script similar to the test one (also given above). Plus a crush report from Python. This is the output of the test script (after renaming "extra_params" -> "extra_args":
[code]

[2020-05-14 10:38] omerb01 commented on #302
@JosepSampe Thanks, tested it and its ok

[2020-05-14 10:53] JosepSampe commented on #304
@Albert65 can you try deleting the `timeout` in the map() ?

[2020-05-14 11:12] Albert65 commented on #304
I tried to delete timeout in map(), then in get_result(). Still the same failure.

[2020-05-14 11:22] Albert65 commented on #304
Do you need Python crush report?

[2020-05-14 11:29] JosepSampe commented on #304
This seems to be some kind of OS X limitation with multiprocessing library. Did you try this? https://stackoverflow.com/a/52230415

[2020-05-14 11:51] gilv commented on #304
@Albert65 @JosepSampe i also think it's some mac related issues...seems internet full of similar issues related multiprocessing library of mac. I also can't run this code on Mac.
Very soon we will have local Docker executor, i assume this will resolve the mac Python related issues, as we can run inside Docker image on the mac

[2020-05-14 12:00] JosepSampe commented on #304
The question is why it seems to work with 1.5.1 and not with 1.5.2. @gilv can you try with 1.5.1?

[2020-05-14 12:05] gilv commented on #304
@JosepSampe it actually didn't worked for me in both versions. Not sure got the same exception although. This seems a bug of Python..
https://bugs.python.org/issue33725

[2020-05-14 12:12] Albert65 commented on #304
This does work for me:
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES; py3 pywren_test.py

But shortly afterwords I get:
[code]

[2020-05-14 12:27] JosepSampe commented on #304
It should try to delete this file only if it exists, so I'm not sure why if it verified that it exists then it says that it does not exists. Does tihs directory exists?

[2020-05-14 12:32] gilv commented on #304
@Albert65 this export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES; python3 pywren_test.py worked for me! But it still fails from Eclipse..even if i set this export. But this is less a problem.

so i managed to run this script from command line as you suggested. I guess you need to delete those temp files manually.. @JosepSampe may be some permission related?

[2020-05-14 12:45] JosepSampe commented on #304
I'm still wondering why python crashes with the local_executor(), if in fact we use processes in other places and it does not crash.

The log shows exactly 8 similar python crash messages, which is the number of workers in local_executor(), so the other processes started by PyWren does not crash.

 So, just to discard some stuff, can you try?:
1. Can you change the `exec` variable name to any othe

[2020-05-14 13:35] omerb01 commented on #300
@JosepSampe Thanks

[2020-05-14 14:25] Albert65 commented on #304
[code]

Directory "/var/folders/s_/t959bpf17xbgqt347prk873w0000gn/T/pywren.jobs" does exist, but directory "/var/folders/s_/t959bpf17xbgqt347prk873w0000gn/T/pywren.jobs/049359" does not

[2020-05-14 14:30] Albert65 commented on #304
The job itself was done as expected:
[code]

[2020-05-14 14:41] JosepSampe commented on #304
Could you post debug logs with 2 workers and without `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` ?

[2020-05-14 15:00] omerb01 commented on #305
@JosepSampe Thanks :) tested and it works

[2020-05-14 15:00] #305 closed

[2020-05-14 15:02] Albert65 commented on #304
export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=
[code]

[2020-05-14 16:14] omerb01 commented on #300
@JosepSampe
actually, I tested "stream" parameter with the following code:
[code]
and got the following exception:
[code]

[2020-05-14 17:17] JosepSampe commented on #304
Regarding "No such file or directory" issue, I think it is due to you are calling `pw.clean()` method multiple times. The first one is automatically called after `pw.get_result()` due to by default `data_cleaner=True` in config. Then, at the end of the script, you call it again with `pw.clean()`. As I couldn't reproduce the exception, I added a possible fix in #306. I also added a possible fix for

[2020-05-15 17:54] omerb01 commented on #300
@JosepSampe Thanks, tested and it works :)

[2020-05-15 17:54] #300 closed

[2020-05-15 17:54] omerb01 commented on #299
@JosepSampe Thanks :)

[2020-05-15 17:54] #299 closed

[2020-05-15 17:55] omerb01 commented on #289
@JosepSampe Thanks

[2020-05-15 17:55] #289 closed

[2020-05-18 03:10] #303 closed

[2020-05-18 03:22] gilv opened #307 "docker runtime - command not found"
@JosepSampe this happens with the new docker executor.
When running Docker runtime locally, it fails in the create_runtime

            cmd = 'docker pull {} >/dev/null 2>&1'.format(docker_image_name)
            res = os.system(cmd)
            if res != 0:
                raise Exception('There was an error pulling the runtime')

Response code is 32512 which means command not found. The same cmd

[2020-05-18 12:06] JosepSampe commented on #307
@gilv So you have docker installed, and it works if you run `docker pull` directly from console, but it fails if you run it from python?

[2020-05-18 15:32] gilv commented on #307
@JosepSampe right...if i copy paste value of "cmd", then i can run from the command line manually. But it fails when i run it with PyWren on command not found

[2020-05-18 16:33] JosepSampe commented on #307
Are you using some kind of viertualenv or something like this? Can you try deletening the `>/dev/null 2>&1` from the cmd variable?

[2020-05-18 16:49] gilv commented on #307
@JosepSampe i am using  pyenv

[2020-05-18 16:56] gilv commented on #307
@JosepSampe This one docker pull cactusone/pywren-3.6-dev:2.0.1 also generate the same error

[2020-05-18 22:11] JosepSampe commented on #307
@gilv Try with #308

[2020-05-19 03:22] gilv commented on #307
@JosepSampe wow... what was the possible issue that you identified?

[2020-05-19 03:24] gilv commented on #307
@JosepSampe there is different error now

2020-05-19 06:23:02,316 [DEBUG] pywren_ibm_cloud.compute.backends.docker.docker: Creating function handler zip in /Users/gilv/Dev/ibm-pywren-internal/pywren-tester/pywrencos/pywren_docker.zip
2020-05-19 06:23:02,396 [DEBUG] docker.auth: Looking for auth config
2020-05-19 06:23:02,396 [DEBUG] docker.auth: Using credentials store "desktop"
2020-05-19 06:23:0

[2020-05-19 10:30] JosepSampe commented on #307
I updated the compute backend to use the docker python sdk instead of raw commands, but seems you still have problems, so I guess at this point it is problem of something related to pyenv or your docker installation.

[2020-05-19 11:44] gilv commented on #307
@JosepSampe for you it's work without issues on localhost?

[2020-05-19 12:02] JosepSampe commented on #307
@gilv Both versions (docker sdk and raw commands) work without any issue on localhost in my case. I'm using a normal python installation (no pyenv, vierutalenv, etc..)

[2020-05-19 12:21] gilv commented on #307
@JosepSampe yeah...it's again something in mac :( Here is explanation what happens https://stackoverflow.com/questions/45122459/docker-mounts-denied-the-paths-are-not-shared-from-os-x-and-are-not-known/45123074, but i don't get how to resolve it... will avoid running it over mac for now

[2020-05-19 13:17] gilv commented on #307
@JosepSampe does PyWren setup environment variable TMPDIR=/var/folders/nw/kg5kt9150nj48738r5wz9ly80000gn/T/ ?

In mac it's not /var/folders...it's /private/var/folders..this why it fails on mac.

[2020-05-19 13:32] JosepSampe commented on #307
PyWren uses temp folders, they are not hardcoded, it uses `tempfile` library that is supposed to create the temp folder in the correct path independently of the underlying platform (windows, linux, osx)

[2020-05-19 14:07] gilv commented on #307
@JosepSampe i updated the tmpdir...and it seems progress but stuck on something else.
Starting point - i don't have any running container, then running the code getting

[code]

Any ideas?

[2020-05-19 14:35] JosepSampe commented on #307
try setting in pywren config file: `compute_backend: docker` and then run: `pywren-ibm-cloud clean`

[2020-05-19 14:56] #307 closed

[2020-05-19 14:57] gilv commented on #307
To document the issue for all mac users:
You need to make sure that TMPDIR starts with private not var.
For example
os.environ['TMPDIR']='/private/var/folders/nw/kg5kt9150nj48738r5wz9ly80000gn/T/' and not
TMPDIR='/var/folders/nw/kg5kt9150nj48738r5wz9ly80000gn/T/'

then go to Docker settings on your mac and choose private/var/ in the File Sharing

[2020-05-19 15:03] JosepSampe commented on #307
Reading a similar issue in another place, I found that, `/var/folders/...` is a symlink of /`private/var/folders/...`

Is it possible that by only settings on your mac: `/private/var/` (in the File Sharing) be enough? Without changing TMPDIR env var?

[2020-05-19 17:05] Albert65 opened #310 "dependecies"
I am wondering how crucial some dependencies might be for pywren-ibm-cloud. After update:
[code]
Also, pywren-ibm-cloud installs idna-2.8, but after update I have idna-2.9 and no complaint. Is that ok?

[2020-05-19 17:07] gilv commented on #307
@JosepSampe i tried it ...but it didn't worked

[2020-05-19 18:25] JosepSampe commented on #310
They are not crucial in PyWren, they can be updated. So far I didn't experience any kind of issue with the PyWren dependencies, so they can be all updated, except `pika==0.13.x`.

These deps was pinned in pywren because `ibm-cos-sdk` had an old version of `requests` pinned in its repo, and some time ago after updating `requests` it showed these kind of errors. But seems that now, even pinned, thes

[2020-05-19 18:30] JosepSampe commented on #304
@gilv Can you check if with master branch those python errors still appear?
I mean, without `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` ?

[2020-05-19 19:07] JosepSampe commented on #307
Is this what are you experiencing? https://stackoverflow.com/questions/12482702/pythons-os-chdir-and-os-getcwd-mismatch-when-using-tempfile-mkdtemp-on-ma

[2020-05-20 02:54] gilv commented on #304
@JosepSampe without this export, it still fails. It's mac issues

[2020-05-20 02:56] gilv commented on #307
@JosepSampe yes..but somehow i can't reproduce it anymore. i guess it only happens on the 1st time when it need to write into that temp folder, once data is there - no exceptions.

[2020-05-21 11:54] #310 closed

[2020-06-02 14:48] Albert65 opened #315 "pytest fails"
I run pywren-ibm-cloud from docker container with python 3.6.8 and pywren-1.52. The top level directory is "/work". That is, the layout: "/work/my-project-subfolders-and-other-files".
Pytest fails when the script uses IBM cloud job deployment. Local test does work fine.  Code fragment (current folder: /work):
[code]

The problem:
[code]
It turns out, the content of the working directory "/work" is

[2020-06-02 16:39] gilv commented on #315
@JosepSampe where with "work" come from?

[2020-06-02 23:13] Albert65 commented on #315
"/work" is the project root folder with absolute path "/work" in docker container.

[2020-06-04 13:39] rmey opened #316 "Please add description for IAM namespace use in config"
Please update config docs to include an example with IAM namespace.

[2020-06-04 17:50] gilv commented on #315
@Albert65 what will be easy steps for me to reproduce it? To run PyWren from the folder /work in some Docker?

[2020-06-04 19:38] #86 closed

[2020-06-08 09:12] omerb01 opened #317 "different output errors with Jupyter and Terminal"
I experience different output errors when a single action raises an exception.
the difference is:
1. In Jupyter notebooks, the full Traceback is printed while in Terminal only the relevant user code traceback is printed.
2. In Terminal, when an exception is raised, its associated action's activation ID is printed while in Jupyter notebooks its activation ID is never printed.

[2020-06-08 09:40] gilv commented on #317
@omerb01 different logging level?

[2020-06-08 10:07] omerb01 commented on #317
@gilv Nope, it isn't the case, the printed output that I mentioned above happen with all logging levels

[2020-06-11 13:10] JosepSampe commented on #315
@Albert65 I ran some tests and in my case it works fine. But maybe I'm missing something.

To replicate it I created the next file: `/work/mysubfolder/tests/test_pywren.py` with:
[code]
Then, from within `/work` dir I ran: `python3 -m pytest -s mysubfolder/tests/test_pywren.py`
Everything is executed normally.

However, the above TestFunction is too simple, and maybe in your case you have imports

[2020-06-12 15:36] LachlanStuart opened #320 "Using storage APIs on the host"
The `storage` interface inside functions does a great job of providing a consistent interface between storage backends, but I find the options for getting a `storage`-style API on the host confusing.

The `internal_storage` field on `FunctionExecutor` is the easiest to access, but it doesn't seem like it's intended for public use because of the "internal" name and the presence of functions like `g

[2020-06-15 15:46] LachlanStuart commented on #320
I found there are two other competing options:
* `Storage.storage_handler` / `pw.internal_storage.storage_handler` is a `*StorageBackend` instance, which is the only way to access the super-useful `list_keys` function.
* `Storage.get_client()` / `pw.internal_storage.get_client()` returns an ibm_boto3 client, but it has been modified to include 4 `cobject` methods. This is the same client supplied

[2020-06-15 16:46] JosepSampe commented on #320
It's true that for the `storage` magic keyword it makes more sense to return an `Stroage` instance or event the `Storage.storage_handler` (with the 4 `cobject` methods), instead of the backend client , which are different for each storage backend (ibm_boto3, requests, etc), making it more difficult to switch between backends.

From the host perspective, we can allow user to access `Storage` instan

[2020-06-15 19:26] LachlanStuart commented on #320
@JosepSampe Accessing it via `pw.storage` would be very intuitive. I feel it would still be useful to also have a method to instantiate it without needing a `FunctionExecutor`. In pywren-annotation-pipeline we do some initial I/O to set up the environment before any executor is started. But, if I was only given one choice, `pw.storage` would be the most beneficial.

I feel `Storage` is the most lo

[2020-06-15 20:10] JosepSampe commented on #320
Cool! it sounds very good. I will handle it

[2020-06-15 20:20] LachlanStuart commented on #320
Thanks @JosepSampe !

[2020-06-25 14:06] LachlanStuart opened #322 "CloudObject key collisions"
It seems like it is possible for two independently created CloudObjects to be generated with the same `key`, causing one value to overwrite the other. This can be very confusing to debug, as there is no indication that the duplication has happened, unless you manually inspect the `key` field.

This has happened to me surprisingly often. The function where I detected this happening only makes ~31 c

[2020-06-25 14:48] omerb01 commented on #322
I suggest to use the thread-id instead of a random suffix for each CloudObject key generation

[2020-06-25 18:29] gilv commented on #322
@omerb01 you think random id has collisions? It's not likely to happen.. weird actually if it does

[2020-06-25 18:31] LachlanStuart commented on #322
@gilv The random ID has only 4 hexadecimal digits. That's only `16 ** 4 == 65536` possible values.

[2020-06-26 04:13] gilv commented on #322
@LachlanStuart wow...i missed that part. @omerb01 can you handle the fix?

[2020-06-26 11:13] LachlanStuart opened #324 ""Too many requests" error with ibm_cf causes hang with no explanation"
I found that my code was frequently hanging in exactly the same spot, showing only 88 out of 256 activations having succeeded. The debug logs showed that only 88 activations successfully started, and there was no indication of what happened to the other 168 activations.

I added a bunch of extra print statements throughout the code and found that the 168 activations took [this codepath](https://gi

[2020-06-26 13:03] JosepSampe commented on #324
@LachlanStuart Those activations that took [this codepath](https://github.com/pywren/pywren-ibm-cloud/blob/1623bf5072564f402a04e59ace2b32f0efe3a669/pywren_ibm_cloud/libs/openwhisk/client.py#L228-L229) should not hang the execution. 429 Error indicates "To many requests in flight" This is not an error, this is a Quota limit, so in this particular, these invocations [go to a pending queue](https://g

[2020-06-26 14:36] LachlanStuart commented on #324
@JosepSampe Ah, that makes sense. I didn't notice they were being put into a queue. It would be useful if this was logged.

I tried adding extra logging inside `_run_invoker_process` and [this was the result](https://gist.github.com/LachlanStuart/335935fa82fa03d4767b47671533c482) to figure out why it was hanging. It looks like it's getting stuck waiting for more tokens to be added to `token_bucket

[2020-06-26 15:52] JosepSampe commented on #324
Tokens are added to the `token_bucket_q` once an active function finishes its execution. Maybe the thread that is monitoring finished activations is not adding tokens to the queue. Can you add logging [here](https://github.com/pywren/pywren-ibm-cloud/blob/master/pywren_ibm_cloud/invoker.py#L385-L395)?

btw, what kind of job are you running? theoretically the quota limit is more than 1000 activatio

[2020-06-29 11:27] LachlanStuart commented on #324
@JosepSampe Here are the logs with the extra logging: https://gist.github.com/LachlanStuart/ec3c7e218a5007771b90c3bc1a18cdb9

On today's run it happened first time I ran the pipeline, so it shouldn't have started with any existing API usage from the previous run. These were the jobs & timestamps:
[code]

Only the last call received 429 warnings.

[2020-06-29 14:27] JosepSampe commented on #324
I think I already understand where is the error. Thanks for your logs @LachlanStuart  :)

Just to put me in context, which region are you using? Do you always had these 429 errors? or they appeared recently?

[2020-06-29 14:42] LachlanStuart commented on #324
@JosepSampe I'm using eu-de. I suspect it's something to do with my account setup, as I recently had to change accounts and didn't have these issues with previous accounts.

The default limit is supposed to allow 5000 API calls per minute, but in my case it seems like it might be set to only allow 600... Maybe they've changed the default without updating the documentation. Once you've fixed it I'l

[2020-06-29 17:54] omerb01 commented on #322
fix in #326 , I used a thread safe counter managed by the storage handler.

[2020-07-06 10:12] gilv commented on #320
@JosepSampe seems we got stuck on this one and @LachlanStuart can't progress. Can you please handle it? Thanks

[2020-07-07 10:06] Albert65 opened #328 "timeout handling"
Hello,
I was experimenting with delayed execution, PyWren version 1.6, Centos 7.8, Python 3.6.
Normally, I get a timeout exception. However, a strange error shows up from time to time, see below.
Although, the actual reason is that the job function exceeded 600 second limit.
[code]

[2020-07-07 10:24] Albert65 opened #329 "partial failure"
Hello,
When I run many training jobs simultaneously, some of them can fail for whatever reason (timeout, absent package, etc). I would tolerate, say, 5% of failures as soon as 95% of jobs succeeded. However, get_result() fires an exception, even if a single job did not return a result.  My question: is it possible to get result in case of partial failure? Could you provide an example in documentat

[2020-07-07 13:33] JosepSampe commented on #320
@LachlanStuart @gilv it is ready to merge and test

[2020-07-08 10:54] JosepSampe commented on #329
@Albert65 You can get available results and ignore exceptions by setting `throw_except=False` in `get_result` method: `pw.get_result(throw_except=False)`

https://github.com/pywren/pywren-ibm-cloud/blob/master/docs/api-details.md#executorget_result

[2020-07-09 10:14] omerb01 opened #331 "Knative installation script not found"
following the instructions to install knative for pywren: https://github.com/pywren/pywren-ibm-cloud/blob/master/docs/knative.md
the installation script link is broken.

@JosepSampe can you update the link? it is even better to commit the script into the repository ;)

[2020-07-09 10:33] JosepSampe commented on #331
Fixed. The script was updated to install Knative 0.15.0 and istio 1.5.4. @omerb01  Yep, it is better to have the script here. I will add it ;)

[2020-07-09 10:35] omerb01 commented on #331
@JosepSampe thanks a lot :)

[2020-07-09 17:09] Albert65 commented on #329
I think, I tried this way, but still get exception. Let me take another attempt.

[2020-07-09 20:03] omerb01 opened #332 "pywren's logging configurations control logs of all other packages"
observed an issue that prevents me from editing logging configurations as my desire before pywren executions.
I want to configure `logging` package to redirect the output logs into a file instead of stdout. I can't do that with pywren because of the lines below:

https://github.com/pywren/pywren-ibm-cloud/blob/ef18aad80254ac98eac05f4dd5d8b293f3efb8fe/pywren_ibm_cloud/config.py#L178-L200

this code

[2020-07-09 20:10] JosepSampe commented on #332
@omerb01 do you have a simple example to replicate it?

[2020-07-09 20:15] omerb01 commented on #332
@JosepSampe
[code]

[2020-07-10 17:04] JosepSampe commented on #332
@omerb01 Fixed in #330

[2020-07-10 17:05] JosepSampe commented on #324
Added fix in #330

[2020-07-18 15:05] omerb01 commented on #332
@JosepSampe sorry that I didn't update it earlier, I think that the fix that you have suggested isn't what I actually meant. I think that PyWren needs a separated logger which will be imported from utils. by this approach, I can do whatever I want with the logging package. for example, I want to do a for loop that changes the basic configurations for each iteration - this won't work with your fix

[2020-07-18 15:06] #331 closed

[2020-07-18 15:27] JosepSampe commented on #332
@omerb01 Ok, will check it

[2020-07-18 15:51] JosepSampe commented on #332
@omerb01 In fact, in the fix I added, the pywren logger is never started except you manually create an executor with the parameter `log_level`: `pywren.function_executor(log_level='INFO')`. So pywren logger will never overwrite other loggers if you don't put `log_level ` parameter in the executor.

The example above doesn't create separate log files in the same way that the next code doesn't creat

[2020-07-18 16:57] omerb01 commented on #332
I see thanks! :)

[2020-07-18 16:57] #332 closed

[2020-07-22 16:46] JosepSampe commented on #328
This seems to be an issue with the `ibm-cos-sdk` python lib. Try updating it to the latest version.

[2020-08-10 08:15] gilv opened #335 "Docker executor need only localhost"
Docker executor can use remote VM, however the current code fails to use anything than localhost, due to those lines

[code]

[2020-08-10 08:16] gilv commented on #335
@JosepSampe you agree with me? :)

[2020-08-10 08:21] gilv commented on #335
@JosepSampe may be my mistake...not sure if this is the case..may be my fault

[2020-08-10 12:16] JosepSampe commented on #335
@gilv Theoretically the that code is correct. When you use the docker executor, by default it sets the storage backend as "localhost". However, the "localhost" storage backend is not supported if you use a remote VM, so you must specify another publicly accessible storage backend, such as "ibm_cos":
[code]

[2020-08-10 12:19] gilv commented on #335
@JosepSampe am i required to provide runtime for docker executor in case of remote vm? what runtime it suppose to be?
I tried something and it fails..

[code]

[2020-08-11 04:50] #335 closed

[2020-08-11 08:52] gilv opened #336 "docker executor seems using user root"
There are issues observed in Docker executor deployed in the VM. Some folders are written with user root, as can be seen

[code]

this seems to be relevant [here](https://medium.com/redbubble/running-a-docker-container-as-a-non-root-user-7d2e00f8ee15)
I do see Docker executor uses -user, but i am not sure it's enough.
@JosepSampe can you please see it?

[2020-08-11 08:55] gilv opened #337 "docker executor uses 0.0.0.0 and PORT = 8080"
In some cases, 8080 is not available when docker executor deployed inside VM. Is this configurable? I didn't noticed relevant configuration where we can choose another port.
I think we need to provide couple of ports and then the entry point will bind them in a loop, until find available one.
@JosepSampe what do you think?

[2020-08-11 09:00] gilv opened #338 "docker executor running in remote vm - need logging"
When Docker executor running inside VM, we need to make sure all logs are written into local file and uploaded to COS at the end. Otherwise user has no way to debug code executions inside VM.

[2020-08-11 10:08] gilv opened #339 "docker container may be already running - then docker start fails"
[code]

[2020-08-11 10:42] gilv opened #340 "Can't read cloud object with ibm_cos"
Tried to run example https://github.com/pywren/pywren-ibm-cloud/blob/master/examples/cloudobject.py
Got
[code]

@JosepSampe @omerb01 do you know what got broken?

[2020-08-11 11:30] gilv commented on #339
I think this happens when container created, but not running. It should be visible with docker ps -a --format '{{.Names}}' -f name=pywren. Current code has docker ps  --format '{{.Names}}' -f name=pywren

[2020-08-11 12:37] gilv commented on #340
fixed in https://github.com/pywren/pywren-ibm-cloud/commit/d494bbd782a1111cf6af21a240578ec33c68869c

[2020-08-11 12:37] #340 closed

[2020-08-11 14:47] omerb01 opened #341 "Docker executor fails when running from multiple users"
when trying to use the docker executor with multiple users for the same remote VM, I get "permissions denied" and I'm stuck in this state. I tried to set `compute_backend: docker` and then run `pywren_ibm_cloud clean` but the script failed.

simple example:
[code]
output:
[code]

[2020-08-12 04:24] gilv commented on #339
I am not exactly sure, but seems https://github.com/pywren/pywren-ibm-cloud/commit/aa02413ce5951923ae2cb91ac68bb6533bdcceeb fixed the issue. @JosepSampe would be good to have your input

[2020-08-12 04:25] gilv commented on #341
Duplicate of https://github.com/pywren/pywren-ibm-cloud/issues/336

[2020-08-12 04:29] gilv commented on #338
I see proxy.log in pywren-docker  folder which contains all logs from the execution

[2020-08-12 04:39] gilv commented on #336
this https://github.com/pywren/pywren-ibm-cloud/commit/e7c2de623ae1d1cab7d3226aefa6babe6d824bdd fixes the issues.

[2020-08-12 04:39] #336 closed

[2020-08-12 04:41] gilv commented on #341
@omerb01 fixed in https://github.com/pywren/pywren-ibm-cloud/commit/e7c2de623ae1d1cab7d3226aefa6babe6d824bdd
you need to log into your VM, go to /tmp folder and delete all pywren* stuff created there with sudo rm -r..
next time you run it - it will work good

[2020-08-12 04:41] #341 closed

[2020-08-12 04:41] #339 closed

[2020-08-12 05:02] #322 closed

[2020-08-12 05:14] gilv opened #342 "delete cloud object doesn't work"
method `delete_cloudobject` from `storage/utils` throw an exception
[code]

[2020-08-12 05:45] gilv commented on #342
@omerb01 @JosepSampe before we fixing it - what commit or pull request caused it?

[2020-08-12 10:46] #320 closed

[2020-08-12 10:47] gilv commented on #342
I guess this one https://github.com/pywren/pywren-ibm-cloud/pull/330

[2020-08-13 08:43] omerb01 commented on #342
@gilv if you have tried to run EMBL workload with current master branch, there should be couple of changes to apply so the workload will use the new external storage class

[2020-08-13 09:47] gilv commented on #342
@omerb01 it's code in PyWren repository that doesn't work

[2020-08-13 10:06] omerb01 commented on #342
@gilv please share a simple example to reproduce your issue, I'll debug it and will submit a fix

[2020-08-13 18:48] omerb01 commented on #342
@gilv fix in #344

[2020-08-13 19:33] omerb01 opened #345 "remove kube logs when using docker executor"
while setting "INFO" log level I get a lot of unrelevant kube logs:
[code]

[2020-08-13 20:24] gilv commented on #342
https://github.com/pywren/pywren-ibm-cloud/commit/214116ee24156d5eafd587c9b722949c8066a39a

[2020-08-13 20:24] #342 closed

[2020-08-31 07:08] romeokienzler opened #347 "Be more verbose when missing out leading "http" on endpoint configuration"
Depending on which endpoint you've been missing out the "http" you get either clear or unclear feedback

unclear:

---------------------------------------------------------------------------
IndexError                                Traceback (most recent call last)
<ipython-input-2-9fcaa9d4304f> in <module>
      1 import pywren_ibm_cloud as pywren
----> 2 pw = pywren.ibm_cf_executor()

/opt/cond

[2020-09-01 07:07] JosepSampe commented on #337
@gilv Now port 8080 is hardcoded in the docker backend. I put this port since it is one of the most common http ports. In any case, we can put it as a configuration variable in the config file.

[2020-09-01 08:04] #337 closed

[2020-09-15 11:18] gilv opened #351 "Knative backend and Josep"
I noticed that knative.md contains

[code]

Can this be part of PyWren-IBM repository?

[2020-09-15 11:19] gilv commented on #351
@JosepSampe can you check it please?

[2020-09-15 12:05] JosepSampe commented on #351
Yep, I will move the script here in the repo

[2020-09-17 12:59] gilv opened #354 "Dynamic memory per invocation and not per executor"
Current design allows to define runtime memory once executor intitiated. For example

[code]

and each out of 3 invocations of my_map uses 2GB of memory.

What i seek is dynamic memory per invocations and not static per executor.
For example, we need something like this

[code]
and 1st invocation will use 128MB, second 256MB and 3rd 2048MB.

@JosepSampe i realise it's not obvious change...what do

[2020-09-17 13:10] gilv commented on #354
@JosepSampe i think on invoke we can provide the memory we need for the invoke..

[2020-09-17 14:16] JosepSampe commented on #354
@gilv you can already do this with `runtime_memory` param in each `map()` call ;)
https://github.com/lithops-cloud/lithops/blob/master/docs/api-details.md#executormap

[2020-09-17 14:18] JosepSampe commented on #354
@gilv Now you can provide the `runtime_memory` in each `map()` instead of in the executor, but not for each call within one `map()`

[2020-09-17 14:24] gilv commented on #354
@JosepSampe i want one map and each invoke in the map will use different memory as may be provided in the input..similar to example i posted above. This seems to be very important for dynamic memory scenarios

[2020-09-17 17:58] gilv commented on #354
@JosepSampe in the future we may even want to inject some function to calculate memory per invocation..but it's too early for that

[2020-09-23 14:16] gilv opened #356 "Reserved function parameters should be clearly documented"
A user wrote a function ```def my_func(obj): <his code>.``` Execution failed without clear error. Eventually turned out that "obj" parameter is reserved in Lithops.
We should clearly document what params are reserved to prevent further similar issues.

[2020-09-23 20:12] JosepSampe commented on #356
They are now specified in this document: https://github.com/lithops-cloud/lithops/blob/master/docs/functions.md#reserved-parameters

[2020-09-25 10:27] JosepSampe commented on #316
Fixed in #359

[2020-09-25 10:27] #316 closed

[2020-09-29 12:04] JosepSampe opened #361 "Too many executors"
Currently lithops contains one ad-hoc executor for each compute backend in https://github.com/lithops-cloud/lithops/blob/master/lithops/__init__.py, and all executors share the exact same code, what only changes is the compute_backend param. Additionally, as more  compute backends we add, more executors we will have in that file (and more repeated code we will have) which is hard to maintain. Docu

[2020-09-29 12:23] JosepSampe opened #362 "Possible wrong approach in IBM_VPC"
Now all the communication with the remote client is located within docker_executor, and I think it is not the correct place to put it. IMO we should follow the same approach as the pywren guys and create a `standalone_executor()` http://pywren.io/docs/#standalone-mode.

Put the logic in the docker_exeutor() prevents other ways of execution, since a user can use a docker image or a virtual environm

[2020-09-29 12:23] gilv commented on #361
@JosepSampe function_executor() is generic, right?

[2020-09-29 12:23] gilv commented on #361
@erezh16 FYI

[2020-09-29 12:25] gilv commented on #362
@kpavel @erezh16 what is your input on this one? Thanks

[2020-09-29 12:29] JosepSampe commented on #361
@gilv function_executor is generic, but to much generic. Now we have to differentiate between serverless and standalone

[2020-09-29 13:22] #315 closed

[2020-09-29 13:23] #328 closed

[2020-09-29 13:23] #329 closed

[2020-09-29 14:41] kpavel commented on #362
@JosepSampe Can you please clarify where exactly "the IBM_VPC logic is located within docker_executor"? I think we already moved all the IBM_VPC logic our of docker executor in the #350

[2020-09-29 15:20] JosepSampe commented on #362
@kpavel I mean all the ssh communication with the IBM VPC is located in the docker executor

[2020-09-29 16:12] kpavel commented on #362
@JosepSampe can you please point me to the code?

[2020-09-29 16:28] gilv commented on #361
@JosepSampe the idea is great...we also all noticed the "too many" executors that share same code.. Can you please a bit explain in more details the difference between lithops.local_executor() and lithops.standalone_execuor() ?

[2020-09-29 17:47] JosepSampe commented on #361
@gilv in fact I think `standalone_executor()` can share some logic of the ` local_executor()` at the end.
The main reason of having these 2 executors is to differentiate in a lithops script what is executed locally, and what is executed remotely. Moreover, `standalone_executor()` has much more parameters than `local_executor(),` for example: cpu, mem, soft_timeout, hard_timeout, auto_dismantle, et

[2020-09-29 18:02] erezh16 commented on #361
@JosepSampe Your reasoning seems to be largely the same as what motivated me to propose dropping all executors except the generic one. We can move all the executor specifics into configuration, creating highly simplified and portable Lithops applications. I would further suggest not to have specific executor API at all. If we want to create different specific executors at different stages, we can

[2020-09-29 18:47] gilv commented on #361
@erezh16 how would it work without executor api?

[2020-09-29 18:53] erezh16 commented on #361
@gilv That's not what I meant. The generic executor API (map/reduce) **remains**. However, we keep only one type of executor - a generic executor. No need for CF executor, stand-alone executor, docker executor, etc. They all get deprecated.

[2020-09-29 19:15] gilv commented on #361
@erezh16 the code of each backend executor is not the same...some uses Flask, some not, some REST calls to CF, some need to clean resources, etc. How can we remove all backends?

[2020-09-29 19:30] JosepSampe commented on #361
@gilv we are not talking about to delete the backends, but only to deprecate the high-level executors which in fact all are wrappers of the same `FunctionExecutor` class.

As I stated above, we can keep the `function_executor(`) as a top-level executor, then what @erezh16 suggest would be possible. And also keep (at least at first stage) the `local_executor()`, `serverless_executor()` and `standal

[2020-09-30 05:20] gilv commented on #361
@JosepSampe @erezh16 i am not sure i fully understand

[2020-09-30 07:31] erezh16 commented on #361
@gilv I think me and @JosepSampe tend to agree about reducing the number of high-level executors to make the API more stable, portable and sustainable. However, we disagree on what needs to remain. I believe we should only have one generic high-level executor and defer everything else to configuration, to keep the client code (e.g., EMBL applications) completely independent of backend specifics. @

[2020-10-04 12:32] gilv commented on #362
@JosepSampe any input?

[2020-10-11 05:27] gilv opened #373 "Get job status result without waiting for the job to be completed"
We need to re-open https://github.com/lithops-cloud/lithops/pull/71.
This will support only one map

In case there are couple of maps - this will be achieved via serverless workflows in a separate PR.

[2020-10-11 16:28] gilv opened #374 "should `lithops clean` also call compute's engine method "delete_runtime" ?"
Today it's not call "delete_runtime". Should it?

@JosepSampe ^^

[2020-10-12 17:26] omerb01 commented on #373
added in #375

[2020-10-13 06:02] gilv opened #377 "Support IBM Code Engine Job API"
Need to support IBM Code Engine, both Knative and JOB API

[2020-10-14 09:46] JosepSampe commented on #374
`lithops clean` already calls delete_runtime method

[2020-10-14 09:51] gilv commented on #374
@JosepSampe where do you see it in the code?

[2020-10-14 10:00] JosepSampe opened #380 "job clean method is bombing COS"
With current additions with code engine logic, now the clean method makes as many requests to COS as functions where spawned.
For example, If you run a map with 1000 activations to IBM CF, it then makes 1000 requests to COS. In addition, this process now takes minutes to finish due this large amount of request.

In the previous approach only 1 or 2 requests was required to do the same task, and th

[2020-10-14 10:01] JosepSampe commented on #374
https://github.com/lithops-cloud/lithops/blob/master/lithops/cli/utils.py#L42

This method internally calls one by one the delete_runtime()

[2020-10-14 10:40] gilv commented on #374
@JosepSampe but this clean doesn't delete runtime?  or i missed something obvious

[code]

[2020-10-14 10:53] gilv commented on #374
@JosepSampe i see what i missed. lithops clean calls delete_all_runtimes() and not delete_runtime(). Thanks.

[2020-10-14 10:53] #374 closed

[2020-10-15 11:30] gilv commented on #380
@JosepSampe what caused this? clean() method does nothing, unless it' code engine? Can you point to the code where it happens? It's the same clean method we can had before

[2020-10-15 11:32] gilv opened #381 "REMOTE_INVOKER_MEMORY = 2048 should be configurable"
REMOTE_INVOKER_MEMORY = 2048 in the invoker should be configurable. Not all the backend engine need REMOTE_INVOKER_MEMORY. I suggest if REMOTE_INVOKER_MEMORY is not configured, then the value will be the same as user provide in runtime_memory.

@JosepSampe what do you think?

[2020-10-15 11:33] gilv commented on #380
@JosepSampe code engine backend doesn't clean data from COS. I wonder what caused the behaviour you observe.

[2020-10-15 11:44] #377 closed

[2020-10-15 12:06] JosepSampe commented on #381
IMO, it is not necessary to be configurable.
Which backends does not need REMOTE_INVOKER_MEMORY? and for what reason do you want to make it configurable?

Remote invoker is a special feature only for serverless backends. When a user is located in a poor network, he can use this feature that uses a single cloud function to invoke the map(). This substantially reduce the invocation time.
After tens

[2020-10-15 12:08] JosepSampe commented on #380
@gilv you changed granularity here: https://github.com/lithops-cloud/lithops/blob/master/lithops/job/job.py#L273
So now it makes one clean request per activation. i.e. 1000 activations = 1000 requests to COS

[2020-10-15 12:11] gilv commented on #380
@JosepSampe because of activation_id?? I didn't noticed it screwed things.. i will fix it

[2020-10-15 12:15] JosepSampe commented on #380
@gilv yes, it is because activation_id, but I think when we have array-based jobs on code engine, we will not need to call invoker.clean() here

[2020-10-15 12:28] gilv commented on #380
@JosepSampe i need to delete job definition, only one delete. But i only need distinct activations_id. You think there is easy way i can get this value out of those triples in  jobs_to_clean ? It can be another loop, not part of COS cleanup

[2020-10-15 12:33] JosepSampe commented on #380
@gilv just to clarify: previously, array-jobs had one job-definition for each element of the array, i.e. 1000 element in array = 1000 job-definitions in code engine. And now we  already support array-jobs, i.e. 1000 element in the array = 1 job-definition in code engine. Am I right?

[2020-10-15 12:52] gilv commented on #380
@JosepSampe i wrote nonsense in previous comment ;) It's one job definition per many invocations. I will fix it

[2020-10-15 13:03] gilv commented on #381
@JosepSampe as you advised, i am using code engine with remote_invoker. But i don't need REMOTE_INVOKER_MEMORY at all there, i need the same memory as was provided by the user for invocation memory

[2020-10-15 13:09] JosepSampe commented on #381
@gilv The job_definition that is sent to the invoke() contains the memory you actually need. I think you already find it ;)

[2020-10-15 13:20] gilv commented on #380
@JosepSampe resolved in commit 5a2aa89b5941048bb7f0ff045005143603d530d8. No more COS bombs ;)

[2020-10-15 13:20] #380 closed

[2020-10-15 14:07] gilv commented on #381
👍

[2020-10-15 14:07] #381 closed

[2020-10-19 07:44] #362 closed

[2020-10-19 07:45] #324 closed

[2020-10-19 07:51] JosepSampe commented on #345
Docker executor was moved to StandaloneExecutor. It doesn't contain kube logs anymore

[2020-10-19 07:51] #345 closed

[2020-10-19 07:53] JosepSampe commented on #258
Working in Lithops

[2020-10-19 07:53] #258 closed

[2020-10-19 08:05] gilv opened #382 "Documentation with new backends design"
@JosepSampe I guess now there is need to update documentation, based on this discussion, right?

@gilv It is all easy to understand if you think that now lithops supports 3 modes of execution: localhost, serverless and standalone. Each mode of execution has its own Executor with its own parameters. Form example, servelss executor has runtime_memory parameter, while StandaloneExecutor has cpu, memo

[2020-10-19 08:08] JosepSampe commented on #382
@gilv WIP ;)

[2020-10-19 08:25] gilv opened #383 "config_template.yaml is not updated"
@JosepSampe :)

[2020-10-19 09:46] gilv commented on #382
@JosepSampe another point..i think current documentation very confusing with respect to runtimes.We need a doc page or may be mention it somewhere what compute engine and what is default runtime. This way, every time we release new version, we perhaps update the runtime. Otherwise i feel, all the default runtimes are not updated and we don't have a single list of default runtimes

[2020-10-19 09:55] gilv commented on #383
@JosepSampe by the way, where are keys with retry, for example:

    retry_sleeps: [1, 20, 40, 60, 120]
    retries: 5

[2020-10-19 10:05] gilv commented on #383
@JosepSampe another point, regarding ibm-vpc:
previous configuration had in Docker section.

    ssh_user: aaa
    ssh_key_filename: <PATH>/.ssh/id_rsa.pub

where it suppose to go now? into ibm_vpc or into standalone ?

[2020-10-19 10:13] gilv commented on #383
@JosepSampe another one :)

where is

include_modules: ["ABC"]

should go?

[2020-10-19 10:29] JosepSampe commented on #383
This information is in https://github.com/lithops-cloud/lithops/blob/master/config/compute/ibm_vpc.md#summary-of-configuration-keys-for-ibm-vpc

[2020-10-19 10:30] JosepSampe commented on #383
These keys were deleted 1 year ago, No needed anymore

[2020-10-19 10:32] JosepSampe commented on #383
These keys go to lithops section. Need to update docs

[2020-10-19 10:54] gilv commented on #382
@JosepSampe is this suppose to work like this?

         pw = lithops.ServrelessExecutor(log_level='DEBUG', runtime = lithops_runtime, runtime_memory="256")

if yes, then it's not regular naming for functions, but class and looks less good.
i guess it better be

     pw = lithops.servreless_executor(log_level='DEBUG', runtime = lithops_runtime, runtime_memory="256")

no?

Anyway, it fails Attribut

[2020-10-19 11:10] gilv commented on #382
@JosepSampe in addition to comment above, i also tried

          pw = lithops.function_executor(type='code_engine', log_level='DEBUG', runtime = lithops_runtime, runtime_memory="256")

Got

2020-10-19 14:09:35,465 [INFO] lithops.config: Lithops v2.2.0-SNAPSHOT
2020-10-19 14:09:35,465 [DEBUG] lithops.config: Loading configuration
2020-10-19 14:09:35,465 [INFO] lithops.config: Getting configuration

[2020-10-19 11:36] JosepSampe commented on #382
The correct usage ia to use directly the class.
Methods are used when you have to wrap the class with some logic. For example ibm_cf_executor() has some minor internal logic. In any other case it is preferable to use the class.

Try installing again the project to fix errors

[2020-10-19 11:44] gilv commented on #382
@JosepSampe I think function_executor to me is the best one...very generic and the simpler to use. I guess it has some bugs now so it fails for me

[2020-10-19 12:05] JosepSampe commented on #382
You have an error in the call.
The parameter type is one of (serverless, standalone, localhost), not code_engine. code_engine is the backend, so your correct line is:
[code]

[2020-10-19 12:16] gilv commented on #382
@JosepSampe

ef function_executor(type=None, config=None, runtime=None, runtime_memory=None,
                      workers=None, compute_backend=None,
                      storage_backend=None, rabbitmq_monitor=None,
                      remote_invoker=None, log_level=None):

it's compute_backend right now...i guess need to be changed

[2020-10-19 12:16] JosepSampe commented on #382
Yes, the intention is to promote the usage of lithops.FunctionExecutor() and deprecate all the super fine-grain executors (ibm_cf_executor, knative_executor, clodrun_executor, etc etc). This way we can reduce alot of duplicated code in the __init__ file of the project

[2020-10-19 12:17] JosepSampe commented on #382
Use directly the class ;)

[2020-10-19 12:18] gilv commented on #382
@JosepSampe but class looks ugly in Python...in Python we call functions, not really classes.
I prefer lithops.function_executor and not lithops.FunctionExecutor()... we are Python, not Java ;)

[2020-10-19 12:20] gilv commented on #382
@JosepSampe this one works fine

    pw = lithops.function_executor(type = "serverless", compute_backend='code_engine', log_level='DEBUG', runtime = lithops_runtime, runtime_memory="256")

[2020-10-19 12:29] JosepSampe commented on #382
In Python we call classes everywhere when you want to create an instance of something that contains methods. In our case an **executor** ;)
https://github.com/apache/ignite/blob/master/examples/redis/redis-example.py#L23
https://github.com/spark-jobserver/python-sjsclient#getting-started
etc
etc

[2020-10-19 12:35] gilv commented on #382
@JosepSampe yeah...may be it's me old fashioned, i don't know..just personally i like to provide API in Python without two much classes. But i don't mind

[2020-10-19 12:44] JosepSampe commented on #382
You are used to using methods in lithops to create executors, but the correct way is to use directly the class. If `function_executor()` method had some internal login before creating the class, then it make sense to use a method, but in our case there is no additional logic in `function_executor()` method, it is simply a wrapper of the class, i.e, not needed code ;)

[2020-10-19 12:56] gilv opened #385 "Add execution summary to Lithops"
We need to copy https://github.com/metaspace2020/pywren-annotation-pipeline/blob/71c66c6a55cbf833b16e2c65b2457e37deeeb6fd/annotation_pipeline/utils.py#L37 into Lithops.
This way we can have optional summary printed with statistic and costs

[2020-10-20 05:24] gilv opened #386 "mess with docker runtimes"
Currently every compute engine has a default runtime. I propose to make a unique convention for default runtimes, something like

    lithops-<backend-name>-<python-version>-<custom-text>:<version id>

I also would like to explore an option to automatically update all default runtimes for all backends once we release new Lithops version. Otherwise it almost impossible to track those runtimes vs Li

[2020-10-20 09:06] gilv commented on #386
@JosepSampe hmm....i will double check myself. thanks

[2020-10-20 09:16] JosepSampe commented on #383
@gilv done? ;)

[2020-10-20 09:36] #383 closed

[2020-10-20 11:31] gilv commented on #386
@JosepSampe
this ibm cf

[code]
this is OpenWhisk

[code]

This is code engine

[code]

I don't know, i feel something is not consistent here.

[2020-10-20 17:56] JosepSampe commented on #386
They are not consistent because IBM CF/OpenWhisk use default IBM CF Runtimes that have their own names lithops package is not included in those runtimes.

In code engine, you had to create your own runtimes becasue IBM CF runtimes are not compatible and they don't include lithops lib. And in Knative/CE lithops lib must be installed in the runtime.

The solution: create the **lithops** docker hub a

[2020-10-21 06:46] gilv opened #390 "configuration example with JSON config"
@JosepSampe is this https://github.com/lithops-cloud/lithops/tree/master/config#providing-configuration-in-runtime updated to use FunctionExecutor? I guess not, it need "serverless" section, etc.

[2020-10-21 06:48] JosepSampe commented on #390
In this case  the dict is ok

[2020-10-21 15:29] zhanggbj opened #391 "[Code Engine] Failed to run Lithops using Knative API of Code Engine"
My steps reproduce it

1. Followed doc https://github.com/lithops-cloud/lithops/blob/master/config/compute/code_engine.md
config file
[code]

2. Run `lithops test` and got error as below
[code]

[2020-10-21 15:34] gilv commented on #391
@zhanggbj I think this is wrong configuration, old one. We now have different format. @JosepSampe right?

[2020-10-21 15:38] gilv commented on #391
@zhanggbj follow https://github.com/lithops-cloud/lithops/blob/master/config/config_template.yaml

[2020-10-21 16:00] JosepSampe commented on #391
I will check it, version 2.1.0 uses old config, so the problem comes from another part

[2020-10-21 17:57] aitorarjona commented on #391
Last time I tried to run Lithops on Code Engine with Knative I had some trouble with the endpoint.
The endpoint that Lithops retrieves throught kubernetes api starts with http, but Code Engine currently only works using https endpoint and drops trafic that use http instead of redirecting it. Could this be the problem @JosepSampe ?

[2020-10-21 18:12] JosepSampe commented on #391
Seems now knative apiVersion v1alpha1 we use in lithops is deprecated. With v1 all is working properly, I will push the fix

[2020-10-21 19:56] LachlanStuart opened #392 "Generic type annotation error due to old version of CloudPickle"
The bundled version of CloudPickle (1.2.2) has an issue with pickling type annotations that subclass from `Generic`. This bug was [fixed](https://github.com/cloudpipe/cloudpickle/pull/318) in version 1.4.0.

Reproduction code (should be run with Python 3.8 - earlier versions use a different codepath in CloudPickle and may not have the same issue):

[code]

Raises exception:
[code]

[Full logs](htt

[2020-10-21 20:08] JosepSampe commented on #392
Thanks for reporting @LachlanStuart. Will try to update bundled cloudpickle lib

[2020-10-22 06:25] zhanggbj commented on #391
Thanks @gilv @JosepSampe @aitorarjona for your quick response! I tried again with lithops 2.2 and also got some debug info. Could you please help take a look? Thanks!

1. Upgrade to **lithops 2.2**

2. Applied **config** as below
[code]

3. **lithops test** got error as below
[code]
3. Run **lithops verify**, it repeated the following info.
[code]

[2020-10-22 07:20] JosepSampe commented on #391
Version 2.2.0 has the same issue.
I added the fix here: #393
@gilv Could you check it and merge?
@zhanggbj Once merged, could you try with master branch?

[2020-10-22 08:41] zhanggbj commented on #391
@JosepSampe Sure, after #393 is merged I can give a try.

[2020-10-22 08:50] JosepSampe commented on #391
@zhanggbj merged, you can already test it

[2020-10-22 12:29] zhanggbj commented on #391
@JosepSampe @gilv After build and install `master` branch,  `lithops test` is working now! Thanks!
[code]

[2020-10-22 12:35] #391 closed

[2020-10-22 14:42] #390 closed

[2020-10-22 14:42] #382 closed

[2020-10-22 14:44] JosepSampe commented on #361
Resolved, no need to delete backward-compatible executors at the moment

[2020-10-22 14:44] #361 closed

[2020-10-22 17:38] LachlanStuart opened #395 "JobMonitor._job_monitoring_os can become stuck polling forever"
I'm investigating a weird imbalance in my billing when using Lithops with IBM CF/COS. Somehow I got 5x as many "Class A" COS requests (PUT, POST, LIST) vs "Class B" requests (GET, DELETE, etc.). These Class A requests cost almost 10x as much as the rest of my total compute/storage usage.
![image](https://user-images.githubusercontent.com/26366936/96900920-e97d0f00-1492-11eb-9a6e-2c46d306d962.png)

[2020-10-22 18:09] JosepSampe commented on #395
@LachlanStuart Just to put me in context: Based on your described scenarios, and with the fact that the `JobMonitor._job_monitoring_os` is set as a `daemonic` thread (that is abruptly stopped when the script finishes in case you ran it from a terminal), are you experienced it from a notebook? or did you experience the same from a terminal?

[2020-10-22 22:27] JosepSampe commented on #395
I added a stop flag in #394 that stops the JobMonitor in the same way that the invoker is stopped. So scenario 1 and 2 should be fixed

[2020-10-23 09:00] LachlanStuart commented on #395
For development I'm running from the PyCharm Python Console. I can run the job many times in the same Python process, and the process only exits when I click the stop button or quit PyCharm. In production I will be running these jobs from a web server that will usually run in the same Python process for weeks or months.

Thanks! I'll pull the latest code and try it out.

[2020-10-23 09:31] gilv commented on #395
I wonder why i never observed that it might get stuck

[2020-10-23 09:42] LachlanStuart commented on #395
@gilv It's a background thread that doesn't have any logging. You can keep doing normal stuff in Python after an error, and you won't notice that it's still polling COS. I only realized there was a problem because my billing looked strange.

[2020-10-23 10:12] LachlanStuart commented on #395
@JosepSampe I tested each of the scenarios:

:heavy_check_mark: The job monitoring stops immediately.

:heavy_check_mark: The job monitor stops after all invocations have finished.

:thinking:  Instead of immediately reraising the error, it now waits until all functions have finished executing, including starting new pending functions, and then raises the error. Not sure if this is a bug or just a

[2020-10-23 10:24] JosepSampe commented on #395
Thanks for the report @LachlanStuart. I'm going to investigate it

[2020-10-23 10:52] gilv opened #397 "Auto dismantle doesn't work if Python version mismatch"
When python version mismatch, auto dismantle doesn't work for Gen2

In my case I got
[code]

VM remained started forever.

I assume to resolve this, in case of such exception we need to shut it down from the client and not assume auto dismantle will do it

@kpavel @JosepSampe

[2020-10-23 11:21] JosepSampe commented on #397
@gilv The proxy service is started as a unix service when the VM is started, at the same time, Gen1 credentials are always stored in the VM, so now the VM is stopped even if you don't submit a Job the job fails, or any other issue.

Note that `hard dismantle timeout` is 1 hour, not 5 minutes. Did you ensure that it was not stopped after 1 hour?

Maybe the error could come from another part, can yo

[2020-10-23 12:03] LachlanStuart opened #398 "runtime_memory parameter is ignored"
The `runtime_memory` parameter passed to `executor.map`/`executor.call_async` seems to be ignored. I can see in the logs that it selects the correct runtime and ensures that it exists, but it actually tries to start a runtime with the amount of memory specified in the config.

E.g. the following code tries to allocate 500MB, but it fails with `MemoryError` because it runs in a 128MB runtime (set b

[2020-10-23 12:09] JosepSampe commented on #398
@LachlanStuart Good finding. Thanks

[2020-10-23 12:51] JosepSampe commented on #398
I already have a fix. Will fully test it and then I will submit it

[2020-10-23 12:53] JosepSampe commented on #395
I have a fix, Now stop flag is per `execution_id+job_id` instead of global. I'm testing all possible cases

[2020-10-25 23:19] JosepSampe commented on #397
I improved StandaloneExecutor logic in #400. It is ready to test.

All the tests I made was with Ubuntu 20.04, since now it is already possible to create VM instances with Ubuntu 20.04 in IBM VPC.
It is worth to note that Ubuntu 20.04 VMs take ~35 seconds to start, in contrast of Ubuntu 18.04 VMs that take ~70 seconds. So I strongly recommend to create Ubuntu 20.04 VMs to substantially reduce VM s

[2020-10-25 23:19] JosepSampe commented on #395
@LachlanStuart Added a fix in #400 . ready to test

[2020-10-25 23:19] JosepSampe commented on #398
@LachlanStuart Added a fix in #400 . ready to test

[2020-10-26 07:51] gilv opened #401 "requirements.txt is python version related"
While we deploy runtimes for different Python versions, requirement.txt remains static with specific package versions.
Some dependencies need specific versions for different Python versions and thus requirements.txt need to be updated all the time based on Python version we plan to use.

Not sure what is best approach to resolve this

@JosepSampe any thoughts?

[2020-10-26 08:12] gilv commented on #401
@JosepSampe I assume the correct approach is to reduce number of Docker files we have, for example ibm_cf has too much and then have different requirements.txt per Docker file per Python version?

[2020-10-26 09:27] gilv commented on #401
@JosepSampe I know it's wrong what i did...see this commit 96471985bd976721ba82236a3a9203c213c74f99.
The requirements38.txt is what needed for Python 3.8.5.
And Dockerfile.python385 is unclear why Dockerfile.python38 is different.

We need somehow find a way to limit number of images and have requirements per Python version

[2020-10-26 11:19] gilv opened #402 "Testing Gen2 VM with most recent code"
I open this to track how Lithops-Gen2 integration works. I am using most recent code.  i created new Ubuntu 20 based VM then deployed "standalone" executer. Everything was installed automatically on VM and workload completed like a charm :)
I didn't had to install anything manually in VM, like docker, etc.

I do see that VM remained started and didn't got shutdown. Seems @kpavel observe the same.

[2020-10-26 11:22] JosepSampe commented on #402
Do you see messages like this in /tmp/lithops/proxy.log?
[code]

Or they don't appear?

[2020-10-26 11:28] gilv commented on #402
@JosepSampe VM did stopped by itself after some time. I see it now. Do we call shutdown once the Lithops job completed or it always auto_dismantle after some time?

[2020-10-26 11:32] JosepSampe commented on #402
If you have `auto_dismante = True` VM will shutdown after soft_dismantle_timeout (5 minutes). If you have `auto_dismantle=False` VM shutdowns after `hard_dismantle timeout` (1 hour) as long as you didn't called `exec.dismantle()` before.

[2020-10-26 12:22] gilv commented on #402
well...all works like a charm for me :) And seems @kpavel also satisfied...
@JosepSampe thanks a lot.

[2020-10-26 12:22] #402 closed

[2020-10-26 12:59] JosepSampe commented on #397
@gilv Fixed?

[2020-10-26 13:30] kpavel opened #403 "Ibm vpc backend hangs forever on the "Waiting Lithops proxy to become ready""
If new ibm vpc VM instance is used, while keeping same runtime name in .lithops_config the map job will hang forever on  Waiting Lithops proxy to become ready. Reason - it assumes the vm already has runtime preinstalled while it doesn't.
Easy solution - validation that runtime is there directly using ssh instead from cache/db

[2020-10-26 13:36] JosepSampe commented on #403
@kpavel good finding. Thanks. I think this is caused because you used same IP for different VM.
I think its even easier to fix by modifying get_runtime_key() method and use instance_id instead of ip_address.

[2020-10-27 05:01] gilv opened #404 "Python 3.8.5 on mac - issues with COS SDK"
I am not sure if it's COS SDK issue or Lithops issue.
Issue happens on mac, Python 3.8.5, remote_invoker=False.
(All is working with Python 3.7..5 or Python 3.8.5 with remote_invoker=True)

Running Lithops simple test

[code]

[code]
Is this related changes in #379 ?

@JosepSampe this summarise the issue. Do you know what might causing this?

[2020-10-27 05:05] #397 closed

[2020-10-27 07:40] JosepSampe commented on #404
@gilv I'm investigating it

[2020-10-27 07:43] zhanggbj opened #406 "[Knative] Failed to run lithops test"
I can run lithop successfully with config https://github.com/lithops-cloud/lithops/issues/391 with a CodeEngine accout, which means I have set kubeconfig only have limited access to the platform.

Then I changed Kubeconfig which have full acess to the CodeEngine, that lithops test failed with following error, any suggestions?

I can see the Knative service is created successfully, and looks like l

[2020-10-27 07:46] zhanggbj commented on #406
Hi @gilv @JosepSampe would you please help to take a look? Thanks!

[2020-10-27 07:57] JosepSampe commented on #406
@zhanggbj Seems it is working correctly from my side, so I suspect it is a "specific path issue", I mean, you have followed some steps that led to an issue.
Can you try cleaning lithops by:
[code]
and then try again:
[code]

`lithops clean` functionality cleans everything related to lithops except the configuration, so its like you start from scratch without any possible interference of deployed r

[2020-10-27 09:40] zhanggbj commented on #406
@zhanggbj
I did a cleanup but get the same error, maybe one question is there any difference b/w a CodeEngine Project or a normal Knative deployment?  Thanks!
[code]

[2020-10-27 09:52] JosepSampe commented on #406
@zhanggbj Can you post full DEBUG logs from `lithops test`?

[2020-10-27 10:04] zhanggbj commented on #406
@JosepSampe here it is

[code]

[2020-10-27 10:15] JosepSampe commented on #406
@zhanggbj I can see one line that should not appear, and I think it might cause the issue:
[code]
I think your new kubeconfig has extra rights for accessing to the platform, and lithops follows a path that we never faced.
I'm adding a fix, thanks

[2020-10-27 10:37] JosepSampe commented on #406
@zhanggbj Added a tentative fix in #409 . Can you test master branch?

[2020-10-27 10:51] JosepSampe commented on #404
@gilv All is working in my case with Python 3.8, so I guess it is related to MAC.
It is very weird where the error is produced... The error is produced when the the invoker background process is started. This process does not receives at any time anything related to ibm_botocore. This process only receives json strings.
I do't have access to a MAC, so I can't replicate it.

[2020-10-27 11:49] LachlanStuart commented on #398
@JosepSampe I can confirm this has been fixed in the latest `master` code

[2020-10-27 11:49] #398 closed

[2020-10-27 12:33] JosepSampe commented on #347
Fixed

[2020-10-27 12:33] #347 closed

[2020-10-27 12:36] JosepSampe commented on #297
Currently urlib is not pinned anymore in requirements. So there is no need to use specific urllib version

[2020-10-27 12:36] #297 closed

[2020-10-27 15:18] zhanggbj commented on #406
@JosepSampe Thanks!! 👍  It works!

[2020-10-27 15:19] #406 closed

[2020-10-27 15:25] gilv commented on #404
@JosepSampe yes...it's Mac related

[2020-10-27 16:10] JosepSampe commented on #392
@LachlanStuart The example you provided works with the current cloudpickle version and python 3.6. In addition, I executed some tests with Lithops and cloudpickle 1.6.0 and the example you provided works with python 3.8, however it doesn't work with python 3.6.

In summary, I tested all cloudpickle versions and seems that from >=1.4.0 the example you provided stops working with python3.6 and start

[2020-10-27 16:21] JosepSampe commented on #392
@gilv What should we prioritize? Python 3.6 or Python3.8?

[2020-10-27 16:36] JosepSampe commented on #392
@LachlanStuart @gilv Well, In fact I can keep both cloudpickle versions and use 1.2.2 for python < 3.8 and 1.6.0 for python > 3.8. This way we won't have backwards compatibility issues

[2020-10-27 16:37] gilv commented on #404
Also version 3.8.6 has the same issues

[2020-10-27 16:41] gilv commented on #392
@JosepSampe I think 3.8..but i have hard times with Mac and Pytho 3.8.5(6)... but the best would be avoid backwards issues and keep both cloudpickle versions.. it's not just cloudpickle i guess... #401

[2020-10-27 16:41] LachlanStuart commented on #392
@JosepSampe Based on that error, I suspect the issue is that CloudPickle assumes `T` is statically defined and can just be imported during unpickling. The issue is that the `__main__` module never gets pickled fully pickled - CloudPickle only picks out the specific variables that it finds references to, and in this case it seems it doesn't understand the reference to `T`. However, I'd expect if `T

[2020-10-27 16:50] JosepSampe commented on #392
@LachlanStuart Yes, if the var definition is in the other file, lithops pickle the entire module that contains T and then it works

[2020-10-27 16:53] gilv commented on #404
@JosepSampe when i think about, i can perfectly use cos-sdk from my laptop to access COS. So the only place where the issue happens is here

[code]

[2020-10-27 16:55] gilv commented on #404
@JosepSampe you think this is [relevant](https://stackoverflow.com/questions/8804830/python-multiprocessing-picklingerror-cant-pickle-type-function) ?

[2020-10-27 16:58] LachlanStuart commented on #395
I re-tested each of the scenarios, as well as my metabolomics code. The Job Monitor seems to stop correctly now when there are errors, and it has gone back to the expected behavior of not launching new jobs after an error has been detected.

@JosepSampe Thanks for the quick fix!

[2020-10-27 16:58] #395 closed

[2020-10-27 17:03] JosepSampe commented on #404
In this code you posted, can you try changing  `mp.Process` to `Thread` ? this way we will know if you have the same issue using threads instead of processes. I guess it will work, but just to make it sure

Maybe, I can't test anything :/

[2020-10-27 17:24] JosepSampe commented on #395
@LachlanStuart thanks to you for your awesome reports and feedback

[2020-10-27 17:27] gilv commented on #404
@JosepSampe works like charm with

[code]

what does it mean? :)

[2020-10-27 17:37] JosepSampe commented on #404
An `mp.Process` tries to load instantiated classes from main process into a separate process, and for some reason it fails in MAC and python3.8. A thread is executed in the same main process, so it doesn't have to load anything as all is already loaded, so this issue doen't appear.

I think for now we can add a workaround like:

[code]

[2020-10-27 17:43] JosepSampe commented on #401
I think we can delete all pined versions from all packages in requirements.txt as we already did in setup.py, since the only strong requirement we have is pika==0.13.1. This way each python version will install its appropriate package versions, and we will not have any other issue in the future due to an old package version.

[2020-10-27 17:52] gilv commented on #404
@JosepSampe this?

[code]

[2020-10-27 18:01] JosepSampe commented on #404
@gil Yes if it works for you. Where is `platform` variable defined?

[2020-10-27 18:04] JosepSampe commented on #404
@gilv before  changing anything. can you try with this?: Delete all you added in the "if", and add at the begging of the document, below `import multiprocessing as mp:`
`multiprocessing.set_start_method("fork")`

[2020-10-27 18:57] gilv commented on #404
@JosepSampe this one works also
[code]

[2020-10-27 19:04] gilv commented on #404
@JosepSampe can i merge it?

[2020-10-27 19:06] JosepSampe commented on #404
I think it is better to add the line here in line 35:
https://github.com/lithops-cloud/lithops/blob/master/lithops/invokers.py#L35

Test it and merge it ;)

[2020-10-27 19:15] #404 closed

[2020-10-27 19:15] #403 closed

[2020-10-27 19:17] gilv commented on #401
@JosepSampe how it will work with setup.py? For example Python 3.8.5 need
[code]
also numpy and some other packages.

while Python 3.7.5 need older versions.

[2020-10-27 19:18] JosepSampe commented on #304
@gilv Currently localhost logic is completely new and different from ol pw versions. Could you test this simple script and see if it is still necessary to set that env variable?

[2020-10-27 19:20] JosepSampe commented on #304
@gilv Currently localhost executor logic is completely new and different from old pw versions.

Could you test this simple script and check if it is still necessary to set that env variable?
[code]

[2020-10-27 19:22] JosepSampe commented on #401
I think each python version installs the appropriate package versions. So if you build a docker with python 3.8, it will automatically install gevent 20.9.0, and if you build  a docker with python.3.7, it will install the appropriate version if 20.9.0 is not compatible.

[2020-10-27 19:53] gilv commented on #401
@JosepSampeI had hard time with EMBL moving to 3.8.5...need specific packages for 3.8.5 and then 3.7.5 didn't worked anymore. So we need manually specify packages for different Python versions

[2020-10-28 05:57] gilv opened #412 "Multiple serverless entries in the same configuration file"
Currently configuration file has a single entry
[code]

I want to extend this to enable multiple "serverless" entries, each configured for specific backend  with its runtime and specific configuration to that backend.

This way we can easily switch between serverless backends in a single workflow.

@JosepSampe what do you think?

[2020-10-28 07:40] gilv opened #413 "Build runtime should have "backend" as parameter"
Related #412 , lithops runtime build should get parameter of the backend needed, and not just use value [serverless][backend].

[2020-10-28 07:44] JosepSampe commented on #412
Lithops config is generic and what you propose seems to be application specific.
You can already switch between backends with:
[code]

Or are you proposing another thing?

[2020-10-28 08:11] gilv commented on #412
@JosepSampe it will be better user experience, when all configured in config file. Otherwise it looks ugly. It's not about functionality, about user experience.  and we just demo
[code]

Instead of

[code]

[2020-10-28 08:16] gilv commented on #412
@JosepSampe i updated my response above

[2020-10-28 08:21] gilv commented on #412
@JosepSampe it's not application specific..just better configuration with multiple serverless backends

[2020-10-28 08:29] JosepSampe commented on #412
I don't know how to put multiple serverless sections in config. Seems it is easy to move serverless variables to all serverless backends

[2020-10-28 08:33] gilv commented on #412
@JosepSampe I will do some experiment..may be it's more complicated than i thought

[2020-10-28 09:14] JosepSampe commented on #412
I think `runimte`, `runtime_memory` and all these parameters are application specific.

Consider this use case:
I have a config file in`/root/.lithops/config` and 10 different applications. Most probably each application will have its own docker image with their own python deps. So if you put runtime in config file then you will have to edit your config each time you want to use a different applic

[2020-10-28 09:20] gilv commented on #412
@JosepSampe thanks... i like this.

[2020-10-28 09:20] #412 closed

[2020-10-28 09:25] JosepSampe commented on #412
@gilv I think we can put my last post into a file in `docs/` ;)

[2020-10-28 09:29] #413 closed

[2020-10-28 12:03] JosepSampe opened #415 "Warning installing lithops master branch"
Each time I install master branch lithops i get this warning:

/usr/lib/python3/dist-packages/setuptools/dist.py:485: UserWarning: The version specified ('2.2.3-SNAPSHOT') is an invalid version, this may not work as expected with newer versions of setuptools, pip, and PyPI. Please see PEP 440 for more details.

@gilv I think we should name master branch version with something like: `2.2.3dev0` (I

[2020-10-28 13:24] gilv commented on #415
@JosepSampe i never saw such warning...you see it with pip install -U . ?

[2020-10-28 14:50] JosepSampe commented on #415
@gilv I see it with `python setu.py install`

[2020-10-28 14:57] JosepSampe commented on #415
@gilv According to python specifications, development releases are in the form of X.Y.devN. https://www.python.org/dev/peps/pep-0440/#developmental-releases

Currently in our case, looks like  master branch should be 2.2.dev3 instead of 2.2.3-SNAPSHOT, according to python PEP

[2020-10-28 15:24] gilv commented on #415
@JosepSampe sure, nobody can argue with the spec :) Let's change it as you propose

[2020-10-29 10:09] JosepSampe commented on #415
Changed in #416

[2020-10-29 10:09] #415 closed

[2020-10-29 13:29] JosepSampe commented on #392
@LachlanStuart Cloudpickle 1.6.0 added in #411

[2020-11-02 19:31] thanh-lam opened #424 "For a quick start, lithops test failed as "storage_bucket is mandatory""
It's understandable that I'll need to use Cloud Object Storage with lithops sooner or later. But, for a quick starter, I just wanted to run the "lithops test" on my local machine only to make sure the installation and initial configuration are good.

This is my simple config file in ~/.lithops/
[code]

The installation was successfully:
[code]

And, `lithops test` failed due to "storage_bucket is

[2020-11-03 06:20] #392 closed

[2020-11-03 11:19] JosepSampe commented on #424
Fixed in master branch, thanks @thanh-lam

[2020-11-03 11:23] gilv commented on #338
@JosepSampe this is great #425 . Thanks a lot. Can you explain how it works -  User will just see all the logs on the console and it will include remote logs from VM?

[2020-11-03 11:26] JosepSampe commented on #338
Remote VM function logs are synchronized into a local file, you only need to:
`cat /tmp/lithops/functions.log` or ` tail -f /tmp/lithops/functions.log`

/tmp folder can vary depending of the OS, so if you set logging to INFO, you will see a line like this in the executor logs:

`2020-11-03 12:16:34,683 [INFO] lithops.standalone.standalone: View execution logs at /tmp/lithops/functions.log`

[2020-11-03 11:29] gilv commented on #338
@JosepSampe EMBL will run multiple jobs in the same Gen2. We tested that each workload in Gen2 will run in it's Docker image...do you think the functions.log will be overwritten?

I wonder if we want to keep this local file as functions-<job-id>.log

Then users can simply write lithops.log(invocation_id) and get content of this local file

[2020-11-03 11:32] JosepSampe commented on #338
Now logs are always appended into the same `functions.log`, they are not overwritten

[2020-11-03 11:33] gilv commented on #338
@JosepSampe can we add support  to write logs into `functions-<job-id>.log`

Then users can simply write lithops.log(invocation_id) and get content of this local file?

this will be very usefull

[2020-11-03 19:21] thanh-lam commented on #424
@JosepSampe , thank you! That's quick. Will the issue close itself or I'll have to do that after verifying the fix? I installed it by using pip. So I probably have to wait until the new version is available with pip install.

[2020-11-03 21:15] gilv commented on #424
@thanh-lam i will make a new release asap

[2020-11-04 18:46] JosepSampe commented on #338
@gilv I run some tests with this and maybe create a separate log file per `job-id` is to fine-grained logging. Only tests generate 50 different log files. This could lead to hundred of different files in your local machine.

In IBM CF the command `ibmcloud fn activation poll` shows all finished activations from any job, and it is easy to debug functions.
Jobs are executed one after another, so wha

[2020-11-04 19:54] gilv commented on #338
@JosepSampe i guess in many cases, like EMBL, it's not a local machine that start Lithops job, but from some VM.
I see a lot of value to retrieve a log based on the job id and this log contains all details, from CF, VM, etc. Also EMBL asked this. If we generate log based on the FunctionExecutor it will be very hard to follow a particular job that perhaps failed.

But i agree there might many logs

[2020-11-04 20:02] JosepSampe commented on #338
In fact if a job fails, the whole execution is stopped, so you will always see failed logs at the end of the `executor-id.log
`

[2020-11-04 20:14] gilv commented on #338
@JosepSampe right...but still i don't see issues in many log files..it even good, since it can be later used for some statistics and learning of average executions. And user can get logs based on job id...

[2020-11-05 06:03] gilv commented on #424
@thanh-lam I just released version 2.2.3. Hope it solve the issue

[2020-11-05 06:03] #424 closed

[2020-11-05 06:05] #252 closed

[2020-11-05 06:08] #351 closed

[2020-11-05 06:09] #356 closed

[2020-11-05 06:10] #317 closed

[2020-11-05 06:26] gilv commented on #304
@JosepSampe that actually weird a bit...if i execute it from Eclipse, getting

[code]

If i execute it from the console, getting

[code]

Perhaps something in my configuration that makes this issue for localhost?

[2020-11-05 13:40] gilv commented on #338
@JosepSampe are you ok with the above?

[2020-11-05 14:22] thanh-lam commented on #424
@gilv , thanks for the new version! It's installed and `lithops test` now works! Looking forwards to explore further with lithops.
[code]

[2020-11-05 14:24] JosepSampe commented on #424
@thanh-lam Great! Note that with the recent modifications there is no need to have a config file for running jobs in the localhost

[2020-11-06 09:18] otrack opened #429 "GCP deployment"
The documentation should indicate that the GCP Cloud Build API must be activated.

After activating it, the command "lithops test" fails because requirements.txt is missing under /home/login/.local/lib/python3.8/site-packages/lithops/serverless/backends/gcp_functions.

When this problem is solved the command still fails. A full log is available below as well as the lithops configuration that was u

[2020-11-06 14:59] JosepSampe commented on #429
@otrack Fixed in #430 test master branch

[2020-11-06 15:25] #429 closed

[2020-11-06 18:02] aitorarjona commented on #429
@otrack The issues have been fixed and merged into master in #430 and #431. Colud you install lithops from main branch and run `lithops test --debug` again to check if it has been solved for you? You should also run `lithops clean` before to delete the deployed runtime that has the issues. Thanks.

[2020-11-07 10:51] otrack commented on #429
Sounds fine now. Thanks!

[2020-11-08 06:44] gilv commented on #304
@JosepSampe do you know why localhost fails for me? see my previous post on this thread

[2020-11-08 22:06] otrack opened #432 "runtime build error"
The command "lithops runtime build" fails with a TypeError (build_runtime() takes 1 positional argument but 3 were given) whatever follows it. An example is below.
[log.txt](https://github.com/lithops-cloud/lithops/files/5507238/log.txt)

[2020-11-09 04:35] gilv commented on #432
@otrack i usually navigate into runtime/<backend> and then use

     lithops runtime  build <docker space>/<image name>:<version number> -f <path to Docker file>

[2020-11-09 10:10] aitorarjona commented on #432
@otrack GCP Functions backend does not support runtimes based on docker.
I'm now working on a patch to permit building runtimes with extra modules defined in a `requirements.txt` file instead of a Dockerfile.

[2020-11-09 15:11] LachlanStuart opened #436 "Memory limits in standalone executors"
Currently, standalone runners simultaneously run all received jobs at once, ignoring the `runtime_memory` parameter. This can cause activations to run out of memory if too many activations are run in parallel through a `map` call. The `workers` config setting can be used to limit the number of parallel activations started by a `FunctionExecutor`, but there are two drawbacks - it can't be dynamical

[2020-11-10 12:06] aitorarjona commented on #432
@otrack Implemented custom runtime based on a `requirements.txt` file in #434.
Please follow instructions [here](https://github.com/lithops-cloud/lithops/tree/master/runtime/gcp_functions) to build a custom runtime for Google Cloud Functions.

[2020-11-11 04:20] gilv commented on #436
@kpavel can you check this please?

[2020-11-11 07:05] gilv opened #441 "Code Engine backend is broken with one of the latest PR"
Code Engine Backend is broken due to call to from lithops.storage.utils import create_runtime_meta_key which was removed in https://github.com/lithops-cloud/lithops/commit/998710a3a19277e32eb9aea785ba35e6504b9242

@JosepSampe can you fix it please?

[2020-11-11 08:50] JosepSampe commented on #441
Fix in #442

[2020-11-12 12:52] #441 closed

[2020-11-12 12:53] gilv commented on #385
@JosepSampe i guess similar to what you did with logs, each writing in separate log-job-id file, we can use this approach to write exec-summary-job-id file ?

[2020-11-12 13:06] kpavel commented on #436
@LachlanStuart I think we can achieve it by presenting a sliding window of active jobs inside the VPC with FIFO queue of jobs inside proxy.py. At naive approach, window size will be derived from the amount of memory initially available on the machine and expected job size specified by the executor.
Later, the algorithm can be improved to dynamically watching the currently available resources inclu

[2020-11-12 17:27] #338 closed

[2020-11-12 17:27] #291 closed

[2020-11-14 16:51] otrack commented on #432
It does not seem to work (see log below). I am running lithops from the sources.

$> lithops runtime build -f requirements.txt my_matplotlib_runtime
2020-11-14 17:47:34,901 [INFO] lithops.config -- Lithops v2.2.6.dev0
2020-11-14 17:47:34,901 [DEBUG] lithops.config -- Loading configuration
2020-11-14 17:47:34,901 [INFO] lithops.config -- Getting configuration from /home/otrack/.lithops/config
2020-

[2020-11-15 09:51] otrack opened #445 "cloudrun deployment"
It seems that there are several issues with the deployment over GCP cloudrun. The version used was gcloud SDK 318 and commit ac65e8315fb6349167104c0c9ed194804635229 for lithops.

The command "lithops runtime build -f runtime/cloudrun/Dockerfile.python37 login/img" fails with "COPY failed: stat /var/lib/docker/tmp/docker-builder224709891/lithops_cloudrun.zip: no such file or directory". This makes

[2020-11-16 16:17] gfinol opened #447 "Data partition of bucket object using chunk_n may not be disjoint."
When using the `FunctionExecutor.map` function over an obj from a bucket, [`map_function`](https://github.com/lithops-cloud/lithops/blob/master/docs/api-details.md#executormap) receives repeated data when using the parameter `chunk_n` instead of `chunk_size`.

Data chunks are not disjoint, but they should.

Code to reproduce the bug:

[code]

[2020-11-17 06:03] gilv commented on #436
@LachlanStuart what do you think on the proposal from @kpavel ?

[2020-11-17 06:38] zhanggbj opened #448 "[Code Engine/Knative] Execution concurrency"
- Config:
I can run lithop successfully with config https://github.com/lithops-cloud/lithops/issues/391

- Benchmark
[code]

However, by default both benchmark run with `workers=100`，as I can see Knative accepted 100 req/s so only scale up around 100 pods.

![image](https://user-images.githubusercontent.com/4181847/99354227-09142580-28e1-11eb-927f-54a79236e99d.png)

![image](https://user-images.gi

[2020-11-17 09:40] JosepSampe commented on #448
@zhanggbj Yes, this is the expected behaviour in knative. By default, lithops uses a threadpool of 500 threads (max) to perform the invocations. At the same time, in knative invocations are **synchronous**, i.e., lithops has to wait one invocation to finish to invoke another one.  It is for this reason you see a max level of concurrency at ~500 in the last plot. You can increase (or decrease) this

[2020-11-17 11:21] LachlanStuart commented on #436
@kpavel The FIFO queue / sliding window approach sounds great, as long as I can control it per-job.

Were you thinking about implementing this in the in the Standalone proxy, or in the executor? If it's just for Standalone, I don't think this is needed - I haven't encountered a real-world case of unexpected OOMs (except for the "all jobs at once" issue) in Standalone as there's so much extra memor

[2020-11-17 15:47] JosepSampe commented on #447
@gfinol Can you upload a link to a specific data file?

[2020-11-18 10:55] gfinol commented on #447
@JosepSampe  [Here](https://drive.google.com/file/d/1xqor0QMTIkzPcMcTtS2T8fF50KFNrgTS/view?usp=sharing) you have an example.

[2020-11-19 15:54] aitorarjona commented on #432
@otrack Sorry for the late response. There was a lack of logging in GCP Functions Backend, so although the runtime was built successfully, there were no logs that reflect it. This has been fixed in #452. Could you try again? try running
[code]
and then
[code]
Thanks!

[2020-11-19 16:13] gilv commented on #436
@LachlanStuart if we run many executors from different clients, then we can't use executor to keep queue...unless we have some 3rd party external queue to maintain jobs... or keep it in proxy. I think we need queue only for VPC and in this case we can keep queue inside proxy.
regarding serverless, very soon we have production IBM Code Engine (it's beta now). Lithops supports it, so from your exper

[2020-11-19 16:14] gilv commented on #436
@kpavel ^^^

[2020-11-20 10:13] LachlanStuart commented on #436
@gilv I was only suggesting using the executor for the retry-after-OOM logic. I agree that it would be best to handle queueing and the sliding window in the proxy.

[2020-11-23 09:57] JosepSampe commented on #447
Fixed in #455.

[2020-11-23 12:36] gfinol opened #456 "'JobRunner' object has no attribute 'executor_id'"
Using Lithops on version 2.2.7 I got the following error:

[code]

Apparently the attribute `executor_id` was remove in 433eae7. But in line  [100](
https://github.com/lithops-cloud/lithops/blob/433eae7a5bd7132424473a5ef73e362127a41295/lithops/worker/jobrunner.py#L100) it is still been used.

[2020-11-23 12:48] JosepSampe commented on #456
That line should have been deleted by mistake. I reverted it in master branch

[2020-11-23 12:48] #456 closed

[2020-11-23 12:48] #447 closed

[2020-11-23 17:16] gilv commented on #448
@zhanggbj @JosepSampe I guess it's resolved...closing this for now

[2020-11-23 17:16] #448 closed

[2020-11-25 03:48] arontsang opened #460 "AWS Lambda Runtime builder needs VPC options"
The Lambda needs to be run within a VPC for security purposes.

[2020-11-25 03:49] arontsang opened #461 "AWS runtime builder should allow EFS mounts to be configured"
As above

[2020-11-28 09:24] rmey opened #467 "Please describe example how Pool is initialised with a concrete serverless backend"
There is no example on how to use the pool API with a concrete backend.

[2020-11-28 09:26] rmey commented on #467
How do I specify for pool a serverless backend?
`# from multiprocessing import Pool
from lithops.multiprocessing import Pool
import random

def is_inside(n):
    count = 0
    for i in range(n):
        x = random.random()
        y = random.random()
        if x*x + y*y < 1:
            count += 1
    return count

if __name__ == '__main__':
    np, n = 96, 15000000000
    part_count = [int(n/np)

[2020-11-28 09:33] rmey commented on #467
OK I tried this now which seems to work:
`pool = Pool(processes=np, initargs={'runtime_memory': 1024, 'mode':'serverless','backend':'code_engine','runtime':'ibmfunctions/lithops-ce-3.8.5-2.2.9:1.0.0'})
    `

[2020-11-29 08:24] gilv commented on #467
@JosepSampe does it documented somewhere else?  or the usage of Pool is  a missing part that need to be added?

[2020-11-30 14:21] JosepSampe commented on #467
@gilv Docs of `multiprocessing` are in progress. We will submit them soon.

In any case, apart of using `initargs`, a concrete backend can be also set in config as usual, in `serverless` section: https://github.com/lithops-cloud/lithops/blob/master/config/compute/code_engine.md#edit-your-lithops-config-and-add-the-following-keys-1

[2020-12-01 03:42] gilv opened #471 "Supporting other container registry, not just Docker"
There are various container registries available, users may have private ones, IBM container registry, etc.
Lithops should support them as well, not just Docker registry.

[2020-12-01 03:42] gilv commented on #471
@JosepSampe what do you think on this?

[2020-12-01 10:48] JosepSampe commented on #467
Docs added in #473

[2020-12-01 14:57] kpavel opened #475 "Cloudpickle not working as expected with python >= 3.8"
Recently Cloudpickle 1.6 been added and it is used by default when python version is >= 3.8

https://github.com/lithops-cloud/lithops/blob/master/lithops/libs/cloudpickle/__init__.py

The problem is that it doesn't produce modules dependencies. I suggest we roll back to previous cloudpickle version for python >=3.8 as well, as long as the issue not resolved.

[2020-12-01 15:06] JosepSampe commented on #475
@kpavel This is commonly due the project structure you have.  I just run some examples with with Python3.8 and in my case the deps are correctly pickled and transferred. But I use basic project structure. Can you provided a specific example to reproduce the issue?

[2020-12-01 15:17] JosepSampe commented on #471
@gilv Theoretically, lithops is not pinned to any container registry, so you should be able to use all them.
In fact Google cloud run uses the google container registry

[2020-12-01 15:45] kpavel commented on #475
@JosepSampe Just run something with dependency not prepackaged in the runtime.
e.g.
[code]

[2020-12-01 15:50] JosepSampe commented on #475
@kpavel hmm, very weird, I will investigate it. If instead you use the next code it works:

[code]

[2020-12-01 16:25] JosepSampe commented on #475
I found a fix, need to be tested but I will submit it soon

[2020-12-01 18:34] LachlanStuart opened #477 "Too much log output"
The output during execution of a Lithops function can be quite spammy, and is impossible to turn off. This is a problem in application logs, as a pipeline with 10+ Lithops calls that sometimes invoke 1000s of activations, it can result in tens of thousands of lines of logs.

There are several issues:
* The current behavior [detects if logging is disabled and `print` instead](https://github.com/lit

[2020-12-01 20:20] JosepSampe commented on #477
Yes, this is the main reason of `prints`. But those prints were added at the very beginning of the project when we had no logging. Now we have logging everywhere so we can address your suggestions:
- If the user sets it to null/None, don't make any changes to logging behavior
- If the user sets it to INFO/WARNING/etc. configure the lithops root logger to that level
- If no value is specified and t

[2020-12-02 03:36] gilv commented on #477
@JosepSampe and in addition we remove all "prints" and follow other @LachlanStuart suggestions?

[2020-12-02 09:29] JosepSampe commented on #477
@gilv Yes, I already already addressed some of them in #478. Just wanted to now what do you think about to remove prints and set INFO as default logging?

[2020-12-02 12:27] gilv commented on #477
@JosepSampe sure...whatever @LachlanStuart propose i am good with :)

[2020-12-02 17:51] LachlanStuart opened #480 "Wrong IBM COS endpoint used in Standalone/IBM VPC"
In the [runner.log file](https://gist.github.com/LachlanStuart/a97efcbab8e8bc191cf381baefaf4675) file on the VPC it shows a ConnectTimeoutError accessing https://s3.private.eu-de.cloud-object-storage.appdomain.cloud/metaspace-ls-de2/lithops.jobs/cf402c-1-M000/00000/status.json . On the host computer, it just looks like `executor.get_results` has stalled.

I also tried using curl from the VPC to do

[2020-12-02 18:36] JosepSampe commented on #480
@LachlanStuart IBM COS private endpoint does not work from IBM VPC. To make use the correct endpoints, you have to set the `region` parameter in `ibm_cos` section and delete the endpoints. [Check this example](https://github.com/lithops-cloud/lithops/blob/master/config/storage/ibm_cos.md#option-3-ibm-iam-api-key)

[2020-12-03 11:15] LachlanStuart commented on #480
Thanks @JosepSampe , that fixed it.

Would it be possible to include details about config and API changes in the changelog? Each time I update Lithops, it has taken quite a bit of work to get all my code/config working again.

[2020-12-03 18:01] LachlanStuart opened #483 "Exception in _future_timeout_checker"
I found this in my server logs, and I think it explains some of the stalls I've seen when calling `executor.get_result`:

[code]

It seems both `wait_storage.py` and `wait_rabbitmq.py` have this line: `pickled_exception = str(pickle.dumps(sys.exc_info()))`

`sys.exc_info()` returns a `(exc_type, exc_value, exc_traceback)` tuple, and the `exc_traceback` part can't be pickled. I noticed that Lithops

[2020-12-04 09:01] JosepSampe commented on #483
@LachlanStuart I added the pickling_support in both `wait_*.py` files.

It's a bit weird because I ran some test forcing this exception, and in my case it  raises and pickles the exception correctly, and I didn't have the  pickling_support anywhere in my local machine.

In any case, it is  much better having it there to prevent possible pickling issues as in your case

[2020-12-04 10:19] LachlanStuart commented on #483
Awesome, thanks @JosepSampe .

I find it a bit strange too. After finding this function exists, I'm surprised I haven't seen this exception message sooner, because I have been investigating cases where `get_result` has stalled and not recovered, even after several hours, due to unexpected VM shutdowns. This was the first time I saw this exception message, but I've had at least 2 other cases where

[2020-12-04 13:45] JosepSampe commented on #144
Seems lithops can catch again IBM CF OOM errors

[2020-12-04 13:45] #144 closed

[2020-12-06 18:29] LachlanStuart opened #485 "Executors sometimes use expired IBM Cloud tokens"
[Full logs](https://gist.github.com/LachlanStuart/a1dafe10187775bf65797fc042ac9393) (Note: there's two blocks of initialization logs because this code uses a hybrid pair of ServerlessExecutor and StandaloneExecutor)

The process had been running for a while, but the `ServerlessExecutor` had only been started 20 minutes before the error. It seems it only checks whether the token needed to be refres

[2020-12-09 08:33] kpavel opened #487 "Fail to use multiprocessing from map function"
Currently the following code fails on pickle when trying to invoke the pool.map from inside of the map function

[code]

the stacktrace is:
[code]

@JosepSampe can you please take a look?

[2020-12-09 09:16] JosepSampe commented on #487
@kpavel Ok, I will check it

[2020-12-09 18:07] JosepSampe commented on #487
I started investigating this and seems that the problem is located in the runtime, and not in lithops itself.

It needs further investigation, but for now what I did is to create a simple function in the cloud using the `ibmcloud` cli, and test it with different runtimes. The code is the next (as you can se it is not lithops related):

[code]

Then I created 3 different actions with different runt

[2020-12-10 09:50] shiyan0109 opened #489 "can't parse kubeconfig correctly with lithops 2.2.13"
I have a simple code which run on  `lithops 2.2.9` + runtime `ibmfunctions/lithops-ce-3.8.5-2.2.9:1.0.0` successfully.

code is
[code]

lithops_config file is
[code]
Executed successfully.

- Now I update lithops to 2.2.12 via `pip3 install -U lithops==2.2.13`
Using `lithops 2.2.13` + runtime `ibmfunctions/lithops-codeengine-v38:2213`
code and lithops config file NOT change and run again, but my e

[2020-12-10 09:53] gilv commented on #489
@JosepSampe @kpavel  it fails on reading some value from kube config file. Do you know what is wrong? For me it working, for some not...perhaps this value not always present?

[2020-12-10 11:27] JosepSampe commented on #485
@LachlanStuart I added a fix in #490 that will prevent this issue, refreshing tokens when they expire during an execution

[2020-12-10 14:40] JosepSampe commented on #489
Fix added in #490

[2020-12-10 16:55] JosepSampe commented on #489
@shiyan0109 just out of curiosity, what is the value of the `cluster` var you obtain in your kubeconfig file?

[2020-12-10 18:26] LachlanStuart commented on #485
@JosepSampe That looks great. Thanks!

[2020-12-10 18:26] #485 closed

[2020-12-10 20:14] #480 closed

[2020-12-10 20:14] #467 closed

[2020-12-11 12:53] #483 closed

[2020-12-14 06:18] sven-lange-last commented on #489
@JosepSampe please do not expect any particular format for the value of `cluster`. This highly depends on the component creating the Kubeconfig.

When we are working on Code Engine clusters as developers, the format is `<cluster name>/<cluster id>`. When we are using KinD clusters, it's `<cluster name>`.

[2020-12-15 09:14] #432 closed

[2020-12-15 17:28] #475 closed

[2020-12-16 19:08] #477 closed

[2020-12-22 03:27] shiyan0109 opened #504 "cpu config for code engine doesn't take effect"
on lithops release 2.2.14

lithops_config file
[code]

code
[code]

Check the jobDefinition created by the code automatically
[code]

I expect the resource.requests.cpu is set to 200m instead of 1 (default value)

[2020-12-22 04:09] shiyan0109 opened #505 "can't support private container registry (e.g IBM)"
When using lithops with code_engine as backend, I want to use priviate IBM container registry for my images.

This is my lithops_config file
[code]
It doesn't work.

I believe using private container registry is not supported with following issues at least
1.  In jobDef template or following config, there is no `pullImageSecrets` filed which is a necessary field using private registry. https://git

[2020-12-22 09:05] JosepSampe commented on #504
@shiyan0109 Some weeks ago, set the cpu size in `millicpu` units caused problems in code engine. Try using a float value, for example in your case `0.2`

[2020-12-22 16:38] #489 closed

[2020-12-29 13:14] gilv opened #510 "log file of the execution is not created"
I used CF backend and run a job.
Under  `<temp_folder>/lithops/logs/` nothing was created
Also running cli - `lithops logs get ..` didn't worked

[2020-12-29 13:14] gilv commented on #510
@JosepSampe can you see it please?

[2020-12-29 16:17] gilv opened #511 "chunking of large input array"
When input array is large it might be valuable to support chunking of it. As example if interdata = [array of length 10000] and chunking = 1000, there will be 10 invocations each processing 1000 elements.

More info can be found here https://stackoverflow.com/questions/3822512/chunksize-parameter-in-pythons-multiprocessing-pool-map

[2020-12-29 16:54] JosepSampe commented on #510
Local logs are only created in the `Standalone` and `Localhost` modes. In the `Serverless` mode you must use the backend-specific tool to see the logs. In your case you must use the `ibmcloud fn activation ...` cli command, or manually access the dashboard to view the logs.

This is stated [here](https://github.com/lithops-cloud/lithops/blob/master/docs/mode_serverless.md#lithops-serverless-execut

[2020-12-29 17:08] JosepSampe commented on #511
@gilv Good idea! This is something we must add.
Just note that in Lambda, Azure, and other serverless platforms this is called `batching` ;)
Then we can add a new parameter in the map function called `batch_size` or something like this.

[2021-01-06 10:14] tanwww opened #512 "How to add a new backend, like openfaas"
how to add a new backend , like openfaas

[2021-01-07 06:46] shiyan0109 commented on #505
@JosepSampe thanks for the commit, do you think this has fully addressed the issue or do you plan to have more commits later?

[2021-01-07 09:22] JosepSampe commented on #505
@shiyan0109 Previous PR was to enable other container registries than `docker.io`. You can use it if you have public repos in the registry. However, the logic to support private repos is still missing, I will add it in the next coming days.

[2021-01-07 10:48] JosepSampe commented on #512
@tanwww The easiest way is to copy-paste a backend from https://github.com/lithops-cloud/lithops/tree/master/lithops/serverless/backends. For example, you can copy the `ibm_cf` backend, rename it to `openfaas`, and then change the implementation of all the internal public methods. (you can delete all the private methods and create new ones if necessary)

As with the other backends, A new backend m

[2021-01-08 15:34] JosepSampe opened #516 "Standalone stopped working (single VM)"
Standalone mode stopped working when using a single VM.
The first time you use a VM (or after running `lithops clean`), Lithops tries to extract the metadata information, but the VM is never started, getting stuck forever at that point.

[code]

[2021-01-10 04:49] gilv commented on #516
@JosepSampe hm...checking

[2021-01-10 04:52] gilv commented on #516
@JosepSampe it works for me...was it `exec_mode: create` and Lithops created VM or you tried it with existing VM you had before?

[2021-01-11 05:03] JosepSampe commented on #516
I have an already created VM with a public IP address. I pretended to use it as I used it 1 mont ago, automatically starting/stopping the VM when needed. Seems now standalone for IBM VPC has 2 different modes. In my case, I followed these instructions: https://github.com/lithops-cloud/lithops/blob/master/config/compute/ibm_vpc.md#lithops-in-a-standalone-mode , and the VM is not started

[2021-01-11 07:05] gilv commented on #516
@JosepSampe let me check this

[2021-01-11 07:24] gilv commented on #516
@JosepSampe done

[2021-01-11 07:48] zhanggbj commented on #448
Hi @JosepSampe @gilv ,

One more question about the threads, is there anything I can configure the threads numbers from 500 to 1000, just got some time and I would like to know the 1000 execution result? 500 thread is a limiation for us (Code Engine or Knative serving)

If no config for now, do you mean I need to hack the code here ? https://github.com/lithops-cloud/lithops/blob/cdb692d99b4bfbfcf1

[2021-01-11 13:10] #460 closed

[2021-01-11 13:10] #461 closed

[2021-01-11 13:45] JosepSampe commented on #304
All problems stated in this issue are already fixed and Lithops on MAC is working properly. If there is another problem we can open another specific issue.

[2021-01-11 13:45] #304 closed

[2021-01-11 16:38] JosepSampe commented on #448
@zhanggbj Yes, we can add this value as a parameter in the configuration file. Meanwhile you can test different values of `invoke_pool_threads` by simply setting it in the map() call (no need to modify lithops source code):

[code]

[2021-01-12 02:50] dansantan commented on #512
@JosepSampe  thanks for your reply, I'll try.

[2021-01-12 03:18] zhanggbj opened #521 "[Code Engine/Knative] Need a config for invoke_pool_threads"
As discussed in https://github.com/lithops-cloud/lithops/issues/448, current **invoke_pool_threads= 500** is a limitation for Code Engine or Knative serving, as user cannot issue 1000 POST request for 1000 execution and this will impact the lithops result.

It would be good to have such a config in the configuration file. Thanks!

@JosepSampe @gilv

[2021-01-12 03:18] zhanggbj commented on #448
@JosepSampe thanks for your reply, i've opened a new issue https://github.com/lithops-cloud/lithops/issues/521.

[2021-01-12 08:58] JosepSampe commented on #516
@gilv Seems now it starts te VM but the proxy is not installed. I think it misses a call to the setup_proxy method after starting the VM

[2021-01-12 09:08] gilv commented on #516
@JosepSampe right! sorry...i wonder how it then worked for me... fixing it

[2021-01-12 09:11] gilv commented on #516
@JosepSampe i just pushed commit with the fix

[2021-01-12 09:13] JosepSampe commented on #516
@gilv thanks, testing it

[2021-01-12 09:18] JosepSampe commented on #516
I'm now getting this exception:

[code]

[2021-01-12 12:43] gilv commented on #516
@JosepSampe checking..

[2021-01-12 13:00] gilv commented on #516
@JosepSampe I actually not sure what happend..
[code]

and self.ssh_client initiated SSHClient: <paramiko.client.SSHClient object at 0x10b6879a0>
then this exception

[code]

[2021-01-12 13:16] JosepSampe commented on #516
I think wait_backend_ready https://github.com/lithops-cloud/lithops/blob/master/lithops/standalone/standalone.py#L109 is not working properly, since this method should wait until the VM is started, and instead the current code immediately tries to install the proxy after starting the VM without waiting the VM to become started, causing ssh to fail

[2021-01-12 13:19] JosepSampe commented on #516
I now see that here you call backend.start https://github.com/lithops-cloud/lithops/blob/master/lithops/standalone/standalone.py#L262 and I think it should be `self._start_backend(backend)`

[2021-01-12 13:40] gilv commented on #516
@JosepSampe ohhh....it because of that strange delay, VM started but it's not possible to ssh it right away, so we need to check it started, etc. Fixing it..  thanks :)

[2021-01-12 16:39] gilv commented on #516
@JosepSampe check it now :) I just pushed the fix

[2021-01-12 22:36] JosepSampe commented on #516
@gilv Thanks. I will test it

[2021-01-12 23:13] JosepSampe commented on #516
Seems I still have the same issue.

I finally dig into the code and found that the current [_wait_backend_ready()](https://github.com/lithops-cloud/lithops/blob/master/lithops/standalone/standalone.py#L86) method is not correct enough. In this method, you are relying on the `backend.is_ready()` method to detect if the VM instance is running. However, in this case IBM VPC lib returns that the VM is

[2021-01-14 12:16] #504 closed

[2021-01-14 17:37] #516 closed

[2021-01-15 00:18] davetropeano opened #533 "crash running map_reduce_url.py"
@JosepSampe I am getting a crash on my Macbook running `map_reduce_url.py` in a virtual environment in localhost mode. Snippet of Crash Log is below.  Have others seen a similar issue?

[code]

[2021-01-15 00:34] JosepSampe commented on #533
Thanks for the information @davetropeano.

Just curious, If you run in the terminal: `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` before executing the python script, do you still get the same issue?

[2021-01-15 03:13] davetropeano commented on #533
That did it! The `export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES` worked

[2021-01-15 15:10] JosepSampe commented on #533
Great! This happens because in MAC OS > 10.13 they added some restrictions in the multiprocessing library (fork method).

I will investigate how to avoid having to export this variable.

@davetropeano Thanks for the feedback

[2021-01-15 16:47] #386 closed

[2021-01-15 17:23] JosepSampe opened #536 "Code Engine tests fail due configmaps quota limit"
Code engine tests fail due to cuota limit in configmaps. (configmap quota limit is 10)

`HTTP response body: {"kind":"Status","apiVersion":"v1","metadata":{},"status":"Failure","message":"configmaps \"lithops-config-lithops-2976d8-5-r000\" is forbidden: exceeded quota: 4n0aofskzbm, requested: configmaps=1, used: configmaps=10, limited: configmaps=10","reason":"Forbidden","details":{"name":"lithops

[2021-01-15 20:58] LachlanStuart opened #537 "Invalid instance name used when creating IBM VPCs"
I get this error when running with the ibm_vpc backend in "create" mode:

[code]

If I add extra logging I can see the API response:
[code]
And request payload:
[code]
(IDs removed as I don't know what's safe to share)

I suspect the issue is that the instance name contains `.` characters, as it's built from the runtime name which includes a version number. If I try to create an instance through t

[2021-01-18 13:53] gilv commented on #537
@LachlanStuart what is name = "lithops-proxy-metaspace2020-metaspace-lithops-1.8.3-instance"? You don't need this key at all... but I guess you are correct, i think the best to avoid names with "." at all...may be i add this in verify to Lithops to avoid those names. In auto create mode - name is created by Lithops.

[2021-01-18 13:54] gilv commented on #537
@LachlanStuart i actually not follow, what is this payload? it was created by you?

[2021-01-18 14:38] LachlanStuart commented on #537
@gilv That request payload is generated completely by Lithops and passed to the `ibm_vpc` library. I don't choose the `name`. Lithops builds `name` based on the `runtime` I specify in the config.

The `runtime` includes a version because I want to follow semver for versioning. A lot of Docker images specify versions this way.

[2021-01-18 16:39] gilv commented on #537
@LachlanStuart sorry...my fault. We recently changed the naming convention of runtimes.. we now use something like `ibmfunctions/lithops-cf-v38-7:2215dev0` without dots. Dots causes other issues..any chance you create such runtime or i can create for you

[2021-01-18 16:41] gilv commented on #537
@LachlanStuart i actually think we have restrictions on runtime names with dots..need to check why it allowed you create one. @JosepSampe am i correct?

[2021-01-18 16:53] JosepSampe commented on #537
Restrictions on runtime names with dots are only set for those backends that are built on top of kuberenetes, i.e [Knative](https://github.com/lithops-cloud/lithops/blob/master/lithops/serverless/backends/knative/knative.py#L485) & [Code Engine](https://github.com/lithops-cloud/lithops/blob/master/lithops/serverless/backends/code_engine/code_engine.py#L104). The rest of backends does not have this

[2021-01-18 17:08] gilv commented on #537
@JosepSampe may be it good to have a common for all...and if some has restrictions, then apply restrictions on all?

[2021-01-18 17:18] JosepSampe commented on #537
Maybe yes, we only need to modify [this regex](https://github.com/lithops-cloud/lithops/blob/master/lithops/utils.py#L191)

[2021-01-18 20:05] LachlanStuart commented on #537
@gilv It would be preferable if the runtime name replaced dots with acceptable characters instead of rejecting them. Dots are used a lot with versioning, and we use the semver versioning scheme wherever possible. A lot of publicly available Docker images also use dots, including `ibmfunctions/action-python-v3.7:1.14.1`. The `:` character is already replaced with `-` for this `name` field, so I thi

[2021-01-20 04:08] gilv commented on #511
@JosepSampe does multiprocessing pool support chunking in Lithops?
https://docs.python.org/release/2.6.6/library/multiprocessing.html#multiprocessing.pool.multiprocessing.Pool.map

[2021-01-20 04:09] gilv commented on #511
@JosepSampe it should be `chunksize` based on their documentation

[2021-01-20 10:53] aitorarjona commented on #511
@gilv current lithops.multiprocessing.Pool implementation ignores `chunksize` parameter since this functionality is not currently supported by Lithops' core map. If the `batch_size` argument suggested by @JosepSampe is implemented, then `chunksize` could be directly passed to Lithops' map `batch_size`.

[2021-01-23 11:17] #471 closed

[2021-01-24 05:13] gilv opened #541 "code engine create runtime need 'serverless:runtime' key or docker"
there seems to be a bug in code_engine/config.py where the following code
[code]

requires either runtime key or docker_user. In case we built new runtime this code throw exception
[code]

which doesn't make sense when creating new runtimes. Even more, running  ``` docker login ``` doesn't make any change

[2021-01-24 05:14] gilv commented on #541
@JosepSampe can we remove this or pass `runtime` from cli once we create new runtime?

[2021-01-25 04:34] gilv commented on #505
@JosepSampe is there something else need to be integrated to support private repos?

[2021-01-25 05:56] gilv opened #543 "Lithops logo with transparent background and white font"
We need to add additional logo image with transparent background and white font to `docs/images` folder. This can be used in presentations where background is not white

[2021-01-25 11:09] JosepSampe commented on #541
I think you have something wrong in your docker installation where the python scripts are unable to detect the docker command. I tested it in multiple windows, linux and macos hosts, and everywhere it detects the docker command, so this exception is never produced when building a runtime. is docker binary in your system path?

[2021-01-25 11:32] JosepSampe commented on #511
@gilv We already have `chunck_size` parameter used by the COS partitioner. IMO, if we call it `chunksize` it will be very confusing.

[2021-01-25 11:56] gilv commented on #541
@JosepSampe at least one other person reported the same issue

[2021-01-25 11:59] gilv commented on #511
@JosepSampe good point.. so can we extend `chunk_size` to support chunking of arrays as well... and then @aitorarjona can implement chunking for multi processing API

[2021-01-25 12:18] JosepSampe commented on #511
@gilv Currently you can have an `iteradata` that contains 1000 references to COS objects. So if a user sets `chunk_size=5`, how do we have to act? Do we have to create 5 chunks of iterada which will result on 5 functions/vms, or do we have to split each file in 5 parts, resulting on 5000 functions?

I agree that if MP api has `chunksize`, it is better to put the same variable name just to be consi

[2021-01-25 12:23] LachlanStuart opened #545 "Intermittent errors in ibm_vpc create mode"
The following errors happen to me intermittently when using the ibm_vpc backend in create mode.

### `Error: Internal server error, Code: 500`
Logs: https://gist.github.com/LachlanStuart/69bd5db726ffd4da97f4cdb26d770607
This request retried and execution continued successfully. However, I'd prefer to not see this error at all, as logged errors mean something went wrong, and they make me worry that

[2021-01-25 12:46] JosepSampe commented on #541
@gilv If you run this python code, what is the output?

[code]

[2021-01-25 13:09] JosepSampe commented on #521
@zhanggbj You can already set `invoke_pool_threads` in configuration, in the knative section.

[code]

Note that by default in knative `invoke_pool_threads = workers`, so if you set `workers` to 1000 you will have `invoke_pool_threads` automatically set to 1000.

[2021-01-25 15:23] #521 closed

[2021-01-25 15:30] JosepSampe commented on #543
@gilv white cloud? or transparent cloud?

[2021-01-25 15:40] #533 closed

[2021-01-25 15:41] JosepSampe commented on #505
@gilv I think we need to put the credentials for accessing the private repo

[2021-01-25 16:24] gilv commented on #543
@JosepSampe transparent background and white font of the words..so it can be used in presentations with dark background

[2021-01-26 10:24] JosepSampe commented on #543
@gilv I added 2 new logos in #547. One with the background of the cloud in white, and another with the background of the cloud transparent

[2021-01-27 05:27] gilv commented on #543
@JosepSampe great..thanks a lot

[2021-01-27 05:27] #543 closed

[2021-01-28 18:41] LachlanStuart commented on #545
I've added logs from a `OSError: [Errno 24] Too many open files` error. It's not strictly a create-mode issue, but it seems to have been introduced with the create-mode changes so I think it's still relevant to this issue.

[2021-01-30 13:02] JosepSampe commented on #545
@LachlanStuart These errors regarding VPC API calls will be fixed in #548

Regarding these exceptions, note that the exceptions are catched by lithops, however the `ibm_cloud_sdk_core` lib always prints this minimum exception:

[code]

This is caused by [this line](https://github.com/IBM/python-sdk-core/blob/196a407c40c0c99b2465d19ec8cca1f85b51ee86/ibm_cloud_sdk_core/base_service.py#L251).  I don'

[2021-01-31 05:52] gilv opened #551 "execution_timeout and runtime_timeout"
I think both keys are not consistent. Why not to merge them into a single key? Otherwise there in `execution_timeout` in lithops section and `runtime_timeout` in serverless section. They also have different default values, which is also confuse a bit. @JosepSampe what do you think?

[2021-01-31 21:10] gilv commented on #541
@JosepSampe `/usr/local/bin/docker`

[2021-02-01 07:16] gilv commented on #541
@JosepSampe I just tested it again with most recent code.. the same problem for code-engine backend.

[code]

[2021-02-01 20:55] LachlanStuart commented on #545
@JosepSampe Thanks for looking into it. I see Gil re-raised it in the issue you linked and they've removed the logging in the latest version. Thanks @gilv too.

[2021-02-01 23:11] JosepSampe commented on #545
Just tested new `ibm_cloud_sdk_core` version, and no more annoying messages are printed.
#548 is ready to test

[2021-02-02 05:05] gilv commented on #545
@JosepSampe does lithops force to use new ibm-cloud-sdk-core version or it need to be installed manually by the user?

[2021-02-02 10:45] JosepSampe commented on #545
Theoretically new installations will use the new version, and those of us who have it already installed we have to update it manually

[2021-02-02 12:36] JosepSampe commented on #545
@LachlanStuart #548 is already merged in master branch and ready to use. Any feedback/suggestions will be much appreciated.

I want to tackle now the `OSError: [Errno 24] Too many open files` erros produced in the `runner.py`.
Just a quick question: Is this error produced when you submit a huge amount of invocations to the same VM? Or does it happen even if you invoke a call_async()? or does it ha

[2021-02-02 13:28] LachlanStuart commented on #545
@JosepSampe I've seen it with both 1 and 16 invocations submitted via `map()`. I don't think I've seen it after running multiple jobs in the same VM, but most of my testing was with Lithops v2.2.16, which never runs more than 1 job per VM when in "create" mode.

It's strangely intermittent. I've seen it 6 times out of approximately 40 invocations - 3 times across 2 separate 16-invocation calls, an

[2021-02-02 15:12] JosepSampe commented on #541
@gilv Interesting...

Can you show me the output of:

[code]

[2021-02-02 23:35] JosepSampe commented on #537
Fixed in #548

[2021-02-02 23:35] #537 closed

[2021-02-03 05:27] gilv commented on #541
[code]

@JosepSampe

[2021-02-03 08:05] JosepSampe commented on #445
Fixed in #552

[2021-02-03 08:05] #445 closed

[2021-02-03 11:06] JosepSampe commented on #541
@gilv Thanks, I will fix it

[2021-02-03 15:32] JosepSampe commented on #551
I think it is not possible to merge them. They are different things:
- `runtime_timeout` is used when a runtime is deployed to a serverless platform (only 1 time). This parameter is required for serverless platform, and it is used to abruptly kill the runtime after X seconds.
- `execution_timeout` is used by lithops to kill the execution after X seconds. In this case, lithops controls this timeout

[2021-02-09 08:34] gilv commented on #545
@JosepSampe isn't too many open files is related Python itself? The way to resolve this to raise them to higher level, no?
[code]

[2021-02-09 08:35] gilv commented on #541
@JosepSampe did you fixed it already? If yes, can you submit PR so we will include it with the next release?

[2021-02-09 09:39] JosepSampe commented on #541
I have a tentative fix. I will submit a PR

[2021-02-09 11:16] JosepSampe commented on #541
@gilv I already submitted a tentative fix #557. I tested it in one MAC OS and it works, please check if master branch works for you too

[2021-02-09 12:05] JosepSampe commented on #536
Fixed

[2021-02-09 12:05] #536 closed

[2021-02-09 12:35] #293 closed

[2021-02-11 09:14] JosepSampe commented on #510
Fixed in #553

[2021-02-11 09:14] #510 closed

[2021-02-14 07:07] gilv opened #566 "Improve requirements.txt for different backends"
Currently each backend has it's own `requirements.txt` file containing all kind of dependencies. However there are many common dependencies between backends and so the same dependencies are copied across different `requirements.txt`  per backend. In some cases `requirement.txt` even identical as for `ibm_cf` and `code_engine` backend.

I suggest to create new file `shared_requirements.txt` and kee

[2021-02-16 13:11] JosepSampe commented on #511
done in #553

[2021-02-16 13:11] #511 closed

[2021-02-16 13:11] #401 closed

[2021-02-20 12:49] ephod opened #575 "Incompatible code with Python 3.5"
Good afternoon, I've found a trivial incompatible code with **Python 3.5** that can be easily changed.

https://github.com/lithops-cloud/lithops/blob/c7b0c02ce1f4a7197f9195e1db7f27f6d594c8d4/lithops/job/job.py#L285

The function _create_job within lithops.job.job is using format strings. This was introduced in Python 3.6 but the setup.py requires Python 3.5 or newer.

The EOL of Python 3.5 was the

[2021-02-23 09:02] #575 closed

[2021-03-01 04:40] #512 closed

[2021-03-01 11:04] gilv commented on #385
@Cohen-J-Omer this one for you...i will explain what is about

[2021-03-05 15:57] csegarragonz opened #585 "Broken --config option in lithops test"
Hi! I was trying to run `lithops test` with different configurations. Unfortunately, I can't seem to be able to provide any useful input.

In particular, from the documentation it seems that --config should be a json file, and in the `argparse` section in `lithops/scripts/test.py` its marked as `argparse.FileType('r')`, yet, it's passed to `get_mode`  in `lithops/config` as a filename, and not as

[2021-03-08 09:00] csegarragonz opened #586 "Function call failed (500) - Retrying Request"
Hi!

I am trying to run Lithops on an Azure-managed k8s cluster through Knative. My config file looks like the following:
[code]

As far as I can tell, `knative` works fine, and so does the storage (lithops installs the runtimes and job tmp files adequately). However, any execution will hang in the synchronisation point:
[code]
and it would keep trying forever. Any ideas about what may be causing

[2021-03-08 10:53] JosepSampe commented on #586
@csegarragonz What instructions did you follow to install knative? If you delete the istio_endpoint from the config file, what is the output from Lithops?

[2021-03-08 11:18] csegarragonz commented on #586
@JosepSampe I am using a custom install for `knative` (as I am benchmarking different systems, hence would like the same set up). I only install the `serving`, basically following [this](https://knative.dev/docs/install/any-kubernetes-cluster/#installing-the-serving-component) instructions.

The docker images _seem_ to be working fine, so I don't think it is a `tekton` issue (?), and `knative serv

[2021-03-08 11:34] JosepSampe commented on #586
When you ran the knative hello world, you invoked it using the dns or using the istio endpoint?

I mean, did you use this?: `curl http://helloworld-python.default.1.2.3.4.xip.io`
or something like this?: `curl -X GET -G -H "Host: helloworld-python.default.52.224.128.238.xip.io" http://52.224.128.238:31380/`

If you used the dns, could you try using the istio enpoint?

[2021-03-08 11:43] csegarragonz commented on #586
I used the DNS. If I try the second option you give, it won't work unless I change the port to `80`. I.e. this works:
[code]

[2021-03-08 11:50] JosepSampe commented on #586
Ok, this seems to be all ok. Let's check another thing. Could you provide the output from : `kubectl get ksvc -o wide`

[2021-03-08 11:54] csegarragonz commented on #586
Sure!
[code]

[2021-03-08 12:09] JosepSampe commented on #586
ok, the lithops service is correctly deployed. Try now:
`curl http://csegarragonz--lithops-knative-v38--2216--256mb.default.52.224.128.238.xip.io/preinstalls`
and:
`curl -X GET -G -H "Host: csegarragonz--lithops-knative-v38--2216--256mb.default.52.224.128.238.xip.io" http://52.224.128.238:80/preinstalls`

Both commands should return a list of python packages

[2021-03-08 12:10] csegarragonz commented on #586
Indeed!

[2021-03-08 12:15] JosepSampe commented on #586
Great! everything is looking good. I will investigate the possible causes of the 500 error and come back to you. thanks for the feedback.

[2021-03-08 15:36] JosepSampe commented on #586
I ran some experiments in a brand new knative installation and seems that all is working properly.

Can you provide logs from the created pod(s)? Theoretically, if you run `lithops test` you will see some pods (kubectl get pods) even if a 500 error is produced. So check the logs from those pods with: `k logs <POD_NAME> -c user-container`

[2021-03-08 15:37] JosepSampe commented on #585
Fixed on master branch, thanks for reporting

[2021-03-08 17:59] gilv opened #589 "Build code engine runtime doc is not updated"
The docs [runtime/codeengine](https://github.com/lithops-cloud/lithops/tree/master/runtime/code_engine) explains how to build runtime with knative backend. However -b knative generates lithops-knative.zip and then deploy runtime fails since Docker image  expects lirhops-codeengine.zip.

We need to adapt the documentation

[2021-03-09 06:45] csegarragonz commented on #586
Definately this was the right way to go. It seems that the `azure` is not installed in the runtime?
[code]

Note that the same `import` statement works fine in my local machine.

[2021-03-09 12:32] JosepSampe commented on #586
I included the azure storage lib into the default knative runtime. Update to master branch and try again

[2021-03-09 13:20] aitorarjona opened #592 "Can't get map result after calling wait using RabbitMQ monitor"
It seems that after a `FunctionExecutor.wait()` the result queues are removed and `FunctionExecutor.get_result()` can't find the queues to get the results.

### Expected behavior
The same as using `rabbitmq_montor: False`: `wait` blocks until functions finish but it doesn't download the actual results. Then, calling `get_results` returns the function results.

### Actual behavior
`FunctionExecutor

[2021-03-10 06:39] csegarragonz commented on #586
So the 500 disappeared, but then I am running into a different problem. Here are the logs for the execution:
[code]

And these are the ones from the log:
[code]

[2021-03-10 06:41] csegarragonz commented on #585
Tested and this works fine :+1:

[2021-03-10 10:25] JosepSampe commented on #586
This is the first time we see this kind of exception. Need further investigation. Just to put me in context, you are trying to run `lithops test --debug` command, right? on the client side, did you see any error in the lithops logs?

[2021-03-10 10:41] csegarragonz commented on #586
Yes, this happened when runing `lithops test --debug` with the original config file I included. And I see the same error logs in the client. For completeness I am pasting the full logs here as well:
[code]

[2021-03-10 15:23] JosepSampe commented on #586
I've finally been able to replicate the issue, will submit a fix soon

[2021-03-10 17:35] ShuxinLin opened #598 ".get_results() error on code engine"
I encountered the following error occasionally when `.get_results()` is called. The backend is IBM code engine. I monitored the jobrun very closely and can confirm the jobs were completed successfully. What could be the reason? Lithops version is 2.3.0.

[code]

[2021-03-10 17:37] gilv commented on #598
@JosepSampe what might cause it?

[2021-03-10 17:38] JosepSampe commented on #598
The principal reason might be you are using a runtime build with a lithops version < 2.3.0. Is this possible?

[2021-03-10 17:40] gilv commented on #598
@ShuxinLin what runtime you use? The one you build yourself?

[2021-03-10 17:40] ShuxinLin commented on #598
I built a new runtime on the latest lithops. And it worked most of the time. But sometimes it failed due to the error above

[2021-03-10 17:45] gilv commented on #598
@JosepSampe why you think it related runtime with <2.3.0..is this some recent change?

[2021-03-10 17:49] ShuxinLin commented on #598
I think it might be related to code
[code]
Did `.clean()` got blocked until `.get_result()` returns?
@gilv @JosepSampe

[2021-03-10 17:53] JosepSampe commented on #598
@gilv Yes, this is an addition in 2.3.0
@ShuxinLin No, the clean operation does not cause the error. This is caused by the remote worker not including logs on the response.

I will add a fix to prevent this

[2021-03-10 17:57] ShuxinLin commented on #598
@JosepSampe
I found `.get_result()` will delete configmap and jobrun after the job finishs on Code Engine.
Is this new in the latest lithops?

[2021-03-10 18:04] JosepSampe commented on #598
@ShuxinLin Yes, this is done automatically after each get_result() since there is a limitation of 10 configamps in Code Engine, so better delete them once the job is finished.

In any case, you can disable this automation by setting in your config:
[code]
If you set it to false, then the you should think to manually call `remote_executor.clean()`

[2021-03-10 18:07] ShuxinLin commented on #598
Okay. So no need to do `.clean()` after `get_result()`. Got it!

[2021-03-10 18:09] JosepSampe commented on #598
@ShuxinLin Yep, by default `data_cleaner` is set to True, so` .clean()` is redundant and does nothing since at that point everything is already cleaned.

[2021-03-10 23:17] JosepSampe commented on #586
This should be fixed on master branch

[2021-03-10 23:17] JosepSampe commented on #598
@ShuxinLin This should be fixed on master branch

[2021-03-11 06:32] csegarragonz commented on #586
It does! Thank you vey much for your help these days!

[2021-03-11 06:32] #586 closed

[2021-03-11 11:00] JosepSampe commented on #545
The Standalone code has changed alot since this issue, so we can assume this is already fixed.
If there is another problem we can open another separate issue

[2021-03-11 11:00] #545 closed

[2021-03-11 11:14] aitorarjona commented on #592
Working fine now, thanks 👍🏻

[2021-03-11 11:14] #592 closed

[2021-03-15 12:20] gfinol opened #606 "lithops clean not working"
When running lithops clean on the terminal I got the following error with the config submodule:

[code]

It seems that #602 is the cause of the problem.

[2021-03-15 12:28] #606 closed

[2021-03-16 09:18] #598 closed

[2021-03-16 11:54] #385 closed

[2021-03-23 01:40] shiyan0109 commented on #505
@JosepSampe @gilv do you have any progress on this one? can it support private repos now? thanks

[2021-03-30 04:13] gilv commented on #505
@shiyan0109 @JosepSampe  I asked @omerb01 to see this issue, test it and close if all working or see what need to be done. I think there is also documentation needed (in case all is working properly )

[2021-03-30 08:35] Cohen-J-Omer opened #628 "Ibm_cf| Mandatory Lithops.clean() between changes to functions run in cloud"
Hey @JosepSampe, hope you're doing well :)
Working on my last objective, I've been using ibm_cf as my computational backend quite a lot.
I've noticed that if i ran a test function, using the Lithops map/map_reduce and then made any changes to the test function or to a few of the projects' files, said changes wouldn't take effect, even if i ran FunctionExecutor's clean() (with any and all parameter

[2021-03-30 10:12] JosepSampe commented on #628
Hey @Cohen-J-Omer, hope you are doing well too ;)

Just note that `FunctionExecutor.clean()` is one thing, and `lithops clean` is another diferent thing.
- FunctionExecutor.clean() is used to clean the temp data generated in the jobs you ran with that executor.
- `lithops clean` is used to clean absolutely everything related to lithops (temp data,  local cache, runtimes,...) and start from scratch

[2021-03-30 11:47] Cohen-J-Omer commented on #628
Thanks for the detailed reply!
I've ran a test to try your suggestions and gathered the following findings, which I would like to check with you:
- Apparently (perhaps due to the recent update to 2.3.1.dev3) changes to the map function itself are triggering an update, regardless of whether the version is 2.3.0 or 2.3.1.dev3.
- Changing to 2.3.0 doesn't trigger an update when making changes to the

[2021-03-30 12:07] JosepSampe commented on #628
@Cohen-J-Omer hmm.. not exactly.
Basically, independently of the version you use, local changes are deployed when:
- After issuing `lithops runtime update ....` or `lithops clean`
- After changing lithops version.

[2021-03-30 12:31] Cohen-J-Omer commented on #628
Thanks, great to know, although it doesn't coincide with my first point and doesn't apply to the issue raised at the last point, i.e.:
1. Changes to the map function itself are still triggering an update.
2. Running "lithops runtime update ..." doesn't trigger an update.

[2021-03-30 12:35] JosepSampe commented on #628
1. "_Changes to the map function itself are still triggering an update._"
To what changes do you refer? lithops lib code? or the function code you pass to the map call?

2. "_Running "lithops runtime update ..." doesn't trigger an update._"
In this case the command  "lithops runtime update ..." is the update trigger, so, yes, it does not trigger an updated since the update is already performed.

[2021-03-30 13:14] JosepSampe commented on #628
1. Changes to the map function do not trigger an update. The function in IBM CF only contains the lithops core lib. The map function that a user provides is always stored in COS. So the function itself is never updated.

2. Ok, need to test. We all always use "lithops clean", so it might be posible that "lithops runtime update ..." has an issue.

[2021-03-30 13:50] JosepSampe commented on #628
In Lithops, user functions are note deployed in IBM CF. In lithops, the IBM CF function only contains the lithops core code (this repo). You can see the lithops IBM CF function as a wrapper of the actual user function. Then, each time you submit a map(), the user function is serialized in COS, and then, when the lithops IBM CF function receives an invocation, it goes to COS, gets the user function

[2021-03-30 14:14] JosepSampe commented on #628
Great! for any other question contact me through email (josep.sampe@urv.cat), no need to open an issue ;)

[2021-03-31 17:06] JosepSampe commented on #628
I tested `lithops runtime update ...` and it works properly

[2021-04-06 12:47] #628 closed

[2021-04-26 02:54] gilv opened #643 "[ bug] partitioner failed to list objects in nested directories"
When data source is ```iterdata = 'cos://mydata/allcollected/jpg/'``` , partitioner removes slash and list it wrong

[code]

[2021-04-26 12:02] #643 closed

[2021-05-21 07:31] JosepSampe commented on #505
Private container registries are already supported

[2021-05-21 07:31] #505 closed

[2021-05-21 07:31] #551 closed

[2021-05-21 10:40] Elaa-jamazi opened #661 "AWS deployment error: InvalidCLientTokenId when calling GetCallerIdentity operation: The security token included in the request is invalid"
I have been trying to use map-reduce on lithops but I was facing an error when I try to deploy it on AWS. I get "InvalidCLientTokenId when calling GetCallerIdentity operation: The security token included in the request is invalid". At first in my config file, I didn't include the token only the secret access key and access key id and I thought the problem was related to that so I added "session_to

[2021-05-21 11:14] JosepSampe commented on #661
@Elaa-jamazi Can you post here your config file? (hiding your passwords).

Can you run this simple example in DEBUG mode an post here the executions logs, including the exception?

[code]

[2021-05-21 11:19] JosepSampe commented on #119
Closing remark: Lithops provides to the users a low level storage interaction with the `obj.data_stream` parameter, which is the data from the object storage in raw format. Then the user is responsible to decide if the `obj.data_stream` is passed to the `pandas` library, to the `csv` library, or to any other library able to interpret csv files.

[2021-05-21 11:19] #119 closed

[2021-06-08 12:38] Elaa-jamazi commented on #661
**These are the execution logs:**
2021-06-08 14:37:03,273 [INFO] lithops.config -- Lithops v2.3.3
2021-06-08 14:37:03,273 [DEBUG] lithops.config -- Loading configuration from /home/elaa/lithops_project/.lithops_config
2021-06-08 14:37:03,274 [DEBUG] lithops.config -- Loading Serverless backend module: aws_lambda
2021-06-08 14:37:03,312 [DEBUG] lithops.config -- Loading Storage backend module: aws_

[2021-06-08 13:32] aitorarjona commented on #661
Hello @Elaa-jamazi
It seems that the endpoint for S3 is wrong.

Please refere to the documentation to determine the correct endpoint:
https://github.com/lithops-cloud/lithops/blob/master/config/storage/aws_s3.md
https://docs.aws.amazon.com/general/latest/gr/rande.html
It is not necessary to enter any token key in the configuration file as authentication is handled internally by the aws Python libr

[2021-06-09 08:24] Elaa-jamazi commented on #661
Hello! Thank you for your answer, I applied the changes you suggested and that helped with the S3 error however now I am getting a new error about an InvalidCLientTokenId as you can see in the screenshot. I checked again with my access and secret keys and they were correct I didn't make any error with them. In your opinion, what can be the cause of this error.
![Screenshot from 2021-06-09 10-19-10

[2021-06-09 09:18] aitorarjona commented on #661
@Elaa-jamazi I think your account lacks permissions to access STS service, which is used to retrieve the account ID. You can add permissions to your account to access STS. On the IAM console, go to your user and add an **inline policy**. Then select STS and read access to GetCallerIdentity, or just paste this JSON on the JSON tab:
[code]
Then create the policy and check if it has been atached to y

[2021-06-10 09:28] ethilesen opened #673 "LitHops 2.3.4 code engine - Unable to extract Python preinstalled modules from the runtime"
Hi,

I'm testing to run the latest version on code engine in Frankfurt - tried us-south as well with same issue..
2021-06-10 11:13:03,512 [INFO] lithops.config -- Lithops v2.3.4
2021-06-10 11:13:03,928 [INFO] lithops.storage.backends.ibm_cos.ibm_cos -- IBM COS Storage client created - Region: eu-de
2021-06-10 11:13:03,930 [INFO] lithops.serverless.backends.code_engine.code_engine -- IBM Code Engin

[2021-06-10 09:39] ethilesen commented on #673
Found this in the job run:
lithops-runtime-preinstalls-1-0/ibmfunctions--lithops-ce-embl-v385--233--256mb:
2021-06-10 09:27:49,471 [INFO] lithops.worker -- Lithops v2.3.3 - Generating metadata
2021-06-10 09:27:54,796 [ERROR] lithops.storage.storage -- An exception was produced trying to create the 'ibm_cos' storage backend
Traceback (most recent call last):
  File "/lithops/lithopsentry.py", line

[2021-06-10 10:21] gilv commented on #673
@ethilesen i see that you use Lithops 2.3.4 but runtime is not for 2.3.4
Use runtime `ibmfunctions/lithops-ce-v385:234` for Lithops 2.3.4.

[2021-06-10 10:22] gilv commented on #673
@JosepSampe any other ideas?

[2021-06-10 10:51] Elaa-jamazi commented on #661
Apparently I don't have the permission through my AWS educate account to change the STS access. I am trying to change that. Meanwhile, I wanted to ask if the map_reduce_cos_bucket.py example is applicable on S3 buckets, since I can't try it directly myself. Would providing a link to an S3 bucket in the code be enough or is there other changes I should apply?

[2021-06-10 11:03] ethilesen commented on #673
Tanks... du you have a list of all the 2.3.4 pre build images ?

[2021-06-10 12:28] #673 closed

[2021-06-14 03:42] gilv opened #675 "code engine backend always delete completed jobs at the end"
We need to enable this as optional. Currently data_cleaner: false has no effect on completed CE jobs, which are always deleted at the end.

[2021-06-14 14:56] aitorarjona commented on #661
Hi @Elaa-jamazi, I've added a new parameter for `aws` in config to put the account directly. This prevents using STS if it is not available as your case. Please install lithops from the main branch:

`pip install -U git+https://github.com/lithops-cloud/lithops`

then add `account_id` in `aws` section in your config file. Your account number is a 12-digit number, you can find it in the IAM section

[2021-06-21 12:19] #675 closed

[2021-06-22 14:29] REIGNjs opened #682 "Accessing the storage api during multiprocessing map"
Hi,

I am pretty new to Lithops and multiprocessing in python and am trying to load images from IBM COS, open them with Python Pillow and convert them to thumbnails in a map function running on IBM Cloud Code Engine. I tried to load the images first and then passing the image data to the map function, but that exceeds the 4 MB limit for the iterator data. My next attempt was to load the image in t

[2021-06-22 14:32] JosepSampe commented on #682
@REIGNjs Storage class is not pickable, to make it working you must move `storage = Storage()` within the function `create_thumbnail`, and create another `storage = Storage()` within the `if __name__ == '__main__':`

[2021-06-22 16:23] ShuxinLin opened #684 "`include_modules` usage"
Hi,

Suppose I have a python package installed locally and I want to pickle the entire module and execute it on serverless. What is the correct way to do that? I tried this but it did not work.

[code]
I checked logs and it is always `Uploading function and data - Total: 15.2KiB` before and after I added `include_modules=...`.

Thanks!

[2021-06-22 16:28] REIGNjs commented on #682
Thanks, that fixed the issue. Have a nice week

[2021-06-22 16:28] #682 closed

[2021-06-22 17:14] JosepSampe commented on #684
Hi @ShuxinLin , `include_modules` is used for filtering detected modules by Lithops.

If you activate DEBUG logs with `ithops.FunctionExecutor(log_level='DEBUG'),` you will see a line like this:

[code]

Then if you write `include_modules='colorama'`, all the previous modules will be filtered and only `colorama` transferred to the cloud.

Note that to make `include_modules` working, Lithops must d

[2021-06-22 18:00] ShuxinLin commented on #684
@JosepSampe thank you. The issue is solved, previously in my `../site-packages/` dir, there is only `dqlearn-0.3.1rc1-py3.7.egg` so it is not detected. Now `dqlearn/` is installed, then it works.

[2021-06-22 19:44] #684 closed

[2021-06-23 09:55] REIGNjs opened #685 "RabbitMQ fails to run with error code `basic_consume() got an unexpected keyword argument 'auto_ack'`"
Hi,

I tried to implement rabbitmq according to the docs and my lithops configuration looks like this:

[code]

After a few seconds, my python script fails with the following error:
[code]

Am I doing something wrong?

[2021-06-23 10:02] JosepSampe commented on #685
Hi @REIGNjs, I think this might due to you have an old pika lib version on your machine, can you update your local pika installation? (pip3 install -U pika)

[2021-06-23 12:02] REIGNjs commented on #685
Thanks, that fixed the issue even though there is a warning that lithops requires Pika 0.13.1: `lithops 2.3.4 requires pika==0.13.1, but you have pika 1.2.0 which is incompatible.`

The Code Engine Job does run now, but the console doesn't show any progress and the Job isn't automatically removed from the cloud engine project.
<img width="1327" alt="image" src="https://user-images.githubuserconten

[2021-06-23 12:07] JosepSampe commented on #685
Where do you have the rabbitmq service  installation? According to your config posted above, do you have it in localhost? Note that your rabbitmq service must be publicly accessible (with a public IP and open port)

[2021-06-23 13:17] REIGNjs commented on #685
I tried moving the rabbitmq installation to an ubuntu 20.4 server, but the installation on ubuntu fails. Has probably something to do with the Erlang version. I am looking for a good way to measure the compute time of the cloud engine job. I want to compare the compute time of a VM that runs the image processing (Thumbnail generation with python Pillow) with traditional multiprocessing to lithops

[2021-06-23 15:04] JosepSampe commented on #685
You can see the function execution stats and 2 [execution plots](https://github.com/lithops-cloud/lithops/blob/master/docs/api_futures.md#executorplot) by accessing the low level Lithops executor, for example:

[code]

[2021-06-24 12:27] REIGNjs commented on #685
Thanks, that works really well. I am writing a thesis for my university on Image Processing (Thumbnail generation) on Cloud Code Engine with Lithops Multiprocessing vs Image Processing on a Virtual Server. I am working for IBM and am doing an internship at Cloude Code Engine. Do you think the use case is valid? This is one of my first papers and i would appreciate any tips.

[2021-06-28 12:48] #685 closed

[2021-06-28 14:18] #541 closed

[2021-07-08 00:52] jeorjebot opened #694 "[AWS Lambda] fail during creation of runtime: size of unzipped runtime exceed 250MB"
Hola,
I have problem using Lithops in serverless mode (compute: **AWS Lambda**, storage: **AWS S3**), in particular v2.3.3 and v2.3.4. With v2.3.0 it works perfectly. **I'm a Mac user.**

The problem is related to the creation of the runtime: Lithops upload the dependancies on S3 (with success) but then an error occurs, because the unzipped dependancies weight more than 250MB (to be precise 273MB)

[2021-07-10 09:36] aitorarjona commented on #694
Hello @jeorjebot
I've removed some unnecessary modules that were included in the default layer runtime so now it fits in less than 250 mb.
If you need any more modules, please consider using a custom container runtime.
Regarding pika version, the pin to `0.13.1` was recently removed (#634), and now it uses the last version (`1.2.0`). To avoid getting errors, you shoud update your pika version.
Cou

[2021-07-12 07:11] aitorarjona commented on #694
@jeorjebot I'm sorry but I'm unable to reproduce the error.
It seems like there is an issue regarding your python installation or virtual environment.
Maybe you could troubleshoot the issue by installing numpy separately using your virtual environment:
`pip install numpy -t numpytest`.
I strongly recommend using a container runtime.

[2021-07-12 12:19] JosepSampe commented on #694
@jeorjebot @aitorarjona Yes, the problem is related to the fact that numpy is complied in the client machine (Mac) and then executed in Lambda (Linux). I had some similar issues from a Windows client.

[2021-07-12 23:07] #694 closed

[2021-07-14 13:54] Cohen-J-Omer opened #702 "Failed test functions"
The following tests fails to run in conjunction with a specific mode:

1. test_map_reduce_url **fails to run on local-host mode**.
2. test_internal_executions  **fails to run on CE** (with COS as storage).

[2021-07-14 14:37] JosepSampe commented on #702
@Cohen-J-Omer Both tests run ok by using the current [test.py](https://github.com/lithops-cloud/lithops/blob/master/lithops/scripts/tests.py) file in master branch. Is this something related to the new test files in #683 ?

[2021-07-14 15:01] Cohen-J-Omer commented on #702
Hey @JosepSampe,
Perhaps try to run these tests after using config file instead, to simulate the way i did it?
I have a vanilla, cloned repository of lithops, as well as my own version and from I'm getting in both:

- "ModuleNotFoundError: No module named 'yaml' in code_engine.py" from running test_internal_executions with code_engine.
- "MemoryError: Function exceeded maximum memory and was kille

[2021-07-14 15:26] JosepSampe commented on #702
@Cohen-J-Omer I dont' have a MAC, so I won't be able to reproduce the errors. In case of code_engie, Are you using a custom runtime? or are you using the runtime that is built by default by lithops? Could you be using a different base image that does not have the yaml package?

[2021-07-14 19:49] Cohen-J-Omer commented on #702
Sorry @JosepSampe, wish I could work tomorrow as well, but I have some matters to take care of.
In the meanwhile, perhaps you could try cloning my PR to a different branch?
If those tests succeed in your environment, then you'll know nothing's wrong with the PR.
Anyways, said tests are being skipped when run using the backends that might not support them, to guarantee contributors aren't wrongfull

[2021-07-15 16:01] JosepSampe commented on #268
Closing this for now as we prioritize IBM Code Engine platform, which already does all of this for us.

[2021-07-15 16:01] #268 closed

[2021-07-16 17:40] #661 closed

[2021-07-18 07:53] Cohen-J-Omer commented on #702
Good morning @JosepSampe,
in regard to how am I building my runtime, I simply run "lithops runtime build <my_account>/<image_name>:<version> -b code_engine" from the runtime/code_engine folder, thus basing my runtime on the dockerfile within that folder.
Finally, I record the runtime's name in my config file.

[2021-07-19 12:01] LachlanStuart opened #708 "HTTP storage endpoints forced to HTTPS"
In addition to the compute side, we've been using Lithops's Storage API directly on the host computer instead of calling boto/ibm-cos-sdk, as it allows us to easily switch between AWS S3, IBM COS and local storage.

I ran into one issue: for our development computers we use [MinIO](https://hub.docker.com/r/minio/minio/) as a local S3-compatible server so that we don't need a fast internet connecti

[2021-07-19 12:17] JosepSampe commented on #708
Hi @LachlanStuart, as the interface is exactly the same in `aws_s3`, `ibm_cos` and `ceph`, if you prefer I can add a new storage backend called `minio` and add a new configuration section in config for it. This way you don't need to configure local `minio` backend as `aws_s3`, and you can differentiate between them in config.

[2021-07-19 12:59] LachlanStuart commented on #708
Hi @JosepSampe That's up to you - it sounds like substantially more work than my suggestion, but it would also solve it.

Our existing code doesn't differentiate between S3/MinIO - we just use different values for the S3 config options. For this storage type we use S3 for production and MinIO only for local development. (And for serverless compute we use COS for prod and COS or localhost for dev).

[2021-07-19 13:52] JosepSampe commented on #708
@LachlanStuart I finally added both changes: I added the warning you stated above in `aws_s3`, and I also added a new `MinIO` Storage backend, so you can now use the one you prefer.

[2021-07-19 13:59] LachlanStuart commented on #708
@JosepSampe Awesome! Thank you very much

[2021-07-19 14:44] LachlanStuart commented on #708
Fixed in #709

[2021-07-19 14:44] #708 closed

[2021-07-21 15:56] sergii-mamedov opened #714 "Deleted VM in IBM cloud when updating lithops"
During the transition from version 2.2.14 to 2.3.5, we are seeing the removal of the existing VM in IBM cloud. At the same time, we did not change the `exec_mode` key, by default it is `consume`. As far as I can see, changes have taken place in [this commit](https://github.com/lithops-cloud/lithops/commit/19372ca002ca1c8d8b93b6bac26142c2a576cb79). Is this a bug or should we change something in our

[2021-07-21 18:12] JosepSampe commented on #714
@sergii-mamedov I think it was due a change that made old consume VMs incompatible with current consume VMs. I think If you create the consume VM again with Lithops 2.3.5 it won't be deleted anymore.

[2021-07-25 19:48] ephod opened #721 "JSON Schema for Lithops configuration for IDE autocompletion"
Hello,
I've created a JSON Schema v4 which is compatible with the current Lithops YAML configuration file.

Hopefully this will help a lot of new users with the initial setup configuration of Lithops.

https://gist.github.com/ephod/2ae295f730d635936cb9061d5894ffdc

[code]

Default values have been included and also required properties.

There are certain keyword arguments which were not documented

[2021-07-26 14:53] sergii-mamedov commented on #714
@JosepSampe thank

[2021-07-26 14:53] #714 closed

[2021-07-26 15:04] sergii-mamedov opened #724 "Different behavior on the local environment and in the CF"
In METASPACE we are trying to upgrade from version 2.2.14 to 2.3.5. Now I am faced with an error that is reproduced only when running in CF. When I run the code locally, I don't see any problems. It also seems that the stack trace of the error is incomplete.

[code]

The error manifests itself when [this function is called](https://github.com/metaspace2020/metaspace/blob/master/metaspace/engine/sm

[2021-07-26 15:14] JosepSampe commented on #724
@sergii-mamedov I think it fails [here](https://github.com/lithops-cloud/lithops/blob/master/lithops/job/partitioner.py#L46). But if it fails here this means that iterdata might be empty. Could you verify/post here the content of `jobs` variable from [here](https://github.com/metaspace2020/metaspace/blob/master/metaspace/engine/sm/engine/annotation_lithops/prepare_results.py#L91)?

[2021-07-26 15:21] sergii-mamedov commented on #724
@JosepSampe
Yes, I also thought about this variable. Initially, we had a list of lists there, but following your documentation, I changed it to a [list of tuples](https://github.com/metaspace2020/metaspace/pull/901/files#diff-1dc8227bb32fcebb2e0262873a9299cc57dfee9f35580d66de09491edbf54079R38).
By adding the following logging both in local mode and in SF:
[code]

i see the following data:
[code]

[2021-07-26 15:27] JosepSampe commented on #724
@sergii-mamedov Ah ok, you are sending de `df` directly to the function in an arg, so lithops can't fail [here](https://github.com/lithops-cloud/lithops/blob/master/lithops/job/partitioner.py#L46).

What is the asterisk (*) in the function signature? if you delete it what happens?

[2021-07-26 15:34] JosepSampe commented on #724
@sergii-mamedov I ran some tests with a dataframe and all them work. Can you test them too?

[code]

[2021-07-26 15:49] sergii-mamedov commented on #724
@JosepSampe
on the machine where I am seeing the problem
[code]

[2021-07-26 15:51] JosepSampe commented on #724
@sergii-mamedov So I think the issue could be fixed on master branch. Is it possible for you to test it with it? @gilv If it works we can prepare a new release

[2021-07-26 15:53] sergii-mamedov commented on #724
@JosepSampe Of course I will be happy to help. Since this fix is important to me.

[2021-07-26 16:30] JosepSampe commented on #724
@sergii-mamedov Moreover, could you edit this file /opt/dev/miniconda3/envs/sm38/lib/python3.8/site-packages/lithops/job/serialize.py and add a `print(module_name)` between lines 64 and 65? and post here the output

[2021-07-27 09:19] sergii-mamedov commented on #724
@JosepSampe
[code]

[2021-07-27 09:29] JosepSampe commented on #724
Thanks @sergii-mamedov. So yes, this should work with master branch

[2021-07-27 09:31] sergii-mamedov commented on #724
@JosepSampe very good!
When are you planning the next release?

[2021-07-27 09:44] JosepSampe commented on #724
@gilv Could we prepare a new release?

[2021-07-27 11:26] sergii-mamedov commented on #724
@JosepSampe
I tried processing our data on the version from the master branch - everything worked successfully in the CF. Thanks for you help.

[2021-07-27 12:47] gilv commented on #724
@JosepSampe yes, will release it right now

[2021-07-27 12:56] JosepSampe commented on #724
@sergii-mamedov version 2.4.0 is ready

[2021-07-27 16:44] JosepSampe commented on #702
@Cohen-J-Omer How do we have o run the test now that #683 is merged?
I tried to run this test:
[code]
but i'm getting this message:
[code]

[2021-07-28 14:05] Cohen-J-Omer commented on #702
Hey @JosepSampe,

- To debug the test function you can simply comment out the top two rows that are responsible for skipping the test.

- Since some changes were made to CONFIG (initialized by default_config() in tests_main.py) because the version i wrote the PR on is quite dated, the test is also being skipped when run with the cloud function backend (although it does work with CF).
A quick fix f

[2021-07-28 15:09] #724 closed

[2021-07-28 15:29] sergii-mamedov opened #730 "VM do not start/stop by lithops (IBM VPC)"
After upgrading to 2.4.0 `CF` mode works without problems. Unfortunately, the variant with IBM VPC crashes with errors. I manually created a virtual machine with the following parameters:

  - name - staging-vpc-128
  - resource group - env-staging
  - image - ubuntu
  - profile - mx2-16x-128
  - add ssh keys
  - networking - dev-shared

Assigned Floating IP to eth0.
From my laptop I connected via

[2021-07-28 17:49] JosepSampe commented on #730
@sergii-mamedov In my case I'm not able to reproduce the issue. Note that from these 2 lines:
[code]
Lithops only submits the start command, it does not wait for the VM to actually start (load the OS).

lithops waits the VM to become started here:
[code]

In my case I used this config:
[code]

The only difference I see is that in your VPC endpoint you have "/v1".
My VM is in us-east, and in us-eas

[2021-07-28 21:56] JosepSampe commented on #730
@sergii-mamedov I created a new VM in `eu-de`, and I think I found a data inconsistency in VPC, due to the lithops local cache, that makes lithops fail with the error you see. I will submit a PR to prevent it, but for now you can solve it by running `lithops clean` in the console.

FYI, it seems the endpoint must be set without the tailing "/v1", so delete it as well.

[2021-07-28 22:28] sergii-mamedov commented on #730
@JosepSampe
For my part, I double-checked the data in the config. Unfortunately, an error crept into it in `instance_id`. After the fix, the VM starts successfully. As for stopping the VM, as far as I understood from the lithops code, the `fexec.compute_handler.dismantle()` method only stops the workers, but not the VM itself (as it was before). To stop the VM, we should probably use the `fexec.co

[2021-07-29 04:44] gilv commented on #730
@kpavel can you also assist @sergii-mamedov ?

[2021-07-29 08:10] JosepSampe commented on #730
@gilv Yes, you are right, currently you must call `fexec.compute_handler.backend.master.stop()`. In any case I will revert it and allow `fexec.compute_handler.dismantle()` on cosume again

[2021-07-29 10:30] JosepSampe commented on #730
@sergii-mamedov All fixes included in #732 should fix all these issues you found

[2021-07-30 12:50] JosepSampe commented on #702
@Cohen-J-Omer I added some missing deps in [code_engine/requirements.txt](https://github.com/JosepSampe/lithops/blob/master/runtime/code_engine/requirements.txt), so now code_engine internal executions should work ok with newly built runtimes.

Regarding the localhost `test_map_reduce_url`, you should check your Lithops logs ans investigate why it fails for you, since in linux, windows and github-

[2021-07-30 15:03] sergii-mamedov commented on #730
@JosepSampe
Thank you, I will wait for the release.

[2021-07-30 15:03] #730 closed

[2021-07-30 15:16] sergii-mamedov opened #734 "Question about Code Engine"
What is the minimum docker image I need to run your applications inside CE? Now I see that you are based on `python:3.8-slim-buster` and then put a couple of [system dependencies](https://github.com/lithops-cloud/lithops/blob/master/runtime/code_engine/Dockerfile#L13-L25) and a rather large list of python [dependency](https://github.com/lithops-cloud/lithops/blob/master/runtime/code_engine/require

[2021-07-30 16:05] JosepSampe commented on #734
@sergii-mamedov You can take this Dockerfile and add the python packages you need in the `pip install` (this dockerfile contains the minimum list of python libs required by lithops):

[code]

@gilv Could you create the `ibmfunctions/lithops-ce-v385:240` runtime?

[2021-07-31 06:47] gilv commented on #734
@JosepSampe yeap

[2021-07-31 06:48] gilv commented on #730
@sergii-mamedov @JosepSampe I will draft new release

[2021-08-01 08:15] Cohen-J-Omer commented on #702
- I can verify that test_internal_executions now works just fine on CE.

- The test_map_reduce_url still fails as on my Mac. I've attached a log file.
I'm familiar with the "private/var/.../T/lithops/logs/746ae1-0-M000.log", but I'm not aware of the "...tmp/lithops/runner.log" file.
Could you please refer me to a documentation that mentions it?
[logs.txt](https://github.com/lithops-cloud/lithops/f

[2021-08-01 15:31] gilv opened #735 "GitHub Actions for Lithops PRs and nightly builds - restore the missing functionality"
Some of the recent commits had broken nightly builds support and enablement to use different buckets for CF and CE
Here are some comments that @Cohen-J-Omer provided:

- I’ve noticed my 2 config files were swapped with a single one and a few flags during runtime. The reason behind the separate config files for CE and CF was to assign a different bucket for each git-hub job, as I’ve noticed quite a

[2021-08-01 15:36] gilv commented on #734
@sergii-mamedov @JosepSampe I released new Lithops version

[2021-08-01 15:57] JosepSampe commented on #735
Race conditions are produced if you run `lithops clean` command from multiple places while there is another job running in another places. Now `lithops clean` is only executed once at the end of the 2 tests, so there is no need to configure multiple buckets

IMO there is no need to run the tests every 24 hours. We don't have anything critical in the project that needs to be tested every 24 hours.

[2021-08-02 07:29] Cohen-J-Omer commented on #735
Hey @JosepSampe, good morning.

- My original idea was to make the git-action feature exclusive for the lithops source repository,
  and the local test environment for the contributors.
  (which is why I left constants, that later would be swapped with the constants of the premium accounts).

- As of right now, where users are given access to these features, I believe running `lithops clean` befor

[2021-08-02 11:54] sergii-mamedov commented on #734
@gilv
I do not see new release [here](https://hub.docker.com/r/ibmfunctions/lithops-ce-v385/tags?page=1&ordering=last_updated)

[2021-08-02 11:57] sergii-mamedov commented on #734
@JosepSampe
I have seen the given code. My question was more about whether this minimal image really needs `numpy`,` pandas` ...?

[2021-08-02 14:34] JosepSampe commented on #735
run any other git-hub step is mandatory, since users might have previously stored runtimes on the bucket
(from previous jobs).

There is no need to run `lithops clean` at the beginning of each job, if you run it at the end of all jobs in a workflow is enough, everything in the storage will be cleaned. Regarding the runtimes, I added 2 new steps that explicitly deletes the runtimes used in the exec

[2021-08-12 13:54] sergii-mamedov opened #738 "Dockerfile for Code Engine"
As part of the Cloud Function (CF) migration to the Code Engine (CE), I did a dependency analysis that is used for both options. It turned out that the proposed [Dockerfiles](https://github.com/lithops-cloud/lithops/blob/master/runtime/code_engine/Dockerfile) contained an excessive number of dependencies. For example CE Dockerfile:

1. In the `apt-get` section, only` unzip` is required.
2. In the

[2021-08-12 13:54] #734 closed

[2021-08-15 05:00] gilv commented on #738
@sergii-mamedov this zip file is not something users need to touch. What kind of information you feel is missing? The dependencies perhaps not optimized or contain broad scope of packages...you  can remove some of them based on your needs

[2021-08-16 09:54] sergii-mamedov commented on #738
@gilv The problem is that if I want to build my image, I need the `lithops_codeengine.zip` file. Or if I want to build it for a fresh version for which you don't have a docker image yet.
Unfortunately, in the repository you do not provide either the file itself or instructions on how to create it.
P.S. I figured out how to do it.

[2021-08-17 10:44] gilv commented on #738
@sergii-mamedov you must use Lithops to build images, not you to build it somehow. Lithops create runtme is what exactly suppose to do

[2021-08-17 10:45] gilv commented on #738
@sergii-mamedov file is created automatically by lithops create runtime. Nobody suppose to create it manually

[2021-08-17 10:46] gilv commented on #738
@sergii-mamedov https://github.com/lithops-cloud/lithops/tree/master/runtime/code_engine

[2021-08-17 10:58] gilv commented on #738
@LachlanStuart can you show @sergii-mamedov how you created runtimes?

[2021-08-17 12:24] sergii-mamedov commented on #738
He looked at it. My PR [here](https://github.com/metaspace2020/metaspace/pull/916).

[2021-08-17 15:31] sergii-mamedov commented on #738
@gilv
Also a very strange limitation on the presence of dots in the docker image tag name.
[code]
Docker documentation allows any [ASCII characters](https://docs.docker.com/engine/reference/commandline/tag/).

[2021-08-18 07:08] gilv opened #739 "errors when runtime key missing in the CE backend"
The following code sometimes doesn't work properly.

[code]

I am using Mac. When runtime not present in config of the CE, getting empty DOCKER_PATH resulting in error. I do have Docker installed, but this command `DOCKER_PATH = shutil.which(‘docker’)` return empty result.

In some other cases, we got
[code]

[2021-08-18 07:09] gilv commented on #739
@JosepSampe it's not the 1st time we have issues with this code, i think you fixed it in the past already and now some things broken again. Can you please check it? Thanks

[2021-08-18 07:21] gilv commented on #739
It seems fails, because i run the code from Eclipse?

If I open terminal, I do have docker installed
[code]
Also this work fine
[code]

[2021-08-27 05:47] gilv opened #743 "Container name with dots"
Exception: Invalid docker image name: All letters must be lowercase and '.' or '_' characters are not allowed

@JosepSampe why we have this limitation? Seems Docker allows to use dots

[2021-08-29 08:32] kpavel opened #748 "Lithops fails when runtime not specified"
In case of selecting VPC backend if runtime not specified Lithops fails to setup master node.
Probably, either documentation should be updated to have runtime as mandatory or code should be fixed to select default runtime, based on user python version.

[2021-08-29 10:13] JosepSampe commented on #748
@Could you provide context formation, debug logs, and an example code that fails?

For example I ran `lithops test -b ibm_vpc -d` and Lithops correctly detected my python3.8 version:

[code]